[2019-11-15 17:18] Saviq commented on #1181
@zyga patches welcome! [This list](https://github.com/CanonicalLtd/multipass/blob/master/src/daemon/daemon_main.cpp#L52) is what requires tweaking :)

[2019-11-15 17:27] townsend2010 commented on #1127
I believe this has been fixed via #1172.  Closing.

[2019-11-15 17:27] #1127 closed

[2019-11-15 19:39] Saviq commented on #1028
HI @0902horn, we will definitely enable this in due course, just didn't have time to make the whole experience around it solid.

Both this, and support for non-LTS images is roughly in the same bucket for us, which is why the duplicate was marked as such.

[2019-11-18 09:20] Saviq opened #1184 "Use a static file on https://multipass.run/ to check for updates"
Rather than querying GitHub (there's a limit of 30 queries a day), we should use a file we maintain on https://multipass.run/.

[2019-11-18 10:48] VariableDeclared opened #1185 "Output redirection is broken in Windows"
Hey

### Bug Description:

When using multipass in Windows 10 (Build 18363.476) direction does not output to a file or otherwise.

For example `multipass .... > somefile`. Somefile is created but it's blank.
###  Expected Result:

Output from multipass command is written to the file described in the redirection.

### Actual Result:

File is created, but it is created blank.

### Additional Info

R

[2019-11-18 11:15] ricab commented on #1185
Hi @VariableDeclared, do you observe that with any multipass command, or only with exec? The latter is being tracked in #577, which has a fix coming.

[2019-11-18 11:56] VariableDeclared commented on #1185
Hey @ricab, my mistake, I didn't find that issue initially. I can confirm it is in fact the same issue, this does not happen on `multipass info` for example. Closing.

[2019-11-18 11:56] #1185 closed

[2019-11-18 17:27] lestephane commented on #952
I was just thinking that, in the same way we have an LXD and Virtualbox vagrant providers, we could have a multipass vagrant provider. This would allow more people to use it and give feedback.

Meanwhile I tried multipass through snapcraft and regularly had situations where a VM was stuck, and I had to switch to the LXD mode with snapcraft. So I'm no longer using multipass, and you can ignore my q

[2019-11-18 17:27] #952 closed

[2019-11-19 01:43] christian-korneck opened #1186 "clarification on win/mac sources?"
Hello,

first of all, thanks a lot for this great project and tool!

I tried to figure out how to build multipass on macOS (to chase an issue / suspected bug that I've seen using multipass on my Mac machine), but got the impression that the sources in this repo are "incomplete". I.e. no platform files for Mac/Win, only libvirt backend, etc. Also I couldn't find the build script `build-in-snapshot.

[2019-11-19 10:12] ricab commented on #1186
Hi @christian-korneck , thank you, glad you are enjoying it :smiley:

You are correct, we indeed keep the macOS- and Windows-specific parts private. Could we help with the issue you are experiencing?

[2019-11-19 13:27] christian-korneck commented on #1186
hi @ricab, thanks for the clarification, your response has saved me some time.
I'll open a separate issue for my problem shortly.

[2019-11-19 13:27] #1186 closed

[2019-11-19 17:28] anonymouse64 opened #1187 "image resize timeout too low"
With the new Raspberry Pi 4 running Ubuntu 19.10 Eoan Ermine that has KVM enabled, I am still unable to run multipass containers:

[code]

[code]

system info:
[code]

(note that this issue originally happened in https://github.com/CanonicalLtd/multipass/issues/770, but that was modified to just be about unsupported kvm, but now kvm is supported on rpi4 arm64 with https://bugs.launchpad.net/ubuntu

[2019-11-19 17:34] townsend2010 commented on #1187
Hi @anonymouse64,

Looking through the log you provided, it looks like the process handling for `qemu-img` timed out when it was resizing the image thus leaving the image corrupted.  This is kind of related to #1168, but I've targeted the fix for the specifically for something for the Mac backend.

[2019-11-19 17:34] townsend2010 commented on #1187
BTW, I would imagine image resizing on the Rpi4 will take a bit longer than on regular x86_64 hardware :grin:

[2019-11-19 17:38] anonymouse64 commented on #1187
If it's useful I can enable debug logging and provide more detailed logs (I forget how to do this for multipass)

[2019-11-19 17:41] townsend2010 commented on #1187
@anonymouse64,

It's ok, I'm pretty sure I understand the issue.  We have a default 30 second timeout when running `qemu-img` and we need to increase that timeout to account for longer running operations such as this case.  The aforementioned fix only applies to a certain time the Mac backend calls `qemu-img` for a different operation.  I should be able to fix this soon in a similar way.

[2019-11-21 00:24] MindTooth commented on #1121
[This](https://github.com/kubernetes/minikube/issues/3036) might be related.  As I am myself using DNSCrypt-Proxy, I seem unable to use multipass (ping urls from inside a vm).

[2019-11-22 16:09] paride commented on #1180
Thanks @townsend2010 for promoting my comment to an issue of its own :) Do you think this is an upstream bug in `libssh`?

[2019-11-22 17:02] townsend2010 commented on #1180
@paride,

At this point, I believe it is a `libssh` issue, but I need to dig some further to see if there is something I'm missing in how we are handling this.

[2019-11-24 16:36] CalvinHartwell commented on #577
+1 for fixing this, still broken on Windows 10.

If possible, workaround is to copy files instead. For example:
multipass transfer microk8s-vm:/var/snap/microk8s/current/credentials/client.config kubeconfig

Where microk8s-vm is the VM name. Works just like SCP syntax.

[2019-11-25 21:55] flash-me commented on #1112
This would be a great feature.
Also this would mean that we could change the location to a directory that does not require admin permissions.

[2019-11-26 16:10] VariableDeclared opened #1193 "[Windows 10 build 1809] error: invalid arch-independent ELF magic"
Hi,

Opening this bug to track and provide a record of work-arounds in Windows 10.

Bug Description:

When creating multipass VMs in Windows 10 build 1809 an error is encountered which forces the VMs into grub rescue with error:

![image](https://user-images.githubusercontent.com/7092570/69650760-fd43a980-1066-11ea-8e34-f02ce52c15f7.png)

Workarounds:

- Upgrading to Windows 10 Build 1909 fixes th

[2019-11-27 20:41] #725 closed

[2019-11-28 12:13] cpaelzer opened #1194 "Can't load libvirt.so"
Hi,
I recently used multipass with libvirt

    $ sudo multipass set local.driver=libvirt

But today things fail for me with the following:

I'm on
multipass             0.10.0-dev.416+g73561b3     1391   edge      canonical*          classic

I'm not sure what things are about, what would be the debug data that you need?

[2019-11-28 12:46] ricab commented on #1194
Hi @cpaelzer, thanks for pointing that out. We've recently moved to loading the host's libvirt (see #1164 for why). Could you please check if the following is enough to make it work for you?

- `apt install libvirt-bin` before disco
- `apt install libvirt-daemon-system` from disco on

We'll need to update our docs to add this and remove the build dependency.

[2019-11-28 13:05] Saviq commented on #1194
@ricab we can't rely on anything in the system - if we're missing libvirt.so, we need to ship it with the snap. When we go strict, the system's `libvirt.so` won't be available, since our rootfs will be the `core18` snap.

[2019-11-28 13:09] ricab commented on #1194
Hmm ok, I thought this was an exception to that for now.

[2019-11-28 13:23] cpaelzer commented on #1194
Hi,
I certainly have libvirt installed, see

[code]

And yes, since multipass used the hosts libvirt I began to like it as I often discussed with the Team that was one of the main inhibitors before.

I didn't realize you had issues with libssh but yeah, loading a hosts .so seem to randomly ask for trouble.

[2019-11-28 13:34] Saviq commented on #1194
We have it in the snap, FWIW:
[code]

But we're using the wrong name, without SOVERSION. What really made this work for us was `libvirt-dev` - @cpaelzer installing that should make it work for you again.

[2019-11-28 14:16] cpaelzer commented on #1194
Checked:

    `$ sudo snap refresh multipass --channel edge/pr1195`

Working again for me - thanks

[2019-11-28 14:44] sourcedelica commented on #1158
And memory please.

[2019-11-28 19:48] #1194 closed

[2019-11-29 21:59] ricab opened #1197 "Clang complains about -rdynamic"
[code]

[2019-11-29 23:32] fortizc opened #1199 "Build issues"
Hi, I have some issues with the submodules in Multipass. I try to follow the README.md instructions but 2 problems appear:

The first problem is with {fmt} the problem is the `-pedantic` flag in Multipass CMakeLists.txt, it seems {fmt} doesn't support it. If you try to compile you will something like this:

[code]
All works if I remove `-pendantic` flag from [CMakeList.txt](https://github.com/Cano

[2019-11-30 02:20] dhruvrajan opened #1200 "Allow specifying wildcards (`*`) for `--[ug]id-map` on mounts"
What are the host-side ids to use when running `multipass mount`? I am accessing files through a user other than "multipass".

Without specifying -u and -g, I see from "multipass info", the following map: "UID map: -2:default". From the code, it looks like both the host and instance ids should be unsigned integers.

[2019-11-30 13:06] nelsonghezzi opened #1201 "Unable to read settings: access error"
Hi!

First time trying multipass and encountered this error when trying to read config setting `local.driver`:

[code]

Even running as admin as it suggests.

Looking at what config file it's trying to read, I've found this:

![image](https://user-images.githubusercontent.com/6424021/69900944-076ced00-1372-11ea-9d61-b90bf434c6c0.png)

Multipass Service is running with Local System account.

**Host

[2019-12-02 09:44] ricab commented on #1199
Hi @fortizc, thanks for reporting this. Until recently we were stuck with older compilers, for other reasons (#947). We are catching up now and there are PRs up to update grpc and fix compilation issues.

[2019-12-02 10:02] ricab commented on #1201
Hi @nelsonghezzi, this really suggests the multipass client somehow is not getting permissions to read the file.

How did you run multipass as admin? Could you please confirm if it works when right-clicking the PowerShell shortcut, selecting "Run as administrator", and then issuing the multipass command inside?

Also, does the file open if you double-click it? What permissions do you see if you ri

[2019-12-02 13:33] Saviq commented on #1200
Hi @dhruvrajan,

You're right, it's a missing case at the moment. We default to a mapping of "map all uids/gids to the default user", but we don't support it on the command line.

[2019-12-02 13:52] #968 closed

[2019-12-02 14:00] #1082 closed

[2019-12-02 14:24] fortizc commented on #1199
@ricab thank you for the quick reply! I was testing some fix and add `-DFMT_USE_USER_DEFINED_LITERALS=0` as compile option solves the problem with {fmt}

[2019-12-02 14:26] ricab commented on #1199
@fortizc Interesting, thanks for letting us know!

[2019-12-02 17:43] beppler commented on #1112
The current folder location causes problems on Windows when upgrading versions too, see #1012 and #1119.

The best folder to put this kind of application data on Windows is inside C:\ProgramData.

[2019-12-02 23:36] dhruvrajan commented on #1200
Thanks for the quick response! I'm happy to take a look at this and see if I can help.

[2019-12-03 00:42] nelsonghezzi commented on #1201
I was previously running from `cmd`, but here is the evidence from an admin PowerShell console:

![image](https://user-images.githubusercontent.com/6424021/70006442-0f40b300-1565-11ea-9333-89311d04e9a8.png)

I ***definitely*** don't have permission into that folder:

![image](https://user-images.githubusercontent.com/6424021/70004366-f1bc1b00-155d-11ea-97ba-648095f03833.png)

![image](https://user

[2019-12-03 00:53] nelsonghezzi commented on #1201
I just thought of also running `multipass` as `System` and that worked:

![image](https://user-images.githubusercontent.com/6424021/70006940-a4907700-1566-11ea-9f5f-d4ece281de3a.png)

But I'm a bit confused, I was thinking that the multipass daemon (running as a service under the `Local System` account) was trying to access the file, but it seems that is the multipass client program who is.

[2019-12-03 13:43] ricab commented on #1201
As you found, the daemon only reads settings from disk, it is the client who writes and reads them on the set/get commands. For that, it needs an admin role. At least that is usually enough...

In your case, it seems some folder along that path is owned by the system rather than administrators. That is not a situation we've encountered before, so thanks for alerting us to it. Do you have any idea

[2019-12-03 14:24] Saviq commented on #1200
@dhruvrajan great! This is where you'd need to look: [mount.cpp](https://github.com/CanonicalLtd/multipass/blob/master/src/sshfs_mount/sftp_server.cpp#L302) and then [sftp_server.cpp#L302](https://github.com/CanonicalLtd/multipass/blob/master/src/sshfs_mount/sftp_server.cpp#L302).

[2019-12-03 20:08] kamilgregorczyk opened #1202 "Cannot create 2nd instance of ubuntu due to memory/cpu limits"
Hi, first I created a new instance with multipass by doing

`multipass launch -c 2 -m 6G -n master`,

then I wanted to create another instance with

`multipass launch -c 2 -m 6G -n worker1`

but I can't, it results in `worker: timed out waiting for response`

doing `multipass info worker` results in:

[code]

I also tried to create 2nd instance with default settings (1 cpu 1gb of ram) but also no

[2019-12-04 03:55] zzlxxi opened #1203 "How do I log in to an instance using ssh?"
I created a user, but I cannot log in to the instance using ssh with the newly created user.
Error message:
lede@192.168.64.9: Permission denied (publickey).

[2019-12-04 03:57] zzlxxi commented on #1203
Add a new user lede using the command:
sudo adduser lede

[2019-12-04 09:06] koskinep opened #1204 "apt update doesn't connect"
Hi,

I have multipass installed using brew on my Mac. The version I'm using is:

I'm trying to mount my VM disk, but it complains; "mount failed: Error enabling mount support in 'myVM'" I understood that this might be because of missing sshfs? When I login to my VM to install sshfs and run 'sudo apt update' I get following error:

  Cannot initiate the connection to archive.ubuntu.com:80 (2001:67c

[2019-12-04 11:41] nelsonghezzi commented on #1201
Thanks @ricab.

I didn't remember to voluntarly stepping down permissions on that folder, hence I was reluctant to modify them.

I checked on an old VM with Windows 10 1803 to compare, and found that I **did have** permissions on `C:\Windows\System32\config`, so this might be the default on a fresh Windows install, and that would explain why my scenario is not common.

A weird thing was that I had

[2019-12-04 12:13] ricab commented on #1201
There is a switch in there somewhere to disable permission inheritance. Maybe you (or something on your behalf) did that at some point? If you're unsure, this seems to support the hypothesis of forgotten manual changes :)

Not a Windows expert either, but intuitively I would expect an admin to be able to change what they want in the system. After all, you can run under the system account.

We cons

[2019-12-04 13:59] aidanharris opened #1205 "Document how to change the upstream DNS server used by dnsmasq"
Using the snap on Ubuntu, dnsmasq wasn't using my statically configured DNS server (I don't know what it was using but it doesn't seem to obey statically configured addresses configured via NetworkManager or `/etc/resolv.conf`). This is important to me because I have my own local mirror of the Ubuntu Archives for speedy package downloads.

The fix was to add `server=192.168.0.XX` to `/etc/dnsmasq.

[2019-12-04 16:12] #1201 closed

[2019-12-05 12:44] Saviq commented on #1203
Hi @zzlxxi did you resolve your issues?

Multipass instances are no different to any other machine. Just create a user and import your SSH key.

You may also use `cloud-init` to automate those tasks. See [our documentation for `launch`](https://discourse.ubuntu.com/t/multipass-launch-command/10846) for more.

[2019-12-05 12:46] Saviq commented on #1204
Hi @koskinep this suggests something is wrong with your networking, please have a look at [our troubleshooiting guide](https://discourse.ubuntu.com/t/troubleshooting-networking-on-macos/12901) for more info.

Let us know either way!

[2019-12-05 12:50] Saviq commented on #1205
Hi @aidanharris, it should be relatively easy to point `dnsmasq` at a custom file indeed, care to have a stab at it?

The process arguments are defined in [`dnsmasq_process_spec.cpp#L37`](https://github.com/CanonicalLtd/multipass/blob/master/src/platform/backends/qemu/dnsmasq_process_spec.cpp#L37).

[2019-12-05 12:58] Saviq commented on #1202
Hi @kamilgregorczyk can you have a look in the Console app, in `/Library/Logs` there are logs for each of the machines being launched and also the daemon. Hopefully this gives you a clue on why a second large instance like that doesn't launch.

[2019-12-05 21:51] alandipert opened #1208 "Can't launch/start instances on macOS"
## System

Hardware: Macbook Pro 2016
OS: macOS 10.15.1
multipass: multipass  0.8.0+mac

## Log files

[multipassd.log](https://github.com/CanonicalLtd/multipass/files/3929246/multipassd.log)
[rstudio-hyperkit.log](https://github.com/CanonicalLtd/multipass/files/3929247/rstudio-hyperkit.log)
[test-launch-hyperkit.log](https://github.com/CanonicalLtd/multipass/files/3929248/test-launch-hyperkit.log

[2019-12-05 21:52] kamilgregorczyk commented on #1202
Log for successful instance boot looks good:

[code]

but log for the worker that can't boot up is unreadable for me, it's full of characters like `^G^G^G` and there's  nothing else,

Here's log for deleting `master` instance and creating it once again from multipassd.log:
[code]

[2019-12-06 08:10] Saviq commented on #1208
Hi @alandipert, we have a release brewing that should fix this, please grab the (unsigned, we're waiting for Apple to issue us keys) installer from here:

https://github.com/CanonicalLtd/multipass/commit/474f2d551eb1a1288f0b8a81f0174c48a7b41528

[2019-12-06 08:12] Saviq commented on #1202
@kamilgregorczyk could you please try the release we're brewing that has a fix for reliable IP detection? Please grab the (unsigned, we're waiting for Apple to issue us keys) installer from here:

https://github.com/CanonicalLtd/multipass/commit/474f2d551eb1a1288f0b8a81f0174c48a7b41528#commitcomment-35789190

[2019-12-07 21:59] rickw commented on #1122
The pre-release of version 0.9.0 is no longer available. Any idea when it will release? or how to build on Mac?

[2019-12-08 08:24] arashkaffamanesh commented on #1122
@rickw (do it on your own risk!)
wget https://github.com/arashkaffamanesh/multipass-k3s-rancher/blob/master/multipass-0.9.0%2Bmac-Darwin.pkg
sudo installer -target / -verbose -pkg  multipass-0.9.0+mac-Darwin.pkg

[2019-12-08 17:29] kamilgregorczyk commented on #1202
Yes, it fixed the issue :)

[2019-12-08 17:51] kamilgregorczyk commented on #1202
Although something's wrong with networking though, I'm using multipass for local multinode Kubernetes and running `Kubectl get nodes` locally very often times out and sometimes does not work at all after few successful executed commands whereas running all `Kubectl` commands not from the host but from the instance itself works

[2019-12-08 17:52] kamilgregorczyk commented on #1202
@Saviq do you have some ideas on how I could debug networking of multipass ?

[2019-12-08 17:55] kamilgregorczyk commented on #1202
nvm, it was my stupid error, everything's working great!

[2019-12-08 17:55] #1202 closed

[2019-12-08 20:12] Saviq commented on #1202
Awesome!

[2019-12-08 20:14] Saviq commented on #1122
@rickw we repackaged it and it's back [on the release commit](https://github.com/CanonicalLtd/multipass/commit/474f2d551eb1a1288f0b8a81f0174c48a7b41528#commitcomment-35789190).

We'll release this week for sure (it may have to be unsigned, if Apple doesn't issue us signing keys in time…).

[2019-12-09 11:50] #577 closed

[2019-12-10 10:46] MindTooth commented on #1204
Running a local DNS resolver like DNSCrypt, stubby, cloudflared?

Might be related: https://github.com/CanonicalLtd/multipass/issues/1121

[2019-12-10 17:25] Saviq opened #1214 "deadlock running `multipass exec ... -- sudo -i ...` without tty/pty"
beta channel multipass is OK, edge channel multipass is problematic:
multipass 0.10.0-dev.421+g20d04c0
multipassd 0.10.0-dev.421+g20d04c0

This is easily reproduced using python's check_output() to trigger the hang:

python -c "import subprocess;subprocess.check_output(['multipass', 'exec', '<multipass-vm-name>', '--', 'sudo', '-i', 'echo', 'hi'])"

If I instead either execute the command on the s

[2019-12-10 17:25] Saviq commented on #1214
Tested 18.04, snapcraft:core18 with failures:

[code]
[code]
Test 19.10, OK:
[code]

[2019-12-10 17:26] Saviq commented on #1214
I can confirm both `lxc` and `ssh` seem to be OK with `sudo -i`, so something's wrong on our side.

[2019-12-10 20:26] NickZ opened #1215 "Add configure option to use different vault location"
Running on Ubuntu 18.04; my root file system does not have a lot of space, so I had previously symlinked the vault directory in `/var/snap/multipass/common` to a directory on another drive. However, the recent 0.9 beta seems to have added an AppArmor policy that prevents me from doing that.

We should give users the ability to configure a different location for the vault since the symlink is no lo

[2019-12-10 21:50] Saviq commented on #1215
Hi @NickZ, it sounds like what you really should do is have `/var` mounted from wherever you have the space. Even if for Multipass we'll allow this, whatever the location you choose, will have to be made accessible via one of [the snap interfaces](https://snapcraft.io/docs/supported-interfaces). And then some other snap will come around (or just a lot of them) that will fill your `/var/snap` stora

[2019-12-10 22:51] NickZ commented on #1215
but Multipass is in classic confinement? I thought that meant it didn't require interfaces to access the rest of the file system?

[2019-12-11 08:20] pushou opened #1216 "Failed to load AppArmor policy"
hi everyone,

OS ubuntu 18.04
❯ uname -a                                                                      ─╯
Linux ..Precision-3520 5.0.21-050021-generic #201906040731 SMP Tue Jun 4 07:33:07 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
❯ multipass version                                                   ─╯
multipass  0.10.0-dev.116+ga77aa05
multipassd 0.10.0-dev.116+ga77aa05

multipass worked perf

[2019-12-11 08:26] Saviq commented on #1215
@NickZ we're moving to strict confinement soon (#1074). That's why the AppArmor profile was introduced. And even if we were not, the "other snaps will fill up your `/var`" argument stands.

In the mean time, you could bind-mount rather than symlink, that should make AppArmor happy.

[2019-12-11 08:36] Saviq commented on #1216
Hi @pushou, sorry about this, we're preparing to enable strict mode in Multipass (#1074), so we had to add some AppArmor profiles.

The kernel you're using doesn't seem to be an Ubuntu kernel, though? It must not be supporting the features of AppArmor we rely on.

Can you please try switching to an Ubuntu kernel, and we'll see how to degrade gracefully in this case.

[2019-12-11 09:04] pushou commented on #1216
Thanks Saviq for your answers
my kernel is an hwe kernel . it is an ubuntu kernel isn'it ?
but  downgrading to the previous installed version is Ok.
the new version is the problem

[2019-12-11 09:21] lucj opened #1217 "exec command instead of running a shell ?"
Hi, just a simple question.

Is there a way to achieve something like the following (this example installs Docker but this could be anything else with a similar command using a 'pipe'):

[code]
or even

[code]

instead of the following which works but via a shell in the VM ?

[code]

BTW: thanks a lot, Multipass is so great !

[2019-12-11 09:30] Saviq commented on #1216
@pushou that's a mainline kernel, not the HWE one:

https://packages.ubuntu.com/search?keywords=linux-generic-hwe-18.04

That said, we need to support mainline, too - stay tuned.

[2019-12-11 17:09] v1k0d3n commented on #118
any updates @Saviq? I'm following, but not as closely as I'd like.

[2019-12-11 17:16] v1k0d3n commented on #1040
would love to see this implemented. where does this currently fall on the release todo list @Saviq? i can see this being extremely useful for some of our use cases.

[2019-12-11 18:59] #1168 closed

[2019-12-11 23:42] Saviq commented on #1184
Fixed by #1219

[2019-12-11 23:42] #1184 closed

[2019-12-12 01:20] Saviq commented on #1216
Hi @pushou would you be able to try the fix in #1218? Just issue this:
[code]

Thanks!

[2019-12-12 07:48] Saviq commented on #118
Hey @v1k0d3n, I'm afraid it doesn't look like we'll get to this in the immediate future :/

[2019-12-12 09:11] ricab opened #1221 "Make Settings thread-safe"
To protect from different threads/processes colliding when reading/writing settings. Currently it is not very likely, but it is still something to protect against.

[2019-12-12 09:48] Saviq commented on #1040
Hey @v1k0d3n I don't have good news about this, either ;)

It's not something on our immediate roadmap, but it should be relatively easy to add if you wanted to contribute.

The cloud-init ISO is created [here, in the `daemon.cpp` code](https://github.com/CanonicalLtd/multipass/blob/b22ff56651c225d2e9cb219703a99f8ac6a21d0c/src/daemon/daemon.cpp#L147) - it would be easy to feed more files in.

[2019-12-12 10:54] Saviq opened #1222 "[qemu] resuming when nested prone to break"
[code]

I believe this is due to `-dump-vmstate` not working properly when nested.

[2019-12-12 15:24] zzlxxi commented on #1203
Yes thank you very much！
@Saviq

[2019-12-12 15:24] #1203 closed

[2019-12-12 16:14] bboozzoo opened #1223 "cannot launch instances due to AppArmor profile of qemu-img"
Trying to launch Ubuntu Core with Multipass on Arch. Exact version:
[code]

Launch fails (note there's no actual output from qemu-img):
[code]

There's a denial from AppArmor followed by segfault in dmesg:

[code]

Can I configure multipass to not use AppArmor profiles for the tools/VMs it runs?

[2019-12-12 16:32] Saviq opened #1224 "[primary] mount $HOME on creation"
`multipass shell` and `multipass start` should add a mount of the host's home directory into `primary:Home`.

[2019-12-12 16:45] Saviq commented on #1223
Hi @bboozzoo, yes you can, just make sure [`DISABLE_APPARMOR`](https://github.com/CanonicalLtd/multipass/blob/master/src/platform/backends/shared/linux/process_factory.cpp#L65) is set - but that will stop working when we move to strict.

What we should do is actually fix [the `qemu-img` profile](https://github.com/CanonicalLtd/multipass/blob/master/src/platform/backends/shared/linux/qemuimg_proces

[2019-12-12 16:54] ricab commented on #1224
Is the name `Home` final? Wouldn't `HostHome` be clearer (since this is a default)? Or HomeTunnel or something of the sort to highlight this is a mount of the outside world?

[2019-12-12 16:55] Saviq commented on #1217
@lucj you mixed up what gets piped in where :)

These should work:
[code]

Basically, you need to actually _run_ `bash` inside the instance and feed it the contents of the URL. What you did was either (first case) piping the output into `bash` running on your host, or (second case) piping the `curl https://get.docker.com | bash -` string into a ssh session without anything running on the other sid

[2019-12-12 16:59] #1216 closed

[2019-12-12 17:30] ricab commented on #1224
@Saviq I believe only `multipass launch` needs to setup the mount. It should be persistent to state changes until unmounted.

[2019-12-12 17:45] ricab commented on #1224
Actually, on `multipass launch primary` (`multipass launch` launches something else).

[2019-12-12 18:30] townsend2010 commented on #1224
We also want `multipass shell` and `multipass start` (without instance names) to do the same if the primary instance does not exist, right?

[2019-12-12 18:35] ricab commented on #1224
@townsend2010 Exactly, but since they rely on launch, that's where the magic needs to happen :grin: So it really happens *on creation*, as in the title. If one later goes and umounts, no new automount happens.

[2019-12-12 18:38] townsend2010 commented on #1224
@ricab, but your solution implements it in the cli's `launch` command, so the cli's `start` and `shell` commands don't get to use this since they don't use the cli's `launch` logic.

[2019-12-12 18:44] Saviq commented on #1224
@ricab I'd love a better name, I was thinking Host, HostHome… nothing very good comes to mind ATM.

And yeah it's totally a creation thing, so as long as shell and start loop back onto launch, this should work :)

[2019-12-12 18:48] townsend2010 commented on #1224
Ok, sorry for the noise, I didn't realize that the cli's `shell` and `start` functions actually exec the `multipass` executable on this particular failure.  I'm surprised by that though, but that is for a different discussion.

[2019-12-12 20:41] pushou commented on #1216
Thanks all works fine

[2019-12-12 21:43] townsend2010 commented on #1214
After some debugging, `libssh` is getting hung up because there is data to be read in `stderr`.  Going into `gdb` and dumping the contents of the internal `stderr` buffer, this is what is contained in it:
`mesg: ttyname failed: Inappropriate ioctl for device\nlibc.mo`

The problem is, there is nothing reading `stderr` so `libssh` won't go through it's handling of closing the channel because of the

[2019-12-13 06:50] lucj commented on #1217
I knew I was doing something 'newbiely' wrong here :)
Thanks a lot :)

[2019-12-13 09:46] bboozzoo commented on #1223
I've trued running qemu-img manually with what-would-be the profile generated by multipass and got:
[code]

On Arch and Fedora, `/snap` is a symlink to `/var/lib/snapd/snap`, so that needs to be accounter for in the profile. I've edited the profile to be like this:
[code]
Seems to work now:
[code]

[2019-12-13 09:57] Saviq commented on #1223
Thanks @bboozzoo, we'll get that in asap :)

[2019-12-13 11:01] Saviq commented on #1214
Oh, we should probably be forwarding stderr to the outside, no?

[2019-12-13 11:08] ricab commented on #1224
Yep, after all the discussion, pet-env ended up being a client-only feature (no auto creation on install). So it is the client who needs to launch on start/shell.

Calling an existing cmd maximizes code reuse. It already encapsulates exactly what we need (grpc, user feedback, error handling, etc.), without duplication or separate implementations :)

[2019-12-13 12:55] townsend2010 commented on #1214
@Saviq,

We are set up to for that unless there is some underlying `libssh` bug.  I still have to do some more experimenting, but I think if there is no TTY and nothing reading from `stderr` such as `subprocess.check_output()` in this case, then `libssh` just gets hung up wanting *something* to read that `stderr` buffer before it will close the channel.

I'm not convinced this is correct behavior

[2019-12-13 13:03] lucj commented on #1217
In fact, this one works fine:

[code]

The 2 others commands starts correctly but hangs when reaching the end of the script.

Exemple:

[code]

[2019-12-13 15:26] bboozzoo opened #1230 "unexpected handling of ~ by mount"
Launched a new 18.04 VM:
[code]

Mounted a local directory using the following command:

[code]

The directory was mounted under `$HOME/~/foo` in the VM. Based on prior ssh/rsync experience, I expected `~` to be mapped to $HOME, and the mount to happen at `$HOME/foo`.

[2019-12-13 18:29] townsend2010 commented on #1214
We've reverted 56faa0c and thus, bug #667, so this issue will no longer occur.  I will look into how best to fix both bugs simultaneously.

[2019-12-13 18:29] #1214 closed

[2019-12-13 18:30] townsend2010 commented on #667
Unfortunately, the fix I identified for this issue caused a regression (#1214) and so we had to revert.  I will work on a solution that address both issues.

[2019-12-13 18:47] Saviq commented on #1208
Hey, please reopen if you hit this again.

[2019-12-13 18:47] #1208 closed

[2019-12-13 19:23] ascarter opened #1233 "Install macOS Catalina 10.15.2 failed for mutlipass 0.9.0"
I updated the Home-brew package and also ran the installer manually. Both fail in the pkg install. The installer log is not very helpful but attaching it. multipass 0.8.0 was previously installed on this machine (but I think macOS just updated a few days ago?)

## System info:

[code]

## Installer.log

[code]

[2019-12-13 19:27] Saviq commented on #1233
Hi @ascarter thanks for letting us know, looks like this is the issue:
[code]

Can you please try:
[code]
And try again?

[2019-12-13 19:27] kmatt commented on #1233
Libs in the Darwin pkg appear to have been built on Dec 6, but the executables date back to October 15:

![image](https://user-images.githubusercontent.com/435936/70826340-a81ccd00-1db4-11ea-8290-bfced521c8ed.png)

[2019-12-13 19:29] Saviq commented on #1233
@kmatt yes, we were sitting on the release for a while, waiting for the macOS signing keys…

[2019-12-13 19:34] ascarter commented on #1233
@Saviq looks like the same error if I create the directory:

[code]

Is the two `//` in that copy an issue? That looks wrong?

[2019-12-13 19:35] Saviq commented on #1233
@ascarter no, that's not the issue, I reproduced the problem and will have a fix ASAP.

[2019-12-13 19:35] ascarter commented on #1233
Awesome - thanks

[2019-12-13 19:35] kmatt commented on #1233
v0.9.0 would not install for me on a machine that had v0.8.0 previously but had been uninstalled, with the same error as @ascarter reports.

Re-Installed the v0.8.0 pkg, then v0.9.0, which completes, but does not appear to replace the v.0.8.0 version:

[code]

[2019-12-13 20:10] #1223 closed

[2019-12-13 20:29] Saviq commented on #1233
@ascarter @kmatt please download the installer from https://github.com/CanonicalLtd/multipass/releases/download/v0.9.0/multipass-0.9.0+mac-Darwin.pkg again - I had to upload the unsigned version again as the signing process breaks something for us…

[2019-12-13 20:32] kmatt commented on #1233
Success:

[code]

[2019-12-13 20:53] ascarter commented on #1233
@Saviq confirmed it works for me as well

[2019-12-13 20:53] Saviq commented on #1233
Thanks guys, I have a handle on what went wrong now…

[2019-12-13 20:53] #1233 closed

[2019-12-13 21:18] Saviq commented on #1233
@ascarter @kmatt https://github.com/CanonicalLtd/multipass/releases/download/v0.9.0/multipass-0.9.0+mac-Darwin.pkg is now a working, signed package. Thanks for bearing with us.

There's a [0.10.0](https://github.com/CanonicalLtd/multipass/pull/1232) for you around the corner as thanks! ;)

[2019-12-13 23:31] ascarter commented on #1233
Confirmed.

PR to update cask:
https://github.com/Homebrew/homebrew-cask/pull/74205

[2019-12-13 23:44] ascarter commented on #1233
@Saviq the homebrew ci job seems to have failed:

https://github.com/Homebrew/homebrew-cask/runs/348213026#step:3:51

It's the uninstall homebrew is running. Any ideas here?

[code]

[2019-12-13 23:47] ascarter commented on #1233
@Saviq just found the uninstall script:

/Library/Application Support/com.canonical.multipass/uninstall.sh

Should I alter the cask to call that instead of the direct Homebrew actions?

[2019-12-13 23:59] ascarter commented on #1233
I can't repro the error message on my local uninstall. The steps listed in the cask file seem to match what is in the script. Not sure why homebrew doesn't like this in CI

[2019-12-14 00:06] ascarter commented on #1233
OK - I got the job passing - there were a couple deletes in the uninstall that weren't there. See the PR.

[2019-12-14 12:38] Saviq commented on #1233
@ascarter thanks a bunch!

I've now [made a pull request](https://github.com/Homebrew/homebrew-cask/pull/74243) to update to [0.10.0](https://github.com/CanonicalLtd/multipass/releases/tag/v0.10.0) and I believe I've solved our signing issues.

Would love to hear your guys' luck with the signed installer.

[2019-12-15 10:31] jhecc opened #1235 "Checksum for Cask 'multipass' does not match."
OS: OSX
`❯ brew cask install multipass
==> Downloading https://github.com/CanonicalLtd/multipass/releases/download/v0.9.0/multipass-0.9.0+mac-Darwin.pkg
==> Downloading from https://github-production-release-asset-2e65be.s3.amazonaws.com/114128199/20969300-1e74-11ea-9ff4-9ebc3d915176?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2
##########################################

[2019-12-15 10:33] jhecc commented on #1235
the issue is persists

[2019-12-15 19:39] Saviq commented on #1235
Hi @jhecc, we have another update already PR'd here: Homebrew/homebrew-cask#74243.

You can download and install from https://github.com/CanonicalLtd/multipass/releases/tag/v0.10.0 in the mean time :)

[2019-12-15 19:40] Saviq commented on #1235
FWIW @jingweno PR'd a fix of the hash here, too: Homebrew/homebrew-cask#74288.

[2019-12-15 19:41] #1235 closed

[2019-12-16 09:20] bboozzoo opened #1236 "firewalld integration"
Kind of related to #533. I use firewalld, which configures the traffic filtering rules via nftables, rather than iptables. Not stopping firewalld or forgetting to move the `mpqemubr*` interface to the right zone results in problems launching the instances. AFAIK libvirt integrates with firewalld by setting up a separate zone for the bridge interface.

[2019-12-16 10:23] Saviq commented on #1236
Hi @bboozzoo thanks for letting us know, we're going to be moving to LXD for our VM needs on Linux, so make sure they know about this requirement, too :)

[2019-12-16 13:30] ascarter commented on #1233
@Saviq 0.10.0 looks like it installed fine. Thanks!

[2019-12-16 17:00] ricab commented on #1224
One thing I would like to point out: an important use for VMs is as a throw-away sandbox, to run dangerous things without fear of permanent effects. This adds a door to the user's data, which is concerning if they are unaware of the mount:

[code]

[2019-12-16 17:34] kmatt commented on #1233
Worked for me as well.

[2019-12-16 17:35] ricab commented on #1224
More or less separately, another thing that occurred to me is that we could add a setting on whether or not to auto-mount.

[2019-12-16 17:57] Saviq commented on #1224
@ricab I think that's ok, as long as we make it clear (write out "Mounting $HOME in primary:Home"?) when first launching? And yes, a setting might be in order, but let's add it in a second step.

[2019-12-16 17:59] ricab commented on #1224
OK, I'll do that.

[2019-12-16 19:11] alexellis opened #1237 "Bad error message when failed to parse cloud-init YAML: "launch failed: operator[] call on a scalar…""
I'm getting an issue when trying to use the --cloud-init flag on MacOS.

[code]

Works:

[code]

Fails:

[code]

k3s.sh

[code]

[2019-12-16 19:20] Saviq commented on #1237
Hi @alexellis, whatever you feed into `--cloud-init` has to be valid YAML, follow the format from [the `cloud-init` docs](http://cloudinit.readthedocs.io/en/latest/topics/examples.html#yaml-examples).

In your case something like this:
[code]

Refer to: [run commands on first boot](https://cloudinit.readthedocs.io/en/latest/topics/examples.html#run-commands-on-first-boot) in their docs.

Hope this

[2019-12-16 19:55] alexellis commented on #1237
I think this needs to re-opened re: the error message is not at all helpful?

Do you have plans to allow user-data or a start-up script like most IaaS platforms would offer?

[2019-12-16 20:04] townsend2010 commented on #1237
Hi @alexellis,

The error you see comes from a third party submodule called yaml-cpp.  We have an open bug to try to make those exceptions more user friendly.  See #646.

As far as the other request to support user-data or a start-up script, I can't seem to find an enhancement request for this.  If you'd like, you could file one so we can track it :grin:

Thanks!

[2019-12-17 17:15] hatched opened #1240 "Change icon colour to white"
I like the new systray icon but...one of these things is not like the others :-)

<img width="347" alt="Screen Shot 2019-12-17 at 11 12 54 AM" src="https://user-images.githubusercontent.com/532033/71018490-30a1b300-20be-11ea-8f98-6bb849ca2f87.png">

Could it be changed to white?

[2019-12-17 17:19] Saviq commented on #1240
Hey @hatched we'll have a look soon - it's not as simple as making it white, since people may have a light menu bar. So it needs to be monochrome, in a color that macOS interprets, or maybe there need to be different versions…

[2019-12-17 17:22] hatched commented on #1240
It looks like the icons change between white and black depending on the light/dark mode chosen. I'm not sure how this is done :-).

[2019-12-17 19:08] Saviq commented on #1237
We do have #1040 for supplying files to user-data.

I will reopen this for improving the error message.

[2019-12-17 19:10] townsend2010 commented on #1237
@Saviq,

As I mentioned previously, #646 is opened to better handle the rather plain exceptions thrown from yamp-cpp, which is what the problem is here.

[2019-12-17 19:11] Saviq commented on #1237
Oh missed that.

[2019-12-17 19:11] Saviq commented on #1237
Duplicate of #646

[2019-12-17 19:11] #1237 closed

[2019-12-17 20:46] #1224 closed

[2019-12-17 23:51] Saviq commented on #1072
Fixed by #1183

[2019-12-17 23:51] #1072 closed

[2019-12-18 12:38] Saviq opened #1241 "[gui] not reacting to primary instance being purged"
1. `multipass start`
1. `multipass delete -p --all`
1. GUI doesn't realize the primary instance went away

or

1. `multipass start`
1. `multipass delete --all`
1. GUI correctly reacts to instance being deleted
1. `multipass purge`
1. GUI doesn't realize the primary instance was purged

[2019-12-18 13:10] ricab opened #1242 "GUI settings watch fails if no client settings were made yet"
[code]

The GUI then does not see subsequent `multipass set client.gui.autostart=false` until it is restarted.

[2019-12-18 13:45] ricab commented on #1221
@Saviq thanks for pointing out that [QSettings already does most of the job](https://doc.qt.io/qt-5/qsettings.html#accessing-settings-from-multiple-threads-or-processes-simultaneously) for us.

[2019-12-18 14:06] ricab opened #1243 "Timeout on stop/start after daemon restart"
1. `multipass start`
2. `snap restart multipass`
3. `multipass stop`
4. `multipass start`
=> Timeout

Daemon's log says `qemu-system-x86_64: Device 'hda' does not have the requested snapshot 'suspend'` when resuming from stopped (not when resuming from the daemon restart).

[2019-12-18 14:21] Saviq commented on #1243
Confirmed, we're now deleting the snapshot properly (#725), but not resetting the state of the machine to know it's not suspended.

[2019-12-18 14:25] Saviq commented on #1243
To recover (there's no risk of data loss):
[code]

[2019-12-18 15:08] abentley opened #1244 "multipass.gui starts without request and the setting to disable it is hidden in "About", violating expectations."
Multipass is supposed to be a commandline tool.  I don't want a gui, especially an orange one.  I don't think I was prompted whether I wanted it to launch on startup, and I certainly couldn't see a way to disable it in its own menu.  I've disabled multipass until I need it again, so that the gui doesn't launch on startup.

[2019-12-18 15:12] townsend2010 commented on #1244
Hi @abentley,

Which version of `multipass` are you using?  Version 1.0 has a way to disable it in the menu under `About`.  Also, you can disable it from the command line via `multipass set client.gui.autostart=false`.

[2019-12-18 15:17] abentley commented on #1244
Thanks for the tip.  I don't see the option in the About menu, and settings shouldn't be in the about menu.  It should be purely informational.

$ multipass --version
multipass  0.10.0
multipassd 0.10.0

$ snap info multipass
name:      multipass
summary:   Instant Ubuntu VMs
publisher: Canonical✓
contact:   https://github.com/CanonicalLtd/multipass/issues/new
license:   GPL-3.0
description: |
  M

[2019-12-18 15:20] abentley commented on #1244
After a `snap refresh multipass`, I get 1.0 and I do see the "Autostart on login" setting, but again, a setting shouldn't be under "about".

[2019-12-18 15:34] Saviq commented on #1244
Hey @abentley,

I agree "About" isn't the best place to have it, but it was kinda least of all evil (not having it at all, having it top level all the time, having it alone in a separate "Settings" section…). We will be growing the features available in the status menu and at some point we're likely to reorganize it.

As for autostarting it in the first place, the snap system does not currently ha

[2019-12-18 16:01] abentley commented on #1244
I'm glad you're looking to fix it.  I disagree that putting it at the top level would be worse than putting it in "about".  Slack puts "Launch on Login" at the top level of its indicator, and it's a common pattern with Windows system tray icons.

[2019-12-18 16:08] townsend2010 commented on #1243
Ah, right, it's not the state that's wrong, it's the saved `qemu` options that are not updated when the snapshot is deleted.  This has probably been a problem since day 1 of supporting `suspend` :grin:

[2019-12-18 16:11] townsend2010 commented on #1243
Actually, on a second look, I think this regressed when we switched to the `QemuVMProcessSpec`.

[2019-12-18 16:36] ricab commented on #1243
@townsend2010 I am not sure how useful it is, but I could only get this with a daemon restart. When I issued suspend + start instead, I would not see the issue.

[2019-12-18 17:32] ricab opened #1245 "`info` reports wrong disk numbers for core-based instances"
[code]

These values are being obtained from `df` for `/`:
[code]

However, things are actually in `/writable`:
[code]

[2019-12-18 18:52] townsend2010 commented on #1243
Ugh, not only this issue, but I discovered an even worse issue in debugging this.  Doing the start + suspend + start, I found that the start after the suspend is not loading the saved memory state, so it's not working at all.  When we switched to using the `QemuVMProcessSpec`, it sets the `qemu-system-x86_64` arguments *only* in `QemuVirtualMachine`'s ctor and never accounts for any arguments chan

[2019-12-18 22:27] cedws opened #1247 "Kernel cmdline customisation"
It appears from looking at `/Library/Logs/Multipass/multipassd.log` that the kernel parameters are passed as an argument (hardcoded?) to HyperKit.

I tried to customise the cmdline inside the VM by modifying the GRUB configuration, but it had no effect, which I think confirms my suspicion.

[2019-12-18 23:57] srcshelton opened #1248 "macOS: qt.qpa.plugin: Could not find the Qt platform plugin "cocoa" in "" on case-sensitive APFS"
The `Multipass` (v1.0.0) application fails to launch from macOS 10.15.1 desktop:

[code]

Is this a case-sensitive filesystem issue (... unlikely, since it presumably works on Linux)?

[2019-12-19 07:53] Saviq commented on #1247
Hi @cedws yes, currently we're booting the kernel / initramfs directly, we're working on getting that fixed.

May I ask what kernel options you'd like to modify?

[2019-12-19 07:54] Saviq commented on #1248
Hi @srcshelton does `open -a Multipass` work? Or "Multipass" from Launchpad?

[2019-12-19 09:25] kemra102 opened #1250 "Manjaro: multipass socket access denied"
After installing Multipass on Manjaro (including setting up `snapd` as per the instructions on the snap store page) I get the following error:

[code]

Even after a reboot this is still the case, though I do now get the `multipass-gui` but this fails with the same error.

Here are the permissions on the socket file listed:

[code]
Additional info:

[code]

[code]

[2019-12-19 09:32] Saviq commented on #1250
Hi @kemra102, as you can see in your `ls` output, you need to be in the `adm` group to access it. Remember you need to log out and back in to get the groups (that, or use `sg` or `newgrp`).

Please let us know if that didn't work for you.

[2019-12-19 09:48] kemra102 commented on #1250
That did the trick and got me going @Saviq  thanks.

I do wonder though if this shouldn't either be a bug or maybe just missing documentation? Ideally users shouldn't be required to do things like this, so if this can be fixed with code changes (either in `multipass` or the Snap config) that would be preferable. If that isn't possible then perhaps we're missing some documentation.

[2019-12-19 10:02] Saviq commented on #1250
@kemra102 we do want to get rid of that requirement in the near future, yes.

In the mean time we'll add a note in our install docs.

[2019-12-19 10:02] #1250 closed

[2019-12-19 16:03] tatroc opened #1252 "Mounted files lack exec bit on Windows"
when I mount windows directory from multipass, how do I set the exec flag so I can execute scripts on the mount?

 Is there a way to specify a mount option?

For example, if I run this I am unable to execute scripts on windows mount
multipass mount c:\temp primary

[2019-12-19 16:57] Saviq commented on #1252
Hi @tatroc you're right, since the file permissions don't match between Windows and *nixes, we don't have a way to know if a file should have been executable…

The couple workarounds I can offer straight up is running the scripts explicitly with their interpreter:
[code]
or share whatever you need via Windows file sharing and [mount it using cifs](https://wiki.ubuntu.com/MountWindowsSharesPermanen

[2019-12-19 18:09] #1243 closed

[2019-12-19 18:28] townsend2010 opened #1253 "windows: Switch Hyper-V support to use the Windows Hypervisor Platform API"
In order to run alongside WSL2, we'll need to use the `Windows Hypervisor Platform API`.  See https://docs.microsoft.com/en-us/virtualization/api/hypervisor-platform/hypervisor-platform.  This is the Microsoft recommended way: https://docs.microsoft.com/en-us/windows/wsl/wsl2-faq

[2019-12-19 18:39] afritzler opened #1254 "Any language buildings/sdks available for multipass?"
Are there any sdks available for multipass? Go language bindings would be great to spin up some cool automation tooling around multipass.

[2019-12-19 19:02] cedws commented on #1247
I wanted to pass `mitigations=off` and the kernel 4.x equivalents.

[2019-12-19 19:05] Saviq commented on #1254
Hi @afritzler at the moment the only entry point is the `multipass` CLI, we're keeping it stable for that purpose.

We use [gRPC](https://grpc.io/) for communication between the clients and daemon, but we don't yet claim [the protocol](https://github.com/canonical/multipass/blob/v1.0.0/src/rpc/multipass.proto) stable, so that may break at some point (but we won't be breaking it without good reason

[2019-12-19 19:17] afritzler commented on #1254
Thanks a lot for the quick response. And yes, the proto file helps! Closing.

[2019-12-19 19:17] #1254 closed

[2019-12-19 19:59] iammer opened #1258 "Symbol not found trying to run on OSX 10.11.6"
Just installed 1.0.0 on OSX 10.11.6.  When I try to run I get the following error:

[code]

[2019-12-19 20:05] Saviq commented on #1258
Hi @iammer, it looks like we're using features from libraries of newer macOS than you're on… Any chance you could upgrade to the latest?

[2019-12-19 20:43] v1k0d3n commented on #1040
@Saviq more bad news!? agh. :) j/k

when I have some free time, I'll see if it's something I can knock out. it's at least helpful to know that it's not on product's immediate radar, but I'm surprised more users aren't asking for the feature. this feature seems like a great way to differentiate multipass vs. containerized use cases.

[2019-12-19 20:54] v1k0d3n commented on #118
@Saviq that's unfortunate. :(

![boo](https://media.giphy.com/media/EXHHMS9caoxAA/giphy.gif "sad dunk")

[2019-12-19 21:21] sonnius opened #1259 "Complex `~/.ssh` may cause `multipass` to crash"
I'm getting a segfault when running 'multipass shell'

[code]

It works as the root user:

[code]

Running MacOS Catalina:

[code]

[2019-12-19 21:29] moondev opened #1260 "Enable support for image launching on macOS and Windows"
Is it possible to directly launch a qcow2/img cloud-init enabled image on macOS? This works great on Linux. Is this due to differences between qemu and hyperkit image format?

Test image used: https://download.fedoraproject.org/pub/fedora/linux/releases/31/Cloud/x86_64/images/Fedora-Cloud-Base-31-1.9.x86_64.qcow2

works on linux
[code]

fails on macos
[code]

[2019-12-19 21:44] iammer commented on #1258
Yes.
You might want to update your downloads page, it lists the minimum macOS version as: Yosemite 10.10.3 or later.

[2019-12-19 22:20] Saviq commented on #1259
Huh! Hey @sonnius, I'm afraid we've never seen this happen - can you give a bit more info: how did you install, what version (`multipass version`)?

Can you see a relevant `.crash` file in `~/Library/Logs/DiagnosticReports`? If so, please upload it here.

[2019-12-19 22:21] Saviq commented on #1260
Hi @moondev yeah, we currently have to pass kernel + initrd directly to hyperkit (no bootloader), so we can't really support images that we can't be sure will work with the kernels we use…

We're working on it, though!

[2019-12-19 22:23] Saviq commented on #1258
Hi @iammer, yes, we'll need to check what's the earliest we can run on - we didn't know about this new limitation. We may also try and work around the issue.

[2019-12-19 22:27] sonnius commented on #1259
Saviq,

Installed using brew

Looking at the crash file it seems there's some issues with libssh, just wanted to mention I have a fairly large SSH config file that includes .ssh/config.d/* also.

[code]

Crash file (added .log extension to it)

(https://github.com/canonical/multipass/files/3985875/multipass_2019-12-20-101930_Robs-MacBook-Pro.crash.log)

[2019-12-19 22:31] sonnius commented on #1259
Moving ~/.ssh to ~/.ssh.bak works around the issue, could it be the libssh version does not understand my SSH config file syntax?

[code]

[2019-12-19 22:42] Saviq commented on #1259
Hi @sonnius, good digging - that may certainly be. Moreover, our libssh shouldn't even be looking into your `~/.ssh`. We'll have to configure it to look somewhere else for its config.

Thanks for reporting!

[2019-12-20 00:28] moondev commented on #1260
@Saviq Thanks for the details! Very interesting as well as clever way to leverage hyperkit for cloud-init.

Looking forward to a future update to support this. I suppose using an alternative hypervisor could be an option but then you would need to install it first which is no fun. Congrats on the `1.0.0` launch and keep up the great work!

[2019-12-20 02:32] jfmatth commented on #1111
systemctl status gives incorrect characters

[2019-12-20 08:25] Saviq opened #1261 "[libvirt] domains orphaned when switching away from the libvirt driver"
When you switch away from the `libvirt` driver, the domains remain defined. We should remove them on switching the driver, as they may then be removed using the `qemu` driver.

[2019-12-20 12:13] SchnuckySchuster opened #1262 "No IP address when using the VirtualBox driver"
Hi there,
I realise that there is the closed issue  "Instances has no IPv4 address #839", but please continue reading
- I'm working on MacOS Catalina 10.15.2
- I'm using "multipass  1.0.0+mac" version
- I'm on a MacBook
- I'm connected via WLAN

I run the following commands

I see

The entire rest of the world seems to get something like this

Why do I see no IPv4 address?

I can ping out to the i

[2019-12-20 17:28] Saviq commented on #1262
Hi @SchnuckySchuster, you're using the VirtualBox backend, right? The problem with VBox's default networking is that it is not accessible from the host, so it seemed wrong to show it in `multipass list` or `multipass info` output.

If you switch to the default `hyperkit` backend, (see [our forum post on that](https://discourse.ubuntu.com/t/instructions-for-enabling-disabling-virtualbox-support-on-

[2019-12-20 17:46] SchnuckySchuster commented on #1262
Well, what shall I say, that was the problem.
I did not use the VirtualVox backend on purpose.
I might have copied a command line from an internet post or may be as I have VirtualBox installed I might have thought that it would be a good idea to use it.
Thanks a lot for your help.
I would not have been able to solve the problem on my own.

[2019-12-21 14:10] thomasdba opened #1263 "MacOS: where is vm file location"
from the instances config multipassd-vm-instances.json ,I can only find its size , is there any way to change the data file location ?  soft link ?
Thanks !

[2019-12-21 20:36] lucj opened #1264 "Cannot use cloud.ini file with multipass 1.0.0 on MacOS"
Using multipass 1.0.0 on MacOS, I cannot launch VMs using cloud.init. It was working fine on the previous version.

[code]

cloud.init file is a simple one only containing an authorized key:

[code]

Launching a VM just hangs on:

[code]

node1 is shown is in the list but cannot be used:

[code]

[2019-12-22 09:52] pcgeek86 opened #1265 "How can I change memory (RAM) size of existing Multipass virtual machine?"
I have an existing multipass virtual machine with 1 GB of RAM (the default). However, I would like to increase the amount of memory from 1 GB to 4 GB. I looked for an option to do this under `multipass get` and `multipass set`, but couldn't see any option keys that I could change.

**Question**: How can I change the memory configuration of an existing multipass VM, without re-provisioning it from

[2019-12-22 11:54] OlegSmelov opened #1266 "multipassd crashes when deleting a VM"
I can't delete a stopped VM:

[code]

dmesg right after that:

[code]

[code]

I've also tried switching to the edge channel, but the problem persisted.

[2019-12-22 12:25] tatroc opened #1267 "Consider a different location for Multipass files on Windows 10"
When I create a VM via Multipass the VM gets created in the following location
C:\Windows\System32\config\systemprofile\AppData\Roaming\multipassd\vault\instances\foo

Consider using the default location setting for Hyper-V to store the files Hyper-V VM files
C:\Users\Public\Documents\Hyper-V\Virtual Hard Disks
C:\ProgramData\Microsoft\Windows\Hyper-V
![image](https://user-images.githubusercontent

[2019-12-23 09:22] richiethom commented on #118
It'd be really good to include this limitation in the documentation, perhaps also showing it as a warning near the instructions for switching from HyperV to VirtualBox?

[2019-12-23 16:18] tbalthazar opened #1268 "Time out and unknown state"
Hi,

I'm on Ubuntu 19.10, I tried to start 2 instances, got a time out message and they are now in an "unknown" state:
[code]

Trying to start one of the VM in Unknown state:
[code]

[2019-12-23 16:33] lucj commented on #1217
Any ideas why the other 2 options hangs up ?

[2019-12-23 20:41] lucj commented on #1217
After some more tests, it seems it hangs when there are pipes in the instructions: If I remove the first 2 instructions below, the process does not hang.

[code]

Any ideas how this could be fixed ?

[2019-12-24 17:26] petiepooo opened #1270 "image download doesn't resume on failure"
Image files are relatively stable, and are downloaded via HTTP.  It would be very useful if a subsequent download attempt started from where the last one failed, rather than starting over again from 0%.  I believe that's most often done using the `Range:` header.

[2019-12-24 19:13] fclaerho commented on #1258
Confirming I have the exact same issue, El Capitan (10.11.6).

[2019-12-25 03:04] DeepDarkOdyssey commented on #1266
same issue here

[2019-12-25 05:13] andyfu6 opened #1271 "Support migrating instances between hosts"
I have prepared one multipass visual machine and install some package on it. Can we export vm of multipass as iso and import the image on another machine?

Hope someone give me advice. Thanks.

[2019-12-25 16:34] lucj commented on #1217
Hi, just re-opening this issue / question as I did not get it working fine with inline script.
Any ideas ?

[2019-12-25 19:56] panlinux opened #1272 "segfault when deleting a vm"
Hello,

I'm getting this segfault when I delete an existing, stopped, vm:
[code]
The command was:
[code]
This is on eoan:
[code]

[2019-12-26 06:56] ibehren1 commented on #118
Is the issue with bridged networking because the snap has no interfaces defined?

I have set the driver to libvirt and multipass spins up the instance find on the libvirt side, the instance gets an IP from my network dhcp server and is good but multipass times out and never gets the "metadata".  As a result it only has the ability to stop/start the VM but takes forever to do so b/c it cannot conne

[2019-12-26 12:47] callegar commented on #1259
This is happening also on ubuntu 19.10.

Multipass shell crashes unless I move away `~\.ssh` or at least `~/.ssh/config`. This basically makes multipass unusable here.

My ssh config is not particularly complex. However, `multipass` seems to choke whenever there are entries like `proxyjump` or pointers to keys that do not exist.  The `libssh` used by multipass appears to be rather flawed since it

[2019-12-26 12:53] callegar commented on #1259
This seems to break `snapcraft` too:
[code]
Please consider rising priority.

[2019-12-26 15:11] OlegSmelov commented on #1272
Duplicate of https://github.com/canonical/multipass/issues/1266

[2019-12-26 18:53] judaew opened #1273 "GUI client cannot use alternative terminal application in macOS"
###### Reproduction steps:
1. Open the context menu in the menu bar
2. Choose "Open in Shell"
3. The Shell opens in the native Terminal application.

###### Solution:

macOS does not support the concept of a default terminal. So the solution may be to read the MIME value for opening Shell scripts and prefer this application. Or implement functionality to select the default application. But I’m not

[2019-12-27 22:52] ChrisDowning commented on #1268
Seeing the same thing. When Multipass is freshly installed (on an Ubuntu 18.04 system - Multipass version 1.0.1), I can start a VM and connect to it fine. After suspendingrestarting the host machine, ```multipass list``` will first show the VM as being in the "Starting" state, but then fail to start and shows instead in either the "Suspended" or "Unknown" state.

When the VM is in "Unknown" state,

[2019-12-29 05:47] gluxon commented on #1263
Does `/var/root/Library/Application Support/multipassd/vault/instances` have what you're looking for?

[2019-12-29 16:59] alexellis commented on #1260
Would qemu work as an alternative with its hardware acceleration?

[2019-12-29 22:39] thomasdba commented on #1263
yes ,thanks !

[2019-12-29 22:39] #1263 closed

[2019-12-30 18:11] callegar opened #1274 "Consider making the location for Multipass files configurable on Linux (do not risk exhausting space on root partition!)"
Currently, on Linux, multipass images go in `/var/snap/multipass/` (at least as long as multipass is installed as a snap).  This is probably a less than ideal location.  For instance, many systems have their root on smallish SSDs to make them faster and `\var` as a subdir of root.  In this case filling up the disk with multipass becomes way to easy, and may bring severe consequences (e.g., breakin

[2019-12-30 18:14] callegar commented on #1259
I have cross posted the issue to the libssh upstream tracker, as https://bugs.libssh.org/T210

The issue may be resolved there shortly, so that multipass can be fixed by updating its embedded libssh library.

[2019-12-31 15:59] callegar opened #1275 ""info failed: bad optional access" error"
Experiencing an issue with `snapcraft`, that is using multipass behind the scenes. If snapcraft gets interrupted while launching its virtual machine with multipass, multipass often breaks and from that moment on stops working giving errors like `An error occurred with the instance when trying to launch with 'multipass': returned exit code 2.
Ensure that 'multipass' is setup correctly and try again

[2019-12-31 16:02] callegar commented on #1275
Another common error is `Please ensure multipassd is running and '/var/snap/multipass/common/multipass_socket' is accessible`. Looks like similar reports can be googled around, with the common suggestion to uninstall and re-install multipass to fix the issue. Is there a better way?

[2020-01-02 23:57] brettkoonce commented on #1118
i did a
    touch /var/snap/multipass/common/data/multipassd/network/dnsmasq.hosts
to make this disappear fwiw

[2020-01-03 02:58] zy445566 opened #1276 "windows can't use proxy"
version: win10, multipass1.0
[code]

[2020-01-03 13:11] awesome-manuel commented on #689
@Saviq Still happens for me during `snapcraft prime` especially when the host directory is inside an encfs encrypted home.

[2020-01-03 15:19] ashee commented on #1121
In my case, I was running homebrew dnsmasq which was interfering with DNS. https://discourse.ubuntu.com/t/troubleshooting-networking-on-macos/12901

[code]
In my case, instead of mDNSResponder, it was reporting dnsmasq

After stopping dnsmasq, guest network in microk8s-vm started working
[code]

[2020-01-04 05:00] reclaimed commented on #573
A pretty strange problem here:
1.  Multipass doesn't recognize the OS:
[code]
2. At some point, it reported there's no Hyper-V installed
[code]
I see this message since the first install of version 0.9. I did try to reboot the PC, as well as disable and enable Hyper-V.

However, it works well if I run the second instance of multipassd.exe on port 5001:
[code]

System info:
[code]

[2020-01-05 08:13] gino2010 commented on #1262
I met same problem, when I set up microk8s env in multipass vm:
why I want to use driver as virtualbox,  because I need to use VPN network to install packages related k8s
when I use virtualbox, the networking is NAT mode, that works for me in VPN.
(in hyperkit mode, vm network traffic can't be forwarded to VPN, I think that's a network router problem, if you have idea, please let me know)
But in v

[2020-01-06 11:25] ricab commented on #1265
Hi @pcgeek86, while that is not currently supported (although it is planned - #756), for now you should be able to tweak it by following [these instructions](https://github.com/canonical/multipass/issues/1158#issuecomment-548073024).

[2020-01-06 13:14] dlandoll commented on #1248
I was able to fix this by creating a "platforms" directory in the "/Library/Application Support/com.canonical.multipass/bin/multipass.gui.app/Contents/MacOS" directory and creating a symlink to where the library actually is:

$ mkdir platforms
$ cd platforms
$ ln -s ../../plugins/platforms/libqcocoa.dylib libqcocoa.dylib

[2020-01-06 13:28] ricab commented on #1266
Thanks for reporting, I confirm I can reproduce this. Looking into it.

[2020-01-06 13:29] ricab commented on #1272
Thanks for reporting, looking into it.

[2020-01-06 13:29] #1272 closed

[2020-01-06 14:11] townsend2010 commented on #1259
Indeed, we do need to update the `libssh` version.  A couple of things.  First, we use `boringssl` from the `grpc` submodule we import for `libssh` encryption.  Second, the current commit we are using for `grpc` (and `boringssl`) does not have support that the newer versions of `libssh` is looking for.  So, we are in the process of updating the `grcp` submodule suite (see #1182), but we are runnin

[2020-01-06 17:09] townsend2010 commented on #1276
Hi @zy445566,

Does multipass work OK when not setting the proxy?  That output indicates that `multipassd` is failing to run and setting those variables should have no impact on that.  It seems something else is failing.  Is there anything in the Event Viewer for `multipassd` as to why it's failing to run?

[2020-01-06 17:13] townsend2010 commented on #1273
Hi @judaew,

Yes, we have future plans to either allow setting which terminal application to use when running `Open Shell` and/or detecting what the preferred terminal application is.

[2020-01-06 17:19] townsend2010 commented on #1270
Hi @petiepooo,

Thanks for the report.  We can certainly look into this as a future enhancement.

[2020-01-06 17:31] townsend2010 opened #1277 "[documentation] 'launch' should explain what a valid instance name is"
During a conversation with a user on IRC, there was a question about why underscores are not allowed for instance names.  I explained that an instance name needs to be a valid hostname.  The user then pointed out that our documentation fails to explain what a valid instance name is.  We should document that :grin:

[2020-01-06 17:49] townsend2010 commented on #1264
Hi @lucj,

By "previous version", do you mean version 0.10.0 of Multipass or a different version?  I don't see where we touched any related code for some time, so I'm wondering which previous version you had.

[2020-01-06 17:51] townsend2010 commented on #1265
I'm going to close this particular issue as we have future plans for allowing configuration of existing instances and we have a manual workaround.  If that doesn't work for you, please reopen and we will try to help.  Thanks!

[2020-01-06 17:51] #1265 closed

[2020-01-06 18:27] ricab commented on #1266
Hi all! Could you confirm this fixes it for you?

`snap refresh multipass --channel edge/pr1278`

[2020-01-06 18:29] ricab commented on #1272
Hi @panlinux, this should fix it:

`snap refresh multipass --channel edge/pr1278`

[2020-01-06 18:54] townsend2010 commented on #1268
Hi @tbalthazar,

Looks like you're hitting a couple of issues here :frowning_face: Let's try to hit this one at a time.

First, for the timeout, could you do `journalctl -fu snap.multipass.*` in one terminal and then try the `start` command and then post the output here?  Hopefully that will shed some light on why the instances are not responding.

For the second issue, it looks like we are not ha

[2020-01-06 19:26] OlegSmelov commented on #1266
Works for me :+1:

[2020-01-06 19:46] lucj commented on #1264
Hi @townsend2010,
Digging in the tests I’ve done with cloud init files, it seems it was working on the version available end of november, I think it was 0.8.
Thanks for your help.

[2020-01-06 21:00] brettkoonce commented on #1266
WFM, 🚀🏆🥳

[2020-01-07 01:36] zy445566 commented on #1276
it's  work OK when not setting the proxy.
I reinstall then it's work OK,but it's  not work OK when setting the proxy.

[2020-01-07 11:22] #1266 closed

[2020-01-07 13:28] #1242 closed

[2020-01-07 14:22] OddBloke commented on #1097
cloud-init has support for [MIME multi-part user-data](https://cloudinit.readthedocs.io/en/latest/topics/format.html#mime-multi-part-archive) which might provide a way for multipass to inject its own user-data without having to munge the user's input at all.

(Alternatively, we could explore providing the multipass user-data as vendor-data, so that multipass can just pass the user-data through unt

[2020-01-07 14:28] dominikborkowski commented on #1097
I've ran into this issue while debugging similar case: executing runcmd section per cloud-init's examples. Using single quotes around double quotes provides an OK workaround; however, I'd love to see an actual fix that will avoid having to do that.

This may be useful for people trying to check their results:

[code]

[2020-01-07 15:01] dominikborkowski commented on #1097
@gucharbon : How have you been able to solve this issue using nested quotes? In my tests the resulting runcmd script fails to run, because there are double quotes around a given command. For instance, here's the input cloud.cfg script:
[code]

Here's the resulting  `/var/lib/cloud/instance/user-data.txt`
[code]
And here's the final script cloud-init tries to run `var/lib/cloud/instance/scripts/run

[2020-01-07 16:52] Saviq commented on #1266
The fix for this is now in the [1.0.2 release](/canonical/multipass/releases/tag/v1.0.2), released in the `stable` snap channel.

[2020-01-07 17:03] Saviq commented on #1271
Hi @BlueSky5300 this isn't something that we support at the moment, and it wouldn't be trivial. We have different hypervisors, the instances get initialized on boot.

One thing that we've explored is [rebuilding images using Packer](https://discourse.ubuntu.com/t/building-multipass-images-with-packer/12361) so you can bootstrap an image and share that. It's not supported to launch such custom imag

[2020-01-07 17:09] Saviq commented on #118
The issue with bridged networking is that Multipass (nor the hypervisor) are in control of the network any more. So long as we rely on networking to the instance, we need to know the IP of the instance. We're taking that from the hypervisors' DHCP servers today - when bridging, we don't have that source.

We could scrape the console output, but that proves unreliable.

In the future we want to swi

[2020-01-07 17:10] Saviq commented on #1260
Hi @alexellis we'll be evaluating `qemu` for that reason in the near future.

[2020-01-07 17:14] Saviq commented on #1273
@judaew what we're doing on macOS is just using the built-in `open` with a shell script file. Do you know what we could do better so that the iTerm2 preference gets picked up?

[2020-01-07 17:20] Saviq commented on #1270
Somewhat related: #271 and #584.

[2020-01-07 17:27] Saviq commented on #1264
Hi @lucj, this still works for me:

[code]

[2020-01-07 17:29] Saviq commented on #689
Hi @awesome-manuel this suggests it's a slightly different problem, can you please file a new issue with any details you can think of?

[2020-01-07 17:48] lucj commented on #1264
Thanks @saviq !
I've done another test and realized it was failing due to an invalid char in the cloud.init file. The copy paste of what I though a '-' was in reality '—' (not so obvious when seen on a web site) :(

[2020-01-07 17:48] #1264 closed

[2020-01-07 17:51] Saviq commented on #1248
Hey @dlandoll these should get created by our post-install scripts, can you please say how did you install? Installer or `brew cask`? Can you [uninstall](https://multipass.run/docs/installing-on-macos) and reinstall to see if the problem persists?

[2020-01-07 19:11] dlandoll commented on #1248
I used the installer to upgrade from 0.9.0 or 0.10.0 to 1.0.0. I can try to uninstall and reinstall later today.

[2020-01-07 19:26] dominikborkowski commented on #1039
Just adding to the discussion: having an option to change the timeout would be great. As it stands prolonged package installs with cloud-init result in the timeout error, which may or may not be indicative of an actual problem.

For people who are using multipass to debug & polish their cloud-init configs having such option would eliminate needless debugging.

Thanks!

[2020-01-07 22:14] dlandoll commented on #1248
I ran the uninstall script and then tried reinstalling using the installer package. It produced the same issue where the GUI would not start until I manually create the symlink again.

[2020-01-08 08:03] Saviq commented on #1248
Hi @dlandoll and the installer did not complain about anything? Could you please try the installer again, and before quitting it, hit ⌘L to open the installer log and see if there's any interesting info there?

Thanks!

[2020-01-08 16:28] Saviq commented on #1262
Hi @gino2010 indeed it's a routing problem, you'd need to tell your VPN software to route traffic from the `br100` bridge out the VPN when using hyperkit.

With VirtualBox, however, you can use the port forwarding features to expose ports from the instance on your `localhost`. Just run `sudo VirtualBox` to get the GUI and go from there, or use `sudo`[`VBoxManage modifyvm …`](https://www.virtualbox

[2020-01-08 18:12] dlandoll commented on #1248
No errors appear in the log, just the following:

[code]

[2020-01-08 18:50] townsend2010 commented on #1217
This is because of a bug in `libssh` and I have a fix proposed.  See CanonicalLtd/libssh#1.

[2020-01-08 19:14] lucj commented on #1217
Great ! Looking forward to check this out.

[2020-01-08 21:32] moonlight16 opened #1288 "No description about 'primary'?"
It would be useful to have a description about 'primary' instance.  i.e. what is it?  why is it neeed? etc...

[2020-01-08 23:26] ChrisDowning commented on #1268
Hi @townsend2010 - I recently updated to 19.10 so decided to try again, but saw the same behaviour - here is the output of following your instructions:

Initial state (`multipass list`):
[code]
Output of `journalctl -fu snap.multipass.*` **before** running `multipass start`:
[code]

Output of `journalctl -fu snap.multipass.*` **after** running `multipass start`:
[code]

Response from `multipass li

[2020-01-09 00:13] lucyllewy opened #1289 "Add support for VirtualBox backend on Linux"
Currently it is impossible to use VirtualBox and MultiPass at the same time because MultiPass will only work with qemu. A potential workaround of using libvirt's VirtualBox driver is not currently possible due to hardcoding the libvirt backend to qemu within MultiPass.

Ideally we need to either add support for the VirtualBox backend directly in the Linux releases based on the same code used for m

[2020-01-09 05:41] gino2010 commented on #1262
Hi @Saviq
Thank you for your idea, that's really helpful for me

[2020-01-09 09:08] Saviq commented on #1217
From #1287:

@lucj you should be able to try this now ↑

[2020-01-09 10:59] lucj commented on #1217
Hi @Saviq, I've installed the dev version

[code]

and run the Docker installation with HEREDOC

[code]

That is working fine, but this is quite long and during the installation I can see multipass taking 100% of a cpu and hyperkit almost 180% (?) (the fan is on and noisy too :) )

When I run the exec, the cpu used by Multipass is almost 0%, only hyperkit is in action and no fan at all.

[code]

A

[2020-01-09 11:08] ricab commented on #1288
Hi @moonlight16 , you're right. The help for the commands where it is used explains how we treat it, but I agree we should have a dedicated explanation, probably an entry in [our docs](https://multipass.run/docs).

It is basically a default instance for some operations (`shell`, `start`, `stop`, `restart`, `suspend`) which is automatically launched if it does not exist (by `start` and `shell`) and

[2020-01-09 11:57] Saviq commented on #1217
@townsend2010 may have some input. At first glance it sounds as if it's spinning on one of the comm channels.

[2020-01-09 12:51] townsend2010 commented on #1217
Hi @lucj,

In your first example, it's running `curl -fsSL https://get.docker.com | sh` on your host and then shoving the `stdin` through ssh into your instances `bash` command.  This is a bunch of data that is being encrypted on your host and then decrypted in your instance.  Thus, will take quite a bit of cpu time.

In your second example, your instance is running the curl command and so everyth

[2020-01-09 13:10] lucj commented on #1217
Hi @townsend2010,

Thanks, I got it then. Is there a way to use heredoc so everything is done within the instance ?

For instance, I'd like to be able to run the following

[code]

instead of using an exec per command.

[2020-01-09 13:30] townsend2010 commented on #1217
Hi @lucj,

I think I'm wrong about `curl` running on the host, but after a bit of debugging, it seems when using heredoc with this, it is indeed running `curl`, etc. inside the instance, but it's passing its `stdout` back to the host, ie, the `mutlipass` client and then the client  is then passing it back into the instance to `bash`.  Very inefficient: :frowning:

I'll see if there is some other w

[2020-01-09 13:35] Saviq commented on #1217
@lucj as we investigate, this should work fine:

[code]

Just replace `<<EOF … EOF` with `-c` and a quoted multi-line command passed as argument to `bash`.

[2020-01-09 14:03] lucj commented on #1217
@saviq, thanks this is working fine (just need to protect the internal ")

[2020-01-09 14:05] townsend2010 commented on #1217
I'm going to split out the heredoc performance issue as a different bug so we can keep track of it.  That said, this is  (once the PR lands) in the sense that it no longer hangs and "works", albeit, inefficiently.

Thanks for all of the feedback!

[2020-01-09 14:10] townsend2010 opened #1291 "Using heredoc input with `exec` can consume much CPU time"
In the conversation in #1217, it was brought up that when using heredoc input will consume much CPU time.  Here is the example:
[code]

I did some initial debugging and found the `libssh` is passing the `curl | sh` output to the host `multipass` client and then the client is passing that back into the instance's `bash` command.  Two extra and unnecessary encrypt/decrypt trips between the host and

[2020-01-09 14:11] townsend2010 commented on #1217
I opened #1291 to track the performance issue.

[2020-01-09 14:21] townsend2010 commented on #1268
@ChrisDowning,

It looks you are running into a different problem than what is in the initial bug description.  You have suspended instance and it seems like a Multipass upgrade broke this :frowning_face:

Do you have important data on that instance?  You should be able to create a new instance with no problems and use that.  And if you don't have anything important on the existing instance, you c

[2020-01-09 15:36] townsend2010 commented on #1276
@zy445566,

I tried it and although I don't have a proxy running, it worked.  The `multipassd` daemon is set up to listen to port 50051 on `localhost` and the client tries to connect to that via https.  I assume you have a real proxy set up, so I think the client's attempted connection gets rerouted by your proxy and does not connect to the daemon.  I think you need to look at your proxy configura

[2020-01-09 16:09] JayDoubleu opened #1292 "sshfs_server not starting at boot on fresh windows 10"
Fresh install of Windows 10 ver 1909 build 18363.535.
Multipass 1.0.0 from multipass.run.
Hyper-V enabled.

On first logon it seems that sshfs_server.exe is not starting. After running multipass restart service starts up without any problems. ( this didn't seem to be the issue on fast ring insiders windows 10)

[2020-01-09 16:15] JayDoubleu opened #1293 "Allow for custom IP configuration"
It would be very helpful to have the functionality of providing static IP address to primary using cloud-init.

- It seems that on every reboot the IP address range changes randomly with hyper-v so cannot even set it statically within the ubuntu itself.
- Alternatively, please update etc/hosts file as well as etc/hosts.ics on host machine so it could be used within WSL which can use windows hosts

[2020-01-09 16:23] Saviq commented on #1292
Hey @JayDoubleu thanks for filing this. Can you look in Event Viewer for any problems Multipass is reporting? It's under "Windows Logs/Application" at the moment.

[2020-01-09 16:25] townsend2010 commented on #1292
@JayDoubleu,

I'm a little confused...the title says `sshd_server`, but the description refers to `sshfs_server.exe`.  Could you please let us know which it is?

[2020-01-09 16:36] Saviq commented on #1293
Under Hyper-V, we're using the "Default Switch" network, and we have no control over what it's doing, I'm afraid. It's surprising it would use a different DHCP range on every boot, we'll have to investigate there.

FWIW `Get-HNSNetwork` can give you details about the default network.

As for using static IPs, Multipass currently relies on IP connectivity between the host and the instance. And usin

[2020-01-09 16:39] Saviq commented on #1276
FWIW we have #885 about this, too.

[2020-01-09 16:40] Saviq commented on #1293
Related: bridged networking (#118) and custom cloud-init metadata (#557).

[2020-01-09 17:15] JayDoubleu commented on #1292
My apologies, its sshfs_server.exe on the host machine that fails to start after reboot.

**Event viewer:**

1. **Reboot**
2. **Info**: [sshfs-mounts] mounting C:/Users/devel => Home in primary
3. **Info**: [sshfs-mounts] process program 'C:/Program Files/Multipass/bin/sshfs_server'
4. **Info**: [sshfs-mounts] process arguments 'primary.mshome.net, 22, ubuntu, C:/Users/devel, Home, -2:-1,, -2:-1,'

[2020-01-09 18:41] moonlight16 commented on #1288
@ricab thanks.  It seems you can run without the primary instance.  Originally a primary was spun automatically (as you mentioned).  I then created a couple of other instances.  Then deleted the primary.  It seems to have been run okay without one.

So I guess the only benefit of running with a primary is that the home dir is automounted?  Whereas other instances you have to manually mount dirs?

[2020-01-09 19:13] JayDoubleu commented on #1293
Looks like `Get-HNSNetwork` is quite painful to execute from WSL as it needs to run as admin, got myself a dirty script below into bashrc and seems to work fine for now.

[code]

[2020-01-09 19:49] dominikborkowski opened #1295 "jinja templates are not honored in cloud-init config"
We'd like to use multipass to speed up prototyping cloud-init configurations used with AWS on our local systems. Unfortunately, more complex configurations leveraging jinja templates are currently not possible, as multipass strips out relevant headers from the user-data, along with anything that may be commented out and containing valid jinja commands.

For example, this input cloud-init config:

[2020-01-09 19:50] ricab commented on #1288
Yes, multipass runs just fine without `primary`. It is not required, merely offered as a convenience instance.

This is now documented in: [https://multipass.run/docs/primary-instance](). I hope it clarifies it for you.

[2020-01-09 19:50] #1288 closed

[2020-01-09 19:57] tbalthazar commented on #1268
Hi @townsend2010,

Thanks for getting back to me.
I upgraded to multipass 1.0.2 and I cannot reproduce the issue anymore.
I'll reopen this issue if the problem occurs again.

[2020-01-09 19:57] #1268 closed

[2020-01-09 20:04] moonlight16 commented on #1288
Doc looks good.  thx!

[2020-01-09 20:38] ChrisDowning commented on #1268
@townsend2010 Thanks - sorry for hijacking; this was the closest I found to the symptoms I was seeing. Like the OP, upgrading to 1.0.2 seems to have resolved the problem - I've been able to restart my host several times and existing VMs come back up without issue. Nothing to worry about with the broken VM, it was just a test and had no data/configuration.

[2020-01-09 20:40] townsend2010 commented on #1268
@ChrisDowning, no worries at all.  The symptoms were the same for sure.  Glad it's working for you!

[2020-01-10 06:56] Saviq commented on #1295
Thanks for the report @dominikborkowski, what is happening is that the comments are lost when parsing and emitting again with yaml-cpp (which does, somewhat, make sense).

We're talking about the broader picture of cloud-init support in Multipass, we'll definitely take this into account.

[2020-01-10 07:00] Saviq commented on #1275
The actual Multipass issue here seems to be `info failed: bad optional access`, we'll have to look into that.

The latter error means that Multipass died (we just fixed a crash in Multipass a couple days ago, would be good to know if this is still an issue), but there's not enough information to progress.

Please file a separate issue with the output of `journalctl -au snap.multipass*` when you ge

[2020-01-10 07:03] Saviq commented on #1275
As for the original issue, @callegar do you have steps to reproduce? The errors Snapcraft prints are generic, output when anything goes awry in Multipass. Looking into the journal when this happens could yield some more information.

[2020-01-10 07:03] Saviq commented on #1274
Duplicate of #1215

[2020-01-10 07:03] #1274 closed

[2020-01-10 07:13] Saviq commented on #1215
@callegar replying here to keep under one issue:

While I understand this is a problem, I'm not sure a setting in Multipass is the right thing to do, see my replies above.

Not sure what you mean by "ad hoc spaces"? We could include a disk space check in some operations (certainly on `launch`, maybe others as well) and warn the user about it running out. We can't be hard on it, though, as the disk

[2020-01-10 07:17] Saviq commented on #247
I'll mark this as a duplicate of one that has more details:

Duplicate of #1215

[2020-01-10 07:17] Saviq commented on #247
Duplicate of #1215

[2020-01-10 07:18] #247 closed

[2020-01-10 07:18] Saviq commented on #1267
Duplicate of #1112

[2020-01-10 07:18] #1267 closed

[2020-01-10 07:24] Saviq commented on #1112
@tatroc replying here to keep the discussion in one place:

As you can see it's not unanimous what's the best location :)

Bearing in mind that Multipass has different backends, I would stay away from Hyper-V specific folders and go into `ProgramData` indeed. There's [a powershell command](https://stackoverflow.com/questions/11196151/win32-function-to-get-path-to-c-programdata) to get its location

[2020-01-10 11:56] callegar commented on #1215
@Saviq,
read the discussion above... thanks, confused about a few points, though.

1. With respect to:

and

I think that conditioning the way in which multipass works based on the (current) limitations of snapd is a weird choice and surely a flip of paradigm wrt how software has so far been developed. Originally, software devel was orthogonal of the packaging. Software was developed based on expe

[2020-01-10 16:27] ricab commented on #1291
Just to add some more observation evidence, I tripped on this too and was puzzled to see the qemu process taking ~200% of CPU when doing a top on the host (even thought the vm had only one cpu allocated to it). Following the enctrypt/decrypt explanation, I would have expected to see part of the work in the instance and part outside (ssh server and client). Also, a top inside the instance reported

[2020-01-10 17:06] #1180 closed

[2020-01-10 17:06] #667 closed

[2020-01-10 17:06] #1217 closed

[2020-01-11 01:41] beppler commented on #1112
I think that the code of daemonconfig.cpp on lines [74](https://github.com/canonical/multipass/blob/master/src/daemon/daemon_config.cpp#L74) and [76](https://github.com/canonical/multipass/blob/master/src/daemon/daemon_config.cpp#L76) can be altered to the second item of the [QStandardPaths::standardLocations](https://doc.qt.io/qt-5/qstandardpaths.html#standardLocations) method instead of .[QStand

[2020-01-11 18:20] Saviq commented on #1112
While this may very well be a documentation bug, those docs also say:
[code]

So using those as writable would be going against that…

[2020-01-11 18:30] beppler commented on #1112
Yes, but the installer can grant the required permissions to the user that is used to run the daemon to write on those locations.

Maybe this should be used only on Windows so #1012 and #1119 will be resolved and the files start to be written on a easier place to find.

[2020-01-12 12:39] candlerb opened #1298 "macOS is filtering ARP requests for additional addresses"
Sometimes a VM needs additional IP addresses.  However multipass on macOS appears to block ARP responses for IP addresses other than the one initially assigned to the machine.

I am using macOS 10.14.6 with multipass `1.0.0+mac`.  To reproduce:

[code]

But in the tcpdump window on test2 you see:

[code]

That is: the ARP broadcasts are being received, the unicast ARP responses are being sent, but

[2020-01-12 12:40] candlerb commented on #1298
BTW, this issue is not mentioned at https://multipass.run/docs/troubleshooting-networking-on-macos

[2020-01-13 11:25] tae9yu opened #1299 "microk8s multipass launch failed: Downloaded image hash does not match on Mac"
VM launch failed with "launch failed: Downloaded image hash does not match".
What should I check to resolve this problem?

[code]

[2020-01-13 13:35] Saviq commented on #1299
Hi @tae9yu that suggests the downloaded image got corrupted, can you please try:
[code]

This should clear the cached image and restart Multipass. Then try again.

[2020-01-13 13:50] Saviq commented on #1298
Hi @candlerb, thanks for the good explanation. Unfortunately we have no influence over how the bridge is configured :/

It's macOS setting it all up and as mentioned in the doc, even changing the configuration file won't stick, as macOS is rewriting those files at will.

We are considering the switch to [qemu](https://wiki.qemu.org/Hosts/Mac) and will definitely look at networking options there.

[2020-01-13 13:58] candlerb commented on #1298
I couldn't see a way to edit the document in the forum.  I added a reply instead.

[2020-01-13 13:58] #1298 closed

[2020-01-13 14:03] Saviq commented on #1215
Hey @callegar thanks for the extensive post :)

I agree with some of your points, and lean towards making this an option in Multipass simply because even if I think it's snapd / bindmounts that are the better solution (because the problem needs only be fixed once then, rather than in all software), it's utopic to think that such a solution will come across platforms when it hasn't come to this dat

[2020-01-13 17:56] townsend2010 commented on #1259
Could someone who is affected by this bug please provide a simple ssh config that can cause the issue?  As mentioned in #1286 (which should work around this issue), we have no way to test the workaround and so there is reluctance on merging it.

Thanks!

[2020-01-13 18:52] townsend2010 commented on #1259
Also, if an affected user can follow the instructions at https://github.com/canonical/multipass/pull/1286#issuecomment-573706242 and verify that it fixes the issue for you, that would be great as well!

[2020-01-14 00:21] tae9yu commented on #1299
Thank you for the comment @Saviq.
I have tried your instruction but the result is same.
Is there anything to do I can try?

[code]

[2020-01-14 06:38] Saviq commented on #1299
Hey @tae9yu that is very weird… If you don't have any important data in any instances, you could try uninstalling (see [our docs for macOS](https://multipass.run/docs/installing-on-macos)) completely and try again…

Another thing to check is to go to [the current cloud-image](http://cloud-images.ubuntu.com/releases/bionic/release/), download the `amd64.img` file manually and check its signature ag

[2020-01-14 10:50] #1259 closed

[2020-01-14 20:19] reyman opened #1304 "Multipass doesn't recover vm after vm powered down"
Hi,

Using latest dev version, multipass crash after resuming/trying to resume from a VM suspended or powered down.

multipass  1.1.0-dev.47+g31ad44c

[code]

[code]
then

[code]

Then finally, multipass crash :

[code]

My only choice was to delete and recreate the image ...

[2020-01-15 04:30] tae9yu commented on #1299
1. multipass launch failed as well after re-install multipass pkg
2. The md5sum of manually downloaded file via web browser is same to the MD5SUM contents.

I've tried on Windows 10 and the result was same.
I should launch a vm manually and move on to further work.

[2020-01-15 06:50] wiradikusuma opened #1305 "Make open port accessible from host?"
I think I'm missing something obvious, as it's not mentioned anywhere in the documentation.

Let say I install Redis Server, and it's running and listening to a port. How do I access that service from the host OS? E.g. from Windows 10.

[2020-01-15 11:25] ricab commented on #1304
Hi @reyman, thank you for the useful report.

Do you remember why the daemon stopped? was it a snap update, manual `snap restart`, machine suspend or hibernate? And were you by any chance nesting virtual machines? Just to help us investigate :)

[2020-01-15 17:03] judaew commented on #1273
Now maybe we have the following behavior: when we running `Open Shell`, then the terminal opens and the script is executed along the path `$TMPDIR/multipass-gui.xxxxxx.command`

<img width="573" alt="Screenshot 2020-01-15 at 18 30 23" src="https://user-images.githubusercontent.com/41125715/72451749-19410d00-37c5-11ea-9177-2cb152fe93e6.png">

Inside the script, the following command:
Inside `multip

[2020-01-15 18:27] Saviq commented on #1273
Thanks @judaew, we'll try this out!

[2020-01-15 19:04] townsend2010 commented on #1304
After some debugging, we've figured out what the issue is and will have a potential fix soon.

[2020-01-15 21:38] townsend2010 commented on #1222
After some investigation, the same cause for #1304 causes the issue here.  I'm just going to dup this bug to that one since more investigation was done there.

[2020-01-15 21:38] #1222 closed

[2020-01-16 03:15] gerco opened #1307 "Unable to launch any instances on Mac OS X 10.15.2"
I installed multipass both via homebrew and via the installer downloaded from Github (which is what the homebrew formula does, I think), uninstalling it completely between tries. In both instances I see the same behavior:

    bash-3.2$ multipass launch --name k8s --mem 4G --disk 40G
    (nothing happens for a few minutes...)
    launch failed: The following errors occurred:
    bad_optional_acces

[2020-01-16 09:05] akunaatrium opened #1308 "What is the password of the "ubuntu" user?"
Let's say I want to log in to the machine over SSH, with password authentication. By default SSH daemon is configured to disallow password authentication (`PasswordAuthentication no`) but when I change it to `yes`, restart SSH server and try to log in with SSH, it asks for a password and I have no idea what to enter.

[2020-01-16 11:29] ricab commented on #1307
Hi @gerco, that's interesting, thanks for the report! Before the "launch failed" message, you don't even see a "Creating ..."  or "Retrieving image" message, correct? And you get the same when doing only `multipass launch` (no other arguments)?

Do you have any particular or uncommon setup you can think of that could help us reproduce this? Like some special network or hyperkit configuration? Coul

[2020-01-16 11:33] ricab commented on #1307
For reference: https://en.cppreference.com/w/cpp/utility/optional/bad_optional_access

[2020-01-16 18:23] andersonluisribeiro opened #1309 "Unable to launch on Windows: network timeout"
Running multipass 1.0.0 on Windows 10. When I run:

` multipass launch --name ubuntu-lts --cpus 4 --mem 6G --disk 40G`

After a while I get de following error:

` launch failed: failed to download from 'http://cloud-images.ubuntu.com/releases/server/releases/bionic/release-20200107/ubuntu-18.04-server-cloudimg-amd64.img': Network timeout`

[2020-01-16 18:38] ricab opened #1310 "Unaligned ttyname/ioctl errors"
Noticed some unaligned ttyname/ioctl errors when running snapcraft with edge-channel multipass (1.1.0-dev.47+g31ad44c).

[code]

Snapcraft otherwise completes well. These messages don't appear with stable (1.0.2). Could this be related to libssh now polling for stderr?

I do not observe this when using multipass directly. This may well be under snapcraft scope, but opening an issue anyway so it ca

[2020-01-16 18:42] #1221 closed

[2020-01-17 03:18] gerco commented on #1307
I have a new 16" MacBook Pro running 10.15.2. It's basically fresh from the Apple store so I don't think there is anything particularly special about it. I erased multipass using your instructions and reinstalled it using Homebrew. Then I ran `multipass launch --name k8s --mem 4G --disk 40G` again.

I see that it's retrieving the image (takes a few minutes to download) and then Multipass reports t

[2020-01-17 09:39] Saviq commented on #1308
Hi @akunaatrium, the default user does not have a password at all (on purpose). You can set one via `passwd` or better yet, use SSH keys to log into the instance :)

I'll close this, please reopen if you think there's more to it.

[2020-01-17 09:39] #1308 closed

[2020-01-17 09:40] Saviq commented on #1305
Hi @wiradikusuma except for VirtualBox, which has a limited networking setup, you can just access it on the IP addresses found in `multipass list` and `multipass info <instance>`.

I'll close this now, please reopen if you think there's more to it.

[2020-01-17 09:40] #1305 closed

[2020-01-17 09:55] Saviq commented on #1112
Sure, I'm not saying it's a wrong location to use - rather that using the Qt API might be wrong, in case they ever change to not have that folder as the second location.

[2020-01-17 10:13] schroedermatthias opened #1311 "Keyboard shortcut conflicting with Chrome "View Source" under macOS"
introduced in 1.0.0. This is basically a very nice feature, but it should not be hardcoded but configurable.

Web developers tend to use "View Source" in Chrome, which has the exact same shortcut and is now conflicting. Multipass has now precedence and the shortcut in Chrome is no longer working.

[2020-01-17 10:19] Saviq commented on #1299
Hey @tae9yu sorry about that, that's quite confusing - when you uninstalled Multipass, did you tell it to remove all instances and data? Or, if using `brew`, did you use `brew cask zap multipass`?

[2020-01-17 12:40] ricab commented on #1307
Are you using a firewall? Little Snitch? VPN? Internet sharing?

What does `sudo lsof -iUDP:67 -n -P` give you before the time out?

Any chance you're exhausting disk or memory?

Does anything else in [this troubleshooting guide](https://discourse.ubuntu.com/t/troubleshooting-networking-on-macos/12901) help?

[2020-01-17 14:39] townsend2010 commented on #1310
@ricab,

Yes, this is due to both the `libssh` patch to fix reading `stderr` and now handling redirected `stdio` properly.  It's basically the result of `snapcraft` using the Python `subprocess.check_output` when using `sudo -i` inside the instance.  An example would be:
[code]

As far as the unaligned output, yeah, I saw that and it needs to be fixed but it's only a visual thing and doesn't affec

[2020-01-17 14:41] townsend2010 commented on #1309
Hi @andersonluisribeiro,

Hmm, does this happen every time you try to launch an instance?  Are you behind a proxy or any other sort of firewall that may prevent applications from downloading?  What happens if you try to download that same URL using another way such as a web browser?

[2020-01-17 14:49] townsend2010 commented on #885
@jl-massey,

You confirmed the daemon service is not running when the proxy is set?  The `Remote "" is unknown or unreachable.` text comes from the daemon, so I'm wondering if it really has stopped.

[2020-01-17 14:51] townsend2010 commented on #885
Also, looks like we may need to use `QNetworkProxyFactory::setUseSystemConfiguration(true)` in order for `multipassd` to use any proxies set for the system.  I'll try that and put up a package that could be tested by users affected by this.

[2020-01-17 14:52] townsend2010 commented on #1276
I'm going to dup this to #885 since it appears that it caused by the same issue.

[2020-01-17 16:01] ricab commented on #1310
Hi @townsend2010 , I see. So IIUC the issue is them using a login shell, which ends up executing `mesg`, which doesn't get a tty but needs one, correct? Not much we can do on our side I suppose.

As to the unaligned output, is that something you have seen in other cases too?

[2020-01-17 16:56] townsend2010 commented on #1276
Actually, this is not a dup of #885, but I think I understand what is happening.

So in this case, the proxies are being set for the current session.  Then the `multipass` client runs using these proxy settings for it's `gRPC` connection to the daemon.  gRPC is trying to use the proxy to route it's request to the daemon.  However, the daemon is local on the computer.  I found that in order for gRP

[2020-01-17 18:20] andersonluisribeiro commented on #1309
Hi @townsend2010. I can download image using web browser. I can download part of iso, but after a while, about 17 percent of downoad, the error happen and my internet is not slow.

[2020-01-17 19:10] townsend2010 commented on #1309
And this occurs every time the image is being downloaded?

Basically, that error is saying that a request to get a chunk of the image did not respond in 10 seconds and so the daemon determined that there is some network issue occurring and aborts the download.  We've not had any other reports that image downloads are timing out, so it really does seem network related somewhere between your machine

[2020-01-17 19:48] townsend2010 commented on #885
Hi all,

I have a test package here: [multipass-1.1.0-dev.572+g874c82a8.win-win64.exe](https://transfer.sh/MR7uZ/multipass-1.1.0-dev.572+g874c82a8.win-win64.exe)

If anyone affected by this issue could please try this and let me know if it works with a proxy set up, I would greatly appreciate it.  The link will expire 14 days from when I posted this.

Thanks!

[2020-01-17 21:38] anonymouse64 commented on #1304
FWIW, I ran into this as well, but there was not any changes to the multipass snap.

[2020-01-17 21:46] townsend2010 commented on #1304
Hey @anonymouse64,

Hmm, I looked through your provided log and it looks much different than what we determined to be at fault in this particular issue.  I'm sure the behavior is the same though :grin:

Could you please file a different issue and paste the link to the log there?  We'll follow up there later.

Thanks!

[2020-01-18 03:45] tae9yu commented on #1299
Hello @Saviq
I installed multipass using macos package and so I executed uninstall script below.
[code]
There ware no instance. microk8s vm is the first one to launch.
In my case, should I remove something else?

[2020-01-18 19:42] ascarter commented on #1112
In the Hyper-V case, there is specific configuration for setting the location of the VM's and the disk files. It would be ideal if multipass honored those settings. I believe Virtual Box has similar settings.

![image](https://user-images.githubusercontent.com/4931/72669501-3523f900-39e7-11ea-9ce6-9cfcaf0320fd.png)

[2020-01-19 02:09] zy445566 commented on #1276
it's solved my problem,thx

[2020-01-19 02:09] #1276 closed

[2020-01-19 21:30] prateekazam commented on #990
Hi ,
I am also facing the same problem.
In my case i have Window 10 Home and inside i have installed VM with Ubuntu 18.04.
I have install KVM and kvm-ok works.

However when i try to launch, it is giving below message.
timeout waiting for response.

And running list command is showing status as unknown.

Any one can help on this ? Below is hardware description

![image](https://user-images.githubu

[2020-01-20 01:17] srcshelton commented on #1248
Afraid not - this results in:
[code]

[2020-01-20 01:18] srcshelton commented on #1248
My original bug report was using the downloaded installer.  Having uninstalled, I've now tried the Homebrew cask method, and the result is the same.

[2020-01-20 01:31] srcshelton commented on #1248
Running this gets things a little further (and a macOS request to allow application notifications), but for me still no UI window:

[code]

... at which point the process _appears_ to be hanging.

[2020-01-20 09:30] tdevilleduc commented on #885
I cannot download this package; transfer.sh gives me a Not Found error

[2020-01-20 09:51] Saviq commented on #1248
Hi @srcshelton there actually isn't a window yet, do you have the status menu icon on the menu bar?

[2020-01-20 10:59] srcshelton commented on #1248
In this case, there is a generic macOS default icon in the system tray, with a dot to represent a running process - but it doesn’t proceed past this point or create any windows.  And even this only happens when the two additional (empty) directories are created.

Worth mentioning, if it makes a difference, I’m running with from a case-sensitive (APFS) filesystem.

[2020-01-20 12:21] salerio-gs opened #1313 "Windows 10 (using virtual box driver) mount failure"
Installed multipass 1.0.0+win on Windows 10 Professional and configured virtual box backend as my Windows 10 is not new enough (it's a corporate install behind a proxy btw). It seems that the auto mount of the home directory is failing (see below).

[2020-01-20 14:02] Saviq commented on #1313
Hi @salerio-gs, can you go into the instance and try yourself to see what the real issue is:
[code]

[2020-01-20 14:15] Saviq commented on #1248
Hey @srcshelton while case sensitivity shouldn't matter, except for Windows most of the filesystems we work on should be case sensitive. But that may be a symlinking problem - the installer creates the symlinks needed for the application to register properly. And those symlinks is what seems to be missing on your system…

The "generic" menu item suggests the icons are missing, these are symlinked,

[2020-01-20 14:21] Saviq commented on #990
Hi @prateekazam can you please file a new issue?

Also, as I understand it, you're running Ubuntu inside a VM (VirtualBox? VMWare? Hyper-V) and then Multipass inside it? Any reason not to use Multipass natively on Windows?

[2020-01-20 14:23] Saviq commented on #1299
@tae9yu you mean you get this issue on both macOS and Windows 10 when trying to use Multipass? This really suggests something's going wrong with the transferred file. As if someone is modifying it in flight, or that it's cached somewhere.

Anything special about your network configuration? Proxies, caches?

[2020-01-20 15:37] salerio-gs commented on #1313
Some findings...

**sudo apt-get update** fails, which I think is because I am sitting behind a corporate proxy (I have http_proxy etc defined as system environment variables in Windows 10). Adding the proxy definition to /etc/apt/apt.conf fixes that and allows installation on sshfs.

[2020-01-20 15:42] #1304 closed

[2020-01-20 15:56] samlopezic opened #1314 "Bad unicode handling on Windows"
Trying to execute multipass GUI does nothing. Also from PowerShell any command related doesn't work.

`multipass help`

Return to the prompt and no output is sent.

In Windows event viewer the error are related with  ucrtbase.dll

Nombre de la aplicación con errores: multipass.gui.exe, versión: 0.0.0.0, marca de tiempo: 0x5df97ce4
Nombre del módulo con errores: ucrtbase.dll, versión: 10.0.18362.38

[2020-01-20 16:20] anonymouse64 opened #1315 "multipassd crash"
After one of my multipass VM's went to restart (it was a Ubuntu Core 16 VM if that's relevant), multipassd crashed: https://pastebin.ubuntu.com/p/Grm5WNznRb/

There were no updates and no `snap restart` commands, etc.

[2020-01-20 16:20] anonymouse64 commented on #1304
@townsend2010 filed as https://github.com/canonical/multipass/issues/1315

[2020-01-20 16:29] ricab commented on #1314
Hi @samlopezic

Could you please try uninstalling and reinstalling [this version](https://github.com/canonical/multipass/releases/download/v1.0.0/multipass-1.0.0%2Bwin-win64.exe)? And, before closing the installer, could you please click on the "details" button while the installer is running to view the install log, and attach it here?

Can you see the multipass daemon running in the services, or

[2020-01-20 18:13] prateekazam commented on #990
Hi @Saviq ,
I have window 10 home which does not support hyper-v , therefore I am using Oracle Virtual box . I have googled it, but did not find what I am doing is correct or wrong. If you think my case should work , then I will create issue . Please let me know.

[2020-01-20 18:23] samlopezic commented on #1314
Hi @ricab

Before uninstalling/reinstalling i've checked the service and the information says **[service_main] service is running**
Other events related to the service are:

[rpc] gRPC listening on localhost:50051, SSL:on

[Qt] QIODevice::write (QFile, "C:\Windows\system32\config\systemprofile\AppData\Local\multipassd\cache\vault\multipassd-image-records.json"): device not open

[url downloader] C

[2020-01-21 00:15] laszewsk commented on #990
Windows home does not support multipass via hyper-v as hyper-v is not supported on windows home. Also it is not useful to run multipass in virtualbox, you should run it natively and use the virtualbox provider. YOU shoudl google for "multipass Windows 10 install" It will bring you to
https://discourse.ubuntu.com/t/instructions-for-enabling-disabling-virtualbox-support-on-windows-and-macos/11043 wh

[2020-01-21 08:52] salerio-gs opened #1317 "Any plans to allow the configuration of disk size, memory etc from command line?"
See title.

[2020-01-21 09:05] salerio-gs commented on #1317
Please ignore, I read the documentation, sorry :)

[2020-01-21 09:05] #1317 closed

[2020-01-21 09:54] salerio-gs commented on #1262
I faced this problem, but it seems on my system that VBoxManage has no knowledge of the VM multipass created, thus I can't do any port mapping

[2020-01-21 13:09] prateekazam commented on #990
@laszewsk  Thank you. I have installed Ubuntu and it is working now.

[2020-01-21 14:19] townsend2010 commented on #885
@tdevilleduc,

Hmm, I just tried the link and it worked for me on multiple machines.  I'm not sure what why you can't download it :frowning_face:

[2020-01-21 15:08] townsend2010 commented on #1315
Hey @anonymouse64,

Thanks for posting this!

Looking through the logs, it looks like a `start` was issued on the instance while it was in the process of `restarting`.  Do you happen to remember if you issued a `multipass start` on the core16 instance?  Although I do see a bug in our state handling in this case, I'd like to confirm if this is indeed what happened to you.  Otherwise, I really see n

[2020-01-21 15:38] #1003 closed

[2020-01-21 17:30] anonymouse64 commented on #1315
@townsend2010 I don't recall which multipass command I issued, it's likely I ran `multipass shell` a minute or two after the machine stopped to reboot itself.

[2020-01-21 17:51] townsend2010 commented on #1315
@anonymouse64, ah, yes, `shell` would probably do it to.  I think we are not accounting for the `restarting` state very well which is leading to this.  Thanks and I'll work on a fix!

[2020-01-21 21:00] robbles commented on #1258
Same issue on Sierra (10.12.6).

[2020-01-22 11:15] #1315 closed

[2020-01-22 18:12] kramik1 commented on #1158
Just to save some people some time, the below is for Ubuntu 19.10.

sudo systemctl stop snap.multipass.multipassd.service
sudo vi /var/snap/multipass/common/data/multipassd/multipassd-vm-instances.json
sudo systemctl start snap.multipass.multipassd.service

[2020-01-22 19:00] ricab commented on #1314
Thanks, the install log looks good.

This message means that multipass failed to retrieve update data, and I wonder if it is feeding some junk to clients that they don't handle well. I tried a few things but so far I could not reproduce.

If you restart the multipass service, do you always get the `multipass.run` error in the log? And if you stop the service completely and then run `multipass help

[2020-01-22 22:17] #882 closed

[2020-01-22 23:45] ascarter opened #1321 "Network not starting on Hyper-V VM"
Repro:

* `multipass launch`
* Launch Hyper-V manager
* Connect to created VM to see the console
* Hangs after mounting `sda1` with I/O error: dev fd0
* Eventually comes to login prompt in console
* Multipass times out
* `multipass list` shows running but IPv4 is `UNKNOWN`
* `multipass shell <vm>` fails

Here is a capture of the console output in Hyper-V:

![image](https://user-images.githubuserco

[2020-01-22 23:54] ascarter commented on #1321
I think the fd0 issue is not the cause. I rebooted and observed it starting up via Hyper-V console. I saw the same fd0 errors but it quickly went to the login screen and continued. I think something else is happening with the network.

Happy to provide further diagnostics if some guidance on what to look at. I've seen this happen twice now so I'm guessing it will happen again on my machine.

[2020-01-23 01:26] samlopezic commented on #1314
Answering your questions:
- The service itself doesn't give me any error stoping or restarting.
- After stopping the service i executed the commands (cmd and admin PS). Same results and error log in event viewer. Is this normal behavior? Doesn't need the service to run the commands?
- The $LASTEXITCODE is -1073740791
Also i've attached a crash report. Maybe it'll be useful.
[ReportCrash.txt](https

[2020-01-23 07:16] Saviq commented on #1321
Hi @ascarter, indeed the fd0 errors are benign (that's the floppy disk…), what it looks like is that Windows' Internet Connection Sharing is sometimes wonky for you.

Would you please have a look at [our docs on troubleshooting that on Windows](https://multipass.run/docs/troubleshooting-networking-on-windows) and see if there's anything that helps the next time you get this?

Did your instances ac

[2020-01-23 09:49] grumbach commented on #1248
Hello @Saviq, I ran into the same problem :
- on `Darwin 18.7.0 Darwin Kernel Version 18.7.0: Sun Dec  1 18:59:03 PST 2019; root:xnu-4903.278.19~1/RELEASE_X86_64 x86_64`
- on a case sensitive filesystem
[code]
Uninstalled, installed back using the commands you provided above, but there's still a diff when I run tree : there is no `platforms` symlink in `/Library/Application\ Support/com.canonical.

[2020-01-23 11:48] ricab commented on #1314
Thanks for the report. I am afraid I did not find any clue in there, except maybe the version mismatch below.

`multipass help` does not need to contact the daemon, it should work without it. So the failure getting update data is unrelated to this.

Exception 0xc0000409 means [stack buffer overflow](https://msrc-blog.microsoft.com/2009/01/28/stack-overflow-stack-exhaustion-not-the-same-as-stack-bu

[2020-01-23 11:57] srcshelton commented on #1248
Looks as if `multipass.gui.app/Contents/MacOS/plugins/platforms/platforms` (which is effectively a symlink to `.`?) is missing:

[code]

[2020-01-23 12:17] ricab commented on #1314
A couple more things that could be worth trying:

- check your ucrtbase.dll [for viruses](https://www.virustotal.com)
- Fix Windows Update errors by using the [DISM](https://support.microsoft.com/en-in/help/947821/fix-windows-update-errors-by-using-the-dism-or-system-update-readiness) or System Update Readiness tool

[2020-01-23 12:49] samlopezic commented on #1314
Yeah, i think it's something with my system. As developer i tend to install plenty of tools (Docker, some Visual Studio versions, Virtual Machines, etc.) and some of them could be the culprit. Multipass was another tool that get my attention but the final purpose was setting up a devops workflow with k8s on Ubuntu.

The version mismatch also could be because my machine came with W10 Home and later

[2020-01-23 15:41] ricab commented on #1314
OK, yeah please do let us know if you find anything else about this.

The visualcpp we use if you want to try it: https://chocolatey.org/packages/visualcpp-build-tools

I will keep this open for a while, in case someone else experiences the same thing.

[2020-01-23 16:47] volomike commented on #30
This bug is not fixed on Mac OS 10.14.6 Mojave. And when I restart the shell and try to do:

[code]

It won't work because the `apt-get update` fails to reach the server and I can't even ping archive.ubuntu.com.

[2020-01-23 17:55] cjp256 opened #1322 "`Transport endpoint is not connected` with snapcraft (large files)"
Ian Johnson reported an issue he was having with snapcraft on a project with large images.  I tried to reproduce with roughly the following steps:

Create a 10G file in a project (any project):

[code]

Builds with multipass fine some number of times:

[code]

At some point:

[code]

Journal logs show an interesting crash:

[code]

[2020-01-23 17:56] cjp256 commented on #1322
Using multipass 1.0.2.

[2020-01-23 18:22] ascarter commented on #1321
@Saviq the instance did eventually start but the network was in a state that I couldn't connect. And since the login is password less I can't login in the Hyper-V console.

Entirely possible this is a Hyper-V issues. I'll go through those troubleshooting steps if I get it back in this state. I'll close the issue until I have anything more concrete to share. Thanks.

[2020-01-23 19:57] townsend2010 commented on #1322
Hi @cjp256,

I've been trying to reproduce this with no luck, but I'm not really sure if I completely follow your repro steps.

I'm using multipass itself as the project to build.  I then create the 10GB file in the multipass directory.  Then I just keep doing `SNAPCRAFT_BUILD_ENVIRONMENT=multipass snapcraft` over and over without doing anything else, right?

[2020-01-23 20:23] volomike commented on #30
I just resolved my problem on the Mac. I edited `/etc/resolv.conf` and added `nameserver 1.1.1.1` as the top line above the other nameserver line. I could then do `dig google.ie` properly. At that point, I could do `apt-get update` and then could run `apt-get install sshfs`

[2020-01-23 21:00] townsend2010 commented on #1258
For reference: https://stackoverflow.com/questions/58469837/how-do-i-include-a-particular-version-of-the-c-library-in-a-mac-os-bundle-made

[2020-01-23 22:50] ascarter commented on #1321
I'm seeing the following in the Windows Logs -> Application in Event Viewer:

[code]

The file seems to be in use:

[code]

Stopping the multipass service and clearing the cache gets me back in working order. Note that I am creating and deleting lots of VM's as I am doing my dev/test cycle. So this might be an usual scenario. It may be reproducible by simply scripting lots of create/deletes as a s

[2020-01-23 22:52] ascarter commented on #1321
Also note that I keep seeing old instances come back to C:\Windows\System32\drivers\etc\hosts.ics:

[code]

This is the current multipass list of vm's:

[code]

[2020-01-24 02:14] BenWibking commented on #1247
This would also be very useful to disable cgroups v1, allowing unprivileged users to create their own child cgroups.

[2020-01-24 07:38] NerdsvilleCEO commented on #567
@Saviq if I may chime in, I am planning on using multipass to host a docker host for example which IntelliJ (or another editor) would use docker to send code to a remote interpreter for IDE specific features.

What would be the easiest way to maintain this without having to create and manually copy over the IP address and change if it updates?

[2020-01-24 15:50] cjp256 commented on #1322
@townsend2010 Yeah, though I did it by hand.  Admittedly I had killed some running builds a couple times and other things to try to flush it out, but do not believe I did so immediately preceding the error.

I will run a script to try and reproduce this in a clean environment and report back.  Thanks @townsend2010 !

[2020-01-24 16:37] olibanjoli opened #1323 "Windows Server 2016 support"
Are there any plans to support windows server 2016?

[2020-01-24 17:07] 6umpukc-uHKBu3umop commented on #460
`sudo chown user:users /var/snap/multipass/common/multipass_socket`

fix for ArchLinux

[2020-01-24 19:25] townsend2010 commented on #1258
Could someone affected by this please post the output of `nm -gU /usr/lib/libc++.1.dylib | grep optional`?

Thanks!

[2020-01-24 20:36] panlinux commented on #140
I just experienced the same need. I have a bionic vm running, that I launched earlier today, and now when I launched another bionic vm, multipass started downloading it again.

[2020-01-24 20:52] townsend2010 commented on #1258
I *think* I may have found the root cause of this.  Could anyone affected by this please try a [test Multipass package](https://transfer.sh/PatQj/multipass-1.1.0-dev.594+gbbfa89bd.mac-Darwin.pkg)?

Thanks!

[2020-01-25 19:39] ascarter commented on #1321
@Saviq a few more updates. I think this might be related to dropping and recreating the same VM name over and over. I hit the can't remove cached file error. Restarting multipass and then recreating the VM seems to then work. I get this is an unusual scenario (repeatedly adding/dropping a vm with the same name) but somehow mutipassd seems to hold onto a file that needs to be deleted which causes i

[2020-01-26 22:36] alexellis commented on #1260
How are you planning on dealing with networking? I had issues getting any examples for qemu on MacOS to work for port mapping.

[2020-01-27 08:53] brandonxiang commented on #1307
Any solution?

[2020-01-27 09:05] brandonxiang commented on #1307
Finally, I found out multipass cannot launch with VPN. When I turned off VPN, the VM is running.

[2020-01-27 17:59] quidryan commented on #1259
@townsend2010 The link to multipass-1.1.0-dev.564+g65045877.mac-Darwin.pkg file is no longer valid. Where can I find another build to try out?

[2020-01-27 18:10] townsend2010 commented on #1259
Hi @quidryan,

The build found [here](https://github.com/canonical/multipass/pull/1324#issuecomment-578296013) will have the bits in it that fixes this particular issue (and some unrelated issues).

Thanks!

[2020-01-28 00:21] indrayam commented on #1039
I could not agree more with @dominikborkowski. I was excited about getting multipass to be my tool of choice to spin a quick and custom Bionic-based VM. Unfortunately, my startup keeps timing out after working just fine earlier today.

Now, instead of getting a good error message, I am trying to figure out what do I need to change (or take out) to make things work.

👎

[2020-01-28 03:30] gerco commented on #1307
Only the built-in OS X Firewall. Turning it off makes no difference, however, even after a reboot.

    gerco@gdrpro ~ % sudo lsof -iUDP:67 -n -P
    COMMAND PID USER   FD   TYPE            DEVICE SIZE/OFF NODE NAME
    launchd   1 root   59u  IPv4 0x9f2a856a250b88f      0t0  UDP *:67
    launchd   1 root   60u  IPv4 0x9f2a856a250b88f      0t0  UDP *:67

Not even close 12GB of RAM free and just ov

[2020-01-28 13:08] ricab commented on #1307
Interesting, thanks for the info. I am investigating and will get back to you.

[2020-01-28 13:19] townsend2010 commented on #1039
Hi @indrayam,

Is it timing out at the `Waiting for initialization` stage of `launch`?  If so, then that only indicates that `cloud-init` hasn't finished, but the instance is up and running.  Depending on the order of `cloud-init` and if the user and ssh keys are set up, you could even `multipass shell` using a different terminal.

We will work on a solution for this, it's just not the highest pri

[2020-01-28 17:27] asishrs commented on #885
I know this is Windows specific thread, I am facing similar issue on Mac `launch failed: Remote "" is unknown or unreachable.` Any trouble shooting help?

[2020-01-28 17:30] townsend2010 commented on #885
Hi @asishrs,

You are using a proxy on your Mac?  If so, then I can try to build and upload a Mac test package like what I have for Windows.

Thanks!

[2020-01-28 18:15] townsend2010 commented on #885
Hey all,

I found that `transfer.sh` is having issues, so yeah, the Windows test package is not available.  Please [try this](https://file.io/zJY0Jn) and hopefully it will work.

[2020-01-28 18:21] tdevilleduc commented on #885
Hi @townsend2010 !

Thank you for that last link, but it gives me a 404 :(

[2020-01-28 18:31] asishrs commented on #885
Yes, I need to use a proxy to connect to internet.

[2020-01-28 18:35] townsend2010 commented on #885
Hi @tdevilleduc,

Hrmph, not sure what is going on with the various file sharing sites.  Please try https://file.io/Atq1v8.

Thanks!

[2020-01-28 18:43] townsend2010 commented on #885
Hi @asishrs,

I can work on making a test package available to you much in the same way for the Windows test package.

[2020-01-28 19:08] tdevilleduc commented on #885
I had downloaded the file and send it to me by email; I will try tomorrow and tell you

[2020-01-28 19:20] townsend2010 commented on #885
@tdevilleduc,

Great, thanks!

[2020-01-28 19:21] townsend2010 commented on #885
Hey all,

Anyone else that may be affected can also try downloading this at https://easyupload.io/7bu9t2.  The link will expire 15 days from today.

Thanks!

[2020-01-28 19:59] ricab commented on #1307
Hi @gerco. I tried a lot of stuff to reproduce but couldn't. The Docker clue sounded promising, but I installed and reinstalled it, interleaved multipass un/reinstalls, configured the subnet to overlap with multipass (192.168.64.0/24), launched kubernetes through docker, etc. Multipass always behaved normally alongside it.

I also un/ticked all the options of the built-in firewall in settings, jus

[2020-01-28 20:49] townsend2010 commented on #1258
Hey all,

It looks like `transfer.sh` is having problems, so please try the package found at https://easyupload.io/noxhg8.

Thanks!

[2020-01-29 06:22] dbrennan commented on #1252
Is there any possibility of using extended attributes of NTFS if that is the underlying Windows filesystem? Sorry I'm not up to speed on how the mount passthru works and if this is even feasible, but it's one idea.

[2020-01-29 09:22] tdevilleduc commented on #885
So i tried it behind proxy and i have this result :

[code]

[code]

[code]

[2020-01-29 12:13] townsend2010 commented on #885
Hi @tdevilleduc,

Thanks for trying this.  Too bad it didn't work :frowning_face:

There should be a message in the Event Log that gives us a bit more information.  It will have `Could not update manifest:` and then a reason for the failure.  Could you please see if you can find this message and post it here?

Also, does your proxy require any sort of authentication?

Thanks for helping with this!

[2020-01-29 12:28] townsend2010 commented on #885
Hey @tdevilleduc,

Also, could you please share exactly how you set your proxy settings?  Are they just the regular `http_proxy` and friends environment variables or did you use the `proxycfg.exe` tool on Windows?

And I assume this is system wide such that other Internet applications just pick up the proxy settings automatically, right?

[2020-01-29 12:51] tdevilleduc commented on #885
I looked at event log and i get this message
`
[VMImageHost] Could not update manifest: failed to download from 'http://cloud-images.ubuntu.com/minimal/releases/xenial/release/ubuntu-16.04-minimal-cloudimg-amd64-disk1.img': Proxy requires authentication
`

About my proxy configuration i have defined HTTP_PROXY and HTTPS_PROXY environment variable (user variables) with login/password in it

[2020-01-29 14:07] townsend2010 commented on #885
@tdevilleduc,

Great, thanks!  So it is definitely trying to use the proxy and I'm guessing before I put the change in, it didn't even try.  As an experiment to make sure I'm on the right track, could you please try the release version of Multipass and see what that error is?

What happens with your other applications that try to use the proxy?  Do they pop up a window for you to enter the proxy c

[2020-01-29 14:18] tdevilleduc commented on #885
I downloaded and installed multipass 1.0.0
Here is evenlogs:
`
[main] calling service ctrl dispatcher
[service_main] registering control handler
[service_main] service is running
[update] Failed to fetch update info: failed to download from 'https://multipass.run/static/latest-release.json': Proxy requires authentication
[rpc] gRPC listening on localhost:50051, SSL:on
[Qt] QIODevice::write (QFile,

[2020-01-29 14:39] townsend2010 commented on #885
Hey @tdevilleduc,

Thanks so much for the details.  So it looks like even without my change, it was aware of the proxy.

And you already have the credentials in the env vars, so I'll see what we can do to be able to parse that out and use it.

I'll reply here if I have a test package for you to try or any other info.

Thanks again!

[2020-01-29 15:16] townsend2010 commented on #885
Hi @asishrs,

On your Mac, are you using proxy authentication like in https://github.com/canonical/multipass/issues/885#issuecomment-579775732?

Also, how are you setting your proxy configuration on Mac?

[2020-01-29 16:11] davigar15 opened #1325 "Multipass can't mount ecryptfs folders on the host"
Hello,

I was trying to build a snap with snapcraft, and it could mount local files to multipass. I replicated the error by creating a vm in multipass, and trying to mount a folder. It works if the folder is /tmp, but not if the folder is under $HOME/

My computer has encryption in the home folder.

I attach the steps I executed in the terminal, the output of journal -f and the output of `mount` i

[2020-01-29 16:12] swissguest commented on #1215
+1 urgent need for customized location of vm images here, including ability to move *existing* images to different location

Unfortunately, I already had a number of vm images prepared earlier last year (on multipass version 0.7), and /var/snap/multipass/common/data/multipassd/vault/instances was linked to a separate disk due to space requirements. Today I noticed that multipass was updated to 1.0

[2020-01-29 16:23] townsend2010 commented on #1325
Hi @davigar15,

I'm wondering if the `.` for your current directory is being handled correctly.  In the meantime, you could use `$HOME` or `~/` instead.  Let me know if that works for you and we'll investigate the use of `.`.

[2020-01-29 16:32] cjp256 commented on #1325
@townsend2010 It looked like the data for his project was not correctly surfacing in the multipass VM.

Of interest to me was that @davigar15 is using ecryptfs on his home directory, which prompted me to ask him to try using /tmp instead.  The project built as expected in /tmp.

[code]

[2020-01-29 16:43] townsend2010 commented on #1325
Ok, I'm not sure I follow, but I'll explain what I *think* is the issue :grin:

So if the current directory on the host is `$HOME` and `multipass mount  . test1804:/home/ubuntu/test` is issued, there is nothing in the mount in the instance and if the current directory is `/tmp` on the host and `multipass mount  . test1804:/home/ubuntu/test` is issued,  then there are files in the mount in the inst

[2020-01-29 17:17] townsend2010 commented on #1325
Looking at the log provided, it looks like the mount process for `test1804` crashed at exactly the same time as an instance named ` snapcraft-organize-command` powered off.  That seems quite suspicious :thinking:

[2020-01-29 22:22] cjp256 commented on #1325
Yeah you nailed it @townsend2010.  I did repro independently:

[code]

[2020-01-30 04:57] dbrennan opened #1326 "Windows shell long line wrapping overwrites line and doesn't wrap properly"
When line goes past terminal width in cmd or new Windows terminal it linefeeds, but cursor goes back to the beginning of the same line. Editing is basically messed up at that point and you can't get back to a readable version of what you've typed. Also a problem when pasting long lines in from somewhere else.

[2020-01-30 10:19] jfmc opened #1327 "stty size not updated on macOS"
When resizing a terminal window (both Terminal.app and iTerm2), the value returned by `stty size` is not updated w.r.t. the initial value when it is run from a `multipass shell`.

[2020-01-30 13:47] townsend2010 commented on #1325
Hey @cjp256,

Thanks for the repro steps.  We'll have to investigate how to handle this, but we'll take note that `ecryptfs` based mounts are not supported right now.

[2020-01-30 19:37] bartaz opened #1329 "Multipass.app GUI steals CMD+OPTION+U shortcut"
On macOS Cmd+Option+U shortcut is used by browsers as a shortcut for view source (both in Chrome and Firefox, possibly others as well).

Multipass.app GUI seems to be stealing this shortcut for opening terminal in primary instance.

[2020-01-30 20:03] townsend2010 commented on #1329
Hey @bartaz,

Yep, this is a duplicate of #1311.  We're thinking how best to address this.

Thanks!

[2020-01-30 20:03] #1329 closed

[2020-01-31 05:06] asishrs commented on #885
is that question about the proxy settings system-wide vs console? If so, the setting is for a console.

[2020-01-31 07:51] grebennikov commented on #706
Same here. Windows 10 enterprise, fresh multipass install. Following the exact guide - getting timeout on VM start.

[2020-01-31 11:43] tae9yu commented on #1299
I don't know what was the problem, vm launch is done for now without any change my system.
Thank you for the help @Saviq

[2020-01-31 13:05] beilmit commented on #1258
Hi @townsend2010
I tested the operation using the specified test package on my environment. The results are as follows.

[code]

[2020-01-31 13:39] townsend2010 commented on #1258
@beilmit,

Thanks so much for testing this!  Too bad it didn't fix the issue.  I'm going to have to try something else to help me reproduce this so I can properly debug and try to find a fix.

One interesting thing I see in your output though is that the version of Qt we are using requires OSX 10.12 or later, so we will need to update our minimum OSX version we support.

[2020-01-31 14:23] townsend2010 opened #1330 "Need to update the minimum OSX version supported due to Qt support"
As seen in https://github.com/canonical/multipass/issues/1258#issuecomment-580725681, OSX versions older than 10.12.0 do not support the Qt version we include in the package.

We either need to downgrade the Qt version we include or update what the minimum OSX version Multipass supports.

[2020-01-31 14:54] townsend2010 commented on #1258
After doing more research on this issue, it seems the recommended option is to build using the oldest OSX version we support.  See https://stackoverflow.com/questions/15091105/confusion-of-how-to-make-osx-app-backward-compatible-how-to-test-them for more info.

We currently build on 10.13, so we need to decide if 10.13 is the minimum version we support or build on 10.12 (or earlier) (if we can).

[2020-01-31 15:11] townsend2010 commented on #885
Hi @asishrs,

Well, I meant how are you setting up your proxy configuration?  Any details would be helpful as I work on a solution for this.

Thanks!

[2020-01-31 21:51] chriswgibson commented on #1326
I have the exact same issue in MacOS terminal

[2020-02-01 04:19] asishrs commented on #885
My proxy settings are as below.
[code]

I set this in the console before executing multipass commands.

[2020-02-01 11:19] bartaz commented on #1240
Yes, monocolor icons change between light/dark themes.
From what I understand when reading about the topic it can be done using "template images" https://developer.apple.com/documentation/appkit/nsimage/1520017-istemplate
As far as I understand it's a monochromatic image that adapts to light/dark theme.

<img width="446" alt="Screenshot 2020-02-01 at 12 03 41" src="https://user-images.githubuserco

[2020-02-02 06:29] k33g commented on #567
I would like to rekindle this issue. Most of the time I use VirtualBox on OSX + Vagrant and I add this in my `Vagrantfile`:

[code]

and it's useful for me (as I'm using several VMs at the same time) because I can "give" a domain name to every VM in my `hosts` file (on OSX)

[code]

[2020-02-02 12:31] felipecruz91 commented on #913
I am having the same issue - There is no way to access a Multipass VM directly using SSH?

[2020-02-03 15:31] JonTheNiceGuy commented on #309
Can I also request another feature?

`bridge <NICNAME>` == `vboxmanage modifyvm "VM name" --nic2 bridged --bridgeadapter2 NICNAME`

`unbridge <NICNAME>` == `vboxmanage modify "VM name" --nic2 none`

[2020-02-03 15:32] JonTheNiceGuy opened #1333 "Port Forwarding with VirtualBox on Windows"
I have installed MultiPass on a Windows system (`Microsoft Windows [Version 10.0.17134.1130]`), and configured it to use Virtualbox (`multipass set local.driver=virtualbox`). All good, so far!

Like others have noted, when using the VirtualBox backend, you don't get an IPv4 address which is fine, but I'm able to configure any port forwarding or bridging, this is because MultiPass on Windows uses t

[2020-02-03 15:42] Saviq commented on #1215
Here's a [related post on the snapcraft forums](https://forum.snapcraft.io/t/moved-var-lib-snapd-into-home-snapd-and-symlicked-back-snaps-fail-to-start/15272).

[2020-02-03 16:48] Saviq commented on #1333
Hi @JonTheNiceGuy, thanks for a detailed write-up.

There's a balance that we try to maintain between features and usability, thinking hard before we introduce a feature inside Multipass. Most of our hypervisors create a virtual network segment, so port forwarding is not that as much of a requirement as it is for VirtualBox, which is at least part of why it never got done. But we recognize the nee

[2020-02-03 16:49] Saviq commented on #1333
On another note, you can use `psexec.exe -s -i VirtualBox.exe` or `psexec.exe -s VBoxManage.exe…` to control the system user's VirtualBox instance.

[2020-02-03 17:07] Saviq commented on #309
@JonTheNiceGuy that would be #118 - remember we need to be able to support the features across all of the hypervisors, not everywhere it is as easy as this :)

[2020-02-03 17:30] skylinetech-team commented on #1248
after switching to the latest suggested zsh on Mac, this is now the common issue for all the shells including zsh.

even when running some used to be working python script with open cv showing the same issues now - which leads to python abort ...

any suggestions or solution for this issue ?

thanks

[2020-02-03 17:33] skylinetech-team commented on #1248
markhu@Marks-MacBook-Air ball-tracking % python -V
Python 3.6.8
markhu@Marks-MacBook-Air ball-tracking %
markhu@Marks-MacBook-Air ball-tracking % python track_the_ball.py
qt.qpa.plugin: Could not find the Qt platform plugin "cocoa" in ""
This application failed to start because no Qt platform plugin could be initialized. Reinstalling the application may fix this problem.

zsh: abort      /Library/

[2020-02-03 19:29] ricab commented on #1326
Hi @dbrennan, it seems we need to tweak our `stty` options. Meanwhile, if you issue `stty ocrnl` inside the instance's shell, does that work for you?

[2020-02-03 19:44] dlehenky opened #1334 "Change user_id?"
How can I mod the ubuntu install image to have a different user_id than "ubuntu"?

[2020-02-03 19:50] ricab commented on #1327
HI @jfmc thanks for reporting this. I confirm the columns are not getting updated. When increasing them, this results in the same thing that is described in #1326. A different solution will be needed though.

For now, `stty cols N` should workaround the issue, where `N` corresponds to the window size shown at the terminal's title bar. Does that fix it for you?

[2020-02-03 19:51] ricab commented on #1326
Hi @chriswgibson, did you happen to resize the window where you got this? If so, does the workaround in #1327 work for you?

[2020-02-03 20:08] moonlight16 opened #1335 "Bricked instance prevents me from re-using the same name"
I had a multipass instance called 'myserver' running on my Macbook.  Today, I found I can no longer get it running.  I decided to delete and purge the instance and I'm no longer able to reuse the same instance name 'myserver'.  I've tried uninstall and reinstall multipass and still cannot create a 'myserver'.   I am able to create a primary instance, and any other instance with anything other than

[2020-02-03 23:13] funkypenguin opened #1336 "Multipass VMs don't route traffic over VPN established on host (MacOS)"
Hey folks,

On MacOS, I use Tunnelblick to establish a VPN to my datacenter. Specific routes are added to my host routing table (192.168.33.0/24, in this case), a datacenter host is reachable via the host OS.

[code]

When I launch and shell into a Multipass VM, the VM does _not_ have access to the datacenter host:

[code]

Interestingly, when I switch to virtualbox support, with `sudo multipass s

[2020-02-04 10:33] ricab commented on #1248
@skylinetech-team is multipass involved in any way?

[2020-02-04 11:11] jnummelin opened #1337 "[OSX] Machines use more mem than configured with"
Not sure if this is "just" some reporting issue, but it _seems_ that my multipass machines use about the double mem I've created them with:
[code]

But OSX reports them using almost 8G:
![image](https://user-images.githubusercontent.com/3205505/73739472-f2844f80-474e-11ea-869b-b5cca48e0629.png)

Looking at the process itself, seems multipass is lauched with correct options:
[code]

[2020-02-04 11:17] jnummelin commented on #1337
top reports also same ~8G usage:
![image](https://user-images.githubusercontent.com/3205505/73740367-bfdb5680-4750-11ea-9813-df8513fea687.png)

[2020-02-04 11:29] ricab commented on #1334
Hi @dlehenky, you can add users with [cloud-init](https://cloudinit.readthedocs.io/en/latest/topics/examples.html), e.g.:

[code]

Changing the default user is planned but not done yet (see #929).

[2020-02-04 12:48] JonTheNiceGuy commented on #1333
I don't think this is exactly a Duplicate - there are separate and fun issues around the privilege model within Windows (like the psexec thing). So, there are some documentation changes I'd like to see off the back of this - noting the psexec part for getting access to VirtualBox would be a big start :smile: I don't know if that's part of this ticket or a separate one.

I've now used psexec, and s

[2020-02-04 12:48] JonTheNiceGuy commented on #309
Fair comment :)

[2020-02-04 16:52] dlehenky commented on #1334
Thank you very much! Just an old fart geek here; this stuff is both exciting and foreign to me :) Keep on learning!

[2020-02-04 17:33] jfmc commented on #1327
Thanks @ricab!

Resizing a terminal with an open `emacs` inside is a bit cumbersome, but this works for me:
 - whenever the terminal size change press C-z to suspend emacs
 - set new size with `stty cols N`+`stty rows M`
 - bring emacs back to foreground with the `fg` command

[2020-02-04 17:46] ricab commented on #1334
No problem @dlehenky, happy to help!

[2020-02-04 17:46] #1334 closed

[2020-02-04 19:36] volanavlad opened #1338 "bridge"

[2020-02-04 19:36] #1338 closed

[2020-02-04 20:38] skylinetech-team commented on #1248
@ricab the error showed up on mac OS always, regardless the code uses multipass directly or not, what's the fix for getting rid this kind of error on mac OS ?

[2020-02-05 11:16] ricab commented on #1248
@skylinetech-team We're concerned only with multipass here.

[2020-02-05 12:28] amrox commented on #1336
I just ran into this problem yesterday too!

It may be obvious, but I'll point out that an ubuntu docker image works fine.

I'd be happy to share information to help diagnose the issue.

[2020-02-05 15:49] hellsworth commented on #1322
I see this issue frequently when building [gnome-3-34-1804-sdk](https://gitlab.gnome.org/Community/Ubuntu/gnome-sdk/tree/gnome-3-34-1804-sdk). Once it starts happening, it happens almost every time until I `snap restart multipass`. Even then, I might still need to delete the vm all together and purge.

Are there extra multipass logs somewhere outside of journalctl that I could watch when this does

[2020-02-05 16:09] bmatthewshea opened #1339 "Improvement - Windows installer version check"
Under Windows 10 (LTSB) build 1607 you get this error (or any older type build I assume):
_"launch failed: Multipass requires at least Windows 10 version 1803. Please update your system."_

(And yes I do see the warning when you download it.. didn't realize mine was 'locked on' 1607 when I dloaded..)

If Multipass requires Windows 10 - Build 1803 (or greater) for whatever reason, the Windows Nulls

[2020-02-06 17:07] digitalcoyote commented on #1339
The [Chocolatey installer](https://chocolatey.org/packages/multipass) does check the Windows version/edition before downloading and installing Multipass. And I believe the Build number that is the minumum is 17134 (equivalent to Win 10 1803).

[2020-02-06 19:20] townsend2010 commented on #1322
Hey @hellsworth,

Thanks for the additional data point about how you get this issue!

No, that's where we put the logs.  Unfortunately, in how we manage to work our host side sftp server and `sshfs` inside the instance, we loose output since we are in effect, redirecting `stdio`.  However,  I will try building that snap and if I can reproduce, I can break in with a debugger and poke around.

[2020-02-06 19:24] hellsworth commented on #1322
Another thing worth noting is that I'm often building several things in parallel with multipass. Once this issue arises in one build, they all exhibit this issue. So you might try to get several parallel builds of whatever snaps going too.

[2020-02-06 19:48] townsend2010 commented on #1322
We are also working on using an updated `libfuse`/`sshfs` combo inside instances.  See #1328.  These are much, much more recent than what is in the archive and may address this issue.  If anyone is willing to try it and report back the results, we would greatly appreciate it. :grin:

In order to test, you'll need to follow the instructions at https://github.com/canonical/multipass/pull/1328#issuec

[2020-02-06 20:09] digitalcoyote commented on #1339
@bmatthewshea you should be able to use it on older versions of Win 10 by using Virtual Box instead of Hyper-V by running `multipass set local.driver=virtualbox`.

[2020-02-06 22:37] hellsworth commented on #1322
Ah ok maybe the updated sshfs will do the trick! The error just started occuring on my system again. I was building gnome-3-34-1804-sdk and drawing at the same time. Here are the system logs but it's line 16 that stands out to me:
[code]
[multipass-syslog.log](https://github.com/canonical/multipass/files/4168059/multipass-syslog.log)

I've just refreshed to this new multipass. Is there anything in

[2020-02-06 22:53] CrossBound opened #1341 "Multipass support for Hyper-V requires Windows 10"
I have downloaded Multipass from the website, version is 1.0.0+win. When I run `multipass shell` I get the error `launch failed: Multipass support for Hyper-V requires Windows 10`

I am running Windows 10 Enterprise 1809 (Build 17763.973) x64.

[2020-02-06 22:56] CrossBound commented on #1341
According to this page [https://multipass.run/docs/installing-on-windows](https://multipass.run/docs/installing-on-windows) it sounds like anything later than 1803 should be supported, but I'm on 1809 and still getting the error.

[2020-02-07 01:27] indrayam commented on #1262
@Saviq Are you saying that despite the fact that “multipass list” command does not display any IP when the local.driver is VirtualBox, that there is still a way to access ports (like Nginx or Kubernetes API server ports) from the local host? Any pointers/documentation on how to do it?

[2020-02-07 08:30] Saviq commented on #1262
@salerio-gs did you use `psexec.exe -s` before the `VBoxManage` command?

@indrayam yes, by means of VBox's internal port forwarding. See [the vboxmanage manual](https://www.virtualbox.org/manual/ch06.html#natforward) I mentioned above.

[2020-02-07 08:38] salerio-gs commented on #1262
@Saviq no

[2020-02-07 08:40] Saviq commented on #1262
@salerio-gs you'll need that, the VMs are defined under the SYSTEM user's VirtualBox profile.

[2020-02-07 10:08] matthewpaulthomas commented on #1311
Bother. I was going by [Microsoft’s list of Windows keyboard shortcuts](https://support.microsoft.com/en-gb/help/12445/windows-keyboard-shortcuts). and I didn’t consider that a third-party app might use Ctrl+Alt+anything.

Any suggestions for a replacement?

[2020-02-07 11:21] ricab commented on #1311
I'm not sure we could have chosen a better default. I don't have a suggestion for that, but I think this should be configurable.

Whatever shortcut we choose, there can always be something else using the same. For development, in particular, the keyboard tends to be used up a lot. For instance, CLion alone probably uses most ctrl+alt+\<key\> combinations (Ctrl+Alt+U included). And people have thei

[2020-02-07 11:44] Saviq commented on #1311
+1 on this being configurable, fortunately it's simply a string, but we may need to translate some combinations of "Cmd", "Option", "⌘⌥" into what Qt expects.

[2020-02-07 11:49] Saviq commented on #1341
Hi @CrossBound, could you please let us know the output of this command in PowerShell?

[code]

If that number isn't "10" (which is what we compare), something's weird with your system…

[2020-02-07 11:53] Saviq commented on #826
Hi @digitalcoyote I see [Multipass is in Chocolatey now](https://chocolatey.org/packages/multipass), awesome, thank you!

Let us know please if there's anything we can improve / fix :)

[2020-02-07 11:53] #826 closed

[2020-02-07 12:09] townsend2010 commented on #1322
Hi @hellsworth,

Thanks for trying out the test package.  I'm going to continue to try to reproduce given some of your additional data points.

Thanks again!

[2020-02-07 12:12] townsend2010 commented on #1322
I should also note that based on the first logs here and the new logs by @hellsworth, a key to this is multiple snap builds in a parallel.  The first logs also indicate this was the case as well.

[2020-02-07 12:22] townsend2010 commented on #1322
Also, the `Transport endpoint is not connected` error indicates that the fuse mount in the instance is in a bad state (obviously :grin:) and will need to be manually unmounted.  To do that, try `sudo fusermount -u /root/project`.

[2020-02-07 14:09] townsend2010 commented on #1322
Ok, I reproduced this using the parallel builds and the logs have the same crash signatures as the other logs.  I think I have to debug this for now.

Thanks for all of the help!  I'll work on a fix after I understand *why* this happening :grin:

[2020-02-07 15:10] lowemasterpro commented on #1258
I'm (currently) running Sierra (10.12.6) and was able to install and run the multipass client from your test package which got me around the original missing symbol issue mentioned by the OP. However, it looks like `multipassd` has the same issue. Any command issued to `multipass` results in the error:

[code]

Executing `multipassd` directly I run into our old friend once again:

[code]

So whate

[2020-02-07 16:35] hellsworth commented on #1322
@townsend2010 thanks! When you have a new multipass ready to test, let me know. I'm happy to give it a whirl.

[2020-02-07 16:47] CrossBound commented on #1341
Here is my output:
[code]

[2020-02-07 16:48] CrossBound commented on #1341
Immediately after running the command above (in the same powershell instance) I ran `multipass shell` and got the same error: `launch failed: Multipass support for Hyper-V requires Windows 10`

[2020-02-07 17:51] townsend2010 commented on #1341
@CrossBound,

Hmm, very strange.  The exact command we run is:
[code]

Could you please run that and see what the output is?  I'm wondering if there is some difference in `Select-Object`...

[2020-02-07 19:16] CrossBound commented on #1341
[code]

[2020-02-07 19:41] townsend2010 commented on #1341
I'm totally stumped on how you are getting this error then.  Your machine is reporting the value that we are looking for.  I'll have to think about this some more.

[2020-02-07 19:57] Saviq opened #1342 "[health] bad expericence when nesting impossible"
We seem to fail to detect being in a VM in the first place, and we're failing ungracefully:

https://bugs.launchpad.net/snapcraft/+bug/1859424

[2020-02-07 20:46] townsend2010 commented on #1322
Ok, I'm pretty sure I found the problem and have a PR up at #1343.  After CI runs, there will be a message in the PR detailing how to install the test package.

Keeping my fingers crossed this fixes it!

[2020-02-08 16:52] 6umpukc-uHKBu3umop opened #1344 "how to run 32bit ubuntu images? any plans for supporting 32bit ubuntu images"
this cli is good and maded for humans

but i need to test 32 bit ubuntu

how to launch ubuntu 18.04 32bit?

it possible to run old ubuntu 14.04 and other?

[2020-02-08 18:09] indrayam commented on #1262
@Saviq Ok, I am a bit lost.

Setup:
- MacOS Catalina 10.15.3
- VirtualBox 6.1.2
- multipass  1.0.0+mac
- multipassd 1.0.0+mac

My local.driver setting is `virtualbox`. I launched a VM using multipass CLI on my Mac. `multipass list` shows a VM. I can `multipass ssh` into it. But when I run `vboxmanage list vms` command, or try to see the VM in VirtualBox UI, I do not see it.

![vboxmanage-multipass

[2020-02-08 18:10] indrayam opened #1345 "Why does `vboxmanage list vms` command not show VMs started by multipass?"
Setup:
- MacOS Catalina 10.15.3
- VirtualBox 6.1.2
- multipass  1.0.0+mac
- multipassd 1.0.0+mac

My local.driver setting is `virtualbox`. I launched a VM using multipass CLI on my Mac. `multipass list` shows a VM. I can `multipass ssh` into it. But when I run `vboxmanage list vms` command, or try to see the VM in VirtualBox UI, I do not see it.

![vboxmanage-multipass](https://user-images.githubu

[2020-02-08 19:31] Oz0n3 commented on #706
I had this same issue.  I resolved it by uninstalling vmware.  I am not sure if there is a way to make hyper-v and vmware work together, but since I don't really use it I just uninstalled it.

[2020-02-09 12:03] Saviq commented on #1262
@indrayam on macOS you need to run `sudo vboxmanage list vms` - the daemon runs as the `root` user and that's where you need to look for them.

[2020-02-09 12:04] Saviq commented on #1345
@indrayam on macOS you need to run sudo vboxmanage list vms - the daemon runs as the root user and that's where you need to look for them.

[2020-02-09 15:15] indrayam commented on #1345
Thanks @Saviq. That indeed did the trick. However, it begs the question: Is there a way to run multipass and multipassd as a regular (non-root) user so that I do not have to run

`vboxmanage list vms` and
`sudo vboxmanage list vms`

to see all my VirtualBox VMs.

In any case, I do appreciate you helping me solve this riddle. I was really stumped where my VirtualBox VMs were 😄

~Anand

[2020-02-09 15:16] indrayam commented on #1262
Thanks @Saviq. That indeed did the trick. However, it begs the question: Is there a way to run multipass and multipassd as a regular (non-root) user so that I do not have to run

`vboxmanage list vms` and
`sudo vboxmanage list vms`

to see all my VirtualBox VMs.

In any case, I do appreciate you helping me solve this riddle. I was really stumped where my VirtualBox VMs were 😄

~Anand

[2020-02-09 19:03] bhurlow commented on #888
I encountered this issue, found that it was a locally running dnsmasq on OS X via homebrew that was creating DNS conflicts

[2020-02-10 04:43] BenWibking opened #1346 "`multipass start primary` changes home directory ownership to uid:1000/gid:1000"
When starting up my "primary" container on macOS 10.15, multipass changes the uid of my home directory to 1000 and gid to 1000. I can fix the problem by chown/chgrp'ing my home directory back to myself, but each time I start the container it changes the ownership again.

[2020-02-10 10:57] #1322 closed

[2020-02-10 11:16] ricab commented on #1346
Hi @BenWibking, do you mean your home directory outside the VM gets ownership changed? Could it be that you are observing your home inside primary? How are you examining this? Could you please provide steps to reproduce?

Notice that the VMs that multipass launches have their own user(s). The user named "ubuntu" is the one you get by default in the instance. Its uid and gid are both 1000. This use

[2020-02-10 11:52] BenWibking commented on #1346
Yes, I mean the ownership on my real home directory on the host (i.e. outside the VM) gets changed to uid 1000.

To reproduce:
- `multipass start primary`
- `cd /Users`
- `ls -l`
- observe ownership of home directory

[2020-02-10 12:46] ricab commented on #1346
OK, at this point I could not reproduce this. even after adding a user with UID 1000.

Could you share what you get from:
- `sudo dscl . -list /Users UniqueID | grep 1000`?
- `id -P`
- `ls -l /Users` when the problem occurs
- `sudo multipass get local.driver`
- `multipass version`

[2020-02-10 12:51] cjp256 commented on #1322
Well that certainly looks it'll do the trick!  Thank you @townsend2010

[2020-02-10 12:53] ricab commented on #1346
And can you think of anything out of the ordinary that could be causing or related to this? Thank you for you feedback!

[2020-02-10 13:28] townsend2010 commented on #1322
@cjp256 and all,

This fix is now in edge.  If you could, please try it and ensure this does indeed fix this issue.  If not, please reopen this bug.

Thanks for everyone's help in tracking this down!

[2020-02-10 13:51] townsend2010 commented on #1342
So, I think it's relatively trivial for Multipass to detect it's running in a virtualized *Linux* guest using something like `virt-what`.  However, I've not seen anything that can probe a guest to know whether the hypervisor supports nesting or if nesting is enabled.

As for Multipass running on another type of virtualized guest such as Windows, I think that is not so trivial.  We'll need to do mo

[2020-02-10 16:09] Saviq commented on #1342
Thanks @townsend2010, that's quite meh :/

This is going into a `multipass set …nesting=true` direction, you'd think that this kind of thing would be worth knowing/exposing…

[2020-02-10 16:13] avetisk opened #1347 "[OSX] Use default terminal app"
Currently, the "Open Shell" command opens with `Terminal.app` which may not be the default terminal app as defined globally on one's system, would be much better if it would use the default app (e.g iTerm2, etc.).

https://github.com/canonical/multipass/blob/03e6588aef6c608d0309f0373671b4e73cc85376/src/platform/client/client_platform_linux.cpp#L25-L29

[2020-02-10 16:24] Saviq commented on #1342
_Actually_:
[code]

So at least on newer kernels, nesting is enabled by default. And if you explicitly disable it, Multipass notices fine.

The original problem on Launchpad seems to be memory - a Multipass instance by default has 1GB memory… so launching a new instance without a `--mem` argument fails simply because there's not enough free memory.

[2020-02-10 16:26] Saviq commented on #1342
Since fixing #1312, however, the error reported is much better than before:
[code]

[2020-02-10 16:26] #1342 closed

[2020-02-10 17:29] Saviq commented on #1347
Hi @avetisk, we're tracking this in #1273.

[2020-02-10 17:29] Saviq commented on #1347
Duplicate of #1273

[2020-02-10 17:29] #1347 closed

[2020-02-10 19:02] hellsworth commented on #1322
Thanks so much @townsend2010 !!

[2020-02-11 02:22] BenWibking commented on #1346
[code]

`sysman` is an admin account installed by the IT department. I have FUSE for macOS 3.10.3 installed, also I have VirtualBox 6.1.2 installed. Nothing else that seems obviously related to virtualization or filesystems comes to mind.

[2020-02-11 04:59] dbrennan commented on #1326
I tried `stty ocrnl` and it wraps when pasting, but then if you cursor back and forth across the wrap boundary the terminal scrolls everything up a line when you cross the boundary in either direction.

[2020-02-11 07:24] countofcount opened #1349 "multipassd won't start due to umlaut in priv_key_path"
Multipassd is not starting automatically after install on Windows.

Trying to start it via CMD / PS throws:
`error: failed to export ssh private key to file 'C:/Users/M├Ârs/AppData/Roaming/multipassd/ssh-keys/id_rsa`

Where `C:/Users/M├Ârs/` is supposed to read as `C:/Users/M<o-umlaut, i.e. ö>rs` not sure, which Windows env variable is used to construct the `priv_key_path` in `create_priv_key` but

[2020-02-11 11:52] Saviq commented on #1349
Hi @countofcount, thanks for reporting - this relates to #1111 and definitely needs fixing.

[2020-02-11 12:01] Saviq commented on #1346
Hi @BenWibking, can you confirm whether this also happens for manual mounts with `multipass mount`? Thanks!

[2020-02-11 20:10] #885 closed

[2020-02-11 20:31] Saviq commented on #885
Hey @asishrs, note you will need to set these as system variables, otherwise the Multipass service won't notice them.

[2020-02-12 03:16] BenWibking commented on #1346
This does not happen for manual mounts that I've set up with `multipass mount`.

[2020-02-12 03:17] BenWibking commented on #1346
The ownership is also changed for any file I create or modify within the default `~/Home` mount, e.g.

[code]

[2020-02-12 03:37] BenWibking commented on #1346
Furthermore, if I create an alternate mount manually for my home directory, e.g.
` multipass mount /Users/benwibking primary:/home/ubuntu/my_home_dir`
then everything works fine, as long as I don't modify any files in primary:/home/ubuntu/Home.

[2020-02-12 05:23] tangwf commented on #1299
Same issue here and @Saviq 's solution seems doesn't work

multipass launch --name microk8s-vm --mem 4G --disk 40G
launch failed: Downloaded image hash does not match

[2020-02-12 05:24] tangwf commented on #1299
could this be this one?
https://github.com/canonical/multipass/issues/569

[2020-02-12 09:14] Saviq commented on #1299
@tangwf that issue is fixed since, so shouldn't be the case. Something else must be going wrong…

I just ran that same command and the image downloaded and the instance launched…

[2020-02-12 09:14] Saviq opened #1350 "Downloaded image hash does not match"
Same issue here and @Saviq 's solution seems doesn't work

multipass launch --name microk8s-vm --mem 4G --disk 40G
launch failed: Downloaded image hash does not match

_Originally posted by @tangwf in https://github.com/canonical/multipass/issues/1299#issuecomment-585035523_

[2020-02-12 09:18] Saviq commented on #1350
@tangwf can you please provide more info? What OS?

What's the output of:
[code]

Can you download the file and verify its md5sum?
[code]

[2020-02-12 09:42] tangwf commented on #1350
@Saviq
sudo find /var/root/Library/Application\ Support/multipassd /var/root/Library/Caches/multipassd
Password:
/var/root/Library/Application Support/multipassd
/var/root/Library/Application Support/multipassd/registered-certs
/var/root/Library/Application Support/multipassd/ssh-keys
/var/root/Library/Application Support/multipassd/ssh-keys/id_rsa
/var/root/Library/Application Support/multipassd/

[2020-02-12 10:04] Saviq commented on #1350
Hi @tangwf there's a load of errors like:
[code]

What can be special with your networking that this happens? VPNs? Proxies?

[2020-02-12 10:13] Saviq commented on #1350
In any case, we need better errors when this occurs.

[2020-02-12 10:34] tangwf commented on #1350
My system must be in some weird state because the dig success but could not be resolved by the installer, I will try it in a fresh env and suppose it will work.

dig cdimage.ubuntu.com

; <<>> DiG 9.10.6 <<>> cdimage.ubuntu.com
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 39005
;; flags: qr rd ra; QUERY: 1, ANSWER: 3, AUTHORITY: 0, ADDITIONAL: 1

;; OP

[2020-02-12 10:36] tangwf commented on #1350
also you can see
$ wget http://cloud-images.ubuntu.com/releases/bionic/release-20200129.1/ubuntu-18.04-server-cloudimg-amd64.img
works because I can download and share the md5 output

[2020-02-12 12:20] beppler commented on #1112
I think that this is the same kind of problem reported on #566.

The use of Qt API here is harming the use of the tool on Windows.

All my instances are lost almost every time a new Windows version is released because this directory is not migrated to new version.

One option is having an configuration option to specify the directory (again it can be set during installation).

Another option modif

[2020-02-12 13:03] ricab commented on #1346
Hi @BenWibking, thanks again for your efforts. Elusive business this...

I tried some more stuff to reproduce, but still no luck. I have the same version of virtual box and tried going back from osxfuse 3.10.4 to 3.10.3. Installed with and without the "compatibility layer". It did not make any difference :/

What do you get from the following?

- `ps aux | grep sshfs`
- `multipass exec primary --

[2020-02-12 16:03] Saviq commented on #1262
Hi @indrayam, not at the moment, I'm afraid. Multipass is (on purpose) a system-wide service, so there's no way to bind it to your account.

[2020-02-12 16:12] leonidbelkind opened #1351 "Installed multipass on Mac OS X with Brew. Exec/Shell fails with ssh connection failed: 'Failed to process system configuration files'"
Very straight forward installation: Mac OS X Catalina

$ multipass version
multipass  1.0.0+mac
multipassd 1.0.0+mac

$ multipass shell
shell failed: ssh connection failed: 'Failed to process system configuration files'

I understand that the error is coming from libssh implementation of an ssh client. Would appreciate any ideas.

[2020-02-12 16:36] Saviq commented on #1351
Hi @leonidbelkind, is your SSH configuration complex by any chance?

We just fixed a similar problem in #1259, can you try [a recent build of master](https://github.com/canonical/multipass/commit/915e1e0dbff484fe77d0e5533bcc3b273b17ee47#commitcomment-37256739)?

[2020-02-12 16:59] leonidbelkind commented on #1351
Using the default image, nothing fancy.
Can try the build...

Where is the client trying to take a config file from?

On Wed, Feb 12, 2020 at 18:36 Michał Sawicz <notifications@github.com>
wrote:

[2020-02-12 17:26] Saviq commented on #1351
@leonidbelkind this would be your host's `.ssh`, in `/Users/<username>/`.

[2020-02-12 17:41] townsend2010 commented on #1349
I don't think this relates to #1111.  That bug is about unicode characters not being presented correctly while doing `shell` or `exec`.  This bug is about unicode characters not being handled correctly in our daemon code itself.

[2020-02-12 19:14] #1345 closed

[2020-02-12 19:14] Saviq commented on #1345
My answer here: https://github.com/canonical/multipass/issues/1262#issuecomment-585278027

[2020-02-12 22:02] a1git opened #1352 "multiple network interfaces, map interface to bridges"
How to launch a VM with multiple interfaces, where the additonal interfaces will map to user-provided bridges ?

[2020-02-13 06:34] BenWibking commented on #1346
I've upgraded FUSE for macOS to 3.10.4 and I no longer have this issue.

If it helps in further debugging the root cause:
[code]

My .ssh/config has an entry for my primary instance:
[code]

and no special cloud-init config for my primary instance.

[2020-02-13 06:49] BenWibking commented on #1346
Is `sshfs_server` supposed to be running as root? That seems unnecessary and also a bit concerning security-wise if so.

[2020-02-13 08:06] Saviq commented on #1352
Hi @a1git, it's not possible just yet, but on our roadmap: #118

[2020-02-13 08:06] Saviq commented on #1352
Duplicate of #118

[2020-02-13 08:06] #1352 closed

[2020-02-13 08:14] leonidbelkind commented on #1351
Removed some lines from the config (using Proxy directives) and the problem disappeared

[2020-02-13 08:45] Saviq commented on #1351
Duplicate of #1259

[2020-02-13 08:45] #1351 closed

[2020-02-13 08:46] Saviq commented on #1351
Thanks @leonidbelkind that was exactly the problem - it'll be fixed in the next release.

[2020-02-13 10:35] Saviq commented on #1346
@BenWibking yes, it's by design at the moment (but we have a plan to change that in the long run).

We will have to keep it running as root for "server-side" mounts, but we'll default to a "client-side" mount that will be managed by the system menu icon (so it runs longer than your `multipass` calls).

I'm going to close this issue, thanks for reporting! That said, it's unclear how macOS's fuse co

[2020-02-13 10:42] ricab commented on #1346
Thanks @BenWibking. Still puzzling, but I am glad this does not affect you anymore. I wondered if a different `sshfs_server` binary could be picked up, but I just looked at the code and that does not seem likely.

Please let us know if you experience this issue again or if you come by pertinent info.

[2020-02-13 19:48] samlopezic commented on #1314
Hi again,
Finally i've got it running. I was working with docker volumes and it seems that my local username was causing trouble in CLI  C:\Users\Samuel López\  so i've created a new account C:\Users\Developer\ and after login the multipass notification icon appears (totally unexpected). To be sure, opened PS and ran `multipass help` and that works too.

[2020-02-13 23:21] DavidTheSysAdmin commented on #1341
I also have the same problem my registry also has 10 for the major version number:
[code]
I also checked my application event log and found the following warning:
[code]

[2020-02-14 00:39] tkksin1977 commented on #885
you can use following  command on the Windwos powerShell to set the http proxy before running multipass comnand

netsh winhttp set proxy http://<ip>:<port>

[2020-02-14 02:29] robogeek opened #1355 "Accessing ports, transferring file hierarchies, and more"
I was going to feature Multipass in the latest revision of my book, but after wasting a couple days trying to get things to work I'm giving up and will look for another solution.

What do you mean you cannot expose a port from inside a Multipass instance?  Yeah, I understand there is a trick to do with using SSH for port forwarding.  Users of Multipass shouldn't have to do that.  They should be ab

[2020-02-14 09:06] YousefSaber commented on #1118
I face the same weird message
[code]

[2020-02-14 09:24] Saviq commented on #1355
Hi @robogeek, thanks for giving it a try, we have an issue up for at least one of your requests (#309). We'll consider your other points for sure. There are things missing, sure, but that's just software, we're working on it continuously.

One thing that I'm most interested in, though, is your trouble with getting `/var/lib/mysql` mounted in, could you please expand?

[2020-02-14 09:25] Saviq opened #1356 "`transfer` missing recursive operation"
I wanted to transfer in a directory hierarchy. But the transfer command does not take a -r flag.

_Originally posted by @robogeek in https://github.com/canonical/multipass/issues/1355_

[2020-02-14 09:26] Saviq opened #1357 "`mount` a single file"
What about mounting a single file rather than mounting a directory. You can mount a single file using Docker. e.g. If the image has MySQL running, and you want to mount the /etc/mysql/my.cnf so you can control the configuration from outside the container.

_Originally posted by @robogeek in https://github.com/canonical/multipass/issues/1355_

[2020-02-14 09:28] Saviq commented on #885
@tkksin1977 will that get passed through to the Multipass service though?

[2020-02-14 09:29] Saviq commented on #1341
Hi @DavidTheSysAdmin, that is just a warning, nothing worrying there.

I wonder if your troubles are down to locale? Maybe we're getting some non-printable characters from PowerShell?

[2020-02-14 09:36] Saviq commented on #1314
Thanks @samlopezic, that's great, and something that will guide us to a fix!

[2020-02-14 09:39] YousefSaber opened #1358 "error: program: qemu-system-x86_64; error: Process crashed"
Ubuntu 19.10
multipass 1.0.2

your app works very randomly sometimes it succeed to start the VM sometimes I got this error, what's the solution for this?

[code]

the output of `journalctl -fu snap.multipass.multipassd.service`

[code]

info about my Ubuntu VM
[code]

[2020-02-14 10:02] YousefSaber commented on #1268
well I'm facing the same issue despite using Multipass v1.0.2
https://github.com/canonical/multipass/issues/1358

[2020-02-14 10:48] Saviq commented on #1358
Hi @YousefSaber, could you please attach the file created from `journalctl -u snap.multipass* > multipass.log`?

It's unclear from the excerpts what exactly is crashing and where.

[2020-02-14 10:50] YousefSaber commented on #1358
yeah sure but where can I find this file on my system?

[2020-02-14 11:29] YousefSaber commented on #1358
here's the file

[multipass.log](https://github.com/canonical/multipass/files/4204250/multipass.log)

[2020-02-14 12:20] Saviq commented on #1358
OK so the problematic bit is this:
[code]

Somehow, the `mpqemubr0` bridge that the instances connect to has lost its IP address. This first started a couple nights ago. Any idea how it could have happened?

This ultimately resulted in `multipassd` crashing:
[code]

You then rebooted and things went back to normal.

You also hit #1304 - we have a fix for that in master. You could either refresh to

[2020-02-14 17:36] YousefSaber commented on #1358
@Saviq I don't know but I can give some hints and clues that may have lead to this, my computer loses its internet connection after recovering from sleep mode then I had to restart my network in order to establish my internet connection again
[code]
hint 2: I may have shut down my computer while the VM was running

I don't know exactly what causes this issue.

the last time my VM was running I was

[2020-02-14 19:27] Saviq opened #1360 "[qemu] crash when starting instance in UNKNOWN state"
Steps to repro:
- `multipass launch -n crash`
- `snap stop multipass`
- `sudo vim /var/snap/multipass/common/data/multipassd/multipassd-vm-instances.json`
- clear the `machine_type` field
- `snap start multipass`
- `multipass start crash`
- wait for it to die
- `multipass start crash`
- SIGSEGV:
[code]

Part of the problem is it seems we're not noticing QEMU died (because of the missing machine_ty

[2020-02-14 19:37] Saviq commented on #1358
Hi @YousefSaber, thanks for digging. I now have a reproducer for the crash (#1360) and we'll get it fixed, thanks!

In the mean time, to recover your instance:
[code]

I'm working on a programmatic fix for that, too.

[2020-02-14 19:57] Saviq commented on #1358
@YousefSaber I just put #1361 up, when @multipass-ci-bot publishes a build, you should be able to `snap refresh --channel edge/pr1361` and your instance should be back up.

[2020-02-14 19:59] Saviq opened #1362 "LibVirtBackend.libvirt_wrapper_missing_symbol_throws failing on focal"
We need a dependency between the test suite and `libbroken_libvirt.so`:
[code]

[2020-02-14 20:07] YousefSaber commented on #1358
those commands solved the issue thanks a lot ( didn't need to restart my PC )

I'll switch to the new channel edge version of the app

[2020-02-14 20:11] Saviq commented on #1358
@YousefSaber you're better off on `edge`, since #1304 is your underlying problem, and it's fixed there already.

As for your networking issue, that's quite interesting, but indeed your `nmcli` commands, or maybe what causes them to be a requirement, is likely the original cause.

[2020-02-14 20:13] Saviq commented on #1358
I'm going to close this, then - please reopen if there's something more. I'll file a new issue to consider the network problem.

[2020-02-14 20:13] #1358 closed

[2020-02-14 23:39] antoinecfmws opened #1363 "multipass shell --port"
Hello,

After changing the default ssh port on a multipass instance, we can no longer use `multipass shell instance_name`. Is it possible to add --port to shell?

Cheers.

[2020-02-15 00:41] denisfalqueto commented on #460
A better fix is add your user to "adm" group. That group has read/write permissions on that socket.

[2020-02-15 04:52] bmatthewshea commented on #1339
@digitalcoyote I got it running fine. I ended up upgrading to newer Windows build. Thanks for suggestions, though.

It does note on  [main website](https://multipass.run/) in download area:

Which of course I didn't read when I downloaded. The installer installs it fine (no complaints) and puts it in the tray, but with everything grayed out in context menu. This was the improvement I am talking ab

[2020-02-15 06:46] 6umpukc-uHKBu3umop commented on #460
i just uninstall ArchLinux and install Ubuntu - this works for me

[2020-02-15 12:11] setempler commented on #1335
same here

[2020-02-15 12:54] setempler commented on #1335
after I have cleaned up the entry of my instance `cloud` in

`/var/root/Library/Application Support/multipassd/multipassd-vm-instances.json`

the re-launch and start was going w/o problems.

[2020-02-15 16:25] setrar commented on #913
@gerboland is right, keys are located under `/var/root/Library/Application Support/multipassd/ssh-keys`

I was able to access the VM using the private key.

[code]

That allowed me to use multipass VMs with `docker-machine` using the `generic` driver

[code]

The only issue is to manage root rights for the private key

[2020-02-15 19:56] jrmejiaa opened #1364 "Export a Multipass-VM to a .QCOW2 file"
I was working with `Multipass` to create a VM machine of Ubuntu Bionic. I have made a lot of changes to the initial installation (one includes kernel changes) and that's why I would like to export in a QCOW2 image, because I need to recreate this environment in the Google Cloud Platform. From this [question](https://askubuntu.com/questions/1180895/import-export-vms-from-multipass) with a similar t

[2020-02-16 18:08] frederikbosch commented on #1039
@townsend2010 Yes it is. Maybe a simple environment variable to do the trick? `CLOUD_INIT_TIMEOUT=10000 multipass launch`?

Sidenote: nice project, like it so far!

[2020-02-17 02:24] relaxdiego opened #1365 "Host suspending causing an array of problems"
This happens intermittently for me so I'm filing this issue in the hopes that somebody can suggest some steps I can take to share any diagnostics or logs that can help the team debug the problem when it recurs since I have no idea where to look.

In the meantime, here are the symptoms:

[code]

Let me know how I can help debug this issue. My MacBook specs:

[code]

[2020-02-17 08:17] Saviq commented on #1365
Hi @relaxdiego can you please attach your Multipass log from `/Library/Logs/Multipass/multipassd.log`?

[2020-02-17 08:33] Saviq commented on #1364
Hi @jrmejiaa, it somewhat depends on your host, but on Linux and macOS the image _is_ a QCOW2 one, sitting under `/var/snap/multipass/` and `/var/root/Library/Application Support/com.canonical.multipass/` (uncompressed), respectively. On Windows it's a VHDX image that you'd have to convert back to QCOW2.

But more importantly, it's not trivial (or clear) what exactly you'd need to do to make it ge

[2020-02-17 08:34] Saviq commented on #1364
I'm going to close this in favour of the more generic #208, though.

[2020-02-17 08:34] Saviq commented on #1364
Duplicate of #208.

[2020-02-17 08:34] #1364 closed

[2020-02-17 09:18] relaxdiego commented on #1365
Hi @Saviq. Here you go: https://gist.github.com/relaxdiego/e785351603c39a62d644f1e930185cad

[2020-02-17 11:45] Saviq commented on #1365
Thanks @relaxdiego there's one worrying bit there:
[code]

Any idea what could be wrong with that file? I can see that it booted fine the next day, but it's unclear whether it's the same instance or another one named the same?

[2020-02-17 23:57] relaxdiego commented on #1365
Hi @Saviq. Unfortunately, I can no longer recall what exactly happened in `2020-02-10` when that log was written. :-( I can only recall events from `2020-02-17` at this point.

[2020-02-18 00:46] DavidTheSysAdmin commented on #1341
Any ideas what is causing this, or how to fix it?

[2020-02-18 13:17] matthewpaulthomas commented on #1258
[multipass.run#75](https://github.com/canonical-web-and-design/multipass.run/issues/75) shows Multipass claiming to require not 10.12 or 10.13, but 10.14:

![image](https://user-images.githubusercontent.com/15259299/74588063-9355f300-500a-11ea-8550-90d0f2752114.png)

The sooner you decide on a minimum, the sooner we can fix the front page of the site.

In case it helps, [netmarketshare.com stats f

[2020-02-18 17:28] Saviq commented on #1323
Hi @olibanjoli I assume Hyper-V is available there?

Could you please supply the output of these commands:
[code]

Do you have an idea what version / release of Server 2016 corresponds to the 1803 build of Windows 10? Our requirement is that the "Default Switch" network exists in Hyper-V.

Thanks!

[2020-02-18 17:29] Saviq commented on #1341
Hi @DavidTheSysAdmin we'll have to prepare a build with more debugging enabled… stay tuned.

[2020-02-18 23:15] relaxdiego commented on #1365
@Saviq happened again today. Latest logs: https://gist.github.com/relaxdiego/7ea9d6441422b4cf3b8e3b4ac9b0ebcd

Note that at `2020-02-19T03:52:06.205` I was still asleep and my MBP was supposed to be too (lid was closed and tucked comfortably in its bag)

[2020-02-18 23:19] relaxdiego commented on #1365
In addition:

[code]

[2020-02-18 23:23] relaxdiego commented on #1365
Sorry for the piecemeal updates. I tried stopping the VM and even that wouldn't work anymore:

[code]

Let me know what else I can do to help debug. I'll leave this VM running in the meantime.

[2020-02-19 09:25] Saviq commented on #1314
I got a dump out from the crash, attached are the dump itself plus an analysis from WinDbg:

[multipass.exe.7804.zip](https://github.com/canonical/multipass/files/4224169/multipass.exe.7804.zip)
[multipass.txt](https://github.com/canonical/multipass/files/4224170/multipass.txt)

[2020-02-19 09:34] cbluth opened #1366 "Is it possible to use multipass without snap?"
Is it possible to install multipass without snap?
Are there build instructions for running it without snap?

[2020-02-19 10:49] Saviq opened #1367 "[win] tests failing to build when in Debug"
[code]

[2020-02-19 11:02] Saviq commented on #1366
Hi @cbluth everything you should need to build and use it is described in [our `README.md` here](https://github.com/canonical/multipass#get-involved).

We're focused on the snap version to reduce the maintenance burden of keeping multiple packaging formats.

Please reopen this if there's something missing. Thanks!

[2020-02-19 11:02] #1366 closed

[2020-02-19 11:13] Saviq commented on #1365
Hey @relaxdiego sleeping may be an important point here.

This:
[code]

It looks like it went to sleep at 00:37 and then woke up at 03:52 (some macOS maintenance maybe?) and `multipassd` got started, remembering that `dev` was running and tried to start it again. But that failed due to the file error for some reason.

Is the instance actually running still? Can you `multipass sh dev` successfully?

[2020-02-19 11:35] relaxdiego commented on #1365
Hi @Saviq I tried multiple times earlier today to `multipass stop dev` but it didn't output anything and the machine stayed running. The logs showed these for every time I attempted `stop`:

[code]

So I could neither `stop`, `restart`, nor `shell` to it at all. I resorted to restarting my MBP instead which finally did it (thank god!). Here's the log from the point I restarted it up to now: https:

[2020-02-19 13:04] Saviq commented on #1365
Right, so Multipass thought the instance was accessible, but it wasn't, in fact, running.

Thanks @relaxdiego I think I now understand at least that part of the problem. Why it failed to start overnight (and why did it even try?) is still to be understood.

[2020-02-19 15:08] Saviq opened #1368 "[snap] use Ubuntu's OpenSSL packages"
Rather than building and bundling BoringSSL, the snap could use the packages available from the Ubuntu archive.

This would, at least, get us a better security story and ability to build on all arches Ubuntu support (BoringSSL doesn't support big-endian at the moment).

[2020-02-19 16:17] Saviq commented on #1349
Duplicate of #1314

[2020-02-19 16:17] #1349 closed

[2020-02-19 16:19] Saviq commented on #1314
I got some more data out of a debug build.
[multipass.exe.5300.txt](https://github.com/canonical/multipass/files/4226006/multipass.exe.5300.txt)
[multipass.exe.5300.zip](https://github.com/canonical/multipass/files/4226007/multipass.exe.5300.zip)
[multipass.gui.exe.5128.txt](https://github.com/canonical/multipass/files/4226008/multipass.gui.exe.5128.txt)
[multipass.gui.exe.5128.zip](https://github

[2020-02-19 16:20] #1111 closed

[2020-02-19 17:16] Saviq opened #1369 "Intermittent "Connection closed by remote host" on `multipass sh`"
I don't have a good reproducer, but this has happened to me a handful of times now:
[code]

[2020-02-19 17:19] Saviq commented on #540
This is happening for qemu, too (e.g. #1358).

[2020-02-19 17:20] Saviq commented on #1364
Also related: #1271.

[2020-02-19 18:50] Saviq opened #1370 "[win] window size change not respected in Windows Terminal"
When running `multipass shell` in the upcoming [Windows Terminal](https://www.microsoft.com/en-us/p/windows-terminal-preview/9n0dx20hk701), changing the window size often results in a broken console setup.

Easiest to see with `byobu`, which fills the whole screen.

[2020-02-19 18:59] Saviq opened #1371 "AppArmor profiles spamming the log"
It became near impossible to look through multipassd logs with all the AppArmor profile loads / unloads.

I think we need a `trace` log level that these will go to. It will have to map to DEBUG in `journald`, but we'd have it disabled by default.

[2020-02-19 20:19] frederikbosch opened #1372 "Ubuntu won't boot after installing multipass"
After installing, and using with joy, `multipass` and then booted my computer again, Ubuntu gave me the message `gave up waiting for suspend/resume device`. I first thought it had to do with swap, something I hadn't touched for ages, but that did not solve it. Then I realized I installed a virtualization tool. I booted in recovery mode, removed multipass (--purge, without it failed), booted withou

[2020-02-19 21:41] relaxdiego commented on #1365
Good luck @Saviq and let me know how else I can help debug it. I’m not at all blocked by this as I have other means do my work. So take as much time as you need and don’t hesitate to reach out for more info since I still have to VM here but stopped.

[2020-02-20 02:04] brettkoonce opened #1373 "general wierdness on amd"
using a large number of cores (32) hung my entire computer yesterday

$ multipass restart iree
restart failed: ssh connection failed: 'Connection refused'
$ multipass stop iree
$ multipass list
Name                    State             IPv4             Image
iree                    Running           10.160.37.115    Ubuntu 18.04 LTS
$ multipass restart iree
restart failed: instance "iree" is not r

[2020-02-20 11:13] Saviq commented on #1372
Whoa, that's definitely not something we should be able to do… Do you recall if a Multipass instance was running or not when you shut down (suspended?)?

I know it's a chore, but could you try again - just install Multipass; reboot; launch and stop an instance; reboot; start the instance again; reboot? If at any point your machine gets stuck rebooting, please let us know - and try and supply more

[2020-02-20 11:17] Saviq commented on #1373
Hi @brettkoonce, thanks for reporting. Would you please supply the output from `journalctl -u snap.multipass*` so we can have a closer look?

[2020-02-20 12:16] frederikbosch commented on #1372
Multipass was running. I ran multiple VMs, will try again soon, and will try to get useful messages from the logs. Would you have any idea which log(s) to inspect?

[2020-02-20 12:28] Saviq commented on #1372
@frederikbosch the ones leading up to the error would be best, depending on how early in the boot process that happens, they will show up in `dmesg` and `journalctl --boot=0`. Multipass logs (`journalctl -u 'snap.multipass*') could be of help, too.

I wonder if the problem was that all of the (previously running) instances got resumed on boot at once, which could overload the machine.

[2020-02-20 12:47] frederikbosch commented on #1372
The problem `gave up waiting for suspend/resume device` referenced my disk `/dev/sda1`. So I guess it was disk related. How multipass could be affecting that, I don't know.

[2020-02-20 13:01] RamuRChenchaiah opened #1374 "It is taking (too much time) time to get IP assigned, as a result, timeout happens while starting multipass"
Details:

Sequence:
- multipass installed successfully,
- configured successfully
- while starting, the below failure happened

We get :
[code]

Would you please help ?

[2020-02-20 13:53] davidthewatson commented on #1307
I am running multipass 1.0.0 on Macos 10.15.3. I had seen the behavior here which is:

    ➜  ~ multipass launch --name ubuntu-lts
    launch failed: The following errors occurred:
    bad_optional_access

This was with VPN (Pulse Secure) running.

I then disconnected Pulse Secure and ran:

    multipass launch --name ubuntu
    Launched: ubuntu

This launched with no problem and I was able to get

[2020-02-20 14:11] rajasoun commented on #1374
I am having the same issue - its on windows laptop

[2020-02-20 14:13] brettkoonce commented on #1373
[multipass-log.txt](https://github.com/canonical/multipass/files/4231146/multipass-log.txt)

[2020-02-20 14:23] Mte90 commented on #952
any updates from that side?

[2020-02-20 14:44] Saviq commented on #952
@Mte90 if someone's using vagrant, there's very little Multipass can provide it… Vagrant already talks to the various backends we support, so not sure what the gain is here.

We're unlikely to work on that, but if someone has the spare time and need, great :)

[2020-02-20 21:15] NickZ opened #1376 "multipass fails to launch on raspberry pi 4 with 18.04 because of missing qemu parameter"
Launching a VM on a raspberry pi 4 with ubuntu server 18.04 fails:
[code]

It seems that when launching an image on ARM64 hosts, multipass does not add the necessary `-machine=virt` parameter.

[code]
Launching a virtual machine with qemu with those parameters and `-machine=virt` added, it launches and runs fine. It looks like multipass just needs to add that parameter when launching on arm64 host

[2020-02-21 11:37] olibanjoli commented on #1323
Hey @Saviq Yes Hyper-V is available there.

[code]

[2020-02-21 15:21] luis4a0 opened #1378 "mount/umount misbehavior with absolute and relative paths"
A directory can be mounted in the client using a relative path as mount point. For instance:
`multipass mount /some/path instance:mnt`
the directory gets mounted in the client, in `/home/ubuntu/mnt`.

If that filesystem is unmounted using an absolute path, doing like:
`multipass umount instance:/home/ubuntu/mnt`
multipass does not realize that the absolute mounting point is the same as the relativ

[2020-02-21 16:58] #1327 closed

[2020-02-21 22:10] CrossBound commented on #1341
@DavidTheSysAdmin what do you get if you run 'Get-WindowsOptionalFeature -FeatureName Microsoft-Hyper-V-All -Online' in powershell?

[2020-02-22 02:22] adanaila opened #1379 "Multipass launch with --cloud-init yaml results in initialization timeout if sudo field is set"
**Multipass version:** _1.0.2 snap running on Ubuntu 19.10_

**Command run:**  _multipass launch -n ubuntu-lts-custom --cloud-init cloud-config.yaml_
**Error:**

**cloud-config.yaml**

**Snap Logs:**

The issue seems to be the **sudo: true** field. If i remove this field multipass seems to launch the vm with no errors, if I add it, I get the aforementioned errors.

[2020-02-22 06:04] dkotama opened #1380 "macos: unable to get the network working"
version

[code]

I tried to ping the cloudflare dns
[code]

I tried to use the DNS on dig, seems found but blocked out

[code]

checked lsof on in my host using `sudo lsof -iTCP:53 -iUDP:53 -n -P`
returned empty, then I start the mDNSResponder via launchctl

[code]

`sudo lsof -iTCP:53 -iUDP:53 -n -P` still returned empty

this is my firewall setting screenshot
i add the `multipassd` and `multipas

[2020-02-22 09:24] maxramqvist commented on #853
We are having the same issue. It works fine with multipass on Ubuntu out of the box, but on Mac the .multipass-domain isn't configured. I'm not sure what's required for this to work.

Is there a workaround? A cloud-init configuration? Hosts-file isn't really a viable option - even if it works.

A workaround or some pointers to make it work through Ubuntu configuration would be really helpful until

[2020-02-22 10:42] mirao commented on #899
The default terminal on my 4K display (HP Envy 13 Skylake) is useless, because terminal size and fonts are too small (perhaps the terminal isn't compatible with 4K and doesn't respect OS display settings).
I would like to start `gnome-terminal` from multipass.gui
I'm running Ubuntu 19.10

[2020-02-22 12:49] fnkr opened #1381 "libfuse3 compatibility: unknown option(s): `-o nonempty'"
I'm trying to mount a local directory in a Multipass VM with a custom image (Fedora).
`multipass mount` returns the following error:

[code]

This is because libfuse removed the `-o nonempty` option in v3.0.0. Mounting over non-empty directories is now always allowed.

- https://github.com/libfuse/libfuse/commit/0bef21e8543dda7f02b5f4cb3008a7292d249842
- https://github.com/libfuse/libfuse/releases

[2020-02-22 15:19] manohar-voggu commented on #1248
@ricab install opencv-python-headless instead of opencv-python

Found this solution here https://github.com/ageitgey/face_recognition/issues/1041#issuecomment-582401795

[2020-02-22 15:32] brettkoonce commented on #1373
bad memory!

[2020-02-22 15:32] #1373 closed

[2020-02-24 11:46] ricab commented on #899
Hi @mirao , until we have a better solution for this, perhaps we can help you workaround. Does the following help?

[code]

[2020-02-24 11:57] Ged-fi commented on #1314
Confirmed - the multipass.exe binary does not handle non-ASCII characters in the username field correctly.  As a temporary workaround, the user can try to set USERPROFILE to the legacy 8.3 equivalent path name, but multipass.exe should really use appropriate unicode functions for processing the path components.

[2020-02-24 13:51] townsend2010 commented on #1381
Yep, I have #1328 that will take care of [this](https://github.com/canonical/multipass/pull/1328/files#diff-38074369bf27ac8c942d629f0cf02416R96-R98).

[2020-02-24 14:48] Saviq commented on #1381
Fixed by #1328

[2020-02-24 17:52] sanderhahn opened #1383 "Restart multipass will result in State: Unknown (and machine_type is empty)"
**Environment**
[code]

**Issue after restart**
Launching a bionic image succeeds:

[code]
However when restarting `multipassd` the vm will fail to start (State becomes Unknown) and an error is logged:

[code]

Error in the logs:

[code]

**Workaround**
The workaround seems to be to fill the empty `machine_type` for the vm in `/var/snap/multipass/common/data/multipassd/multipassd-vm-instances.json

[2020-02-24 18:04] Saviq opened #1384 "Multipass times out when resume fails"
This is happening for qemu, too (e.g. #1358).

Steps to reproduce:
1. start an instance
1. suspend it
1. stop multipass
1. edit `multipassd-vm-instances.json` - change `machine_type`
1. start multipass
1. start the instance

Expected:
- the `start` command fails straight up

Current:
- it times out after 5 minutes

[code]

_Originally posted by @Saviq in https://github.com/canonical/multipass/issu

[2020-02-24 18:22] Saviq commented on #1383
Hi @sanderhahn, this is actually fixed now in #1304. We'll have a release with it later this week.

Duplicate of #1304

[2020-02-24 18:22] Saviq commented on #1383
Duplicate of #1304

[2020-02-24 18:22] #1383 closed

[2020-02-24 19:27] #1371 closed

[2020-02-25 01:17] marcodelapierre commented on #1370
I am experiencing a similar issue on the mac

[2020-02-25 04:58] NeoMatrixYT opened #1385 "i cant get past login"

[2020-02-25 05:00] NeoMatrixYT commented on #1385
so I got it running and it keeps asking me to login and I have no clue what the login is. Im new to the whole VM thing and am using the Hyper-V on my HP ProBook 450 G6. I don't really know what to to and was wondering if anyone could help.
![image](https://user-images.githubusercontent.com/61445767/75216386-d417df80-5761-11ea-845d-f82ef9c688ec.png)

[2020-02-25 07:06] Ged-fi commented on #1314
The same issue also affects multipassd - mounting the users home directory into 'primary:Home' fails if the user's profile in Windows resides in a folder that uses non-ASCII characters.  The root cause is most likely incorrect character encoding when using Windows paths in the API - windows paths are Unicode, not utf-8.

[2020-02-25 08:08] Saviq commented on #1385
Hi @NeoMatrixYT I can see in the background that you have the shell working already. What are you trying to do in the Hyper-V manager?

[2020-02-25 08:14] matthewpaulthomas commented on #1311
In [multipass-design#46](https://github.com/canonical-web-and-design/multipass-design/pull/46) I’ve added this to the settings design:

![settings-general](https://user-images.githubusercontent.com/19801137/75227780-bc167f00-57a6-11ea-8e97-c679ccbd82b6.png)

[2020-02-25 09:16] Saviq commented on #1370
Hi @marcodelapierre, we've just fixed this in #1354, can you please try the release candidate from https://github.com/canonical/multipass/pull/1375#issuecomment-589779268 - if that doesn't help, please file a separate issue. Thanks!