[2020-02-25 12:14] banderlog opened #1386 "MultiPass services and VirtualBox cannot run simultaneously"
Currently it is impossible to use VirtualBox and MultiPass at the same time because VirtualBox machines will fail to start while multipass services are running, due to competition over resources (presumably).

Crash log for VBox machine with multipass services running: <https://gist.github.com/banderlog/1a100d29343fc2483f0caeb56a64ab97>

I've searched for multipass services:

[code]

And stopped t

[2020-02-25 12:14] banderlog commented on #1289
Could be connected with #1386

[2020-02-25 14:33] alexladerman opened #1387 "not enough disk space VM too small"
I just spent hours installing all the prerequisites for an application onto a new VM only to find at the last step there is not enough disk space to copy some 15 GB of files that the application needs.

Is there any way of increasing the disk allocation for an existing container? or perhaps launch a new container with --disk but based on the image of earlier one?

[2020-02-25 15:02] alexladerman opened #1388 "run multipass exec as user"
I have a rather large docker-compose command that I have setup as an alias:

`alias startam="multipass start am && multipass exec -v am -- bash -c \"cd /home/am/AdvancedMatching && docker-compose -f docker-compose-local.yml build --no-cache && docker-compose -f docker-compose-local.yml up\""
`

But it I need the exec command to run as the "am" user instead of the default "ubuntu" user.
How could I

[2020-02-25 15:27] ricab commented on #1388
Hi @alexladerman, `multipass exec` itself does not support running commands as a different user, but you could execute commands that execute other commands as different users, like `su - <username> -c "<commands>"`.

[2020-02-25 15:46] alexladerman commented on #1388
Thanks @ricab

It prompts me for the user's password, how would you pass it in with the alias? 

PS. this is only for local development so password sensitivity is not an issue

[2020-02-25 17:06] ricab commented on #1388
I am not sure, maybe you are looking for:

[2020-02-25 19:47] townsend2010 commented on #1258
What is prompting the `10.14` requirement here?  We build on a `10.13` environment, so until we can find a solution to work on older OSX versions, I'm keen on making the minimum version `10.13`.  However, it troubles me that a user got that popup indicating `10.14` is the minimum from the `multipass-gui` app.

[2020-02-25 20:29] codekitchen opened #1389 "[MacOS] permission denied for some parts of mounted home directory"
[code]

I've installed multipass as part of an effort to build a snapcraft package on MacOS, but I'm running into issues with the mount functionality. I can access parts of my mounted home directory, but some directories such as `Desktop`, `Documents` and `Downloads` give me a permission denied error. I also get an error if I try to `multipass mount` any path under those directories. See console o

[2020-02-25 20:40] townsend2010 commented on #1389
Hi @codekitchen,

What are the permissions and ownership of those directories on the host?  I just tried it on my Mac and those directories are accessible for me, so it looks to be something on your host.

[2020-02-25 20:56] codekitchen commented on #1389
Here's the output of `ls -le@` on my host home directory. I'm not entirely sure what some of the extended attributes such as `com.apple.macl` mean.

[code]

Thinking about it a bit further, the `Documents`, `Desktop` and `Downloads` directories are also the same directories that have the new protections in Catalina, where MacOS asks for confirmation whenever a new app wants to access them for the

[2020-02-25 21:02] townsend2010 commented on #1389
There are a number of articles describing what that is.  Here is one I found: https://lapcatsoftware.com/articles/macl.html

So it's definitely the problem on your machine.  I'm running Catalina as well and don't have that issue, but it's entirely possible that I granted permission for all sorts of things in the past :grin:

[2020-02-25 21:16] codekitchen commented on #1389
Hm I'm not sure that's the issue. That article seems to be saying that the `com.apple.macl` attribute actually _grants_ implicit read permissions to files/folders with that attribute, so I don't see how that'd prevent multipass from reading those folders. Am I reading this wrong?

[2020-02-25 21:20] codekitchen commented on #1389
Although related to that article, I started digging around into the Security & Privacy preferences pane and I see that `multipassd` is listed on the list of apps for "Full Disk Access", but it is unchecked, without me having done anything. I'm not sure why it would show up on this list.

If I check that box, multipass can now access all these directories, snapcraft can mount the folder inside `Doc

[2020-02-25 21:35] townsend2010 commented on #1389
Hmm, I really don't know how `multipassd` ended up on that list, nor why it isn't checked.  I certainly don't see that at all on my machine and you're the first to report this issue as far as I know.  The good news is that you got it working.  I'm going to leave this open for now in case this is some brand new behavior and more folks run into this.

[2020-02-26 02:49] marcodelapierre commented on #1370
thanks @Saviq , just tested, my terminal resizing issue was fixed!

[2020-02-26 03:24] 0xSeanll commented on #965
Hi, @townsend2010 ,

I am new to multipass and yaml. I tries several times with your advice, but I still can't get it right. Guess there is a problem with my cloud-init config. Could you please give an example of a cloud-init file including a custom user along with multipass user? Thanks!

[2020-02-26 04:24] BenWibking commented on #1346
I'm experiencing this issue again. No idea what (if anything) is different now on my system.

[2020-02-26 07:41] Saviq commented on #965
@0xSeanll here's a snippet:
[code]

[2020-02-26 08:13] alexladerman commented on #1388
whatever I try appears to execute on the local machine...

[code]

i get 

[code]

instead of what I want which is

[code]

[2020-02-26 08:24] Saviq commented on #1388
Hi @alexladerman, neither `sudo` or `su` will change where your command is executed in. You simply have to `cd` where you want to be. But note the important difference between `sudo`, `sudo -i` and `su`:
[code]

[2020-02-26 08:47] Saviq commented on #1387
Hi @alexladerman see #62, growing the filesystem is not a trivial task, as the underlying block device needs to be resized, then the partitions inside, and then the filesystem itself. There's a non-negligible chance of things going wrong, so we're generally recommending a new VM with a generous `--disk`.

That said, if you want to dive into it, `qemu-img` can help you try and achieve what you need

[2020-02-26 08:47] Saviq commented on #1387
Duplicate of #62

[2020-02-26 08:47] #1387 closed

[2020-02-26 10:43] ricab commented on #1346
Hi @BenWibking, sorry to hear that. Have you tried removing your `.ssh/config`? And if you `multipass umount primary` and then `multipass mount $HOME primary:Home`, does the issue persist (after `multipass restart primary`)?

Something seems strange with your system. I have the same filesystem as you, the same VirtualBox installed, have tried the same fuse versions. I would very much like to know

[2020-02-26 11:50] ricab commented on #706
To refocus, this can be reproduced by trying to launch with more memory than the system can commit. Hyper-v errors out starting the VM immediately, but multipass fails to see this and just keeps on waiting for the instance until timeout.

For reference, the corresponding Hyper-V errors can be found in the event viewer under "Applications and Services Logs → Microsoft → Windows → Hyper-V-Worker → A

[2020-02-26 12:34] alexladerman commented on #1388
Almost there... except it get

[code]

with

`alias webam="multipass start am && multipass exec -v am -- sudo su - am bash -c \"cd /home/am/AdvancedMatching; sudo docker-compose -f docker-compose-local.yml up --build api-gateway ui nginx\""`

probably the inner "sudo docker-compose" without which I would get

`ERROR: Couldn't connect to Docker daemon at http+docker://localunixsocket - is it runnin

[2020-02-26 15:43] townsend2010 commented on #1386
Yes, this is a duplicate of #1289.  If `qemu` is running, then VirtualBox cannot run and vice versa.  This is not an issue in Multipass, but is just a problem in general.  The solution would be for Multipass to use VirtualBox as a backend as that bug is requesting.

[2020-02-26 15:43] #1386 closed

[2020-02-26 15:46] Saviq commented on #1388
@alexladerman it's probably better to ensure the `am` user has access to your docker installation. It's usually enough to add it to the `docker` group.

I'm going to close this issue as there is nothing wrong with Multipass here.

[2020-02-26 15:46] #1388 closed

[2020-02-26 15:46] townsend2010 commented on #1380
Hi @dkotama

I'm not sure if you've had a look at https://discourse.ubuntu.com/t/troubleshooting-networking-on-macos/12901, but there is some helpful information in there.

[2020-02-26 16:21] townsend2010 commented on #1379
Hi @adanaila,

Right, setting `sudo: true` is invalid and so cloud-init is failing inside the instance.  Per the cloud-init [docs](https://cloudinit.readthedocs.io/en/latest/topics/modules.html#users-and-groups):

`sudo`: Optional. Sudo rule to use, list of sudo rules to use or False. Default: none. An absence of sudo key, or a value of none or false will result in no sudo rules being written for

[2020-02-26 16:21] #1379 closed

[2020-02-26 16:23] townsend2010 commented on #1376
Yes, we need to be better about detecting the host architecture and then setting any specific `qemu` options.

[2020-02-26 16:30] townsend2010 commented on #1374
Hi @RamuRChenchaiah,

I'm not sure where the
[code]
lines come from and it's not clear what your cloud-init config looks like.  I know it's arbitrary and we have a bug to fix it, but the timeout to establish an ssh connection is 2 minutes.  It seems like your generated cloud-init either does some long running operations before ssh is enabled or it has an error which can also cause this issue.

[2020-02-26 16:46] Saviq commented on #1376
Huh I could've sworn I replied here… I wonder why `-machine` is required, I wonder if it can be made default.

[2020-02-26 17:04] townsend2010 commented on #1370
Boo, [console WinEvents](https://docs.microsoft.com/en-us/windows/console/console-winevents) are not being used in the new Windows Terminal.  Will have to investigate what API it is using and see if there is some way to hook into it.

[2020-02-26 17:14] townsend2010 commented on #1370
Seems we're going to have to redo how we detect window size changes: https://github.com/microsoft/terminal/issues/1811

[2020-02-26 17:32] touilleMan opened #1390 "How are genareted the Windows/MacOS installers ?"
Hi,

I couldn't find any information on how the Windows/MacOS installers (e.g. `multipass-1.0.0+mac-Darwin.pkg` and `multipass-1.0.0+win-win64.exe) are generated.
My guess is those builds are generated by hand with scripts that are not part of the repository, so I'm wondering if there is a legal reason behind this or if your release process hasn't been streamlined yet (no insult here, we all know

[2020-02-26 17:47] Saviq commented on #1390
Hi @touilleMan, we're keeping the macOS and Windows bits of Multipass closed source for now. I can tell you we're using CPack from CMake, though.

FWIW we don't have any auto-update features at the moment, we periodically check for new releases online and have the user download the new installer.

Have a look at https://winsparkle.org/ though.

Closing this for now.

[2020-02-26 17:47] #1390 closed

[2020-02-26 18:51] ricab commented on #1370
Yeah I was planning to take a look as part of the work to integrate on the windows terminal.

[2020-02-26 19:17] townsend2010 commented on #1362
I think we determined this boils down to a missing dependency in the `mutlipass_tests` target.

[2020-02-26 21:01] townsend2010 commented on #1199
I believe this is fixed now after updating the submodules.  I'm closing this, but please reopen if it still occurs with the latest master.

[2020-02-26 21:01] #1199 closed

[2020-02-26 23:02] touilleMan commented on #1390
thanks @Saviq ;-)

[2020-02-27 03:19] ramkumarg1 opened #1391 "bad_optional_access on MacOS"
brew cask install multipass
==> Downloading https://github.com/CanonicalLtd/multipass/releases/download/v1.0.0/multipass-1.0.0+mac-Darwin.pkg
Already downloaded: /Users/gr3/Library/Caches/Homebrew/downloads/aac5cd1b609de9ba90392da72799eb663ba5b2a37d021fc297a49b1264d0e284--multipass-1.0.0+mac-Darwin.pkg
==> Verifying SHA-256 checksum for Cask 'multipass'.
==> Installing Cask multipass
==> Running i

[2020-02-27 08:16] dkotama commented on #1380
hi @townsend2010
thank you for reply

actually before submitting this issues i've done everything on that thread, and posted a reply there. Since it seem nobody asking, so i pasted all my question here. hope this clears up

[2020-02-27 09:21] alexladerman commented on #1388
Adding it the user to the docker group didn't do it for me, unfortunately.

While I agree it's probably a lack of understanding on my part on how to
construct the command may I suggest something like "multipass shell vm -u
<user>" or at least describing how to do it in the documentation. It's been
a pretty steep learning curve for all the quirks that have stumped me along
the way to getting my app

[2020-02-27 09:35] oleksdovz commented on #1391
Same with me,
VM has state - starting, in vm's log file show vm is booted and ready for work, please check  attached logs
[multipassd.log](https://github.com/canonical/multipass/files/4260747/multipassd.log)
[ubuntu00001-hyperkit.log](https://github.com/canonical/multipass/files/4260750/ubuntu00001-hyperkit.log)

[2020-02-27 12:20] Saviq commented on #1391
Hi @ramkumarg1 @oleksdovz can you confirm what's your macOS version?

[2020-02-27 13:05] sanderhahn commented on #567
Made a small utility that uses the output of `multipass list --format json` to update the `/etc/hosts` file: https://github.com/sanderhahn/multipass-hosts

[2020-02-27 20:14] fnkr commented on #1381
@townsend2010 Does this mean snapd will be required in the future? I'm asking because this would increase complexity a lot (installing snapd, squashfs-tools, kernel-modules, reboot required), also test run duration would increase significantly (this will run as part of a CI pipeline, and downloading/installing several hundred megabytes of packages for snapd costs time and bandwidth).

[2020-02-27 20:18] fnkr commented on #1381
Ah, now I see: it falls back to using the distro version if snap is not found, thanks!

[2020-02-27 23:04] fnkr commented on #1381
Tried #1328, works for me, thanks!

[2020-02-28 01:24] ramkumarg1 commented on #1391
Hi, mine is Mojave 10.14.6 (18G3020)

[2020-02-28 12:02] Saviq commented on #1258
Hi all, we've looked around a lot and decided to settle on **macOS 10.12 Sierra** as our lowest supported macOS version. Going lower than that would mean we're going out of support for some of our dependencies.

Even the oldest hardware that can still run Multipass is supported through 10.13 High Sierra, so we should not be cutting anyone off.

Anyone with 10.12 or 10.13 if you could please test t

[2020-02-28 12:03] Saviq commented on #1258
@talyguryn, could you try the above, too, assuming you're on 10.13 still? Thanks!

[2020-02-28 12:10] Saviq commented on #1391
Hi again guys, @oleksdovz in your VM log we can see:
[code]

Which shows that the VM did not receive its IP from `bootpd`. We have some [docs on troubleshooting that](https://multipass.run/docs/troubleshooting-networking-on-macos), please have a look there.

@ramkumarg1 can you confirm what `multipass list` shows in your case? Thanks!

[2020-02-28 14:14] lowemasterpro commented on #1258
@Saviq Tested on 10.12.6 and appears to be working well so far. Thanks!

[2020-02-28 18:49] jasonmccallister commented on #1260
Ideally I would love to be able to build a custom prebuilt ubuntu image and download them from the launch command. We have a hefty cloud-config setup right now that would reduce our setup by just downloading an image instead.

[2020-02-28 19:15] #1258 closed

[2020-02-28 20:37] legezam opened #1395 "[Win10] Midnight commander gui looks weird"
Hi,

First of all, thanks for this very nice application, i really enjoy using it.

Secondly, i found that the look and feel of mc is messed even on a fresh installation:
![image](https://user-images.githubusercontent.com/3974359/75585340-23b41f00-5a72-11ea-86a0-f1acc18146c0.png)

Windows 10 Pro insider preview Build 19564.rs_prerelease.200207-1438
I am not using any special locale, i am using EN-

[2020-02-28 20:38] Saviq commented on #1395
Hi @legezam, would you please try our release candidate [from here](https://github.com/canonical/multipass/pull/1375#issuecomment-592703930)?

It's likely to be an issue that we just fixed recently.

[2020-02-28 20:39] Saviq commented on #1395
Oh and thanks for the kind words! Glad you're liking it :)

[2020-02-28 20:45] legezam commented on #1395
Indeed, the issue has been fixed, thanks for the quick help! :)

[2020-02-28 20:45] #1395 closed

[2020-02-28 20:48] legezam commented on #1395
One more thing though. When i resize the window, it is messed up again:
![image](https://user-images.githubusercontent.com/3974359/75586115-e81a5480-5a73-11ea-8299-ecc758119fcf.png)

As i see it is being addressed https://github.com/canonical/multipass/issues/1370 here so there is no need for reopening the issue.

[2020-02-28 20:49] Saviq commented on #1395
Yeah, Terminal is a new player on the block, PS and cmd.exe should behave fine already.

[2020-02-28 21:59] oleksdovz commented on #1391
➜
Software:
      System Software Overview:
      System Version: macOS 10.14.6 (18G3020)
      Kernel Version: Darwin 18.7.0
      Boot Volume: Macintosh HD
      Boot Mode: Normal

[2020-02-29 02:49] 0xSeanll opened #1396 "[OSX] Multipass ubuntu won't boot into newly installed kernel"
I launched a Ubuntu instance through cloud-init on my macOS. Then I installed a new kernel (GNU/Linux 5.3.0-40-generic x86_64) using following method:
[code]
And modified grub options like this:
[code]
I also checked `/etc/default/grub.d/50-cloudimg-settings.cfg` to make sure it won't overwrite the above settings.

Then update grub:
[code]

But Ubuntu keeps booting into the original kernel (GNU/Li

[2020-02-29 07:57] Saviq commented on #1396
Hi @0xSeanll, it's a limitation of our default backend on macOS - [hyperkit](https://github.com/moby/hyperkit) - it can't do UEFI booting, so we're passing the kernel and initrd directly.

We're definitely going to fix it though :)

[2020-02-29 07:59] Saviq commented on #1396
@0xSeanll you could also switch to the VirtualBox backend (see [our docs on installing on macOS](https://multipass.run/docs/installing-on-macos), where the full boot happens. You'd lose IP connectivity with the instance, though.

[2020-02-29 11:02] 0xSeanll commented on #1396
Hi @Saviq, how to access the shell after switching to the VirtualBox backend? `multipass shell` and `multipass exec` don't work after switching.

[2020-02-29 11:58] 0xSeanll commented on #1396
I got it. Just open VirtualBox and the instance are in the virtual machine list.

[2020-02-29 20:46] Saviq commented on #1396
Hey @0xSeanll `multipass *` should definitely work, you shouldn't ever need to touch VirtualBox. You have to launch new instances, though, as we're not migrating between backends.

[2020-03-01 02:19] 0xSeanll commented on #1396
Hi @Saviq , I launched an instance using `multipass launch -nus18 -c4 -d30G -m4G -v` after switched to VirtualBox backend, and multipass gave `launch failed: The following errors occurred: us18: timed out waiting for response`. Then I tried `multipass list` and saw that `us18` had been Running. So, I tried `multipass shell us18`, but I got `shell failed: ssh connection failed: 'Timeout connecting

[2020-03-01 03:54] Hailong commented on #913
Actually instead of finding out the public key that recognized by multipass instance, we could simply append the default public key for the local shell to ~/.ssh/authorized_keys on the instance. They we can login the instance with ssh command: `ssh ubuntu@192.168.64.2` (use the `multipass info` to find the right IP address of the instance).

[2020-03-01 04:14] NickZ commented on #1170
This is still present in the windows build of 1.1.0rc. I haven't been able to reproduce on guests using the 16.04 image, but I can get 18.04 guests to reliably trigger this. This affects snapcraft, which will hang during the build process

I can reliably reproduce using this python script: https://gist.github.com/NickZ/58e87d6beaf6473a61da6856802154da

[2020-03-01 04:27] NickZ commented on #1170
You can also just run `multipass exec primary -- sudo -i env printenv HOME | Out-Null` in powershell a few times and it will eventually trigger

[2020-03-01 11:43] viktike opened #1397 "[macos] remove installer check for `kern.hv_support`"
I like multipass, but I have an issue with an older Mac. The whole point would be to have the same DEV environment.

This older Mac (2010 MacBook Pro, I know...) does not support Hypervisor.framework, however it runs VirtualBox just fine. This is because VirtualBox only uses VT-x, not using MMU (Memory Management Unit).

But I'm unable to install multipass (from provided .pkg or from homebrew), be

[2020-03-01 15:36] JasLin commented on #1350
same issue with @tangwf

my macbook have tunelblick installed, but it was not runing by default.

multipass version: 1.0.0+mac

bridge100 was not created, and dhcp not run.

here is multipass logs:

[code]

ifconfig

[code]

netstat -nr

[code]

[2020-03-02 03:04] JasLin commented on #1380
i ran into this problem too, i have read the  https://discourse.ubuntu.com/t/troubleshooting-networking-on-macos/12901, and check every think it mentioned.

[2020-03-02 03:26] JasLin opened #1398 "macos + multipass 1.0.0, bridge100 not created and network not working"
i had read https://discourse.ubuntu.com/t/troubleshooting-networking-on-macos/12901, and check everythings it mentioned.

i am sure:

* i can download the images without multipass. like comand `wget http://cloud-images.ubuntu.com/minimal/releases/bionic/release/ubuntu-18.04-minimal-cloudimg-amd64.img` is work, it means network in host can reach the images download url.
* firewall is disable, i mea

[2020-03-02 08:43] townsend2010 commented on #1170
Hey @NickZ,

Yeah, I can reproduce as well :frowning_face:  I'll just reopen this and continue to investigate.  Thanks for reporting!

[2020-03-02 16:12] ssx commented on #118
Is there any ETA on this? Multipass could solve a bunch of problems for one of my clients but it requires bridged networking (and then DHCP from the host network).

[2020-03-03 05:08] denizzzka commented on #1158
@kramik1 these settings will be overwritten by previous values if snapcraft clean will be called

[2020-03-03 05:10] denizzzka commented on #1158
I drive into same problem with RAM setting: it is just too low for my snap (only 4Gb) and I can't to build anything.

[2020-03-03 06:34] townsend2010 commented on #1158
Hi @denizzzka,

There are some Snapcraft environment variables you can set to tweak memory, CPU count, and disk size.  They are:
[code]

Hope this helps!

[2020-03-03 06:36] denizzzka commented on #1158
Thanks @townsend2010

I tried this variables. Looks like it work inside of multipass VM, but VM itself still uses 2 cores and 2Gb of RAM (I checked this by `atop` utility)

[2020-03-03 06:40] townsend2010 commented on #1158
Hey @denizzzka,

Hmm, it's not _supposed_ to work that way. :confused:

I'll run some experiments in a while and if it's not working as it should, I'll ping the Snapcraft folks as they are the ones responsible for setting up these Multipass instances.

[2020-03-03 06:56] denizzzka commented on #1158
Thanks!

Please note that I did not change /var/snap/multipass/common/data/multipassd/multipassd-vm-instances.json settings file, because this makes no sense - it is automatically overwritten every time if snapcraft repository is cleaned

[2020-03-03 06:56] townsend2010 commented on #1158
Hey @denizzzka,

It seems to be working as expected here.  Here's what I did on my Ubuntu host machine:
[code]
I can clearly see the snapcraft instance used to build my snap is now using 4 cores and has 8GB allocated to it.  Did you `snapcraft clean` and ensure the instance was gone via `multipass list` before trying the environment variables?

[2020-03-03 07:47] srikrishna-bb commented on #1122
facing the same issue, is this issue resolved, it works fine with virtualbox on mac , but fails with hyperkit

[2020-03-03 09:18] #1310 closed

[2020-03-03 10:08] denizzzka commented on #1158
Offtopic:
I removed everything from my Debian and start again. After snapcraft was installed I faced with:
[code]
It worked previously. The experiments are postponed indefinitely.

[2020-03-03 13:07] denizzzka commented on #1158
Ok, I sucessfully reinstalled it. Works! Thanks @townsend2010 !

[2020-03-03 13:27] Saviq opened #1402 "[console] stderr output from exec duplicated into a separate fd (?)"
Somehow stderr output gets duplicated into a separate FD, preventing its redirection into a file.

[code]

[2020-03-03 18:40] NickZ commented on #1170
Unfortunately, still able to trigger this on the latest build here: https://github.com/canonical/multipass/pull/1375#issuecomment-593880436

While it may take a while longer, given enough iterations it will trigger.

Using my python script above.
[code]
where it hangs.

[2020-03-03 20:14] brutestack commented on #972
For those who don't want to reinstall VirtualBox to default location:
you can create symbolic link from default location to your real VirtualBox location.
In my case, I have VirtualBox installed on drive D, so creating symlink like this helped:

Do this from command prompt as Administrator

[2020-03-03 21:11] elliottpost commented on #1391
Same issue here

![Screen Shot 2020-03-03 at 3 11 44 PM](https://user-images.githubusercontent.com/3232219/75820062-4fc8ec00-5d61-11ea-8bcb-681c39aa9f64.png)

[2020-03-04 04:18] baozidai opened #1403 "[win]multipass just no any response in my cmd or powershell"
[code]

It just totally nothing, by the way my user folder is Non_ASCII named. The device is win10 Pro with virtualBox installed while I don't use HyperV.

[2020-03-04 05:13] wangqiaoshi commented on #747
how to fix,I have the same problem

[2020-03-04 06:14] JasLin commented on #118
i means it should create Virtual Ethernet Card Adapter for every instance,  and obtain ip from LAN DHCP

that will cause something inconvenient,  it means ip of every instance is associate with the local network(WIFI), if we move to another network, instance's ip will change. if you use this ip between you instance, than you application will throw some errors like 'Time out'.

so we should keep us

[2020-03-04 08:07] townsend2010 commented on #1170
Hey @NickZ,

Thanks for letting us know.  I think the behavior is much better than before as I think your script is an extreme case and in normal operation, this should work.  That said, we will continue to work on a better fix, but it won't block our upcoming release.

[2020-03-05 09:02] Samet-MohamedAmin opened #1404 "multipass ignores cloud init configuration"
I'm using multipass with hyper-v driver on windows.
I have created VM with multipass with the cloud-init configuration:
`multipass launch --name mpass-14 --cpus 2 --mem 2G --disk 20G --cloud-init .\custom-netwosrking.cfg`

[code]

The problem is that the ip of the newely create VM does not change.
I have tried other configuration from
[cloudinit.readthecos.io](https://cloudinit.readthedocs.io/en/l

[2020-03-05 14:09] luis4a0 opened #1405 "mount/unmount foreign folder bug"
This happens when mounting a folder in the client using a trailing slash in the destination path, issuing  `multipass mount path/to/mount diplomatic-lungfish:mountpoint/`.

When trying to unmount it, the path must have the final slash. This is, the command
`multipass umount diplomatic-lungfish:mountpoint/` will work, but
`multipass umount diplomatic-lungfish:mountpoint` won't, the command will pri

[2020-03-05 18:52] strarsis opened #1407 "Staging VM?"
Currently, I use Hyper-V Manager for an (Ubuntu) staging VM.
However, there are always issues with the network.
Is this multipass tool suitable for spinning up a staging VM?
Or is this rather something for console-/developer-work like WSL?

[2020-03-05 22:33] jasonmccallister commented on #1404
@Samet-MohamedAmin from first glance, you are missing the required `#cloud-config` from the top of your file. DO has a really nice tutorial here: https://www.digitalocean.com/community/tutorials/an-introduction-to-cloud-config-scripting.

I'm not too familiar with cloud-init and I find the documentation rather lacking, but I'm pretty sure that you cannot set the IP as it is assigned by the hypervi

[2020-03-06 08:18] apiemont commented on #208
will this be implemented? Really like multipass but without this feature I'll have to reluctantly have to use something else ...

[2020-03-06 09:14] polarapfel commented on #1029
I agree with some of the comments here.

The documentation mentions nowhere that http and file based images are not supported on certain platforms. This needs to be updated in the documentation.

[2020-03-06 11:01] polarapfel opened #1408 "qemu-img timing out when resizing image"
Hey there,

I was going through these steps:

https://discourse.ubuntu.com/t/building-multipass-images-with-packer/12361

The build host is Ubuntu 18.04 LTS, fully patched (qemu is the latest stable from Ubuntu).

I am using the latest packer binary.

I tried multipass from snap with the latest stable, edge/pr1120 and just edge.

When I try to launch the packer built image, it fails:

[code]

I tr

[2020-03-06 11:11] Saviq commented on #1408
Hi @polarapfel, could you please supply the output from `journalctl -u snap.multipass*`? See [our logging docs](https://multipass.run/docs/accessing-logs) for a bit more info on that.

[2020-03-06 17:42] townsend2010 commented on #1092
This is really apparent when trying to launch core18 with #1074.

[2020-03-06 19:11] dogbeer12 opened #1409 "no Internet connection Windows 10"
I get the following error when I run multipass shell

Failed to connect to https://changelogs.ubuntu.com/meta-release-lts. Check your Internet connection or proxy settings

I can't ping 8.8.8.8

How do I get the instance to connect to the Internet?

[2020-03-06 20:12] gwatts commented on #1311
If this is going to take a while to address via a preference, could it either be removed entirely in the interim or provide some manual way to disable?

It's definitely tough to pick a global shortcut that doesn't collide with something, unfortunately this one collides with view-source in Chrome, Mail.app, etc. which I use all the time :-(

[2020-03-07 09:31] Saviq commented on #1409
Hi @dogbeer12 did you see [our docs on troubleshooting networking on Windows](https://multipass.run/docs/troubleshooting-networking-on-windows)? Can you report what's gone wrong there?

[2020-03-07 11:19] matti opened #1410 "19.04 image"
multipass 1.1.0 on mac:

[code]

where's the 19.04 image as shown in the README.md?

[2020-03-07 11:24] matti opened #1411 "multipass find release FATAL"
following: https://discourse.ubuntu.com/t/multipass-find-command/8351

[code]

[2020-03-07 11:26] matti commented on #620
needs quotes:

[code]

[2020-03-07 18:19] K-Hoffmann opened #1412 "Different ip addresses for different instances"
Windows Edition Windows 10 Pro
Version 1809
Build 17763.1039

multipass  1.1.0+win
multipassd 1.1.0+win

The instances created by `multipass launch` always get the IP address 10.0.2.15. Is it possible to configure the instances with different ip addresses so that they can communicate with each other, e.g. vm1 10.0.2.15, vm2 10.0.2.16 and vm2 10.0.2.17?

[2020-03-08 16:21] jfmatth opened #1413 "Where are the keys for instances?"
Hello, i'd like to be able to jump from instance to instance from my primary instance (on Windows), but the not sure the best method.

ideally, i'd shell into primary and then ssh instance@mshome.net easily, but getting denied due to public key's.

Any help is appreciated.

[2020-03-08 19:57] krlinus commented on #972
IMHO this is a clear bug or atleast qualifies as a feature request
I cannot install stuff on my c: as I have a limited nvm configuration, and upon which the OS happens to be installed. So, I install my stuff on D:. I assume my situation is common in these times. Additionally, if you can't customize the installation location then the application is not there yet

[2020-03-08 20:01] krlinus commented on #972
Thanks for this tip. I moved me a notch closer, however I ended up here:
D:\>multipass launch
One quick question before we launch … Would you like to help
the Multipass developers, by sending anonymous usage data?
This includes your operating system, which images you use,
the number of instances, their properties and how long you use them.
We’d also like to measure Multipass’s speed.

Send usage d

[2020-03-09 09:58] Saviq commented on #1407
Hi @strarsis, Multipass is primarily a developer tool, but there's nothing preventing you from using the instances in whatever way you need. Hope it works for you!

[2020-03-09 09:58] #1407 closed

[2020-03-09 09:59] Saviq commented on #1410
Hi @matti, we only support a subset of images on macOS and Windows at the moment.

[2020-03-09 09:59] Saviq commented on #1410
Duplicate of #1028

[2020-03-09 09:59] #1410 closed

[2020-03-09 10:03] Saviq commented on #1412
Hi @K-Hoffmann, it looks like you're using the VirtualBox backend? That one only supports the "host" mode of networking, meaning the IPs the instances are getting are not reachable from the outside.

At the moment, you'd need to use the Hyper-V backend to have real IPs available.

Please reopen if you're in fact using that.

[2020-03-09 10:04] Saviq commented on #1412
Duplicate of #1262

[2020-03-09 10:04] #1412 closed

[2020-03-09 10:08] Saviq commented on #1413
Hi @jfmatth you can (and should) install your own keys into the instances. You can use `ssh-import-id` after the instance is launched, or [using cloud-init](https://cloudinit.readthedocs.io/en/latest/topics/modules.html#ssh) through `multipass launch --cloud-init`. See [our `launch` docs](https://multipass.run/docs/launch-command) for more information.

[2020-03-09 10:08] #1413 closed

[2020-03-09 10:11] Saviq commented on #1411
Thanks @matti, confirmed, we'll fix ASAP.

[2020-03-09 10:14] Saviq commented on #1397
Hi @viktike in that case it looks like we could relax the installer check indeed. We didn't know that you could still run VirtualBox VMs even though `kern.hv_support` was 0.

[2020-03-09 10:15] Saviq commented on #1403
Hi @baozidai this looks like #1314 - we'll fix this in our next release. In the mean time the workaround is to use a second user with ASCII username.

[2020-03-09 10:16] Saviq commented on #1403
Duplicate of #1314

[2020-03-09 10:16] #1403 closed

[2020-03-09 10:18] Saviq commented on #972
Hi @krlinus this is the important part:
[code]

You need to enable virtualization in your BIOS settings. If that doesn't help, please file a new issue.

[2020-03-09 10:26] grumbach commented on #1248
Hello, I just updated multipass to `1.1.0`, still having this issue, Multipass keeps crashing with `This application failed to start because no Qt platform plugin could be initialized. Reinstalling the application may fix this problem.`
and
`Could not find the Qt platform plugin "cocoa" in ""`
<img width="1240" alt="console" src="https://user-images.githubusercontent.com/23363403/76204513-d0239d00

[2020-03-09 10:40] Saviq commented on #1248
Hi @grumbach, can you please have a look if there is any difference in your Multipass installation from this (`tree` is [from brew](https://formulae.brew.sh/formula/tree)):
[code]

Another thing to try is to run the binary manually with `QT_DEBUG_PLUGINS=1` exported:
[code]

Those two should hopefully lead us to what is wrong in your installation…

Please come to [`#multipass` on Freenode IRC](htt

[2020-03-09 13:38] Lapshin opened #1415 "dnsmasq.hosts: No such file or directory"
Multipass does not work until I create this file

[2020-03-09 14:11] Saviq commented on #1415
Hi @Lapshin there must be something else going on, then - `dnsmasq` creates that file on its own when it serves its first DHCP lease. Can you please show logs from when it wasn't working?

Can you give a little more info about your host?

[2020-03-09 14:33] Lapshin commented on #1415
Ubuntu 18.04
multipass 1.1.0 1784  stable canonical✓   classic

Snapcraft builds did freeze today on VM init step, I decided to reinstall multipass with --purge flag. And after that, it still was not working. Also I found this in logs

After I created the file all works fine

Mar 09 16:27:19 H0169 systemd[1]: Started Service for snap application multipass.multipassd.
Mar 09 16:27:19 H0169 multipas

[2020-03-09 15:34] xnox opened #1416 "How to specify to use daily streams vs release streams?"
When building a core18 project with snapcraft, how do I specify to launchp multipass VM from "daily" streams instead of "release" stream?

(ie. /daily/ vs /releases/ in the urls, with like focal production names, which at the moment are only published in /daily/ but not yet in /releases/)

[2020-03-09 15:37] xnox opened #1417 "How to use focal images?"
focal images already exist in daily streams, but not yet in release streams.

It seems to me, that once they do land in the release stream "multipass will not just work" because of the hardcoded mappings at https://github.com/canonical/multipass/blob/master/src/daemon/custom_image_host.cpp#L56

Could you please update those mappings for core20 / 20.04 / focal pointing at the non-existent release s

[2020-03-09 20:50] legezam commented on #1252
Unfortunately the first workaround doesn't work for .net core cli for some reason, i get this error:
[code]

[2020-03-10 08:18] marekadare opened #1418 "No command prompt in Git Bash"
Hi,

I'm a Git Bash user and tried to use the `multipass shell` command to connect to my VM. The Problem is that the connection doesn't seem to work. I get the login info but no command prompt.

I was able to connect via `ssh` but not via `multipass shell`.

Is there anything I can do to use Git Bash?

Thanks in advance.

[2020-03-10 08:32] polarapfel commented on #1408
Here is the part relevant by time frame for when executing

[code]

[code]
That's the last line.

[2020-03-10 10:09] Saviq commented on #1408
Hi @polarapfel we unfortunately have a hard 30s timeout on image resizing, which must be too low in your case.

You should be able to use [`qemu-img convert`](http://manpages.ubuntu.com/manpages/trusty/man1/qemu-img.1.html) to shrink and compress the image so that it's "easier" to resize afterwards. Just convert it to `qcow2` so that any unused sectors are cleared out.

I'll close this as duplicat

[2020-03-10 10:10] Saviq commented on #1408
Duplicate of #1187

[2020-03-10 10:10] #1408 closed

[2020-03-10 10:12] Saviq commented on #1418
Hi @marekadare I think the problem is that we're assuming Windows-style terminals (Command Prompt / PowerShell, working on Windows Terminal) when running on Windows. We'd need to look at how to handle Git Bash, too.

[2020-03-10 10:51] grumbach commented on #1248
It seems I have an extra `platforms -> //Library/Application Support/com.canonical.multipass/bin/multipass.gui.app/Contents/plugins/platforms` symlink in `/Library/Application\ Support/com.canonical.multipass/bin/multipass.gui.app/Contents/plugins/platforms/`

When I run the binary manually as shown above :
[code]

[2020-03-10 11:24] Saviq commented on #1248
OK having had a look at @grumbach's system (thanks!) this does seem to be related to case-sensitivity of APFS. So we should have a reproducer and a fix coming soon after.

Thanks all for your patience and help!

[2020-03-10 13:06] townsend2010 commented on #1416
I believe this is more of a Snapcraft question since they are the ones who call Multipass in this case.  @sergiusens, any ideas?

[2020-03-10 13:09] townsend2010 commented on #1416
Wait, after reading #1417, I'm a little lost on what you are asking here.  Are you referring to the cloud-images, minimal images, or the new buildd images we've been working towards?

[2020-03-10 13:12] Saviq commented on #1416
Yeah I was meaning to reply here. @xnox we harcode what `snapcraft:core*` means in terms of the image being launched. With the images popping up in https://cloud-images.ubuntu.com/buildd/ we might improve that, provided they are tagged appropriately.

That said, in #756 we designed how you could affect that.

[2020-03-10 13:15] Saviq commented on #1417
@xnox focal images are already available with `daily:focal`, is that not what you're after? If you mean `core20` images, then similar to #1416 we "bless" those images once they becomes stable. There are no streams for Core images that I know of?

[2020-03-10 13:29] Saviq commented on #1415
Hi @Lapshin I think the creation of the file was unrelated. To confirm, can you:
[code]
Then confirm whether Multipass works still? If not, can you confirm that `dnsmasq` is running? You should be able to see it in `systemctl status snap.multipass.multipassd` under "CGroup:".

[2020-03-10 13:42] Saviq commented on #1404
Hi @Samet-MohamedAmin @jasonmccallister hit it exactly. It won't be considered cloud-init data unless it has the `#cloud-config` header. But also - you can't currently take ownership of the networking, as Multipass relies on it to contact the instances.

When dealing with #118, we'll add a way for you to specify a bridge (or interface) to hook the instance to and you'll be able to use its DHCP or

[2020-03-10 13:42] Saviq commented on #1404
Duplicate of #118

[2020-03-10 13:42] #1404 closed

[2020-03-10 13:46] Lapshin commented on #1415
Yes, it does not reproduce with deleted file.
But when the problem was, I tried to stop/start multipass (it did not help)

I do not know how to reproduce this behavior. If it appears I will notice you. Also could you please tell me what debug will be helpful in this case?

[2020-03-10 19:10] Saviq commented on #1415
Hey @Lapshin looking at the log it's as if the instance never asked for a DHCP address… either the instance didn't boot properly or networking got messed up. Are you running any firewall software maybe?

[2020-03-10 20:48] jasonmccallister opened #1419 "Download images over HTTPS versus HTTP"
Just had a timeout and noticed that the images being downloaded are over HTTP and not HTTPS.
 (e.g. failed to download from 'http://cloud-images.ubuntu.com/releases/server/releases/bionic/release-20200218/ubuntu-18.04-server-cloudimg-amd64.img').

Switching to HTTPS works as expected: https://cloud-images.ubuntu.com/releases/bionic/release-20200218/ubuntu-18.04-server-cloudimg-amd64.img

Should th

[2020-03-10 23:06] polarapfel commented on #1408
Thanks! Being able to specify a timeout on the command line with multipass would be great.

[2020-03-11 00:40] polarapfel commented on #1408
Yeah, that did the trick.

`qemu-img convert -O qcow2 -c output-qemu/packer-qemu output-qemu/packer-qemu-compressed`

[2020-03-11 02:22] rjsears opened #1421 "[QUESTION] Select different default Terminal in OSX when using "Open Shell""
I am running multipass under OSX. When I go to the status menu at top of my screen in OSX and click on the "Multipass" icon and select "Open Shell", it opens the pretty worthless (IMHO) Terminal program.

How can I set Multipass to use the terminal program that I use for everything else (Termius or iTerm in my case)?

Thank You

[2020-03-11 07:43] Saviq commented on #1421
Hi @rjsears we have an improvement for that in the works: #1347.

[2020-03-11 07:43] Saviq commented on #1421
Duplicate of #1347

[2020-03-11 07:43] #1421 closed

[2020-03-11 15:11] jclivi opened #1423 "ssh connection failed: 'Socket create failed: Permission denied'"
$ multipass mount ~/data/ ubuntu:/home/ubuntu/data
mount failed: The following errors occurred:
error mounting "/home/ubuntu/data": Process returned exit code: 1: ssh connection failed: 'Socket create failed: Permission denied'

[2020-03-11 15:22] Saviq commented on #1423
Hi @jclivi, can you please post `multipass info --all` and also logs from `journalctl -u snap.multipass*`? Thanks!

[2020-03-11 16:42] Saviq commented on #1330
This is done, we're now at 10.12 minimum

[2020-03-11 16:42] #1330 closed

[2020-03-11 17:16] jclivi commented on #1423
$ multipass info --all
Name:           ubuntu-k8s
State:          Running
IPv4:           10.84.117.100
Release:        Ubuntu 18.04.4 LTS
Image hash:     3c3a67a14257 (Ubuntu 18.04 LTS)
Load:           0.00 0.00 0.00
Disk usage:     1.1G out of 19.2G
Memory usage:   79.3M out of 1.9G

[2020-03-11 17:25] townsend2010 commented on #1423
Also, it's not clear if you're using Multipass on Windows, OSX, or Linux.  Could you please post the output of `multipass version`?

[2020-03-11 17:26] jclivi commented on #1423
Linux run multipass

[2020-03-11 17:27] jclivi commented on #1423
deepin

[2020-03-11 17:28] townsend2010 commented on #1423
Also, if you're using Linux, could you please tell us the distro you are using?  And if you're using OSX, which version of OSX?

[2020-03-11 17:29] jclivi commented on #1423
-- Logs begin at Thu 2020-03-12 00:13:04 CST, end at Thu 2020-03-12 01:25:29 CST. --
jclivi multipassd[27032]: QMP: {"timestamp": {"seconds": 1583943853, "microseconds": 579021}, "event": "RTC_CHAN
jclivi multipassd[27032]: mounting /data => /home/ubuntu/data in ubuntu
jclivi multipassd[27032]: process program '/snap/multipass/1784/bin/sshfs_server'
jclivi multipassd[27032]: process arguments '10.

[2020-03-11 17:30] jclivi commented on #1423
$ uname -a
Linux jclivi 4.15.0-30deepin-generic #31 SMP Fri Nov 30 04:29:02 UTC 2018 x86_64 GNU/Linux

[2020-03-11 17:32] jclivi commented on #1423
lsb_release -a
No LSB modules are available.
Distributor ID:	Deepin
Description:	Deepin 15.11
Release:	15.11
Codename:	stable

[2020-03-11 17:42] Saviq commented on #1423
@jclivi when this happens, can you please have a lot at the output of `dmesg` and see if there's any AppArmor `DENIED` messages that seem relevant?

[2020-03-11 17:52] jclivi commented on #1423
[ 3727.223417] audit: type=1400 audit(1583949073.731:572177): apparmor="ALLOWED" operation="recvmsg" profile="snap.microk8s.daemon-etcd" pid=6205 comm="etcd" laddr=::ffff:127.0.0.1 lport=12379 faddr=::ffff:127.0.0.1 fport=41674 family="inet6" sock_type="stream" protocol=6 requested_mask="receive" denied_mask="receive"
[ 3727.223597] audit: type=1400 audit(1583949073.731:572178): apparmor="ALLOWED"

[2020-03-11 17:57] jclivi commented on #1423
@Saviq Isn't ssh configured

[2020-03-11 18:17] Saviq commented on #1423
@jclivi this is quite weird, can you try:
[code]

And then try again?

[2020-03-11 19:23] townsend2010 commented on #1423
Ok, I installed Deepin in a VM and reproduced the behavior.  These are the `DENIED` messages in `dmesg`:
[code]

So it's definitely AppArmor denying this.  Also, I tried the `DISABLE_APPARMOR=1` and it works.  I'll need to investigate what is needed in our AppArmor profile.

[2020-03-12 01:30] jclivi commented on #1423
@townsend2010
$ sudo systemctl status snap.multipass.*
● snap.multipass.multipassd.service - Service for snap application multipass.multipassd
   Loaded: loaded (/etc/systemd/system/snap.multipass.multipassd.service; enabled; vendor prese
   Active: active (running) since Thu 2020-03-12 09:10:27 CST; 6min ago
 Main PID: 13857 (multipassd)
    Tasks: 9 (limit: 4915)
   Memory: 33.7M
      CPU: 1.59

[2020-03-12 01:31] jclivi commented on #1423
@townsend2010
-- Logs begin at Thu 2020-03-12 01:40:13 CST, end at Thu 2020-03-12 09:27:22 CST. --
3月 12 01:44:31 jclivi dnsmasq-dhcp[11424]: DHCPRELEASE(mpqemubr0) 10.84.117.100 52:54:00:aa:cc:57
3月 12 01:44:31 jclivi dnsmasq-dhcp[11424]: DHCPRELEASE(mpqemubr0) 10.84.117.252 52:54:00:6d:8a:18
3月 12 01:44:39 jclivi multipassd[10551]: QMP: {"timestamp": {"seconds": 1583948679, "microseconds": 53108

[2020-03-12 01:35] jclivi commented on #1423
After modifying and restarting, you can mount the file.
jclivi@jclivi:~$ multipass mount /home/jclivi/data ubuntu:/home/ubuntu/data
jclivi@jclivi:~$ multipass shell ubuntu
ubuntu@ubuntu:~$ cd data/
ubuntu@ubuntu:~/data$ ls
ubuntu@ubuntu:~/data$ ls
ubuntu@ubuntu:~/data$ ls
1.txt

[2020-03-12 01:41] jclivi commented on #1423
sudo systemctl status snap.multipass.*
● snap.multipass.multipassd.service - Service for snap application multipass.multipassd
   Loaded: loaded (/etc/systemd/system/snap.multipass.multipassd.service; enabled; vendor preset: enabled)
  Drop-In: /etc/systemd/system/snap.multipass.multipassd.service.d
           └─override.conf
   Active: active (running) since Thu 2020-03-12 09:22:42 CST; 17min ago

[2020-03-12 09:14] ssbarnea commented on #460
This seems to be a bug in multipass rpm ditribution as the correct group should be wheel not adm.

[2020-03-12 09:29] Saviq commented on #460
Hi @ssbarnea thanks for that, I've just proposed #1425 - you should be able to `snap refresh multipass --channel edge/pr1425` in 15 minutes or so (look for a comment from @multipass-ci-bot).

[2020-03-12 09:48] Saviq opened #1426 "[info] avoid surfacing too much detail when timing out"
[code]

We probably should not have printed all that. Just "Timeout reaching instance" would probably be enough.

[2020-03-12 12:46] townsend2010 commented on #1423
Let's keep this open as it is a real issue that needs fixing.  The environment variable is just a work around.

[2020-03-12 15:12] #1411 closed

[2020-03-12 15:42] planetf1 commented on #1122
I'm also seeing the same -- I had previously created an image, but a second one I tried to create is failing.
ie
[code]
I am using hyperkit

[2020-03-12 15:56] Saviq opened #1428 "[daemon] spamming log with "Cannot fetch image information:" when launched an image"
**Describe the bug**
When launched an instance through a custom image, the logs are spammed with:
[code]

**To Reproduce**
1. ```
   multipass launch --disk 10G https://cloud.centos.org/centos/7/images/CentOS-7-x86_64-GenericCloud.qcow2
[code]
1. ```
   journalctl --since -5m -u snap.multipass* | grep -c "Cannot fetch"
   301
[code]
   multipass  1.2.0-dev.106.pr1328+g0aabc2f
   multipassd 1.2.0-d

[2020-03-12 17:09] Saviq commented on #1122
Hi @planetf1 can you please file a separate issue and provide a bit more detail? Is there a VPN in play maybe?

https://github.com/canonical/multipass/issues/new/choose

[2020-03-12 19:22] Saviq commented on #1378
We've discussed this at length and ended up with two options:
1. keep the current behaviour and require both `mount` and `unmount` to use the same path
   - this makes for a 1:1 relation between the mount target and our internal state
2. resolve relative `mount` arguments to absolute on mount definition
   - otherwise we can't be sure that the mountpoint didn't move between `mount` and `unmount`

[2020-03-12 19:29] Saviq commented on #1405
I think what we can do is apply [`QDir::cleanPath`](https://doc.qt.io/qt-5/qdir.html#cleanPath) to the input, this should give us enough uniformity.

[2020-03-13 01:43] acefei commented on #1158
is there any effect way on windows?
The following steps (run as Administrator) are what I did, but the modification doesn't work, the VM started as before.
[code]
multipass version
[code]

[2020-03-13 14:42] planetf1 commented on #1122
Thanks. will open up if it reoccurrs. worked after a reboot.

[2020-03-13 15:21] Saviq commented on #1158
@acefei on Windows you can go to the Hyper-V manager (or `psexec.exe -s -i VirtualBox`, if using that) and change it there.

[2020-03-13 18:42] ricab opened #1429 "Multipass needs a top-level catch-all"
See [this](https://softwareengineering.stackexchange.com/a/308828). In general, things can throw, so in C++ there should be a top-level catch; or generically, a catch-all in the top-most function that calls anything that is not noexcept.

CLI and GUI clients seem to be missing this. #618 is related.

For a practical example, just change the permissions/format of one of the files we need.

[2020-03-15 07:59] acefei commented on #1158
Thanks @Saviq , that works.
I wanted to automate it as I did on Linux.

[2020-03-15 11:02] Saviq commented on #1158
@acefei you can do that with [PowerShell's `Set-VMProcessor` cmdlet](https://docs.microsoft.com/pl-pl/powershell/module/hyper-v/Set-VMProcessor).

[2020-03-16 14:49] luis4a0 commented on #1378
Thinking a bit more about this (I don't want to add much noise here, but still), I think maybe we have to mimic what mount does. And mount does always resolve to absolute paths.

[2020-03-17 12:17] ouladck opened #1431 "Multipass mounted volume frozen"
After linking my volume for example:

`multipass mount /home/me/local instance:/home/ubuntu/remote`
every it's work as expected until now.
but when I use `npm i`
I can enter to the mounted volume but not the folder I `run npm i` in

**To Reproduce**
How, and what happened?
1.`multipass mount /home/me/local instance:/home/ubuntu/remote`

2. `multipass exec instance -- zsh`
3. `git cloning some repo

[2020-03-17 13:07] Saviq commented on #1431
Hi @karim88, could you please try the package from #1328: `snap refresh multipass --channel edge/pr1328`? It's using a different `sshfs` than what's in the archive - but please try in a new instance to ensure that took effect.

Could you also supply us with your `package.json` file so we can try and reproduce? Thanks!

[2020-03-17 14:32] karim88 commented on #1431
Hi @Saviq thanks for answering i will try and check,
you don't need `package.json` to reproduce it,
I did reproduce it with different projects (different `package.json`),
when using `npm run` or `npm i` or even `yarn` I get the same problem and It take very long time before I can use terminal

[2020-03-17 15:09] karim88 commented on #1431
Thanks alot @Saviq now everything works fine in the existing instances.

[2020-03-17 15:09] #1431 closed

[2020-03-17 15:27] jasonmccallister opened #1432 "multipass transfer results in SFTP server: Failure"
**Describe the bug**
I am getting an SFTP error when using `multipass transfer`. The error happens on each machine:

[code]

**To Reproduce**
How, and what happened?
1. `multipass launch --name stfptest`
1. `multipass transfer file sftptest:/home/ubuntu/`

**Expected behavior**
the file should have transferred into the instance.

**Additional info**
 - OS: macOS 10.15.3
- multipass  1.1.0+mac
- mu

[2020-03-17 16:01] amrox commented on #1336
Just tried again in multipass 1.1 and the same issue persists :/

[2020-03-17 16:10] Saviq commented on #1432
Hi @jasonmccallister, the problem is that if you provide a path, it expects to be a _file_ target, i.e.:
[code]

We can definitely improve that - and have issue #1165 to track this.

[2020-03-17 16:10] Saviq commented on #1432
Duplicate of #1165

[2020-03-17 16:10] #1432 closed

[2020-03-17 16:53] #1429 closed

[2020-03-17 18:41] Saviq commented on #1336
Hi @amrox the problem, in general, is that the VPN does not allow/configure traffic from `bridge100` through the VPN - and it blocks all unknown traffic. And I don't think we should be messing with your VPN config… Not to mention that there's countless VPN solutions out there, each with different configuration, and we're unlikely to be able to implement support for all of them.

If you can find ou

[2020-03-17 21:20] jasonmccallister commented on #1165
I have a few questions on how to utilize transfer, or more accurately two scenarios. We we building a tool that setups development machines and we using cloud-init files to `write_files` into `/opt/vendor/db/files.sh`. There are scenarios where we want to keep these scripts up to date so we would like to use `transfer` but we ran into a couple of problems.

1. Permissions issues is the first issue

[2020-03-17 22:52] dbotham commented on #1200
Could this be a bug?

I am running Windows 10 and see the same issue:

[code]

It looks like the cause of processes that try to access files in the mount getting 'permission denied' for Read access to files.  Here is syslog when I start named with a config file in mount:

[code]
I have read #1346 (and others covered by 'is:issue is:open map' ), and I don't think they are the issue.

I don't code C

[2020-03-18 08:59] Saviq opened #1433 "[transfer] permission denied where the `ubuntu` user is lacking write access"
When using `multipass transfer`, the user on the instance side is `ubuntu`, meaning an attempt to write somewhere that it doesn't have access to fails with permission errors:

[code]

_Originally posted by @jasonmccallister in https://github.com/canonical/multipass/issues/1165#issuecomment-600307143_

[2020-03-18 09:00] Saviq commented on #698
Duplicate of #1433

[2020-03-18 09:00] #698 closed

[2020-03-18 09:00] Saviq commented on #698
I've made this a duplicate to keep that other issue focused.

[2020-03-18 09:09] Saviq opened #1434 "[transfer] not creating target directory"
[code]

_Originally posted by @jasonmccallister in https://github.com/canonical/multipass/issues/1165#issuecomment-600307143_

[2020-03-18 09:10] Saviq commented on #1165
Hi @jasonmccallister I filed #1433 for the permissions issue.

On the second issue, did you create the folder where you wanted to push the file to, first?

I expect your problem was this:
[code]

I filed #1434 to track this.

[2020-03-18 09:55] Lin-Buo-Ren commented on #698
Got it, thanks!

[2020-03-18 10:00] xnox commented on #1416
In LXD, I can do:
    lxd launch ubuntu:bionic
    lxd launch ubuntu-daily:bionic

First one will launch latest bionic from the release stream from https://cloud-images.ubuntu.com/releases/streams/

The second one will launch latest bionic from the daily stream from https://cloud-images.ubuntu.com/daily/streams/

I've now discovered that 18.04 is a shortcut to "release:18.04", and that `multipass

[2020-03-18 10:06] Saviq commented on #1416
@xnox there are no "snapcraft release daily" prefixes at the moment. We will hopefully get that with the upcoming `buildd` images.

See #756 for our plan on actually allowing to reconfigure and add image sources.

[2020-03-18 10:07] xnox commented on #1417
I'm talking about snapcraft VMs that are used as snap build-environments. Those are classic VMs use buildd variant. Currently there is only a daily stream for buildds. From https://cloud-images.ubuntu.com/buildd/daily/streams/v1/com.ubuntu.cloud:daily:download.json I think.

It would be nice if you didn't hardcode blessings. For example, you can be sensitive to the "supported: true|false" key in t

[2020-03-18 10:23] jclivi opened #1435 "hi,I found a problem, after install multipass, apt updaate in the docker container, dns resolution will be wrong"
$ apt updaate
Err:1 http://archive.ubuntu.com/ubuntu bionic InRelease   Could not resolve 'archive.ubuntu.com'

[2020-03-18 11:01] Saviq commented on #1417
@xnox there are no other images than `focal` in the buildd stream (yet, that I know of) that Multipass can consume (there are no VM images, only LXD ones). We'll definitely get on that bandwagon when they're up.

As for those mappings, snapcraft basically calls `multipass launch snapcraft:$base`, as long as there are only `core*` bases, we could just point at, a suitably populated, buildd stream.

[2020-03-18 11:13] Saviq commented on #1435
Hi @jclivi can you please be a bit more clear about what you're trying to do?

Multipass has no relation to docker, nor does it deal in containers…

[2020-03-18 11:23] xnox commented on #1417
/me goes to see where/what/why buildd VM images are not up for focal.

[2020-03-18 11:25] xnox commented on #1417
Ergh, they are there....

[code]
https://cloud-images.ubuntu.com/buildd/daily/focal/current/

has https://cloud-images.ubuntu.com/buildd/daily/focal/current/focal-server-cloudimg-amd64-disk.img

Is that not what multipass/snapcraft/core20 VMs need ?

[2020-03-18 11:26] xnox commented on #1417
Maybe i should just wait, cause it seems like they are not there for other series yet.

[2020-03-18 11:34] #1416 closed

[2020-03-18 11:35] Saviq commented on #1417
@xnox yes, they're there for focal, and you can use Multipass from #1192 (`snap refresh multipass --channel edge/pr1192`) to get at that.

[2020-03-18 11:36] Saviq commented on #1417
(edited above to have the right PR number)

[2020-03-18 14:11] #953 closed

[2020-03-18 15:01] Saviq opened #1436 "[mount] apparmor denial accessing files in a mount"
Could this be a bug?

I am running Windows 10 and see the same issue:

[code]

It looks like the cause of processes that try to access files in the mount getting 'permission denied' for Read access to files.  Here is syslog when I start named with a config file in mount:

[code]
I have read #1346 (and others covered by 'is:issue is:open map' ), and I don't think they are the issue.

I don't code C

[2020-03-18 15:04] jclivi commented on #1435
@Saviq
Before I installed multipass, there was no error when running apt update in the docker container. After I installed multipass, I run apt update in the docker container. The prompt: Err: 1 http://archive.ubuntu.com/ubuntu bionic InRelease Could not resolve ' archive.ubuntu.com '

[2020-03-18 15:04] Saviq commented on #1436
Hi @dbotham I created a new issue from your comment.

Looking at the logs, it's AppArmor denying `named` access to that file, which suggests it's not something Multipass is doing.

Can you confirm that whatever user is running `named` can access the file OK, and that it only breaks when it's being started as a daemon? It suggests it gets an AppArmor profile applied that doesn't allow it to access

[2020-03-18 15:07] jclivi commented on #1435
$ sudo apt install -y snapd core
$ sudo snap install core
$ sudo snap install multipass --classic
$ multipass launch -c 2 -m 2G -d 20G -n ubuntu
$ multipass mount /home/jclivi/data ubuntu:/home/ubuntu/data

[2020-03-18 15:08] Saviq commented on #1435
@jclivi this is still on Deepin Linux? With the default `qemu` driver of Multipass? And you run Docker next to it?

Both Multipass and Docker use separate (but similar) network stacks. They should not be influencing one another.

I'm sorry, but it's still unclear to me what "docker container" are you referencing.

[2020-03-18 15:15] jclivi commented on #1435
“container” ubuntu 18.04

[2020-03-18 15:16] jclivi commented on #1435
yes, Deepin Linux

[2020-03-18 15:19] Saviq commented on #1435
@jclivi where is the docker container you're referencing? Do you actually mean a Multipass instance? And there is no Docker (it's a completely different technology) in play here?

[2020-03-18 15:23] jclivi commented on #1435
@Saviq
docker and Multipass installed in deepin

[2020-03-18 15:26] jclivi commented on #1435
After apt update, I couldn't find the reason. I reinstalled the system. I encountered it twice in the same situation, but still couldn't find a solution.

[2020-03-18 15:27] Saviq commented on #1435
OK so let me try and summarize:
- you had Docker installed
- and a "Ubuntu 18.04" Docker container (can you please say how exactly you created it?)
- you installed Multipass
- DNS stopped working inside the Docker container
- Multipass continues to work fine?

Did you try removing Multipass to see if that fixes it? Are new Docker containers affected as well?

Please post the commands you used to i

[2020-03-18 15:31] jclivi commented on #1435
@Saviq
“deepin linux”
"install docker"
$ https://download.docker.com/linux/ubuntu/dists/bionic/pool/stable/amd64/containerd.io_1.2.2-3_amd64.deb
$ wget https://download.docker.com/linux/ubuntu/dists/bionic/pool/stable/amd64/docker-ce-cli_18.09.2~3-0~ubuntu-bionic_amd64.deb
$ wget https://download.docker.com/linux/ubuntu/dists/bionic/pool/stable/amd64/docker-ce_18.09.2~3-0~ubuntu-bionic_amd64.deb
$

[2020-03-18 15:34] jfmatth commented on #1413
Michal, thank you so much for the ssh-import-id idea, never would have seen that.

[2020-03-18 15:43] Saviq commented on #1435
Thanks @jclivi we'll try and repro this.

[2020-03-18 15:45] jclivi commented on #1435
$ docker exec -it be805af58e79 /bin/bash
root@be805af58e79:/# uname -a
Linux be805af58e79 4.15.0-30deepin-generic #31 SMP Fri Nov 30 04:29:02 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

[2020-03-18 16:25] jasonmccallister commented on #1165
Thank you @Saviq! I will give that a try by creating the directory first, and then transferring the files from a tmp directory.

[2020-03-18 18:55] rcarmo opened #1437 "Cannot run multipass as a non-admin user on macOS or Linux"
**Describe the bug**
Describe what your problem is.

**To Reproduce**
How, and what happened?
1. Setup Multipass as a non-admin user (using standard privilege elevation to run the installer)
2. Try to find the menu bar item - no menu bar item present on my account. Menu item appears only when logged in as an administrator.
3. Try to launch a `multipass` instance from terminal. Under my account, it

[2020-03-18 19:01] markl11 commented on #1059
This issue is still affecting me. It seems that everytime Microsoft do an OS update this issue re-occurs. As such multipass is proving to be unusable on Windows 10 at the moment.

[2020-03-18 23:54] dbotham commented on #1436
Hi @Saviq

Thanks for the quick response and insight.  You are correct on the AppArmor point.  We removed the app and named had no issues (and named did have a config in /etc/apparmor.d/.  We don't need / want what AppArmor offers for our purposes, so we are good.

If you would like though, we I can look into seeing if we can configure AppArmor to work correctly to rule out compat / bug issues wit

[2020-03-19 08:39] Saviq commented on #1436
Hi @dbotham thanks, glad you got it working. Another option would be to modify the profile to suite your needs - I don't think it can be done "globally". There is nothing specific to Multipass in this problem - if you ran on bare metal and try and have `named` access that path, it would fail in the same way.

I'll close this - please reopen if you think there's something more that we could be doin

[2020-03-19 08:39] #1436 closed

[2020-03-19 08:44] Saviq commented on #1437
Hi @rcarmo the reason for this is that when someone gains access to the Multipass socket, they get administrative access to all files on the system, because our daemon (by design and necessity) runs as `root`. If we left it open, everyone would be able to `multipass mount / instance:rootfs` and then access all those files inside the instance.

We have a plan to improve this by adding an authentica

[2020-03-19 09:25] SylvainLasnier commented on #1389
Same problem.
I set manually a full disk access to multipassd with "Security & Privacy" tool to solve this.
Apple seems add some ACL properties. https://lapcatsoftware.com/articles/macl.html
So multipass install have to evolve a bit. amho.

[2020-03-19 09:49] rcarmo commented on #1437
I understand the technical aspects (and figured as much from inspection of the app). It's just that until that design limitation is remedied it a) makes it impossible for people in my situation to use Multipass at all for the foreseeable future and b) can actually be considered a security risk and further prevent adoption.

[2020-03-19 18:10] ghazlewood commented on #1389
I was trying to mount a directory to my host (Mac) with:

`$ multipass mount /Users/george.hazlewood/Desktop/test/ k3s:/home/ubuntu/test/`

and was getting:

`mount failed: source "/Users/george.hazlewood/Desktop/test" is not readable`

After enabling Full Disk Access in Security & Pricavy System Preferences for multipassd the problem went away. Thanks @SylvainLasnier and @codekitchen for the tip!

[2020-03-20 04:02] keshavbhatt opened #1438 "snapcraft –debug weird behaviour with multipass builds"
**Describe the bug**
Hi,
I have noticed distinct behaviour of ‘snapcraft --debug’ command on ubuntu 16.04, In one case it debugs whatever is going on while building snap in VM using multipass while, sometime it shows nothing after “Launching VM…” .

Documentation says that --debug option will show text from Vm as soon as any error will occur. Which is opposite of case one where it debugs everythin

[2020-03-20 08:18] Saviq commented on #1438
Hi @keshavbhatt, thanks for reporting.

Can you try and confirm whether Multipass itself behaves ok? Here's [a primer on basic operation](https://multipass.run/docs/working-with-instances).

Could you also say why you're using non-stable snapcraft? Could you try with the one from the `stable` snap channel?

[2020-03-20 09:00] keshavbhatt commented on #1438
I will do what you have requested and will provide updates on this shortly.
thanks

[2020-03-22 21:56] dhenrich opened #1440 "Icon in title bar doesn't work at 200% scale"
With Multipass 1.1 on focal on a 4k display with a scale set to 200% (default) the icon doesn't scale properly and actually extends beyond the bar. Attached is a photo example.
![multipass-icon-bug](https://user-images.githubusercontent.com/326478/77261664-0ed83f00-6c5e-11ea-9064-91413636f6d0.png)

[2020-03-23 08:37] vanvugt commented on #1440
Sounds like https://bugs.launchpad.net/bugs/1832793 which has a [fix coming upstream](https://github.com/ubuntu/gnome-shell-extension-appindicator/commit/0a1b7256d90297b19b9de4acb6d07027ae09679a).

[2020-03-23 10:01] Saviq commented on #1440
@dhenrich could you please try the upcoming fix from http://deb.debian.org/debian/pool/main/g/gnome-shell-extension-appindicator/gnome-shell-extension-appindicator_33-1_all.deb ?

[2020-03-23 13:13] 3v1n0 commented on #1440
This is fixed by https://github.com/ubuntu/gnome-shell-extension-appindicator/commit/8b8455906f2b126031e5899e2b3e7ce6c247cab7

[2020-03-24 11:56] Saviq commented on #1273
Hi @judaew, all - unfortunately the default applications handling `*.sh` and `*.zsh` files are XCode and TextEdit, so we can't use those as our defaults.

All, I've not found a way to easily change this on the command line, but you can create a `.command` file, right-click it, "Get info" and, under "Open with" select your preferred terminal and click on "Change all…".

Alternatively, you can use [

[2020-03-24 12:47] Saviq commented on #1273
I've now added documentation about this:

https://multipass.run/docs/changing-macos-terminal

Please reopen this if you think we can do better than that.

[2020-03-24 12:47] #1273 closed

[2020-03-24 13:44] judaew commented on #1273
Thank you 🌟, I consider the solution using the `duti` sufficient right now.

[2020-03-25 10:53] popey opened #1444 "[gui] need to limit the number of instances listed"
**Describe the bug**

The indicator lists all the VMs I have used. I want to shell into one. I find it in the list and hit the triangle. It opens up a small section which I need to scroll to find the "Shell" option.

**To Reproduce**
1. Have 27 VMs created with multipass
1. Set screen to 1080p on GNOME Shell
1. Try to get to the shell option for the bottom VM

You get a tiny tiny scroll bar and it

[2020-03-25 11:23] Saviq commented on #1444
Hi @popey, the fact that it's difficult to navigate is actually a [ubuntu/gnome-shell-extension-appindicator](https://github.com/ubuntu/gnome-shell-extension-appindicator) issue.

That said, we should probably do something better with such extreme lists of instances. I'll make this into enhancement instead.

[2020-03-26 09:41] GavChap opened #1446 "multipass service on windows doesn't always start"
Rebooting and going to command prompt on windows, and typing 'multipass list' gives the error

`list failed: cannot connect to the multipass socket
Please ensure multipassd is running and 'localhost:50051' is accessible`

Opening services.msc and starting multipass service fixes this, but it will be disabled on next boot.

[2020-03-26 10:04] ssbarnea opened #1447 "macos: multipass 1.1.0 fails to start primary: Instance stopped while starting"
**Describe the bug**
Describe what your problem is.

**To Reproduce**
How, and what happened?
1. `multipass ...`
1.

**Expected behavior**
What did you expect to happen?

**Logs**
[code]

[code]

**Additional info**
 - OS: macOS 10.15.4
- `multipass version`
[code]
- `multipass info --all`
[code]
**Additional context**
[code]

[2020-03-26 12:24] AlanGriffiths opened #1448 "DHCP not working on Fedora rawhide"
**Describe the bug**
Trying to package a snap using snapcraft on Fedora rawhide. Initially this failed with a permission error on `/var/snap/multipass/common/multipass_socket`
[code]
After adding myself to `adm` I then get:
[code]
**Logs**
[code]

[2020-03-26 15:39] rmetzger commented on #309
The ssh command posted above has slightly changed:
- it's `ssh-keys` instead of `ssh-key`
- the username is `ubuntu` instead of `multipass`.

Resulting in:
[code]

[2020-03-27 16:44] ricab opened #1449 "Support adding a primary profile to Windows Terminal"
The user will be able to (de)activate this via a new setting, with the key: ~~`client.windows-terminal.add-profiles`~~ `client.apps.windows-terminal.profiles` (see [this](https://github.com/canonical/multipass/issues/756#issuecomment-621127639)):
- `client.apps.windows-terminal.profiles=primary` to enable
- `client.apps.windows-terminal.profiles=none` to disable

We'll interface with Windows Termi

[2020-03-27 16:53] ricab commented on #1449
After many discussions, this describes what I understand is the design goal. @Saviq, could you please confirm if this matches what you have in mind?

Also, WDYT about the points with question marks?

In particular, on the question of when to sync. Notice that:
  - on quit &rarr; fits nicely into all commands, so nothing else needed for set, but state updating delayed for longer
  - on start &rarr;

[2020-03-27 18:36] Saviq commented on #1449
I'm on the fence whether we should suppress that when the setting is "none". I'm thinking of the scenario when Terminal changes its schema in an incompatible way. Disabling our integration should suppress the error I'm thinking. So if `none`, no errors / warnings logged. At least we should reduce log severity, so it doesn't show up by default.

I'm not quite sure what you mean here.

"On quit" mak

[2020-03-27 19:17] ricab commented on #1449
Right, that's a good point. Normally the user shouldn't be nagged about `profiles.json` if integration is disabled. But I think you are on the fence because that does not seem to apply generally, if you only consider the end state: if the user sets `none` to remove existing profiles and we fail to remove them, then they should be warned, don't you think? So the movement would matter.

In the sync

[2020-03-28 13:52] keshavbhatt opened #1452 "snapcraft using multipass creates snaps in old directory"
**Describe the bug**
I snapped an app in [DirectoryA], then i for some reasons changed my mind and decided to snap that app in another directory [DirectoryB].
Snapcraft in this case will output the resulting snap in [DirecotryA] instead of new directory i.e, [DirectoryB].

**To Reproduce**
Described in the bug.

**Expected behavior**
Snapcraft should create new snap in changed directory.
User will

[2020-03-29 15:53] ticozz commented on #1293
I assume that using static IP on multipass is still not available? or not possible? until now?

[2020-03-29 16:13] kush-daga commented on #1374
I'm having the  same issue with windows 10
![image](https://user-images.githubusercontent.com/40840079/77854173-41f27380-7206-11ea-8b23-b22578216726.png)

[2020-03-29 17:41] Saviq commented on #1452
Hi @keshavbhatt that would be a snapcraft issue, which fails to realize the source dir changed.

I've filed https://bugs.launchpad.net/snapcraft/+bug/1869604 to track it.

[2020-03-29 17:41] #1452 closed

[2020-03-29 17:42] Saviq commented on #1293
Hi @ticozz we'll be working on allowing custom network configuration for additional interfaces real soon. You'll be able to ask for an interface to be bridged with an interface of your choice, and then in the instance itself set the static IP configuration.

[2020-03-29 17:45] Saviq commented on #1374
Hi @kush-daga that "N/A" value suggests you're using VirtualBox? The default networking support in VirtualBox does not allow for "real" IP addresses - so it doesn't make sense to show it here. You should still be able to `multipass shell on-rattler`, though.

Can you please file [a separate issue here](https://github.com/canonical/multipass/issues/new?template=bug_report.md&labels=bug) for the tim

[2020-03-29 17:45] Saviq commented on #1374
I'm going to close this for now as we've not received a reply from @RamuRChenchaiah.

[2020-03-29 17:45] #1374 closed

[2020-03-29 17:46] ticozz commented on #1293
Thanks @Saviq for now I had to opt for an alternate solution to host the VM, as assigning a static IP with gateway and nameserver was a must. Thanks for replying and keep up the great work

[2020-03-29 18:36] keshavbhatt commented on #1452
Thabks for reporting this to snapcraft.

[2020-03-29 18:45] kush-daga commented on #1374
I guess this was the timeout issue thread? And alright I'll do it that way, yes I agree that it was a virtual box issue, but is there anyway then to connect via ssh to my enviroment?

[2020-03-30 04:34] BenWibking commented on #1346
The issue persists after stopping primary, fixing permissions, removing my `.ssh/config` and then starting primary again.

However, if I follow your second suggestion and do `multipass umount primary`, then fix permissions, then `multipass mount $HOME primary:Home`, everything appears to be fine (i.e. it doesn't modify the permissions of $HOME).

[2020-03-30 07:10] Saviq commented on #1449
I'm not saying the "movement" doesn't matter, but I'm saying we shouldn't complicate it with those. And I've fell off the fence on the "reduce severity to INFO, if `none`" (of any problems with reading / parsing the file). The user would have seen the problem logged already, and likely disable the integration in response to that.

Log and abort the sync (whether that's a throw that's caught after

[2020-03-30 08:21] Saviq commented on #1374
Hi @kush-daga not with the VirtualBox driver, since the network it creates by default is confined to the virtual machine - the outside world does not "see" it at all. See [VBox's documentation on the matter](https://www.virtualbox.org/manual/ch06.html).

We'll be working on adding support for bridged networking (#118), which will make it possible for the instances to appear on your physical networ

[2020-03-30 09:09] Saviq opened #1453 "[snap] import certificates from the host"
There's currently [no way to extend the system certificates](https://forum.snapcraft.io/t/extending-system-certificates/114/) for strict snaps. To cater for SSL-terminating proxies, we need to import `/etc/ssl` and `/usr/share/ca-certificates` from the host system.

[2020-03-30 09:19] ricab commented on #1346
Hi @BenWibking, I am sorry you're still experiencing this. Did you try a new primary launch after removing `.ssh/config`? If you're willing to do that, could you also attach the logs? `/Library/Logs/Multipass/multipassd.log` and `primary.log`.

[2020-03-30 09:33] ricab commented on #1449
OK, I am still a bit uneasy about this, but I will do it that way.

OK, I'll reconsider this, but probably log directly. If we report it the same way in all cases, we have all the info we need in the sync function itself.

Right, ok I will ignore then.

I am updating the top description with these conclusions.

[2020-03-30 10:28] #1419 closed

[2020-03-31 05:32] BenWibking commented on #1346
Yes, I did a new primary launch after removing `.ssh/config`. Since doing suggestion 2, however, I have been unable to replicate the permissions problems, regardless of whether `.ssh/config` is present or not. However, my `multipassd.log` file includes the launches where the permissions problems were happening, so it might still be useful. There are several log messages related to mounting `~/Home

[2020-03-31 08:56] kush-daga commented on #1374
@Saviq surprisingly, the error is not happening now, dont know what fixed it. If I am able to reproduce it ill put up an issue

[2020-03-31 09:03] kush-daga opened #1455 "Multipass start takes too much time and ends up with a timeout response"
Whenever I'm starting my VM in multipass it's taking up quite some time and returns a timeout error.
![image](https://user-images.githubusercontent.com/40840079/78007675-3a44e300-735c-11ea-9cb6-bb5d7668195b.png)

**To Reproduce**
Run multipass in windows, create a new VM, and start it. I guess it's a windows issue, not sure though.
**Expected behavior**
Start normally.
**Logs**
Please provide logs

[2020-03-31 09:03] kush-daga commented on #1374
I created an issue #1455 @Saviq

[2020-03-31 10:45] Saviq commented on #1455
@kush-daga can you `multipass shell on-rattler`?

So far I can't see anything other than just the instance not booting quickly enough.

If you can `multipass shell…` into it, please run in PowerShell:
[code]

And attach the resulting `boot.svg` file.

[2020-03-31 11:18] kush-daga commented on #1455
Yes, im able to run the shell.
Here is the attached boot.svg
https://drive.google.com/file/d/1XcdyuWv4J1lwy5Dqg7K0hRxWyQwYCEL0/view?usp=sharing

[2020-03-31 11:53] ricab commented on #1346
That log does not appear to contain a `primary` launch. Notice that `multipass launch` means creating (and starting) a new instance. `multipass start` does create `primary` if it does not exist, but that is just a shortcut.

The first time a primary start is recorded, it was the daemon coming up and seeing a previously existing primary:

[code]

Side note: this ends in a SIGABRT 2 min later, befor

[2020-03-31 11:58] townsend2010 opened #1456 "Downloads of Ubuntu Core & Core 18 are broken"
**Describe the bug**
Cannot launch Ubuntu Core and Core18 instances due to the URL being bad.

**To Reproduce**
How, and what happened?
1. `multipass launch core`

**Expected behavior**
What did you expect to happen?
I expect it to launch :smile:

**Additional context**
This is due to #1420 where it changed from `http` to `https`, but `cdimage.ubuntu.com` does not support `https`.

[2020-03-31 12:53] BenWibking commented on #1346
My apologies, I misunderstood 'launch' to just mean starting the instance. I can create a new instance from scratch, but I need to save the disk image elsewhere - how can I do that?

[2020-03-31 12:58] #1456 closed

[2020-03-31 14:02] ricab commented on #1346
Hi @BenWibking, no worries, I should have explained. You can keep your instance as is and test the default by just changing the name of the instance that is considered primary:

[code]

You can revert it to `primary` when you want.

[2020-03-31 16:07] #627 closed

[2020-03-31 16:07] #1381 closed

[2020-03-31 18:12] sromano1992 commented on #706
Same issue for me. Resolved turning off my VPN client.

Hope this can help

[2020-04-01 03:02] BenWibking commented on #1346
Ok, I tried this (both with and without having my `.ssh/config` present) but in neither case do I get permissions problems. I have no explanation for why this might be.

Just in case,  I've attached the logs again.
[multipassd.log](https://github.com/canonical/multipass/files/4412543/multipassd.log)
[test-hyperkit.log](https://github.com/canonical/multipass/files/4412544/test-hyperkit.log)

[2020-04-01 09:01] kush-daga commented on #1333
Hi, @JonTheNiceGuy I followed your [article ](https://jon.sprig.gs/blog/post/1574) for configuring the multipass bridged network, however I'm trying to configure Ubuntu 16 and in the article, you have told how to configure ubuntu 18 (via netplan), sorry I'm a bit new to this and just want to connect my vs code to the shell instance of multipass, if you could help me with configuring for Ubuntu 16.

[2020-04-01 09:11] ricab commented on #1346
Thanks, looked through the logs but I didn't find anything suggestive.

[2020-04-01 14:38] jfmatth commented on #1455
Hyper-V?

You don't show an IP address, when my VM's don't get an IP under Hyper-V its typically due to something with the default stack, and I hate to say it, a reboot clears this up :(

Does your behavior go away with a reboot, or is this all the time?

My Primary instance loads at startup and rarely has and issue.

[2020-04-01 15:35] SimonAmbridgeNuoDB opened #1459 "multipass fails to bridge to Mac host correctly"
**Describe the bug**
Describe what your problem is.

multipass fails to bridge to Mac host correctly - no external connectivity

Originally raised as https://github.com/canonical-web-and-design/microk8s.io/issues/239

$ microk8s install
Launched: MicroK8sVM
error: unable to contact snap store
An error occurred when trying to execute 'sudo snap install microk8s --classic' with 'multipass': returned

[2020-04-01 16:15] JonTheNiceGuy commented on #1333
I have updated my blog post with extra details about using the ifupdown config files in Ubuntu 16.04.

[2020-04-01 17:52] kush-daga commented on #1333
Thank you!

[2020-04-01 19:36] hemna opened #1460 "Using the `ubuntu` group in cloud-init breaks instance access"
**Describe the bug**
Launching a vm with multipass launch and a cloud-init.yml results in
multipass launch timing out, even though the vm is up, and the launch
times out waiting for initialization to complete.

**To Reproduce**
How, and what happened?
1. multipass launch -n test --cloud-init ci.yml
 The vm starts up, then gets to the
"Waiting for initialization to compete". Then it times out.

[co

[2020-04-02 00:28] hemna opened #1461 "cloud-init url"
**What are you trying to do?**
I would like to be able to use a cloud-init.yml from a url while launching a new vm

[code]

**What's your proposed solution?**
--cloud-init should support http:// files

**Additional context**
Add any other context or screenshots about the feature request here.

[2020-04-02 07:07] Saviq commented on #1461
Thanks @hemna, that's something we could do indeed.

[2020-04-02 09:26] Saviq commented on #1460
Hi @hemna - the problem is the `ubuntu` group you're using. The `default` user, required by Multipass to function, has `ubuntu` as its primary group, so cloud-init then fails to create this user:

[code]

The solution (or well, workaround - I'll file an issue with cloud-init) is to remove any mention of the `ubuntu` group from your YAML. You also don't need the `default` user.

Additionally, you n

[2020-04-02 09:45] Saviq commented on #1460
I filed [LP#1870310](https://bugs.launchpad.net/cloud-init/+bug/1870310), will close this for now and reopen if they tell us we're doing it wrong ;)

[2020-04-02 09:45] #1460 closed

[2020-04-02 11:40] Saviq commented on #1459
Hi @SimonAmbridgeNuoDB, did you have a look at our [Troubleshooting networking on macOS](https://multipass.run/docs/troubleshooting-networking-on-macos) doc? Are you using a proxy, or a VPN?

[2020-04-02 12:12] #1187 closed

[2020-04-02 13:43] anonymouse64 commented on #1187
I'm still seeing this on my Raspberry Pi 4, can we increase the timeout more? it's also not clear to me that the timeout was actually 5 minutes? If you look at the logs from when multipassd started to when it failed, it seems like it was only 3 minutes before it gave up.

command:
[code]

snap info:
[code]

logs:
[code]

[2020-04-02 13:56] Saviq commented on #1187
@anonymouse64 it's 30s on yours still, because it's only version `1.2.0-dev.103+g9148960` (revision 1920) that got this fix :)

[2020-04-02 16:18] Alan-Jowett opened #1463 "Data loss on Windows upgrade"
**Describe the bug**
Multipass stores it's VM's under %Windir%\System32\config\systemprofile\AppData\Roaming\multipassd

After upgrading to a newer version of Windows 10, all my VMs are gone.

**To Reproduce**
Install multipass
Create VMs
Upgrade Windows

**Expected behavior**
VMs show up after upgrade.

**Logs**
Gone.

**Additional info**
Windows 10 Insider

**Additional context**
Data is still p

[2020-04-02 16:31] hemna commented on #118
would also like to have bridged networking so my vm can ping other systems in my local network and vice versa.   Have to stick with vagrant vms until then.

[2020-04-02 16:54] Saviq commented on #1463
Duplicate of #1112

Hi @Alan-Jowett, we have a report about this already and will move out from there soon.

[2020-04-02 16:54] #1463 closed

[2020-04-02 16:54] Saviq commented on #1463
Duplicate of #1112

[2020-04-03 09:32] felixbuenemann opened #1465 "Add build instructions for macOS and Windows"
The current build instructions from the README seem to only work on Linux.

They should be extended for macOS and Windows.

[2020-04-03 09:37] SimonAmbridgeNuoDB commented on #1459
Hi

I've disabled my VPN, reinstalled microk8s and multipass, and the problem still persists:

$ microk8s install
Launched: MicroK8sVM
error: unable to contact snap store
An error occurred when trying to execute 'sudo snap install microk8s --classic' with 'multipass': returned exit code 1.

It doesn't look like this is robust enough for public consumption yet so I'll look for a desktop K8s solutio

[2020-04-03 17:16] Saviq commented on #1465
Hi @felixbuenemann the macOS and Windows parts of Multipass are currently closed source, the lack of build instructions is the result of that.

[2020-04-03 17:16] #1465 closed

[2020-04-03 17:26] anonymouse64 opened #1466 "Can't launch VM on Raspberry Pi 4 arm64"
**Describe the bug**

Multipass should work on arm64.

**To Reproduce**
[code]

**Expected behavior**
The VM would start

**Logs**

<details>

[code]

</details>

Ubuntu 19.10 Server for arm64 on Raspberry Pi
[code]

[2020-04-03 17:29] Saviq commented on #1466
Duplicate of #1376

[2020-04-03 17:29] #1466 closed

[2020-04-03 17:30] Saviq commented on #1466
Hey @anonymouse64 it's unclear why there isn't a default `-machine` value, see #1376 and please let us know if you think it's "our" fault.

[2020-04-03 21:38] jfmatth commented on #1321
I find that restarting the Internet Connection Sharing seems to help with the HOST's issue.

I also notice that it doesn't always delete the entries in HOST.ICS file, but comments them out, odd.

I've had similar issues with networking, and removing the cached entries seems to help, as does a reboot :(

[2020-04-03 21:57] vay3t opened #1468 "`/etc/dnsmasq.conf` is read and fails due to confinement if it exists"
**Describe the bug**
Describe what your problem is.

**To Reproduce**
How, and what happened?
1. `reboot`
2. `multipass launch`
3. `multipass shell unbeatable-earwig`
4. `ping google.com`

![image](https://user-images.githubusercontent.com/6080369/78407449-3ecaff00-75db-11ea-80a0-30d5babeb4fa.png)

**Expected behavior**
I need internet in VM

**Logs**
Sorry for spanish

[code]

**Additional info**

[2020-04-03 23:38] felixbuenemann commented on #1465
In that case the README should mention that fact.

[2020-04-04 14:48] jaipalnair commented on #1062
Hi,
I have install the multipass on Windows with virtual box, I am getting ip address 10.0.2.15 and can able to ping host machine from shell, but from host to guest (10.0.2.15) ping fails. Is there any way to change the ip address as bridge interface?. With this not reachable I am not able to login though web http://10.0.2.15:9000.

Thanks

[2020-04-04 16:18] Saviq commented on #1062
Hi @jaipalnair, we'll be working on adding support for bridged networking soon #118. In the mean time, you could add a second, bridged, network adapter either with `VBoxManage` or VirtualBox itself - you'll need to run them through `psexec.exe -s -i`.

[2020-04-05 12:13] jaipalnair commented on #1062
Thanks for the prompt reply. I have got it working in Hyper-V, the issue with the hyper-V is when I enable it on my Windows 10, I cannot start my VMware session because of an error " VMWare Workstation and Device/Credential Guard are not compatible" . I am using VMWare session for GNS3 and other OS simulations.

[2020-04-06 08:12] Saviq commented on #1062
I'll close this as we never got a reply from the original reporter. @naymore please reopen if you're still interested in getting this going :)

[2020-04-06 08:18] Saviq commented on #1440
Not our bug :)

[2020-04-06 08:18] #1440 closed

[2020-04-06 08:27] Saviq commented on #1446
Hi @GavChap when you go in "Services", is it set to start automatically? Or manual?

[code]

[2020-04-06 08:35] GavChap commented on #1446
I've tried both, it's set to automatic, but doesn't start unless I manually go in and start it up.

[2020-04-06 08:53] Saviq commented on #1447
Hi @ssbarnea, the problem is this line:

[code]

It means Multipass has no permissions to create the virtual network interface… Do you know if your machine is somehow hardened in a special way? Does macOS complain about this permission elsewhere?

There's a similar report in machine-drivers/docker-machine-driver-xhyve#85 and machine-drivers/docker-machine-driver-xhyve#107

Is the `multipassd` proc

[2020-04-06 08:57] ssbarnea commented on #1447
Yes is running as root:
[code]

[2020-04-06 09:09] Saviq commented on #1446
Thank @GavChap, can you look [in the logs](https://multipass.run/docs/accessing-logs) to see if there's anything Multipass is reporting why it couldn't start? Did you try to reinstall it from scratch?

[2020-04-06 09:15] Saviq commented on #1447
That's _not_ running as root, but also that's the system menu icon (which is not supposed to be running as root), not `multipassd`, the daemon (which _is_ supposed to):
[code]

[2020-04-06 09:31] GavChap commented on #1446
I've tried reinstalling from scratch, and here's the most relevant log I could fine, there's a couple of them in there.

- [sshfs-mounts] There was an error with sshfs_server for instance "primary" with path 'Home': Crashed - program: C:/Program Files/Multipass/bin/sshfs_server; error: Process crashed

and

- [daemon] Error updating images: Remote "" is unknown or unreachable.

[2020-04-06 09:39] Saviq commented on #1446
Thanks @GavChap, I wonder if it's something with your network getting up later than Multipass… It shouldn't make the daemon exit, though. I'll get you a version that does more verbose logging, which will hopefully shed a light on this.

[2020-04-06 10:33] ssbarnea commented on #1447
@Saviq i correct the paste, but in github rendering hide the first line. The daemon is root, and the multipass gui normal user, as expected.

[2020-04-06 11:39] ricab opened #1469 "SSHFSMountsTest not deleting mock processes"
**Describe the bug**
The mock processes created in SSHFSMountsTests are not being deleted reliably when those tests finish, so they don't get the expectation verification in the right tests.

Most often (depending on the test order) these mock processes are often deleted in other tests. Expectations are currently honored, so that goes by silently.

However, when shuffling, the tests may finish wit

[2020-04-06 11:42] ricab commented on #1469
This issue comes from the "delete_later" ptrs [here](https://github.com/canonical/multipass/blob/1868d2c617ca3dbaf4d19587f9d40fc8cf128e22/include/multipass/sshfs_mount/sshfs_mounts.h#L49). They were supposed to be deleted [with this](https://github.com/canonical/multipass/blob/44c4ac0e0e8b897fde1ba050b8e78e05bba00cab/tests/test_sshfsmounts.cpp#L37), but that isn't working.

[2020-04-06 12:40] Saviq commented on #1448
Hmm I was unable to reproduce…
1. I took a [Fedora 31 cloud image](https://fedoraproject.org/wiki/Cloud_images)
1. launched it in Multipass - I was already in the `adm` group
1. [upgraded to Rawhide](https://docs.fedoraproject.org/en-US/quick-docs/dnf-system-upgrade/)
1. [enabled snapd](https://snapcraft.io/docs/installing-snap-on-fedora) (including classic)
1. [installed Multipass](https://snapcr

[2020-04-06 12:52] Saviq commented on #1468
Hi @vay3t it looks like something went wrong with routing the traffic into the instances, do you have a firewall running that could interfere?

Here are the relevant bits from `iptables` that ensure the instances get access to the Internet:
[code]

Does this shed any light?

[2020-04-06 12:53] Saviq commented on #1459
Hi @SimonAmbridgeNuoDB sorry you're having troubles, we're using macOS's internal network bridging support including `bootpd`, so trying to stay as close to the system as possible. Unfortunately other software, especially VPN, tends to not care about that.

Could you share what VPN software did you use? Did you try rebooting after disabling the VPN?

[2020-04-06 13:04] townsend2010 commented on #1469
Ugh, that delete_later pointer is sure causing some issues.  There are other runtime scenarios that exposes the issue and cause headaches such as deleting an instance with a mount and quickly launching a new instance with that same name and defining a mount afterwards.  The primary instance is particularly prone to this since the mount is automatic and can happen before the previous deleteLater()

[2020-04-06 13:07] AlanGriffiths commented on #1448
Same system (installed from the rawhide daily a couple of weeks ago, and updated since):
[code]

[2020-04-06 13:11] SimonAmbridgeNuoDB commented on #1459
Hi Saviq
Sure, it is Forticlient VPN 3.11.02. I didn't try rebooting after logging out of the VPN. Ideally I would need something that works alongside it. For instance CRC/OCP gets around this - it's still a K8s image running on my Mac - without any problems.
Best wishes
Simon

[2020-04-06 13:40] Saviq commented on #1459
@SimonAmbridgeNuoDB thanks, that does help. The thing with "getting around this" - I believe the best we can do is to find out and document how to set up your VPN for Multipass to work. You wouldn't like us to mess with your VPN setup, would you?

Any case, we'll try and dig into this.

[2020-04-06 14:02] ricab commented on #1469
Interesting. I wonder if there would be a way to do away with them and have some proper RAII in there.

[2020-04-06 14:05] ricab commented on #1469
Meanwhile, this mentions the requirements for the objects to actually be deleted in an event loop. Maybe they are not fulfilled in the test... TBC

[2020-04-06 14:06] ricab commented on #1469
Meanwhile, [this](https://doc.qt.io/qt-5/qobject.html#deleteLater) mentions the requirements for the objects to actually be deleted in an event loop. Maybe they are not fulfilled in the test... TBC

[2020-04-06 15:33] vay3t commented on #1468
I use firewalld but... okay

### firewalld
[code]

### iptables
[code]

[code]

### Notes
I just realized that I don't have dns but I do have internet.
![image](https://user-images.githubusercontent.com/6080369/78576167-4d433180-77fa-11ea-817b-b502b4b44336.png)

[2020-04-06 15:57] Saviq commented on #1468
That suggests the requests to our internal dnsmasq are blocked.

Can you try, from both your host and the instance:
[code]

If it works from the host, but not the instance - you may need to open port 53 from the `mpqemubr0` subnet to the dnsmasq host.

Looking at `journalctl -u snap.multipass*` may also shed a light on what's going if neither work - it would mean that our dnsmasq can't reach out t

[2020-04-06 16:00] SimonAmbridgeNuoDB commented on #1459
Thanks, much appreciated :)

[2020-04-06 16:25] vay3t commented on #1468
I have evidence of the logs, I share them with you

![image](https://user-images.githubusercontent.com/6080369/78581252-a367a300-7801-11ea-8b81-0d8ff4b9f43b.png)

![image](https://user-images.githubusercontent.com/6080369/78581265-a5c9fd00-7801-11ea-819c-9b668fb4d003.png)

[2020-04-06 17:05] Saviq commented on #1468
@vay3t it's best to use code blocks (```) to include logs, or attached file rather than screenshots.

I reproduced your problem. Is `/etc/dnsmasq.conf` something that you use? Our instance tries to read it in and fails on it. It should never have read it in the first place. I'll PR a fix to that effect.

[2020-04-06 17:09] Saviq commented on #1468
@vay3t if you can move the `/etc/dnsmasq.conf` file away, `snap restart multipass` should make it work again. You can then move the file back.

[2020-04-06 17:14] Saviq commented on #1468
@vay3t another way to workaround for now:

[code]

[2020-04-06 17:17] vay3t commented on #1468
Works!, thx. I will leave the thread open at your disposal, so that you can close it when you consider it convenient.

[2020-04-06 18:54] Saviq commented on #1448
OK reproduced. The instance isn't getting an IP for some reason.

[2020-04-06 19:49] #1468 closed

[2020-04-07 14:06] Saviq commented on #1448
LXD has the same problem: lxc/lxd#7150, it's `firewalld` blocking the DHCP requests.

Disabling `firewalld` is a workaround: `sudo systemctl stop firewalld`.

[2020-04-07 23:35] dbrennan opened #1474 "Multipass can't get info, start shell, get info. Can only start and stop instance"
After installing Windows 10 system updates, multipass can no longer seemingly connect to my primary instance.
After playing around some more, creating another instance fixed the connection to the primary.

Here's what I was seeing:

[code]

I'm not sure how to reproduce this.

**Expected behavior**
Not to lose the connection.

**Logs**
There's nothing particularly telling in the logs.  Just a simi

[2020-04-07 23:39] dbrennan commented on #1474
I should add I created a new user and added ssh keys in the primary instance so I could connect with ssh with X tunneling which worked.
I didn't try my alternate ssh connection because I didn't have the ip address from info, but realized I could have pulled it from HyperV.

[2020-04-08 07:49] markshuttle opened #1475 "QEMU backend fails to realize dnsmasq died (and doesn't restart it)"
On my Ubuntu 20.04 laptop I am unable to launch new instances:

mark@thrifty:~$ multipass launch ubuntu
launch failed: The following errors occurred:
memorable-topminnow: timed out waiting for response
mark@thrifty:~$ multipass launch ubuntu
launch failed: The following errors occurred:
arriving-rabbit: timed out waiting for response

Interestingly, qemu is still running for both attempts:

mark@t

[2020-04-08 08:00] AvtsVivek commented on #1308
Hi Saviq,
Can you please provide more info on how to set password for the default user ubuntu? How should the command line be?

[2020-04-08 10:11] Saviq commented on #1474
Hi @dbrennan this sounds like MS Internet Connection Sharing (which backs the instance networking) had a stale IP for `primary.mshome.net` - this is a Windows issue that happens from time to time and we've [documented ways to unclog it](https://multipass.run/docs/troubleshooting-networking-on-windows).

I'll close this for now and add a note of this to our new issue page.

[2020-04-08 10:11] #1474 closed

[2020-04-08 10:24] Saviq commented on #1475
Hi @markshuttle the instances never got IP addresses. Can you please check if `dnsmasq` is running under "CGroup:" in `systemctl status snap.multipass.multipassd.service`:

[code]

And, if not, check its logs for why it failed:
[code]

If you have a `/etc/dnsmasq.conf`, we just fixed #1468, so please try refreshing to edge.

If none of that suggests anything, do you have a firewall running that co

[2020-04-08 10:42] Saviq commented on #1308
@AvtsVivek `sudo` is passwordless - if you want to set a password for the `ubuntu` user, run `sudo passwd ubuntu`. That won't allow ssh login with passwords (edit `/etc/ssh/sshd_config`) for that. It also won't make `sudo` require a password - for that you'd need to `sudo rm /etc/sudoers.d/90-cloud-init-users`.

[2020-04-08 10:58] Saviq commented on #1447
Hi @ssbarnea can you start other instances? Is there, by any chance, a `hyperkit` process running already? Did you try to reboot?

[2020-04-08 11:05] ssbarnea commented on #1447
@Saviq Now it works. Having another hyperkit process running is not excluded as I do run docker from time to time. I am closing it but I will reopen if I find a way to reproduce it. Thanks!

While MacOS is now sorted I still struggle to make [multipass working on Zuul CI](https://github.com/ansible-community/molecule/pull/2608), even if ironically the node used is an Ubuntu host. If someone can ha

[2020-04-08 11:05] #1447 closed

[2020-04-08 11:53] markshuttle commented on #1475
Hiya. I don't have /etc/dnsmasq.conf so it's not #1468

Looks like dnsmasq is not running:

$ systemctl status snap.multipass.multipassd.service | grep -A2 CGroup
     CGroup: /system.slice/snap.multipass.multipassd.service
             └─1029 /snap/multipass/1784/bin/multipassd --verbosity debug --logger platform

As for logs, I don't have anything for April which is interesting. My last logs are

[2020-04-08 12:00] markshuttle commented on #1475
Restarting the multipass snap started dnsmasq.Launching instances works now, but I think we need to harden multipass against dnsmasq failures. For example:

 - the launch command should have failed fast saying that dnsmasq wasn't running
 - we should have some sort of auto-restart piece

[2020-04-08 12:11] Saviq commented on #1475
That's interesting indeed, how about `journalctl -u snap.multipass.multipassd.service` without the `_COMM`?

Yes indeed, we need to add a health check for that.

[2020-04-08 12:59] townsend2010 commented on #1475
We do have a health check in place, but a flaw in how the check for determining if `dnsmasq` is running was exposed here.  After some discussion on IRC, I think there is a better way we can handle this and will work on fixing that.

Thanks!

[2020-04-08 16:13] dbrennan commented on #1474
Thank you for the update. It's interesting that creating a new instance unjammed it.  I'll keep an eye out for this happening again.

[2020-04-08 18:07] OddBloke opened #1477 "Boot instances using UEFI"
**What are you trying to do?**

I would like to test some of Ubuntu's UEFI configuration, but multipass still launches instances using GPT instead of UEFI.

**What's your proposed solution?**

Not exactly _mine_, but:

[code]

(An ideal implementation for my testing would let me select/modify the method used for boot.)

[2020-04-09 12:34] Saviq commented on #1448
The workaround:

[code]

[2020-04-09 13:35] AlanGriffiths commented on #1448
Until multipass gets confined, that could be added to the install hook:

[code]
:wink:

[2020-04-09 13:54] Saviq commented on #1448
I think we'll have to document that instead.

[2020-04-10 09:25] #1092 closed

[2020-04-10 14:34] jasonmccallister opened #1480 "Lots of random "launch failed" errors"
**Describe the bug**
I'm building a lot of machines use the same configuration for launch. I am also removing and launching those instances often. Recently I started to get a lot of the following errors, which happens randomly and without making any changes, it starts working as expected.

[code]

**To Reproduce**
How, and what happened?
1. `multipass launch --name nitro-global --cpus 4 --mem 4G -

[2020-04-10 14:39] gino-code opened #1481 "multiple cpus issue on MacOS Mojave"
ON MacOS Mojave, launching a new multipass instance with cpus > 1 produce unusable vm (no way to connect to the vm shell).

Here the execution trace:

[code]

the same doesn't happen with --cpus 1.

- OS: MacOS Mojave 10.14.6
-  multipass:  1.1.0+mac

[2020-04-10 15:14] Saviq commented on #1481
Confirmed, will fix ASAP.

[2020-04-10 15:59] Saviq commented on #1481
When using more than one CPU, it looks like the qcow2 implementation in hyperkit is failing… We'll have to dig more.

[code]

[2020-04-10 18:29] townsend2010 commented on #1481
I wonder if adding `-o lazy_refcounts=on` as done in https://github.com/cfergeau/snc/commit/b85d8945a5b61120a6e3a3b21123412e406ba22a will help?

[2020-04-11 02:33] sangshuduo opened #1483 "rootfs of multipass on windows is read-only"
**Describe the bug**
Describe what your problem is.
can't make directory on home directory.

**To Reproduce**
How, and what happened?
1. launch multipass
2. open shell
3. mkdir work
4. report read-only filesystem

**Expected behavior**
What did you expect to happen?

**Logs**
Please provide logs from the daemon, see [accessing logs](https://multipass.run/docs/accessing-logs) on where to find them

[2020-04-11 06:55] robwatkin commented on #1481
Also happens on macOS Catalina 10.15.4

However
[code]

[2020-04-11 10:23] imbroisi commented on #1293
Yes, be able set the IP of the instance is a must for us developers. Please give us this gift. :-)

[2020-04-11 11:13] bagrupe opened #1484 "macOS: Outdated hyperkit version causing problems"
**Describe the bug**

When trying to install microk8s the network connection of the VM gets interrupted and ultimately crashes.

**To Reproduce**

Install multipass & microk8s with homewbrew, then run microk8s install

**Additional info**
 - OS: macOS 10.15.4
- `multipass version`
multipass  1.1.0+mac
multipassd 1.1.0+mac
**Additional context**
I found an outdated version of hyperkit:

sudo "/Libr

[2020-04-11 20:46] caglorithm commented on #1447
I am having this exact issue for a while now. I can't start my primary instance (same error as OP) but I can start other instances if they are called differently. Any idea why this might happen?

[2020-04-12 00:21] caglorithm opened #1485 "Can't start primary instance but others on macOS"
**Describe the bug**
I've upgraded multipass to `multipass  1.1.0+mac` and `multipassd  1.1.0+mac` recently and could not launch my primary instance anymore.

When I run `multipass start`, I get

[code]

I've noticed that I could still use other instances and create new ones without a problem. I've also created a new instance specifically with the command `multipass launch --name primary --cpus 4

[2020-04-12 00:27] caglorithm commented on #1485
I've rebooted my machine after 4 weeks, and it worked. _sigh..._

[2020-04-12 00:27] #1485 closed

[2020-04-13 22:17] jasonmccallister commented on #1480
This is most likely related to https://github.com/canonical/multipass/issues/1481

Setting the CPUs to 1 seemed to resolve it.

[2020-04-14 06:28] Saviq commented on #1480
Yeah @jasonmccallister we'll work on fixing that ASAP. Thanks for the report.

[2020-04-14 06:28] Saviq commented on #1480
Duplicate of #1481

[2020-04-14 06:28] #1480 closed

[2020-04-14 07:32] Saviq commented on #1484
[code]

We certainly should, can you please point at where you read about this requirement? Thanks.

[2020-04-14 07:49] bazgr commented on #1484
Hi, I found at least https://github.com/moby/hyperkit/issues/267 re: Catalina

I tried to workaround the issue by manually upgrading hyperkit to no avail though. I guess there might be an additional problem with the 10.15.4 supplemental update...

[2020-04-14 15:48] alexxed commented on #1481
I tried setting lazy refcounts on directly on the image multipass uses, then do a multipass launch that uses that cached image, but the problem persists.

{code}
//Library/Application\ Support/com.canonical.multipass/bin/qemu-img info ubuntu-18.04-server-cloudimg-amd64.img
image: ubuntu-18.04-server-cloudimg-amd64.img
file format: qcow2
virtual size: 40G (42949672960 bytes)
disk size: 1.1G
cluster

[2020-04-14 16:21] Saviq commented on #1481
Yeah, I think the `lazy_refcounts` was actually a way to reproduce, not to fix…

[2020-04-14 19:21] townsend2010 commented on #1481
Well, according to https://github.com/moby/hyperkit/issues/221#issuecomment-499431737, it says enabling`lazy_refcounts' yields:

so it was worth trying.  But since that didn't fix it here, then it appears this issue is different than what is causing https://github.com/moby/hyperkit/issues/221.

[2020-04-15 04:28] supreet21 opened #1486 "Unhelpful "bad file" error when `--cloud-init` file is missing"
**Describe the bug**
Describe what your problem is.
C:\Windows\system32>multipass launch -n ubuntu-lts-custom --cloud-init cloud-config.yaml
error loading cloud-init config: bad file

[2020-04-15 06:22] Saviq commented on #1486
Hi @supreet21, can you please attach your `cloud-config.yaml`?

[2020-04-15 09:33] supreet21 commented on #1486
can u guide me to the how to get the cloud-config.yam? unable to get it.

[2020-04-15 10:12] akunaatrium commented on #1293
Every time the IP of the instance changes, I have to update it also in the MobaXTerm saved session to be able to log in. Quite annoying.

[2020-04-15 12:12] just1689 opened #1487 "Use local mirrors"
**What are you trying to do?**
Downloading the Ubuntu iso

**What's your proposed solution?**
Ensure when Multipass downloads the ISO it uses the local mirrors.

[2020-04-15 12:34] townsend2010 commented on #1487
Hi @just1689,

We do not download ISO images during `launch`. We download [cloud images](https://cloud-images.ubuntu.com/) and there are no mirrors for those. If you are using `multipass launch http://some.download.place`, then you are in control of the URL here.

[2020-04-15 12:34] #1487 closed

[2020-04-15 12:45] AlbertoDePena opened #1488 "Launch with cloud-init times out when installing snaps"
Using multipass in Windows 10 Enterprise (1903) and trying to launch a vm with cloud-init.

I want to install docker and microk8s at the same time. I have no problem installing docker but once I include the snap command to install microk8s, the multipass launch command takes a while, then finished saying timeout error.  Im sure Im just messing up the cloud-init confi. Any help would be appreciated

[2020-04-15 13:25] townsend2010 commented on #1488
Hey @AlbertoDePena,

We have a hard timeout of 5 minutes waiting for `cloud-init` to finish.  It's obviously going to take longer than that for what you are doing.  That said, this timeout "error" in this case is benign and you should be able to use the instance once `cloud-init` does indeed finish.  You may be able to even `multipass shell` into the instance during this time if ssh is set up befo

[2020-04-15 13:25] #1488 closed

[2020-04-15 13:55] townsend2010 commented on #1486
Hey @supreet21,

The `cloud-config.yaml` is where ever you created it.  If you _didn't_ create one, then don't use the `--cloud-init cloud-config.yaml` option during `launch`.

[2020-04-15 14:33] Saviq commented on #1293
Hi @akunaatrium you can use `<instance_name>.mshome.net` rather than the IP.

[2020-04-15 14:34] Saviq commented on #1488
Duplicate of #1039

[2020-04-15 14:35] Saviq commented on #1486
Oh so this suggests the "bad file" error just means the file doesn't exist… We should have a clearer error.

[2020-04-15 14:55] Saviq commented on #1446
Hi @GavChap can you please install the version from https://github.com/canonical/multipass/pull/1479#issuecomment-611560506 and reboot, then check the event viewer again?

You can select all the messages and export to an `.evtx` file that we'll be able to introspect.

[2020-04-15 14:56] supreet21 commented on #1486
ok, thanks @townsend2010 I got the problem. sorry to bother you for this

[2020-04-15 15:03] Saviq commented on #1486
@supreet21 we'll keep this issue about the error, which should have told you that the file doesn't exist.

[2020-04-15 15:27] AlbertoDePena commented on #1488
@townsend2010 thanks for the quick response. That makes total sense. I tried it many times and most of the times, even though it times out, docker and microk8s is installed. Thanks again, this project is awesome!!!

[2020-04-16 01:26] wslab commented on #1481
Also hitting this issue with Multipass 1.0.0 and 1.1.0 on Mojave 10.14.6.

[2020-04-16 08:02] akunaatrium commented on #1293
@Saviq Nice, worked indeed, thanks! Do you know if it also documented somewhere?

[2020-04-16 08:05] Saviq commented on #1293
Not yet - I've added it to the list of topics we should document on https://multipass.run/docs.

[2020-04-16 20:12] townsend2010 commented on #1481
Hey all,

https://github.com/canonical/multipass/pull/1490#issuecomment-614865608 has a link to a test package that addresses this issue.  You may have to delete/purge the broken instance and relaunch a new instance.  Let us know if this works or not.  Thanks!

[2020-04-16 21:35] giaino commented on #1481
Hi all,

I tested the new package with 2 and 4 cpus checking also the produced VMs with lscpu and now, for me, all it's OK.

- OS: MacOS Mojave 10.14.6
- multipass: 1.2.0-dev.192.pr1490+gfe18a2e8.mac

Thanks

[2020-04-17 01:24] kundeng commented on #1323
Disappointed that it doesn't support Windows Server 2016 or 2019.

[2020-04-17 01:27] kundeng commented on #1062
How do you get multipass working in the nested windows 2019?  It complains hyper-V not enabled.

[2020-04-17 03:41] supreet21 opened #1492 "error while launching multipass"
PS C:\Windows\system32> multipass launch
launch failed: Could not start VM: Waiting for VM "cheerful-glassfish" to power on...
VBoxManage.exe: error: Not in a hypervisor partition (HVP=0) (VERR_NEM_NOT_AVAILABLE).
VBoxManage.exe: error: VT-x is disabled in the BIOS for all CPU modes (VERR_VMX_MSR_ALL_VMX_DISABLED)
VBoxManage.exe: error: Details: code E_FAIL (0x80004005), component ConsoleWrap, int

[2020-04-17 07:31] alexxed commented on #1481
That build works for me with 8 cpus on 10.15.4

[2020-04-17 07:51] Saviq commented on #1446
Hi @GavChap can you please try the build from https://github.com/canonical/multipass/pull/1479#issuecomment-611560506 and let us know what it logs after a reboot when the service isn't running?

[2020-04-17 08:43] Saviq commented on #1492
Hi @supreet21, see this:

[code]

You need to enable virtualization in your BIOS.

Can you please explain more about your second issue? What commands are you running, what were you expecting, what happened instead?

[2020-04-17 08:47] supreet21 commented on #1492
I used conducive-ringtail instance earlier than exited it later came back and tries to launch it but showed that the instance doesn't exist.

[2020-04-17 08:47] Saviq commented on #1062
@kundeng nested virtualization isn't universally available. You first need to ensure Hyper-V (or VirtualBox) is working, Multipass can't function without those.

Please also file a separate issue if you think there's something wrong going on.

[2020-04-17 08:47] #1062 closed

[2020-04-17 08:49] supreet21 commented on #1492
for the first issue I always encounter this after a windows update, and need go and change the setting BIOS everytime

[2020-04-17 08:52] Saviq commented on #1492
Can you please fill in the info in the description? `multipass info --all` and the logs would be most informative.

We can't do anything here, sorry.

[2020-04-17 09:16] supreet21 commented on #1492
C:\Windows\system32>multipass info --all
Name:           primary
State:          Stopped
IPv4:           --
Release:        --
Image hash:     2f6bc5e7d9ac (Ubuntu 18.04 LTS)
Load:           --
Disk usage:     --
Memory usage:   --

Name:           artistic-sanderling
State:          Stopped
IPv4:           --
Release:        --
Image hash:     2f6bc5e7d9ac (Ubuntu 18.04 LTS)
Load:           --
Di

[2020-04-17 10:04] GavChap commented on #1446
I can't send you the logs as they would need to be anonymised somehow and go through our IT department fist (this is a corporate PC).

However I can give you the messages from the most recent boot here.

`- <Event xmlns="http://schemas.microsoft.com/win/2004/08/events/event">
- <System>
  <Provider Name="Multipass" />
  <EventID Qualifiers="0">1</EventID>
  <Level>4</Level>
  <Task>0</Task>
  <Key

[2020-04-17 10:09] GavChap commented on #1446
From starting the service manually I get the same 3 events as above, with this additional one.
[code]

[2020-04-17 10:44] Saviq commented on #1446
@GavChap I've enabled more verbose logging in the build from https://github.com/canonical/multipass/pull/1479#issuecomment-611560506 - are there any events from different sources, after "service is running", that may suggest it crashed? Like a security policy that got applied…?

It's really tricky to understand since it only happens on boot…

[2020-04-17 10:49] GavChap commented on #1446
I used the verbose logging version from that build.

There's no other events after that that are errors, plus it's working fine on my collegues machines with the same group policies applied as we're in the same domain group. Unfortunately I can't give any more information than I have already due to corporate policies. So you might just have to close this.

[2020-04-17 11:20] Saviq commented on #1446
@GavChap there should have been events like "Starting Multipass 1.2.0…" and "Service arguments: …", did you not see those, or just omitted them?

I did refresh that build, the right version should be `1.2.0-dev.178+gf4946544`, is that what you get in `multipass version`?

[2020-04-17 12:16] Saviq opened #1495 "Characters not escaped in commands"
[code]
_Originally posted by @Saviq in https://github.com/canonical/multipass/pull/1439#pullrequestreview-395244787_

[2020-04-17 12:33] townsend2010 commented on #1484
Closed by https://github.com/canonical/multipass-private/commit/51bc9e88e52bbe8d1a62118ff9dc9776f293890b.

[2020-04-17 12:33] #1484 closed

[2020-04-17 12:34] townsend2010 commented on #1481
Closed by https://github.com/canonical/multipass-private/commit/51bc9e88e52bbe8d1a62118ff9dc9776f293890b.

[2020-04-17 12:34] #1481 closed

[2020-04-17 13:00] #1230 closed

[2020-04-17 14:47] GavChap commented on #1446
I wasn't seeing any of those, and I'm sure it was the right version as it had the right service arguments for debug mode and the right version. Those were the only multipass messages in the event log from this morning's boot up.

[2020-04-17 14:52] Saviq commented on #1446
@GavChap that's actually one of the things I fixed very recently (the version from this morning is what actually got merged) - the `--verbosity debug` arguments were being ignored (thanks to Windows's two-stage service management).

[2020-04-17 14:53] GavChap commented on #1446
I'll reinstall that new one and let you know again.

[2020-04-17 18:12] townsend2010 commented on #1486
Closed via c80b31f.

[2020-04-17 18:12] #1486 closed

[2020-04-17 20:15] townsend2010 commented on #1433
Hmm, what are we supposed to do here?  Give full access to any part of the filesystem for the `ubuntu` user?  Regular `sftp`/`scp` also denies permission when the user can't access a particular part of the filesystem.

[2020-04-18 01:56] kundeng commented on #1062
I don't think multipass supports windows 2019 server edition.  Yes,  the windows 2019 server is a VM nested inside vmware workstation with vmx enabled for that VM.

[2020-04-18 01:56] kundeng commented on #1062
see this https://github.com/canonical/multipass/issues/1323

[2020-04-18 15:15] ianbtr commented on #1461
Does the URLDownloader class support HTTPS URLs as well?

[2020-04-20 05:52] RamuRChenchaiah commented on #1374
Thank you, All.
Below tries helped us:
- Using a different network (home/office/mobile)
- Removing virtual box from our local setup.

[2020-04-20 13:30] townsend2010 commented on #1434
We need to think about the design for this.  I see two viable options on how this could be handled:
- Any missing directories are just created.
- An option like `lxc file push` uses, ie, `-p, --create-dirs`.  If there are missing directories and this option is not given, then it's an error with appropriate message.

Any comments?

[2020-04-20 13:34] Saviq commented on #1434
I'd go for:

[2020-04-20 13:42] Saviq commented on #1391
Hey all, I'm going to close this now as we've fixed the `bad_optional_access` issue.

I believe yours' are one of the handful "networking" problems [documented here](https://multipass.run/docs/troubleshooting-networking-on-macos) - please go through that document and file another issue with as much details about your networking situation as possible.

Thanks!

[2020-04-20 13:42] #1391 closed

[2020-04-20 13:46] kush-daga commented on #1455
No, i dont have Hyper-V as windows Home, this is using virtualBox

[2020-04-20 13:47] Saviq commented on #1415
Hi @Lapshin I'll close this since we didn't get feedback in a while. Please let us know if you still have this problem and answer the questions above.

Thanks!

[2020-04-20 13:47] #1415 closed

[2020-04-20 14:01] Saviq commented on #1455
@kush-daga on VirtualBox the internal IP of the instance won't be accessible due to how networking works there. We'll be working on enabling bridged support (#118) soon, which would mean you'll get an IP from whatver network segment you bridge the instance with.

[2020-04-20 14:01] #1455 closed

[2020-04-20 14:03] kush-daga commented on #118
https://jon.sprig.gs/blog/post/1574
This is a blog that might be useful in this :)

[2020-04-20 14:04] jfmatth commented on #1455
I would highly recommend using Windows Pro and Hyper-V, it's well worth the extra cost.

I was a VB + Windows 10 Home user for may years, picked up Pro since I wanted to try Hyper-V.  The differences are amazing, and products like Multipass work so well with it too.

[2020-04-20 14:05] kush-daga commented on #1455
I agree, thank you for the suggestion, looking to upgrade soon :)

[2020-04-20 14:21] ricab commented on #1434
I am on the fence. Unnecessary typing is best avoided, but the advantage I see in `-p` is detecting *some* mistakes early. For instance, consider:

1. `multipass transfer $HOME/file primary:$HOME/file`
2. `multipass transfer file ./Douments/file`

On 1. we might actually create `/home/<outside_user>/file`, depending on how we handle permissions. On 2. the typo would result in a new dir. On both ca

[2020-04-20 14:26] townsend2010 commented on #1434
As far as permissions, we are using the `sftp` protocol for this, so permissions are set by the `ssh_server` in the instance.

[2020-04-20 14:27] townsend2010 commented on #1434
And to add, since we are using the security of ssh here, that is the reason for #1433 for which I'm not convinced is a problem or at least is not something multipass should deal with.

[2020-04-20 14:33] Saviq commented on #1335
@setempler, @moonlight16 couldn't you `multipass remove --purge` those instances?

[2020-04-20 14:48] ricab commented on #1434
Yeah, I saw that and was unsure how that part will play out.

[2020-04-20 15:37] moonlight16 commented on #1335
@Saviq I no longer have my system in that state.  However IIRC I could remove/purge the instances, but I couldn't recreate them with the same name as I described.

[2020-04-20 15:39] Saviq commented on #1335
OK I'll close this as we don't have enough info to act on it. Please reopen / report anew if anyone stumbles on this again.

[2020-04-20 15:39] #1335 closed

[2020-04-20 16:04] ricab opened #1497 "On Windows, mounts end up inside home"
**Describe the bug**
On Windows, mounts end up inside the home folder. They do not match what is reported by `info`.

**To Reproduce**
[code]

The same with absolute input paths.

[code]

**Expected behavior**
Producing the correct path in `info` and for it to be either `/home/ubuntu/Videos` or `/C:/Users/ricab/Videos` (the latter if we follow what is documented: "If omitted, the mount point will

[2020-04-20 16:09] Saviq commented on #1497
Yeah it's that "C:" is the root of the absolute path, we'd need to prepend a backslash… But I think on Windows the better route would be to error out, since there can be no 1:1 mapping.

[2020-04-20 16:21] dsvmacdonald opened #1498 "Access to DEV and RC for MacOS"
**What are you trying to do?**
I have issue with building VMs when CPUs specified.  I see that this was fixed in a DEV build but daily builds are not available for MacOS.

**What's your proposed solution?**
Please create MacOS install packages for DEV and RC builds.

[2020-04-20 22:04] genevera commented on #1498
Running into this myself; there are no instructions for building on macos and I can't compile it in linux given that ubuntu via multipass /was/ my linux vm.

[2020-04-21 00:29] kundeng opened #1500 "mutipass needs to support windows server 2016 and 2019"
**What are you trying to do?**
A description of what you want to happen.
It installs but errors out when run on the server edition, complaining about hyper-v not enabled.
In fact, hyper-v is enabled and has other VMS running.

**What's your proposed solution?**
A description of how you think this could be solved, including any alternatives that you considered.
I think it has something to do with A

[2020-04-21 03:25] kundeng opened #1501 "multipass needs to support custom switch instead of default switch in hyper-V"
A caution for anybody who wants to use hyper-v and k3s.

Hyper-V default switch doesn't give out persistent static IP.  It changes upon reboot.  For example, You will have an issue if you want to set-up say a k3s cluster,  worker node will lose connections to the master node.

I guess this can be a feature request rather than a bug??

[2020-04-21 06:07] Saviq commented on #1498
Hi @dsvmacdonald, @genevera, the current development version is always published on [the latest commit in master](https://github.com/canonical/multipass/commit/f1d51cd8f8918178292795bbd3235184e7bca09d#comments):

![image](https://user-images.githubusercontent.com/231077/79830965-d33cac00-83a6-11ea-8717-36b209324aba.png)

The same for [the `release/*` branch](https://github.com/canonical/multipass/

[2020-04-21 06:07] #1498 closed

[2020-04-21 06:09] Saviq commented on #1500
Duplicate of #1323

[2020-04-21 06:09] #1500 closed

[2020-04-21 06:17] Saviq commented on #1501
Hi @kundeng we are planning (#118) to add support for bridged networking soon, at which point you'll be able to use those IPs, or set static ones (#567).

[2020-04-21 06:17] Saviq commented on #1501
Duplicate of #567

[2020-04-21 06:17] #1501 closed

[2020-04-21 07:40] Saviq commented on #1501
@kundeng there's one thing you could do - rather than use IPs, could you make the cluster using `<instance>.mshome.net` hostnames? Those should always point to the right IP.

[2020-04-21 08:50] RoelTiny opened #1502 "Disable sshfs file caching when mounting a folder."
I would like to easily be able to disable sshfs file caching when mounting a folder.
Reason being that changes to files often take between 10 to 20 seconds to register for the vm.

Currently I've set up a script that creates a nfs folder mount from the vm to the host machine but this is kind of cumbersome and requires me to re-run the script when I switch network.

Maybe this can be fixed by addin

[2020-04-21 13:41] Saviq commented on #1433
My first inclination is that it should do the same that `multipass mount` does - create the missing section of the path, making `ubuntu` the owner. _JFDI_ of sorts. That said, I think we're missing the case when part of the existing path is not accessible to `ubuntu`. I.e. `/root` - but that may be a slightly different error - if the `ubuntu` user *can* access the whole existing section, we would

[2020-04-21 14:05] townsend2010 commented on #1433
I think this bug is just about the `ubuntu` user not having permission _somewhere_ in the given remote path, such as `/root` as you say.  We are using the security of `ssh_server` here, so I think the user should modify the ssh server's config to allow different permissions and multipass shouldn't do that.

I really don't think there is anything for us to do with this bug and should be closed.

[2020-04-21 18:58] genevera commented on #1498
Thank you!

[2020-04-22 13:23] Saviq commented on #1181
Fixed by 1425

[2020-04-22 13:23] #1181 closed

[2020-04-22 13:24] Saviq commented on #1181
Fixed by #1425

[2020-04-22 20:59] asevans opened #1505 "Failed to start instance: virtio_net: Could not create vmnet interface"
**Describe the bug**
I'm unable to start any multipass instances

**To Reproduce**
How, and what happened?
1. plug a TOTU 8-in-1 USB-C Hub into computer
1. `multipass launch --name foo --mem 4G --disk 40G`

**Expected behavior**
Instance should start

**Logs**
From /Library/Logs/Multipass/multipassd.log:
[code]

**Additional info**
 - OS: macOS 10.15.4
[code]

**Additional context**
Removing the U

[2020-04-22 22:37] Saviq commented on #1505
Hi @asevans, what about if you use a different `--name`? Or skip it altogether?

We've seen this issue a couple times, but couldn't get what's going on. I'm starting to think it's reusing the name that's ultimately causing this.

[2020-04-23 01:48] asevans commented on #1505
@Saviq neither using a unique `--name` nor omitting it makes any difference.  Same error.

[2020-04-23 12:39] asevans commented on #1505
I forgot to note in the original report, this problem also applies to restarting previously created instances.  If I have an instance stopped and plug in my USB-C hub, they can't start anymore.

Unfortunately, I don't have any other USB-C hub to test with.

[2020-04-23 14:20] Saviq commented on #1505
Thanks @asevans… this is a bit crazy. Your hub has Ethernet in it, which somehow must make macOS / hyperkit confused about the networking setup. Have you tried rebooting with the dock plugged in? Or restarting Multipass when it is plugged in?

[code]

[2020-04-23 14:37] asevans commented on #1505
@Saviq I tried restarting with the hub plugged in and also restarting multipassd: no luck.

[2020-04-23 18:26] Ian-T-Price commented on #1268
I experienced a very rare (once in five years) complete system hang while running two multipass VMs.

After a system restart both VMs were in an unknown state and no combination of multipass (ver 1.1.0) commands revived them.

Restarting the snap.multipass service ( `sudo snap restart multipass` ) and then trying `multipass start <name>` worked. And my K8s cluster recovered without issues. ;-)

[2020-04-23 20:54] pcgeek86 opened #1506 "Can't create Ubuntu Focal Fossa VM with Multipass on Windows 10"
**Describe the bug**
I am trying to create an Ubuntu Focal Fossa virtual machine on Windows 10 build 1909 with Hyper-V, using Multipass 1.2.

**To Reproduce**
How, and what happened?
1. `multipass find` doesn't return a Focal Fossa image

**Expected behavior**
What did you expect to happen?

`multipass find` returns a Focal Fossa image

**Logs**

[code]

[2020-04-23 21:59] ledlamp commented on #1474
similar issue but I get `ssh connection failed: 'Failed to resolve hostname primary.mshome.net (No such host is known. )'`;
can't do anything with primary instance and can't open shell from tray.

stopping primary seems to take forever.

I do have a windows update running so I'll try the troubleshooting once that's all done.

[2020-04-24 07:17] Saviq commented on #1506
Hi @pcgeek86!

Watch this space, it's coming asap :)

[2020-04-24 08:11] Saviq commented on #1506
@pcgeek86 here's a release candidate with those enabled - we just needed to make sure everything's in order :)

https://github.com/canonical/multipass/commit/c80b31f6dbd956562ee723cd45ad593e9171b0e9#commitcomment-38713603

[2020-04-24 09:47] Saviq commented on #1506
And released: [v1.2.1](https://github.com/canonical/multipass/releases/tag/v1.2.1).

[2020-04-24 09:47] #1506 closed

[2020-04-24 12:56] richtera commented on #1119
Argh this happened with the latest version again, but this time it seems to have removed the VM from Hyper-V completely since it didn't allow reinstall without uninstalling first.

[2020-04-24 13:19] AlanGriffiths commented on #1448
*Doesn't* work for me

[2020-04-24 13:39] pcgeek86 commented on #1506
Thank you! I will be installing this shortly! 😁🍺

[2020-04-24 17:01] plashenkov commented on #1244
This orange icon in menu bar drives me crazy too :)
Some aesthetics fanatics here, sorry :)

Also I think, if that's possible, it would be nice to have an option not to install GUI tool at all. It may be okay to use just command-line app for some users.

[2020-04-24 17:10] plashenkov commented on #1244
Ah, it looks like we already have this option. Thank you :)

[2020-04-24 18:37] plashenkov commented on #1244
I've found that we have checkboxes in macOS installer (including "Multipass Status Menu" checkbox) but they are disabled and we cannot turn any of them off.

[2020-04-25 01:21] tekumara commented on #913
The *ubuntu* user works for me using the keys in /var/root which require sudo, eg:
[code]

[2020-04-25 01:45] tekumara commented on #737
On macOS it appears only built-in Ubuntu images are supported, and not arbitrary images:
[code]

[2020-04-25 15:39] richtera opened #1507 "During upgrade the "Yes" delete all settings is too easy to say yes to"
**What are you trying to do?**
Upgrading multipass

**What's your proposed solution?**
Either change the default Yes to say: "Keep all settings or add a second 'are you sure'"

**Additional context**
It's too easy to remove all VMs during an upgrade.

[2020-04-25 16:51] plashenkov opened #1508 "Folders are mounted a bit late"
Hi!

At first, Multipass is a great tool! Thank you, developers, for it!

I'm trying to adapt it for web development as a web server and services provider. Web sites/apps/services I'm working on are mounted from my host machine and Apache is used to serve them. I've found that during VM booting shared folders are not yet ready when Apache tries to start. If to start Apache later, manually, everyth

[2020-04-25 17:21] flying-sausages opened #1509 "ZSH completion"
**What are you trying to do?**
Complete commands on ZSH, which is now default on MacOS and heavily used amongst powerusers.

**What's your proposed solution?**
Create new file for ZSH completion

**Additional context**
Compared to .bashrc, there is a lot of config management systems but they all agree on allowing user modifications to .zshrc

[2020-04-25 19:32] jfmatth opened #1510 "Windows install prompts for Windows Store"
**What are you trying to do?**
Install 1.20 on Windows 10 Pro

**What's your proposed solution?**
Windows 10 looks to make sure apps are certified, and if not, prompts to install from the Windows store.  Without it being verified, I have to click "install Anyway".

**Additional context**
Not a huge deal, but not sure how much effort it takes to get the .EXE validated by MS

[2020-04-26 12:07] pixlwave commented on #1437
I thought I'd add that having just discovered multipass (It looks absolutely amazing by the way!), and noticing the same thing, I tried moving everything from `/Library/...` to `~/Library...` and updating the LaunchDaemon plist just to see what would happen. Running multipassd as a regular user throws the following error:
[code]
I'm guessing that this would be related to #566 and placing things li

[2020-04-26 16:39] Saviq commented on #1510
Hi @jfmatth, are you seeing this with the installer from [our releases page](https://github.com/canonical/multipass/releases)? It's signed, so this is what you should see:

![image](https://user-images.githubusercontent.com/231077/80313712-0ccd4700-87ed-11ea-82ff-beafc69d3de4.png)

Our release candidates are not signed, since they originate from CI directly, maybe you picked up one of those?

[2020-04-26 16:50] Saviq commented on #1437
@pixlwave Multipass service / daemon has to run as root to be able to access certain system facilities (at the very least create virtual network devices etc.). There's just no way to run the service as non-root. Running `multipass` the command line client without being a member of `sudo`, `admin` or some other administrative group is something we'll work on, soon.

[2020-04-26 17:14] jfmatth commented on #1510
I just downloaded 1.21 from the releases page

![image](https://user-images.githubusercontent.com/289202/80314459-7e35d700-87a6-11ea-9d1c-c9e05777f3bf.png)

And received the same error @Saviq

When i run the 1.21 .EXE, i still get this

![image](https://user-images.githubusercontent.com/289202/80314501-a6bdd100-87a6-11ea-9d71-62c7269d8696.png)

HTH

[2020-04-26 17:15] Saviq commented on #1510
OK this is something new completely. Thanks @jfmatth we'll look into it.

[2020-04-26 18:46] pixlwave commented on #1437
Ahhh that’s a shame, I was hoping for something that could run entirely without root. Thanks for replying anyway.

[2020-04-26 20:13] sprotheroe commented on #1418
Hi @marekadare I had the same issue but, as a workaround, using a terminal emulator (such as ConEmu or Windows Terminal) and specifying the shell running inside the terminal as just "C:\Program Files\Git\usr\bin\bash.exe --login" works fine for me.

[2020-04-27 00:22] krlinus commented on #972
Here's how that goes for me:
D:\sunil\tools\virtualbox>set PATH=%PATH%;D:\apps\Oracle

D:\sunil\tools\virtualbox>multipass list
No instances found.

D:\sunil\tools\virtualbox>multipass launch
launch failed: Could not generate a new UUID: Process operation timed out

[2020-04-27 06:31] Saviq commented on #972
@krlinus this may very well be a different issue, please try with `multipass launch -vvv` and / or look [in the Event Viewer](https://multipass.run/docs/accessing-logs) - and file a new issue please.

[2020-04-27 08:50] ceri opened #1511 "multipass 1.2.0 falsely claims that Windows 10 Education does not support Hyper-V"
**Describe the bug**
Attempt to start a multipass shell on the primary instance using multipass 1.2.0 and Windows 10 Education.  This used to work on 1.1.0.

**To Reproduce**

Steps below captured from within a Windows Subsystem for Linux zsh shell.  I use some shortcuts and aliases which I include for your reference.
The behaviour is not different using the multipass GUI, but it is impossible to

[2020-04-27 08:51] ceri commented on #1511
Apologies for the shell stuff being struck out, I don't really know why that happens but it's a display artefact.

[2020-04-27 08:57] Saviq commented on #1511
Hi @ceri, we've not changed anything in how this is being determined.

What's your output from these commands?
[code]

NB: [GitHub uses MarkDown](https://guides.github.com/features/mastering-markdown/) for formatting, `~text~` results in ~strike-through~.

[2020-04-27 09:52] ceri commented on #1511
Hi @Saviq, neither of those commands return any output, but neither does a bunch of nonsense.

PS C:\WINDOWS\system32> Get-WindowsOptionalFeature -online -featurename Microsoft-Hyper-V
PS C:\WINDOWS\system32> Get-WindowsOptionalFeature -online -featurename Microsoft-Hyper-V-Hypervisor
PS C:\WINDOWS\system32> Get-WindowsOptionalFeature -online -featurename SomethingIJustMadeUp
PS C:\WINDOWS\system3

[2020-04-27 10:08] ceri commented on #1511
<img width="480" alt="thatsnotright" src="https://user-images.githubusercontent.com/112671/80360382-287d2f80-8877-11ea-856c-051dd0896c72.png">

OK, so there seems to be a problem with whatever service is supposed to manage this on my machine, so I will go away and worry about that.

Could you please change the error message though?  Windows 10 Education does support Hyper-V and we often have to co

[2020-04-27 10:13] Saviq commented on #1511
@ceri ACK, thanks for looking into it. I will add "Education" to that message now and we'll also work on the checks we make so we're less exclusive.

Maybe it's enough to check that `Get-VM` is a valid cmdlet before going on the hunt for Windows versions and Hyper-V availability.

[2020-04-27 10:15] ceri commented on #1511
Thanks @Saviq, much appreciated.

[2020-04-27 20:51] jsilvermoslearn commented on #1004
is there a workaround for this? a way to export shell env vars that multipass passes to the login shell?

thanks

[2020-04-28 05:56] robogeek opened #1512 "Multipass Launch timed out waiting for response on Windows 10"
**Describe the bug**

I'm trying to replicate on Windows what I do on macOS X.  I have a fresh install of Multipass 1.2.1, and try to run "multipass launch", and I get this:

[code]

**To Reproduce**

1. `multipass launch`
1. Long pause during which time various messages about _Creating_ and _Verifying_ are printed
1. Eventually the above message is printed

**Expected behavior**

I expect a Multi

[2020-04-29 07:12] mirr254 commented on #1208
I am facing this issue on MacOS Mojave 2017. In particular
[code]

[code]

[2020-04-29 08:19] Saviq commented on #1208
Hi @mirr254, did you see our [network troubleshooting guide](https://multipass.run/docs/troubleshooting-networking-on-macos) yet?

If nothing there helps, please [file a new issue](https://github.com/canonical/multipass/issues/new?labels=bug&template=bug_report.md) with as much detail as you can. Thanks!

[2020-04-29 10:56] Saviq commented on #756
We've been iterating on how could an "integrate with $app" configuration work and I'd like to document what we're thinking:

[code]
Each _app_ could have a distinct set of properties that can be extended over time. The `type` would default to the key in the `client.apps` map, and would route the settings below to the right integration points.

[2020-04-29 11:49] ricab commented on #756
From further discussion on IRC, it would be nice to support a general `terminal`, where the user could specify the executable/command, and a `linux-terminal`, where the user could specify a terminal that was known to the system via a desktop file.

[2020-04-29 12:23] Saviq commented on #756
Sure, the above is not meant to be exhaustive :)

[2020-04-29 14:04] ricab commented on #756
I know, just wanted to record it for the future :slightly_smiling_face:

[2020-04-29 14:22] joe7575 commented on #1215
+1 I had the same problem, trying to build a simple Python based application. This was my first test example. It cost me some time to figure out, why my Ubuntu system did not boot any more (out of disc space).

[2020-04-29 16:15] Teslassian opened #1514 "Download of Multipass.exe"
The multipass.exe file repeatedly fails to download/downloads at a few bytes per second. My internet connection is up and running though.

[2020-04-29 16:28] Saviq commented on #1514
Hi @Teslassian do you mean this url?

https://github.com/canonical/multipass/releases/download/v1.2.1/multipass-1.2.1+win-win64.exe

As you can see it comes from Github, which actually keeps it on Amazon S3… Could it have been a temporary network problem somewhere?

[2020-04-29 16:34] ricab opened #1515 "Fix test failures on Windows and macOS"
These are the tests that fail on Windows ATTO~W~Edit:

[code]

And on macOS, as of yesterday (copied from a travis build):

[code]

[2020-04-29 16:37] ricab commented on #1041
This appears to be gone.

[2020-04-29 16:37] #1041 closed

[2020-04-29 16:39] ricab commented on #1042
Included in test failures tracked by #1515

[2020-04-29 16:40] ricab commented on #1103
Included in test failures tracked by #1515.

[2020-04-29 17:19] Teslassian commented on #1514
Indeed, that exact link.  I have made multiple attempts at downloading the .exe, it fails every time – it has been stuck like this for 6 hours already:  It definitely isn’t a problem with my network, everything else works perfectly. You don’t maybe have another download mirror/link where I can download multipass? It would be appreciated immensely! Regards, From: Michał SawiczSent: Wednesday, 29 Ap

[2020-04-29 20:30] mirr254 commented on #587
I have the same problem but with microk8s

[2020-04-29 22:45] alanisaac commented on #1512
I hit this exact same issue today.  Multipass was working fine for a few weeks on my Windows machine, but mysteriously stopped launching VMs with the exact same errors above.  I tried all the steps above and saw the same results (except WSL2, which I don't have enabled in the first place).

My system is:
[code]

[2020-04-30 07:26] #1514 closed

[2020-04-30 07:26] Teslassian commented on #1514
solved

[2020-04-30 21:54] flying-sausages opened #1517 "Make Multipass GUI respect x-terminal-emulator from update-alternatives"
**Describe the bug**
I would like it if multipass launched new shells from the GUI in my preferred terminal and not `xterm`,

**To Reproduce**
How, and what happened?
1. Install multipass on a Ubuntu Gnome dektop environment
1. Open the notification bar applet
1. Open any shell
1. See `xterm` launch

**Expected behavior**
Have my default terminal emulator launch

**Logs**
None really apply

**Addi

[2020-05-01 11:32] cassiocassio opened #1518 "multipass widget 'open shell' makes odd, unusably small terminal on high-dpi screens"
**To Reproduce**
On a high-dpi screen
1. open a terminal from the dash
2. open a window from the menubar widget 'open shell command'

**Expected behavior**
An ubuntu 'standard' sized and coloured terminal to open in both cases

- 20.04 Focal on 16" macbook pro "retina" 3072x1920 under VMware Fusion

![Multipass Open Shell menubar widget opens unusual terminal](https://user-images.githubusercontent

[2020-05-01 12:20] ricab commented on #1518
Hi, I believe this is what you'd get if you just launched `xterm` directly from the command line. One workaround is

`echo xterm*faceName: xft:monospace:pixelsize=35 > ~/.Xresources`

Of course if you then open `xterm` in a different resolution it will be huge. But the fact that xterm does not follow the scale that is centrally set is outside multipass's scope.

We intend to provide ways to select

[2020-05-01 13:10] Saviq commented on #1518
We'll be working on this soon :)

[2020-05-01 13:10] Saviq commented on #1518
Duplicate of #899

[2020-05-01 13:10] #1518 closed

[2020-05-01 13:11] Saviq commented on #1517
Hey, we'll be working on this real soon.

[2020-05-01 13:11] Saviq commented on #1517
Duplicate of #899

[2020-05-01 13:11] #1517 closed

[2020-05-01 18:18] jfmatth commented on #1512
Does the vm you're building get an IP from the command:
[code]

I recently had some issues after i upgraded from 1.1 -> 1.2 -> 1.21, nothing worked.  I uninstalled and re-installed.

[2020-05-01 20:17] robogeek commented on #1512
No, there is no IP address shown.

Since I had also done upgrades to get to 1.21, I tried the following:

* With WSL2 shut down (`wsl.exe --shutdown`)
    * Multipass still misbehaves w/ the timeouts shown above
* Uninstall Multipass, telling it to not delete the existing instances
* In Hyper-V, stop each VM then delete each VM - Hyper-V shows no VM's existing
* Install Multipass
* On running `mul

[2020-05-01 20:44] jfmatth commented on #1512
i suspect it's an IP assignment issue, i'm not sure

I had nothing but issues with all non-WSL2 products in the preview version of Windows, ended up uninstalling and reinstalling Windows.  I don't think WSL2 knows enough about networks it doesn't manage IMHO

is there a way you can remove WSL2, make sure it's networks disappear and try again?

There are some troubleshooting articles around HyperV

[2020-05-01 22:50] xnox commented on #1417
@Saviq when will that land? It looks like multipass is the last one that doesn't support core20 yet.

[code]
Fails. With that PR it starts up the VM.

Yet, creating a /+newsnap for it in launchpad works with stock/default settings, no tricks, no hacks. https://launchpad.net/~xnox/+snap/test-gadget-base-core20

And running `snapcraft --use-lxd` locally also works.

Ubuntu 20.04 LTS is now out, and

[2020-05-01 23:04] robogeek commented on #1512
I have disabled WSL, which caused a reboot.  It doesn't show up as a regular application that can be uninstalled.  So far no luck however.

[2020-05-02 08:45] Saviq commented on #1417
Hi @xnox, the buildd images are not considered stable, because there's no CI for them (to test what they're meant to be doing), so there's no way to automatically promote from `daily` to `release`.

AFAICT, [`core20`](http://cdimage.ubuntu.com/ubuntu-core/20/) isn't stable either?

I've now proposed #1520 to add the minimal 20.04 image as `core20` builder - the same that we use for `core16` and `c

[2020-05-02 17:40] jfmatth commented on #1512
WSL is a Windows Feature you have to remove from there :(

I'm sorry you're having such issues, i love my setup so much i've written a repo around it and some scripts to make my life easier.  Check my Github repos.

- Check that the Multipass VM is connected to the default switch
- Do you have other Hyper-V virtual switches?
- Can you make regular VM's on Hyper-V?

Maybe w/o WSL installed, remove

[2020-05-02 18:41] robogeek commented on #1512
Until last night I was not aware that one could install a normal virtual machine using Hyper-V ... but then I saw this thing about Quick Create and voila I could launch a normal Ubuntu instance that way.

So yes I can create a regular VM on Hyper-V.

As for virtual switches etc, I have no idea what you're talking about.  Presumably that's some kind of software emulated network switch.  Presumably

[2020-05-02 19:02] pcgeek86 opened #1521 "Silent installation instructions for Canonical Multipass via Scoop package manager"
**What are you trying to do?**

When setting up a new PC, or refreshing my existing PC, I would like to fully automate the installation and configuration of all my applications, including Multipass. I use the [Scoop package manager](https://scoop.sh/) on Windows 10 to install my core set of development tools, and Multipass currently isn't configured as an installable package through Scoop.

**What

[2020-05-02 22:13] robogeek commented on #1512
I have a bit more of a clue as to what the virtual switch thing is, after watching a couple YouTube videos.

There's only one switch - the default switch - and it is configured as Internal.  I wasn't able to figure out how to change any of its settings, because the buttons are all grey'd out.

I have disabled the Windows Subsystem for Linux feature, the Hyper-V features are enabled.  Multipass is

[2020-05-02 22:34] robogeek commented on #1512
I have now installed Multipass and was unable to find any changes in any settings in the Hyper-V Manager application.

But..  I got this:

[code]

The VM named `focal` is shown in a Running state with 1gb of memory.  The network adapter is Default Switch - obviously since there's only that one switch.  "Enable virtual LAN identification" is not selected.  Connecting to it results in the same "grub

[2020-05-02 22:35] robogeek commented on #1512
@jfmatth  you said there are troubleshooting articles.  Where?

[2020-05-02 23:34] robogeek commented on #1512
After searching (DuckDuckGo) for "troubleshoot hyper-v multipass" I found this:  https://multipass.run/docs/troubleshooting-networking-on-windows

It suggested

[code]

So I did that, and rebooted.  After reinstalling Multipass again, I got this:

[code]

Again.  So frustrating since the behavior looked so good - it was readily downloading the image and configuration - only to result in this.  I t

[2020-05-03 11:11] Saviq commented on #1512
Hi @robogeek, try using a different name - or skip `--name` altogether. Window's ICS is known for getting confused with multiple (different) hosts using the same name too often.

Have a look at `C:\WINDOWS\System32\drivers\etc\hosts.ics` - a common case is that there will be multiple entries for the same hostname. You can either edit that file or remove it altogether.

[2020-05-03 11:12] Saviq commented on #1512
And thanks @jfmatth for trying to help out!

[2020-05-03 11:15] Saviq commented on #1521
Hi @pcgeek86, if you can pass arguments to the installer, [/S would mean "silent"](https://nsis.sourceforge.io/Docs/Chapter4.html#silent).

[2020-05-03 13:25] jfmatth commented on #1512
Anytime, we've all been there.

MP is one of my favorite tools these days, and Hyper-V can be someone fussy at times.

[2020-05-03 13:35] jfmatth commented on #1512
@robogeek Thanks for hanging in there.

It seems like Multipass is working OK.  The behavior you're describing sounds like the MP VM isn't getting an IP in a timely manner, and I"m not sure what causes that, but lets try something else.

Back to making a VM with just Hyper-V, when you did that, did that VM get an IP? (```ip a``` )from within the Linux VM).  Make sure that VM is attached to the def

[2020-05-03 15:06] jfmatth commented on #1512
I just had issues accessing my primary instance, and this was the issue.  I deleted my host.ics file and rebooted, Hyper-V cleaned up the file and my primary was accessible again.

this might help @robogeek

[2020-05-03 16:19] robogeek commented on #1512
When I looked at `host.ics` yesterday there were two entries.  One looked to be well formed, but the other was just a pair of numbers on a line.  Immediately following that was a commented out entry that looked well formed.  I didn't change anything because of all the warnings in the file to not touch anything.

* With Multipass uninstalled
* Deleted `hosts.ics` and rebooted
* The `hosts.ics` was

[2020-05-03 16:24] Saviq commented on #1512
Perfect @robogeek! Thanks for the detailed report, too :)

[2020-05-04 09:24] Chanakan5591 commented on #1376
Somehow QEMU on arm did not have default machine set and can only be set by recompiling the QEMU. So maybe add the -machine flag when run for arm?

[2020-05-04 14:22] pcgeek86 commented on #1521
Thanks, I will try adding a new Scoop manifest to the ["extras" bucket](https://github.com/lukesampson/scoop-extras). That way, for a fresh install, you should be able to do something like:

[code]

[2020-05-05 05:05] robogeek opened #1522 "Image conversion timing out on Hyper-V"
**Describe the bug**

While exploring timeouts on launching Multipass instances on Windows (see https://github.com/canonical/multipass/issues/1512) I experimented further, and narrowed down one clear bug.  That launching a 20.04 instance results in a timeout, while launching an 18.04 instance does not.

The general form of the timeout is this:

[code]

My previous filed issue went over this as a g

[2020-05-05 10:45] Saviq commented on #1522
Hi @robogeek, I've been trying to reproduce your issues and could not - whether I used Hyper-V or VirtualBox, `focal` launched fine on a fully updated stable Windows.

I'm installing insiders' preview now to try as well.

When you open the graphical console, can you see the instance booting ok?

[2020-05-05 14:53] anonymouse64 commented on #1376
What's the status of this bug? Is it within the scope of multipass to just add this argument when running on i.e. Raspberry Pi?

[2020-05-05 15:17] Saviq commented on #1376
Hi @anonymouse64 we're working hard on a LXD backend (will be an option within a couple weeks), at which point it's LXD that will handle qemu, and not Multipass, directly.

You should already be able to try this out [with LXD directly](https://discuss.linuxcontainers.org/t/trying-lxd-virtual-machines/6182) for the moment.

[2020-05-05 16:01] robogeek commented on #1522
Yes.. it starts showing in the Running state as soon as the Multipass progress output shows it in the Starting state.  It stays in the Running state after Multipass prints the timeout message.  In the bottom pane of Hyper-V, the Networking tab shows it connected to the Default Switch but no IP address is assigned.

[code]

FWIW, `hosts.ics` has some corruption:

[code]

Using the Connect button --

[2020-05-05 16:23] Saviq commented on #1522
This only works if the running instance knows how to communicate the IP to Hyper-V, which I don't think Ubuntu knows how…

This sounds interesting. Can you give a screenshot of this state, please?

That we can confirm, it's a bit thick-headed when things don't go as expected.

But please let's focus on the `focal` instance. You said above it never booted. Please just start it in Hyper-V and let us

[2020-05-05 17:05] robogeek commented on #1522
In the past what was printed in the Connect screen was:

[code]

Currently the Connect screen shows black, with a blinking cursor in a place roughly close to what would be the end of that text.

![P1000524](https://user-images.githubusercontent.com/358930/81093360-d9f31500-8eb6-11ea-97a0-0c2d79fb3322.JPG)

On a lark, I hit RETURN and it got to this:

![P1000526](https://user-images.githubuserconte

[2020-05-05 17:26] Saviq commented on #1522
@robogeek OK so the instance never boots, no wonder it's not getting IPs.

Can you try a fresh `multipass launch focal` and monitor it in Hyper-V?

[2020-05-05 18:18] robogeek commented on #1522
It took a couple reboots before I could get it to the state where the old `focal` instance could be deleted.

Ran: `multipass launch --name focal2 focal` to start a fresh instance under a new name just in case there was something left over from the old name.

I had Hyper-V already launched.  It took a moment or so before Hyper-V showed the instance.  As quickly as I could I got the Connection wind

[2020-05-05 19:20] wasem1772 commented on #1236
@bboozzoo

[2020-05-05 21:13] Saviq commented on #1522
Oh wow, @robogeek is your Windows 32-bit by any chance?

[2020-05-05 21:33] robogeek commented on #1522
No ...  It's an HP EliteBook 2650p w/ Core i7 @ 2.8 GHz w/ 16 GB of RAM.  It is installed as 64 bit Windows 10 Pro.  The biggest issue is the drive is a 128GB SSD and it's nearly full.

[2020-05-06 00:17] markoma commented on #1350
i tried running a curl using multipass on Win10. Using hyperv, the curl script worked flawlessly. but on 2 separate machines, running identical curl script using virtualbox backend, failed with 'Download sha256 does not match' error.

[2020-05-06 10:37] Saviq commented on #1522
@robogeek the only reason I can think of this happening is the image got corrupted somehow. Can you try `multipass launch daily:focal` to pull a newer image? If that works, we can guide you how to remove the invalid release image.

[2020-05-06 12:57] Saviq commented on #1522
@robogeek I believe I understand what happened - we had too short a timeout for image conversion, which must have resulted in a corrupted image. I reproduced that inside a VM and we have a fix coming.

[2020-05-06 13:38] robogeek commented on #1522
Okay.  My laptop isn't the fastest around.  Thank you.  Let me know whether there's something I can do to help test.

[2020-05-06 16:34] Saviq commented on #1522
You can! Here's a preview of that fix: [multipass-1.3.0-dev.235+g0e3d34d9.win-win64.exe](https://multipass-ci.s3.amazonaws.com/ppr241/multipass-1.3.0-dev.235%2Bg0e3d34d9.win-win64.exe).

If you can, answer "Yes" when the uninstaller asks you whether to remove all data. That'd be simplest to get to a clean slate. If not, let us know and we'll guide you through what to do.

[2020-05-06 17:47] robogeek commented on #1522
I uninstalled 1.2.1 and as you said asked it to remove all data.

[code]

So..  It got the timeout, but went ahead and assigned an IP address anyway.  I had attached a Connect window during the startup, and saw the normal Linux bootup messages.  Then after the timeout occurred, the Connect window switched to the Login prompt.  After seeing the login prompt I ran the `multipass list` shown above.

[2020-05-06 19:17] plashenkov commented on #1508
I've tried to add to `/etc/fstab` these lines:
[code]
but no luck.

[2020-05-07 06:16] Saviq commented on #1522
Yes, we have a 5 minute timeout for the instance to come up, but if it does, later, it will still work.

So yeah, what you're getting now is expected - and things will work. We have some work to do on the timeout side so it's a better experience. Most importantly, we now know everything that was happening. Thanks for helping out!

[2020-05-07 07:45] Mangnoppa opened #1523 "Timeout on waiting for response when cloud-init ssh_keys is used"
**Describe the bug**
When I use cloud-init's rsa_private/rsa_public of the `ssh_keys` module, the VM is being started but multipass times out.

**To Reproduce**
1. `multipass set local.driver=libvirt`
2. Create a cloud-init file with following content
[code]
3. `multipass launch -vvv -n $HOSTNAME-vm --cloud-init <CLOUD_INIT_FILE>`
[code]

**Expected behavior**
multipass should return without an er

[2020-05-07 07:57] Saviq commented on #1523
Hi @Mangnoppa, is setting the SSH _host_ keys actually what you want to do?

You just posted your private key here, so you should probably stop using it in any case…

If you wanted the client / user keys, you can use this:
[code]

[2020-05-07 08:01] Mangnoppa commented on #1523
Hey,
tanks für the reply. The ssh-key I posted was created in a VM and is not going to be used. So yes, it is a private key, but it's not mine and is not being used for anything. It's just for testing purposes.

[2020-05-07 08:10] Saviq commented on #1523
@Mangnoppa so is `ssh_authorized_keys` what you actually wanted? Please close the issue if so.

Thanks!

[2020-05-07 08:14] Mangnoppa commented on #1523
@Saviq No, I want to create a virtual machine which is able to work on a bitbucket repo and therefore I need those keys.

[2020-05-07 08:16] Mangnoppa commented on #1523
@Saviq Why is this no more marked as `Bug`. Shouldn't multipass support all cloud-init directives?

[2020-05-07 08:22] Saviq commented on #1523
@Mangnoppa I'll have a look why this is the case - I just changed it to _question_ while we understand whether it is a bug on our side or not.

In any case, I still don't think that's exactly what you want. You want `~/.ssh/id_rsa` and `~/.ssh/id_rsa.pub` to be populated, right? That's not what [`ssh_keys.rsa_*`](https://cloudinit.readthedocs.io/en/latest/topics/modules.html#host-keys) does - thos

[2020-05-07 08:24] Saviq commented on #1508
Hi @plashenkov - that won't work exactly like that, but you can certainly have a custom mount set up like this. You will have to prefix `:/path/on/host` with your host's IP or hostname, and set up your own SSH keys as needed.

Another option to try is to use systemd's dependencies - every mount creates a `path-on-guest.mount` - you may be able to depend on that in your Apache config. Or maybe have

[2020-05-07 08:34] Mangnoppa commented on #1523
Yes, that's what I want. I thought I can achieve that by using [`ssh_keys.rsa_*`](https://cloudinit.readthedocs.io/en/latest/topics/modules.html#host-keys)

I see. I'll try [`write-files`](https://cloudinit.readthedocs.io/en/latest/topics/modules.html#write-files). Thanks for your help

[2020-05-07 08:34] #1523 closed

[2020-05-07 12:19] Saviq opened #1524 "[hyper-v] does not realize instance startup failed"
**Describe the bug**
When instance startup fails (e.g. not enough memory), Multipass doesn't realize and continues on to try and reach the instance.

**To Reproduce**
1. try to launch an instance with too much memory

**Expected behavior**
Early fail.

**Logs**
[code]
**Additional info**
- OS: Windows 10
- multipass-1.2.1

[2020-05-07 15:55] plashenkov commented on #1508
Hi @Saviq!
Thank you for your answer. I still have some questions:
1. Is there any chance Multipass will mount folders earlier right out of the box? Or is current situation optimal for some reason? I think it's very common situation when some services depend on shared folders so it would be a good choice if folders were mounted as early as possible.
2. Regarding `path-on-guest.mount` and Apache co

[2020-05-07 16:09] Saviq commented on #1508
Hey,

1. There's currently no way for Multipass to mount stuff earlier, as we need to wait for SSH to be up.
2. Yes, that would be adding something along the lines of:
[code]
   in `systemctl edit apache2.service`. You'll have to experiment.

   You could also have a service like so:
[code]
3. Please file as a separate issue, yes. Ideally with exact steps that lead to missing mounts. Thanks!

[2020-05-07 18:20] #1511 closed

[2020-05-07 19:12] zklosko opened #1525 "Error: timed out waiting for initialization to complete"
**Describe the bug**
I'm trying to have multipass clone a github repo and run the installer. It appears to be working via. the logs but I keep getting the following error.

[code]

**To Reproduce**
After cloning [this](https://github.com/zklosko/libretime-multipass.git), run `multipass launch bionic -n ltTEST --cloud-init libretimeTest.yaml`.

**Expected behavior**
I expected the installer to run

[2020-05-07 19:28] townsend2010 commented on #1525
Hi @zklosko,

Thanks for the bug report. This is due to your custom cloud-init taking a long time to complete.  Although it says it's a failure, it's not really and is just a matter of a hard-coded timeout occurring waiting for cloud-init to complete.  We have #1039 to track this.  As such, I'm going to close this as a duplicate of #1039.

[2020-05-07 19:28] #1525 closed

[2020-05-07 19:30] #1417 closed

[2020-05-07 20:11] plashenkov commented on #1508
Thank you! The idea is totally clear. But I can't find the file `path-on-guest.mount`. I've searched entire disk (for symbols from real mount name) and can't see that file. But I can see `/etc/systemd/system/snap-multipass\x2dsshfs-134.mount` file. Maybe something has changed and now `path-on-guest.mount` files are not created?

[2020-05-07 20:37] Saviq commented on #1508
It's not a file, look at `systemctl status` to find the exact name of the unit.

[2020-05-07 21:23] plashenkov commented on #1508
Sorry :) yes, `systemctl | grep mount` gives me that unit, it's exactly named like you said. So:

[code]

Added:
[code]
Saved. Restarted VM:
[code]
Still no luck for some reason, Apache is unavailable after VM restart.

Nevertheless, I found this works (instead of binding to `path-on-guest.mount`):
[code]
Well, it works for now. I'll try to investigate why your variant doesn't work for me. Maybe I

[2020-05-07 21:23] #1508 closed

[2020-05-07 23:23] alokpr commented on #1097
I have been bit by this bug as well. What is the workaround please?

[2020-05-08 01:50] zklosko commented on #1525
Thanks @townsend2010 👍

[2020-05-08 15:43] jasonmccallister opened #1527 "umount leaves a directory in the vm"
**Describe the bug**
When removing a mount the directory is left in the virtual machine

**To Reproduce**
1. `multipass mount /Users/jasonmccallister/dev/issue96 issue96:/nitro/dev`
1. Remove the mount and see the dir `/nitro/dev` is still there

**Expected behavior**
The `/nitro/dev` directory to not exist.

**Additional info**
 - OS: macOS 10.15.4
- `multipass version 1.2.1`

[code]

[2020-05-08 16:45] hatched opened #1528 "[gui] Use event based connection to the daemon instead of polling"
**Describe the bug**

Menu bar app on MacOS 10.14.6 consistently uses 0.1-0.2% CPU. Upon closing sometimes it'll spike to 30-40% although this isn't consistent.

**To Reproduce**
1. Open the `activity monitor` on MacOS and sort by CPU usage.

**Expected behavior**
It shouldn't use a consistent amount of CPU.

**Additional info**
 - MacOS 10.14.6
- multipass  1.2.1+mac
multipassd 1.2.1+mac

**Addit

[2020-05-08 16:53] Saviq commented on #1527
Hi @jasonmccallister, the problem is there's loads of things that could happen between creating and removing a mount. We'd have to remember the exact path we had to `mkdir` and then remove up to that point on destroy.

But what if you mounted partially overlapping paths and removing it in reverse order? It will be busy, so we can't remove the common path, and you'll be left with that on the unmoun

[2020-05-08 16:56] Saviq commented on #1508
@plashenkov sorry, this should have been:
[code]

But again, untested, so YMMV :)

[2020-05-08 16:57] jasonmccallister commented on #1527
I agree bunch of things can go wrong. In our use case - if someone tries to mount the directory again - it throws an error. We can certainly remove this directory in our project, but someone else might encounter this error.

Maybe an optional flag on the `umount` command to clean up the directory?

[2020-05-08 17:16] townsend2010 commented on #1528
Hey @hatched,

Yes, unfortunately right now, the gui client has to poll the daemon every second in order to get the most up to date state since the cli client can also start, stop, delete, etc. instances.  We have plans to change this to event based gRPC connections, but that isn't so straight forward and is a lower priority at this time.  I thought we already had a bug report opened for this, but

[2020-05-08 17:21] hatched commented on #1528
That sounds good :)

The spike is momentary before it shuts down completely. I can't reproduce it reliably however.

[2020-05-08 17:24] plashenkov commented on #1508
Thanks! I've tried it—no success unfortunately. I also tried `Wants=` in `[Unit]`, no success as well. I have two mounts (both are used by Apache in two virtual hosts), so I've tried to specify them all divided by space, still doesn't work. Leaving just one virtual host doesn't solve the problem too. So, I do not know :) Autorestarting of the service works though I do not know if this variant is o

[2020-05-08 17:40] Saviq commented on #1527
Hmm can you explain what you mean by an error being thrown when mounting again?

[2020-05-09 14:59] mritd commented on #29
Is there any progress?

[2020-05-09 17:00] Saviq commented on #29
@mritd we've designed what the experience will be like in #756 - we've not gotten around to implementing that just yet.

You can use `qemu-img` or the native hypervisor-specific tools to resize the images when the instance is stopped, and cloud-init should resize the root partition on the next boot.

[2020-05-10 03:31] mritd commented on #29
@Saviq Ok,thanks for your answer.

[2020-05-11 05:11] msolimans commented on #1163
Had installed latest version from release page and all went well: https://github.com/canonical/multipass/releases

[2020-05-12 04:52] binghaong opened #1529 "Connection to multipass instance port refused"
## Description
- Installed ElasticSearch on multipass instance (Ubuntu 18.04)
- Installation went successfully
- Was able to reach the ElasticSearch node via curl **within** the instance by running `curl -X GET "localhost:9200/?pretty"`
- The output of the above command is shown below:
[code]

## Problem
- When I try to contact the ElasticSearch instance from **outside** the instance (i.e. via hos

[2020-05-12 07:20] Saviq commented on #1529
Hi @binghaong, this is most likely due to ElasticSearch's configuration, which, for security reasons, listens on localhost only.

Run this:
[code]

If it says "localhost", you need to reconfigure ES.

[2020-05-12 13:41] binghaong commented on #1529
Thanks @Saviq! I will give it a go. Thanks for your advice!

[2020-05-12 13:52] #1529 closed

[2020-05-12 15:50] gomez34 commented on #1323
+1, It installs but errors out when run on the server edition, complaining about hyper-v not enabled.
In fact, hyper-v is enabled and has other VMS running.

[2020-05-12 17:05] noomz opened #1531 "Mounted volume disconnect after Macbook waking up from sleep"
**Describe the bug**
After mac waking up from sleep, the mounted directory in the container is not usable.

**To Reproduce**
How, and what happened?
1. Start container with any mounted dir, for example, `/cdrom`.
2. Make your mac sleep.
3. Turn on.
4. Inside container shell, try `ls /cdrom`.
5. Error is shown as "ls: /cdrom: Socket not connected"

**Expected behavior**
Directory `/cdrom` should st

[2020-05-12 17:43] #1507 closed

[2020-05-13 12:15] #1522 closed

[2020-05-13 12:15] gomez34 commented on #1323
@Saviq Are you planning to introduce compatibility for windows server? Thanks.

[2020-05-13 12:33] Saviq commented on #1323
Hi @gomez34, yes, we just need to get access to one so that we can verify it all works.

Could you run this command for me and post the output, please:
[code]

Multipass currently relies on the "Default Switch" to exist, and that above would confirm for us whether it does.

[2020-05-13 12:34] Saviq opened #1532 "[windows] download progress flickering"
**Describe the bug**
Progress updates in all of cmd.exe, powershell, windows terminal cause flicker of the whole line. It looks that the line is updated more often than necessary.

**To Reproduce**
1. Install Multipass fresh
1. `multipass launch`

**Expected behavior**
Progress update only affects the terminal when the download percentage changes.

**Additional info**
 - OS: Windows 10
- multipass

[2020-05-13 12:37] gomez34 commented on #1323
@Saviq thanks,
this is the command, can I help you with something else?

[code]

[2020-05-13 12:44] Saviq commented on #1323
Thanks @gomez34, that's going to be a problem - without the "Default Switch" we'd have to set up all networking manually…

Do you have any other switches?
[code]

How do you normally run your instances so they get networking?

[2020-05-13 12:54] gomez34 commented on #1323
@Saviq  this is the command, my wsl application works in windows server with hyper-v and also I have Ubuntu virtual machines in Hyper-v
[code]

[2020-05-13 12:57] Saviq commented on #1323
@gomez34 right, but you created the "nat" network yourself, we'll have to look into how would it be possible for us to support.

If you followed a guide or something to set it up, we'd be interested :)

Thanks for your help.

[2020-05-13 13:03] gomez34 commented on #1323
@Saviq with [https://docs.microsoft.com/es-es/windows-server/virtualization/hyper-v/get-started/create-a-virtual-switch-for-hyper-v-virtual-machines] can I help you carry out the tests you need. Thanks.

[2020-05-13 13:31] Saviq commented on #1323
@gomez34 if you can tell me whether you can `ping <vm hostname>.mshome.net` from the host in that scenario, that'd be helpful. Other than that, we'll take it from here :)

[2020-05-13 14:25] gomez34 commented on #1323
@Saviq  Now I don't have any machine created, I only have the wsl machine. I am going to try to create a new virtual machine with Hyper-V.

[2020-05-13 15:55] gomez34 commented on #1323
I have created a virtual machine with Hyper-V called ubuntu. I have assigned virtual swtich 'nat' and I have assigned an ip to the machine using these steps [this](https://medium.com/@mdavis332/hyper-v-nat-w-linux-vm-1d245be6ded1) I send ping the machine using its IP from the host and it responds but does not respond with the command you sent me ping ubuntu .mshome.net , it helps?

[2020-05-13 16:20] Saviq commented on #1323
@gomez34 it does help, and confirms my worry that this doesn't integrate with the Internet Connection Sharing system. We'll have to dig deeper.

[2020-05-13 16:41] gomez34 commented on #1323
@Saviq No, it uses its own adapter that I have created with the commands of the first guide and I have called 'nat', it is a swtich manager with internal connection

[2020-05-14 12:11] grybos commented on #1385
I have a similar problem. I installed multipass 1.2.1+win on Windows 10 Pro version 1909 with Hyper-V 10.0.18362.1. Initially I had some problems with antivirus and firewall, but nothing serious.

Now I can create and delete instances, but I can't enter them. For example:
`C:\Users\rober>multipass ls`
`Name                    State             IPv4             Image`
`primary                 Runni

[2020-05-14 12:42] Saviq commented on #1385
Hi @grybos yeah, this suggests something went wrong with the initialization of the instance.

Please launch one with your SSH key included via `multipass launch --cloud-init` with these contents:
[code]

You could also try this from an Admin console:
[code]

[2020-05-14 13:00] grybos commented on #1385
Great! Thanks @Saviq for such a quick response. I tried the second option - the Admin console, and it worked. Now I can play around to see what went wrong before.

Thanks a lot :)

[2020-05-14 13:40] Saviq commented on #1385
I'll close this as the OP never replied and everything seemed in order there.

[2020-05-14 13:40] #1385 closed

[2020-05-14 14:57] #1449 closed

[2020-05-14 18:10] fesplugas commented on #1505
Same problem here but no USB-C hub involved. I've uninstalled TunnelBlick just in case but I still have the same issue. As a workaround I've installed VirtualBox but I'm not getting an IPv4.

[code]

[2020-05-14 18:50] fesplugas commented on #1505
Fixed by disabling the "Internet Sharing" option.

<img width="780" alt="image" src="https://user-images.githubusercontent.com/2720/81973470-79857580-9624-11ea-9333-16d6d07b02a2.png">

[2020-05-14 20:09] asevans commented on #1505
Disabling "Internet Sharing" for my "USB 10/100/1000 LAN" fixed the problem.  I'm not sure why that was turned on, because it wasn't intentional.

If this is a hyperkit issue, it might be worth at least documenting this issue.

[2020-05-14 22:04] Saviq commented on #1505
@asevans we obviously will!

Thanks @fesplugas for this hint!

[2020-05-15 00:02] Tropicalrambler commented on #208
I agree with this specific topic.
Two options:
One should be able to create images from instances, such that they can be recalled to create new instances.  This would fit the current model.

The other would be to simply save state of the instance and peruse different state names with time stamps. Allowing the workflows described above, which I abundantly use as well.

[2020-05-15 01:31] AntonOfTheWoods opened #1536 "Smarter Windows 10 Home onboarding"
**What are you trying to do?**
Get started as a new Windows 10 Home user. Currently the instructions on the website https://multipass.run/ in the section "Getting Started" make no suggestion you need to perform extra steps with Windows 10 Home. When you follow the instructions per the website, you get the message:

` launch failed: Hyper-V is not available on this edition of Windows 10. Please upg

[2020-05-15 01:51] jen20 commented on #1505
I've just observed the same here on macOS 10.15.4 - disabling internet sharing allows Multipass to start instances.

[2020-05-15 03:55] AntonOfTheWoods commented on #1262
It would be really great to have instructions on how to manage this using VirtualBox on Windows 10. Things are super easy with `sudo` on *nix but instructions on how to get this done practically (like, so you can get output from commands, etc.) on Windows are very hard to find. It makes multipass very hard to get started with on Windows 10 Home

[2020-05-15 09:41] Saviq commented on #1536
Hi @AntonOfTheWoods, thanks for your report. We're actually working on a better installer workflow for this, that will let you know that Hyper-V is unavailable, and let you choose VirtualBox in that case.

[2020-05-15 15:47] ricab opened #1538 "SSHFS server only blocks signals in main thread"
The sshfs server wants to [handle signals in the main thread](https://github.com/canonical/multipass/blob/7a148b009878f9af7a9ea6d78c4186d8f7b398ba/src/sshfs_mount/sshfs_server.cpp#L99). However, the mask is applied in one of two running threads. Until #1539 is fixed, it is unspecified what actually happens (here and elsewhere). After, the signals are not blocked if delivered to the sshfs thread.

[2020-05-15 16:47] ricab opened #1539 "Signal masking relies on "unspecified behavior""
From the man page:

[2020-05-15 18:03] grybos opened #1540 "[Windows] Multipass spams the Event Viewer with Information-level entries"
**Describe the bug**
Multipass logs at least three Information-level events PER SECOND for each instance (either running or stopped). The entries are (in chronological order):

1. [primary] cmdlet: 'Get-VM -Name primary | Select-Object -ExpandProperty State'
2. [primary] Running
3. [primary] cmdlet exit status is 'true'

This seems to be a bit excessive.

**To Reproduce**
1. Start multipass with a

[2020-05-15 18:28] Saviq commented on #1540
Hi @grybos you're right, we need to bump those to trace severity, which would not be logged by default.

[2020-05-15 19:25] ghost opened #1541 "Fix spinner for non-interactive use"
Attempting to run non-interactive scripts that run multipass. Logs look like this:
[code]

This could be resolved by disabling spinners when not running on a live terminal, or via switch.

[2020-05-15 19:51] grybos commented on #1540
Perfect! Can't wait for the next release. Let me close this :)

[2020-05-16 09:31] Saviq commented on #1541
Thanks @chornlgscout, we already modify some things when non-interactive, you're right we should also change how we're doing spinners in that case.

[2020-05-16 09:40] Saviq commented on #1540
Not there just yet ;)

[2020-05-16 18:26] foobarbecue commented on #118
I installed multipass because I read that it did networking so thought it would do this... without the ability to listen on a physical interface, multipass is useless to me.

[2020-05-17 07:51] NerdsvilleCEO commented on #853
@maxramqvist did you find a workaround? I was reading at https://askubuntu.com/questions/1224343/multipass-instances-cannot-resolve-each-others-name-but-can-resolve-external-n that the solution is to add `manage_etc_hosts: false` to the cloud-init, but I am having trouble getting that to work using `--cloud-init <file>`

[2020-05-17 13:23] lukeholder opened #1542 "Update GUI icon color as monochrome."
**What are you trying to do?**
Have the application feel native to the platform. (Windows and Mac)

The GUI menubar icon currently looks like this:
![image](https://user-images.githubusercontent.com/133571/82147908-97044a80-9883-11ea-859a-b22290c839d2.png)

**What's your proposed solution?**
Replace the icon with a monochrome version, or give the GUI app a preference to set the icon to monochrome.

[2020-05-18 04:52] maxramqvist commented on #853
Problem was never resolved, we just stopped using multipass. :/ @NerdsvilleCEO

[2020-05-18 05:37] NerdsvilleCEO commented on #853
@maxramqvist for a quick resolution it could be scripted using awk and a bash script

[2020-05-18 09:52] Saviq commented on #1542
Duplicate of #1240

[2020-05-18 09:52] #1542 closed

[2020-05-18 10:36] NerdsvilleCEO commented on #853
This was bugging me so I developed a workaround.. it's ugly but works for now

[code]

[2020-05-19 13:56] #1538 closed

[2020-05-19 13:56] #1539 closed

[2020-05-19 15:01] sylvandb commented on #118
Multipass absolutely needs bridged networking.

Instead of bridging the existing virtual nic and causing management complexity, simply add a second nic.

Ideally this would be an option on the multipass command line such that I could specify nothing for the existing behavior, or a number of additional network interfaces. I could add the additional nic(s) to host-side bridge(s) myself if/as needed.

[2020-05-19 15:32] Saviq commented on #118
Hi @sylvandb that's exactly what we'll be working on, soon :)

[2020-05-19 18:55] ricab commented on #1370
I've been investigating this and here are a few conclusions.

WT [supports](https://github.com/microsoft/terminal/issues/3238#issuecomment-543342919) built-in resize events. These [WINDOW_BUFFER_SIZE_EVENT](https://docs.microsoft.com/en-us/windows/console/input-record-str)s really should be triggered [whenever the viewport is resized](https://github.com/microsoft/terminal/issues/281#issuecomment-4

[2020-05-20 06:50] bahram-hodjaev opened #1545 "Static ip address"
**What are you trying to do?**
I would like to use a multipass machine with vs code during development.
But from time to time the ip address of the virtual machine is changing.

**What's your proposed solution?**
Offer static ip address for virtual machines

**Additional context**
![Annotation 2020-05-20 094859](https://user-images.githubusercontent.com/3465733/82414084-2e81bd00-9a7f-11ea-8429-27f

[2020-05-20 07:26] Saviq commented on #1545
Hi @bahram-hodjaev, is this on Windows? If that's the case, you can use `<instance name>.mshome.net` instead of straight IP address.

And you're right, the IP changes because Windows does not keep a static subnet over reboots, unfortunately.

[2020-05-20 07:27] Saviq commented on #1545
That said, with bridged networking we'll be adding soon (#118) you'll be able to use a static IP, too.

[2020-05-20 07:27] Saviq commented on #1545
Duplicate of #1293

[2020-05-20 07:27] #1545 closed

[2020-05-20 08:09] bahram-hodjaev commented on #1545
@Saviq thank you very much!!

[2020-05-20 08:09] bahram-hodjaev commented on #1545
Yeah, this is happening on Windows

[2020-05-20 12:02] RyanRoberts commented on #1311
Just adding to the comments above, this being hard coded is incredibly annoying when you're used to using it to view source in Chrome and Firefox.

[2020-05-20 14:19] dsvmacdonald opened #1546 "Multipass 1.2.1 not working with Windows proxy (1.2.0 works fine)"
Unable to launch  a VM with Multipass 1.2.1 on Windows 10 Enterprise.  Works fine with Multipass 1.2.

[2020-05-20 14:32] Saviq commented on #1546
Hi @dsvmacdonald, there's very little that changed between 1.2.0 and 1.2.1, can you please elaborate?

What error are you seeing? Can you see any meaningful errors in the Event Viewer?

[2020-05-20 14:51] dsvmacdonald commented on #1546
@Saviq Sorry, hit enter too quickly.

Proxy is not working with 1.2.1 - unable to download ubuntu images.  With 1.2.0, everything works fine.  I have http_proxy, https_proxy, and no_proxy all set.  I can download image listed in 1.2.1 fine.

Will run and get logs now

[2020-05-20 15:14] dsvmacdonald commented on #1546
@Saviq

**Good:**

dmacdonald@375IT498903W1 MINGW64 ~
$ multipass version
multipass  1.2.0+win
multipassd 1.2.0+win

###########################################################################################
New Multipass 1.2.1 release
Ubuntu 20.04 LTS released!

Go here for more information: https://github.com/CanonicalLtd/multipass/releases/tag/v1.2.1
###########################################

[2020-05-20 16:39] ricab opened #1547 "`multipass shell` sees a terminal with one column less on Windows"
**Describe the bug**
On windows, the line width seen by `multipass shell` is off by one.

**To Reproduce**
1. Open a console (i.e. cmd, ps, windows terminal)
1. To facilitate observation, reduce the window width to the minimum, type some characters, and count how many fit in a line (or copy a full line of characters and use `len` in python).
    - alternatively, just check the size with `stty size

[2020-05-20 19:25] lildonpancho opened #1548 "Not Recognizing Hyper-V on Windows 10"
I have enabled Hyper-V on Windows 10 Pro using the following command:

`Enable-WindowsOptionalFeature -Online -FeatureName Microsoft-Hyper-V -All`

I receive the following output:

[code]

I try to start up Multipass using default settings (hyperv driver enabled by default):

`multipass launch test-instance`

It waits a few seconds before I get the following message:

`start failed: The computer n

[2020-05-20 19:54] townsend2010 commented on #1548
Hi @lildonpancho,

Sorry you're having issues getting this to work.  For some reason, our health check is thinking Hyper-V is installed, but the hypervisor is not present. Could you please post the output of:
`Get-CimInstance Win32_ComputerSystem`

Thanks!

[2020-05-20 20:58] jlhale commented on #1548
Not the OP but I have the exact same problem and went through the exact same options (and some others) to try to fix it.

[2020-05-20 21:05] dsvmacdonald commented on #1546
Both 1.2.0 and 1.2.1 work.  It was due to a combination of System Env and and restarting multipassd.

[2020-05-20 21:05] #1546 closed

[2020-05-20 21:13] dsvmacdonald opened #1549 "Windows - System Proxy and Service restart"
Multipass does not work out of the box with Windows proxy.  In order for it to work, one has to set HTTP_PROXY, HTTPS_PROXY, NO_PROXY system environment variables (user will not do).  This is not very secure when (1) proxy requires credentials and (2) computer is shared.

Additionally, Multipass menu icon does not control the multipassd service.  This is confusing and troublesome when users are tr

[2020-05-21 03:58] jlhale commented on #1548
I don't know if this is what actually fixed it for me, but I uninstalled Dell SupportAssist then uninstalled Hyper-V again, rebooted, installed Hyper-V on the command line (trying to run multipass told me what command to run), rebooted, and then it worked

[2020-05-21 05:19] keshavbhatt commented on #1438
I updated both multipass and snapcraft to stable, and i will be building snaps after finishing my projects. Till than am closing this issue.

[2020-05-21 05:19] #1438 closed

[2020-05-21 07:13] mirr254 commented on #1447
Having the same error

[2020-05-21 07:28] Saviq commented on #1447
@mirr254 can you please file a new issue providing a bit more detail?

https://github.com/canonical/multipass/issues/new?labels=bug&template=bug_report.md

[2020-05-21 11:40] Saviq opened #1550 "Verbosity lost when working with the primary instance"
**Describe the bug**
When working with the primary instance (`mutlipass shell` exposes it the most, if primary doesn't exist), the selected verbosity is lost when invoking subcommands (like `launch`, `start`, `mount`).

**To Reproduce**
How, and what happened?
1. `multipass delete -p primary`
1. `multipass shell -vvv`

**Expected behavior**
Verbose logging.

**Logs**
N/A

**Additional info**
 - OS

[2020-05-21 12:11] ricab commented on #1370
I think I've got something working without any extra thread or accessibility extra :crossed_fingers:

[2020-05-21 12:24] parrotcar00 opened #1551 "multipass info doesn't show disk location"
How does one find out the location for the virtual HDD that multipass uses for any vm?

I thought multipass info $VM_NAME would show the location of the virtual disk file?

[2020-05-21 12:38] #1547 closed

[2020-05-21 12:53] xnox opened #1552 "Apparmor denials from multipass all the time"
[multipass-denied.log](https://github.com/canonical/multipass/files/4662500/multipass-denied.log)

I expect no denials.

I'm on Focal.

[2020-05-21 12:55] Saviq commented on #1551
Hi @parrotcar00 the location of the file is (at the moment) an internal detail. There's no way to move it, and modifying it is unsupported.

May I ask what's your use case?

[2020-05-21 12:56] Saviq commented on #1552
Hey,

What's your output from `snap connections multipass`?

[2020-05-21 12:56] xnox commented on #1552
[code]

[2020-05-21 12:57] parrotcar00 commented on #1551
I wanted to be able to make sure that in case of something bad happening to my vm, I can get my data out. So I was trying to figure out where the disk files are located that I could copy?

Another possible way might be for me to take daily snapshots of the vm, does multipass support this?
I'm just trying to figure out how do can I use multipass when I need to backup my vm data periodically?

[2020-05-21 13:02] parrotcar00 commented on #1551
Also, I wanted to add that I'd always be using this on an Ubuntu host running Linux guests, so I wouldn't be affected by by other platform incompatibilities.

[2020-05-21 13:03] Saviq commented on #1551
@parrotcar00 it's recommended that you `multipass mount` important data into your VM, rather than storing it inside, this way you can easily replace an instance with another.

Snapshotting is not currently supported (#208), but since Multipass is a snap, you can `snap save` its data. All data is stored in `/var/snap/multipass/`.

[2020-05-21 13:39] Saviq commented on #1552
OK so most of the denials are dbus to NetworkManager, or access to `/etc/ssh_config`. We can try and suppress those, but why would you "expect no denials"? Sure, in an ideal world snaps would never _try_ to get out of their designated confinement, but without being in control of 100% of the code, how would you?

Is the DENIED message itself what's bothering you? Do other snaps not cause that, or d

[2020-05-21 13:41] Saviq commented on #1551
I'm gonna close this as we'd rather not expose this detail, at least not without introducing support for configuring storage.

[2020-05-21 13:41] #1551 closed

[2020-05-21 14:01] cjp256 opened #1553 "windows: launch asks a question with `stdin=subprocess.DEVNULL`"
**Describe the bug**
On third launch, multipass will ask snapcraft "One quick question..."

**To Reproduce**
How, and what happened?

snapcraft
snapcraft clean
snapcraft
snapcraft clean
snapcraft

**Expected behavior**
What did you expect to happen?

Launch to occur without prompting.

**Additional info**
 - OS: Windows 10
- `multipass version`
1.2.1+win

[2020-05-21 14:09] xnox commented on #1552
CPU / memory usage. each of the those is kernel context switch and is expensive.

If the process is not allowed to do those things under snap confiment, when snap variable is set, it should not try to use them. Waste of resources.

It makes my dmesg spammy and hard to debug any other issues on my system. Although this is a red herring, it's hard to tell if it is or not. It makes me think that mult

[2020-05-21 19:03] anonymouse64 commented on #1477
Just an FYI this will be necessary in order to boot UC20 images at 1.0 release. We may eventually support booting with traditional bios, but for 1.0 we only will support booting with UEFI.

AIUI this support will be made possible with future integration with LXD.

[2020-05-22 16:29] dennisfrank commented on #1311
Oh please yes, remove this shortcut! I installed Multipass today for the first time and every few minutes it disrupts my workflow when working with different browsers. :(

(It’s not a good practice to register global, OS-wide shortcuts without an option to change it. I also use other apps where app specific `⌘⌥U` shortcuts are no longer usable when Multipass is running.)

[2020-05-22 17:28] dennisfrank commented on #1311
As a temporary workaround I used to [BetterTouchTool](https://folivora.ai/) to overwrite <kbd>⌘</kbd>+<kbd>⌥</kbd>+<kbd>U</kbd> globally and added some menubar item triggers for some browsers:

![Screen_Shot_2020-05-22_at_19 20 14](https://user-images.githubusercontent.com/65968/82693591-18802200-9c62-11ea-9c0f-2e9974b0281c.png)

Of course this does not solve the fundamental problem. But maybe it

[2020-05-22 20:50] AriESQ commented on #118
For windows, I have "bridged networking" with Hyper-V working.

https://discourse.ubuntu.com/t/solution-multipass-not-reachable-from-outside-windows-10-networking-host/16392

[2020-05-22 21:49] sergiodj opened #1554 "Unhelpful error when `libvirt` interface is disconnected"
**Describe the bug**

I have multipass configured to integrate with libvirt, and I'm trying to simply launch an instance, but it's failing with:

[code]

**To Reproduce**
How, and what happened?
1. `multipass launch -n test-focal focal`

**Expected behavior**
The instance is launched successfully.

**Logs**
From `dmesg`:

[code]

**Additional info**
 - OS: Ubuntu 20.04
- `multipass version`: 1.3.0

[2020-05-23 06:12] Saviq commented on #1554
Hi @sergiodj, you will need to `snap connect multipass:libvirt` now that Multipass is strictly confined (on edge). We'll improve the error message to suggest that, however.

[2020-05-23 06:19] Saviq commented on #1311
Hey all, sorry about stomping on your shortcuts, we'll have a fix for this asap. Note that Multipass will still function without the system menu item, there's a "Autostart on login" item under the About menu that you can disable. You can then run Multipass manually from Launchpad to re-enable it.

[2020-05-23 17:35] sergiodj commented on #1554
On Saturday, May 23 2020, Michał Sawicz wrote:

Ah, it worked now!  Thanks a lot :-).

Will I have to perform this every time I reboot the machine?

--
Sergio
GPG key ID: E92F D0B3 6B14 F1F4 D8E0  EB2F 106D A1C8 C3CB BF14

[2020-05-23 17:44] Saviq commented on #1554
Nice :)

No, it's a one-time thing, have a look at [`snap` docs on interface management](https://snapcraft.io/docs/interface-management).

[2020-05-24 00:11] sergiodj commented on #1554
On Saturday, May 23 2020, Michał Sawicz wrote:

Awesome, thank you again :-).

--
Sergio
GPG key ID: E92F D0B3 6B14 F1F4 D8E0  EB2F 106D A1C8 C3CB BF14

[2020-05-24 05:01] dkiziridis opened #1555 "Build error, missing include in "include/multipass/ip_address.h""
Build fails due to a missing include in line 24

**To Reproduce**
1. clone repo
2. run build steps

**Logs**
[build.log](https://github.com/canonical/multipass/files/4672969/build.log)
<pre><code>
/home/crow/Git/AUR/canonical-multipass-git/src/multipass/src/network/ip_address.cpp:37:24: error: ‘std::array<unsigned char, 4> {anonymous}::parse(const string&)’ defined but not used [-Werror=unused-fun

[2020-05-24 11:56] eliot-akira opened #1557 "Can't shell into instance - ssh failed to authenticate: 'Socket error: disconnected'"
This is not a bug report, but user-caused error. I'm wondering if it's possible to recover from this state.

I edited `/etc/passwd` in the instance to give a new user SSH access, and rebooted. However, I believe I corrupted the file (wrong syntax), and now the `multipass shell` command is not able to SSH into the instance. It (and other commands like `info` and `restart`) displays:

[code]

Could