[2020-10-07 10:33] Saviq commented on #1788
Duplicate of #1787

[2020-10-07 10:33] #1788 closed

[2020-10-07 10:35] Saviq commented on #1787
Hi @eddydw, in Hyper-V, can you see the instance booting? Can you see it getting an IP address in the console? Does `ping my.mshome.net` work?

Have a look at our [troubleshooting network on Windows doc](https://multipass.run/docs/troubleshooting-networking-on-windows) for additional pointers.

[2020-10-07 11:50] Forinil commented on #1770
@ricab

[code]

@MrJamesEllis I titled this issue `Multiple tray icons...` because, while I usually have only two icons, I had three icons show up once or twice as well.

[2020-10-07 12:57] ricab commented on #1770
Thank you @Forinil. And another piece of info if you may, to help us figure out how best to approach this: can you confirm that, if you kill the multipass.gui process(es) that have `-session` in their cmdline, the remaining icon (the one with `--autostarting`) behaves properly?

[2020-10-07 14:11] Forinil commented on #1770
@ricab I was already asked this question. My answers are

By the way - today two icons again, one working and one not.

[2020-10-07 15:06] ricab commented on #1770
Ah ok, I missed that. It would still be useful to make sure it is always that one that works (and not just the one that starts first, for instance). But it should be, if we got it right.

[2020-10-07 15:47] townsend2010 commented on #1778
Hi @jasonmccallister,

I've been trying to do some additional digging and this is certainly an issue w/ the kernel and either something in Hyperkit or some additional software installed in the instance.  I looked through your Nitro custom cloud-init and there are certainly a host of additional packages installed, so it may be something there.

Also, it could be a red herring, but does this tend to

[2020-10-07 16:15] townsend2010 commented on #1765
#1784 *might* take care of this since it now waits up to 60 seconds for the instance to stop before cancelling the operation.

[2020-10-07 17:58] Saviq commented on #1770
Hi all, @ricab implemented a workaround in #1791, which will prevent the icon from starting if it's invoked with the -session argument.

In a few minutes you should be able to test with Multipass from the `edge/pr1791` snap channel.

[2020-10-08 08:14] Saviq commented on #1215
Hi all, I've prepared a temporary workaround for this, by setting the (system-wide) `MULTIPASS_STORAGE` environment variable you can tell Multipass where to put all of its storage.

I've described in https://github.com/canonical/multipass/pull/1789#issuecomment-704991752 how to set it up for each of the platforms, and https://github.com/canonical/multipass/pull/1789#issuecomment-705406800 has the

[2020-10-08 08:15] Saviq commented on #1786
Hi @ahaoboy, I've described a workaround in https://github.com/canonical/multipass/issues/1215#issuecomment-705408845.

[2020-10-08 08:15] Saviq commented on #1681
Hi @tkedwards, I've described a workaround in https://github.com/canonical/multipass/issues/1215#issuecomment-705408845.

[2020-10-08 08:16] Saviq commented on #247
Hi @marosg42, I've described a workaround in https://github.com/canonical/multipass/issues/1215#issuecomment-705408845.

[2020-10-08 08:16] Saviq commented on #1274
Hi @callegar, I've described a workaround in https://github.com/canonical/multipass/issues/1215#issuecomment-705408845.

[2020-10-08 15:12] staffhorn commented on #1598
Following up, it seems this is still a problem with the snap installation.  Does the issue go away if I build multipass and install on Ubuntu from the github repo?

[2020-10-08 16:13] Forinil commented on #1770
I did a test and started manuallu quitting `multipass.gui` before shutting down the system and the second, non-working icon stopped showing up. I guess this proves @ricab theory about KDE trying to restart the session.

I switched the snap to channel `edge/pr1791`. So far there seems to be no issues, other than `multipass.gui` not being restarted automatically by `snap refresh multipass --channel=

[2020-10-08 19:12] #1215 closed

[2020-10-09 06:33] Saviq commented on #1770
Correct, this functionality is in progress in snapd, see:

https://forum.snapcraft.io/t/wip-refresh-app-awareness/10736

[2020-10-09 07:17] Saviq opened #1792 "[lxd] won't delete missing instances"
[code]

We can probably safely drop the instance if it's not found in LXD…

[2020-10-09 07:23] #1770 closed

[2020-10-12 08:01] amzon-ex commented on #1029
I advocate including this information in the documentation, since it's quite frustrating to face such a situation after having downloaded 300MB+ image file!

[2020-10-12 08:32] sandstrom commented on #1592
@cassiocassio I'd actually prefer developer tools (vagrant, anything from brew, etc) to not auto-update.

[2020-10-12 13:45] kmcd opened #1794 "launch with file:// does not use absolute path"
**Describe the bug**

Multipass raises an error when launching from a disk image with an absolute file path.

**To Reproduce**

How, and what happened?

1. `multipass launch --name foo xenial`
1. `cp /var/snap/multipass/common/data/multipassd/vault/instances/foo/ubuntu-16.04-server-cloudimg-amd64-disk1.img /tmp/test.img`
1. `multipass launch file:///tmp/test.img`

:boom:

[code]

**Expected behavi

[2020-10-12 14:07] Saviq commented on #1794
Hi @kmcd, the problem isn't in Qt or anywhere, it's actually in the fact that Multipass is snap-confined, and the `/tmp` it sees is not the one you're looking at.

You have to put the file somewhere under `/home` or `/mnt`, `/media`, refer to Snap documentation [on the home](https://snapcraft.io/docs/home-interface) and [the removable-media](https://snapcraft.io/docs/removable-media-interface) int

[2020-10-12 14:07] #1794 closed

[2020-10-12 14:17] Saviq opened #1795 "[snap] improve error messages when confinement may be the culprit"
There are cases when commands acting on files from outside Multipass (`launch file://...`, `transfer`) may fail due to confinement.

We should try and be helpful to the user, suggesting what can be done to help (moving the file out of `/tmp`, connecting the `home-all` and `removable-media` plugs).

[2020-10-12 14:18] Saviq commented on #1794
@kmcd I filed #1795 to remind us to improve those error messages.

[2020-10-12 14:52] kmcd commented on #1794
Thanks @Saviq !

Are you sure that the `removable-media` interface is enabled? `/mnt` isn't available ...

`error: snap "multipass" has no plug named "removable-media"`

[code]

[2020-10-12 14:55] Saviq commented on #1794
Sorry, forgot I only just [added it last week](https://github.com/canonical/multipass/commit/8d1a034839a1de79d15f27bbdb9af03838774a4f#diff-5fde7a6d86053f0e1d88c0a2a238941f), you can use the `edge` channel, or wait for our upcoming release (we're planning to release later this week).

[2020-10-12 15:04] kmcd commented on #1794
:+1:  Great stuff - thanks! I'll use the `edge` channel.

![b251d9d05c903c3023441ee793732b67dd6647c39f7033b09769b483426e74be](https://user-images.githubusercontent.com/8568/95761652-875b2780-0ca4-11eb-9c96-378f3ce25fbb.jpg)

[2020-10-12 15:32] Saviq commented on #1598
Hey, if you want to maintain it yourself, sure. It is snap confinement that (by design) prevents this.

[2020-10-12 15:47] staffhorn commented on #1598
I'll pass, thanks for the caveat.

[2020-10-13 03:00] sneak opened #1797 "security: immediately sends inadvertent telemetry on launch"
# Description

Multipass immediately connects to `multipass.run` on startup.

This happens *during install*, before any interaction has occurred.

# Expected Behavior

No telemetry is sent to Canonical, inadvertent or otherwise.

# Actual Behavior

Multipass contacts `multipass.run` immediately, serving as a telemetry event (even if not intended as such).

<img width="548" alt="Screen Shot 2020-10

[2020-10-13 11:30] #1616 closed

[2020-10-13 15:24] juandanielpujols commented on #888
I manually set the DNS to google's now it is working

[2020-10-14 14:27] Saviq commented on #1797
Hi @sneak, I changed the title of this issue. We'll implement the opt-in for update checks.

[2020-10-14 18:47] sneak commented on #1797
This is a security leak, and a security bug as a result.

[2020-10-14 22:30] jonny7 opened #1800 "Cannot install docker stable repository"
**Describe the bug**
Hi

I've built a couple of VMs with multipass after installing this morning on a new machine and I' having a lot of temporary failures resolving messages.

[code]

I did follow the windows 10 trouble shooting guide and it did make things a bit better as I couldn't even get to this step in the docker install process. But it never now seems to get past this command
[code]

I did

[2020-10-15 03:27] frarito commented on #1601
I'm experiencing the same issues!, I tried everything that its on the troubleshooting page and doesn't work. If you pay attention to the dig output say "SERVER: 127.0.0.53#53(127.0.0.53)" that means your resolv.conf has 127.0.0.53 as nameserver which I suppose is wrong (you should have something like 192.168.xx). It is a shame but for macOS you can't make it work

[2020-10-15 08:27] Saviq commented on #1800
Hi @jonny7, are you using a VPN or a firewall of some kind? Can you show the output of these commands from inside the instance?

[code]

[2020-10-15 09:41] MrJamesEllis commented on #1770
I know this is closed and all, I've been away and have only just been able to test this. Using the edge/pr1791 refresh, signing out and signing in again there is only one multipass.gui icon and it was able to start the instance.

Interestingly, right clicking on the icon after closing the instance shows a context menu with not text, I don't think it's related to this issue, tho:

![image](https://

[2020-10-15 10:02] Saviq commented on #1601
FWIW `127.0.0.53` is correct, it's a caching DNS ([systemd-resolved](https://www.freedesktop.org/wiki/Software/systemd/resolved/)) that is configured to "ask" upstream DNS servers and cache the results.

[2020-10-15 10:08] Saviq commented on #1601
You can get a bit more information on what's going on with `systemd-resolve google.ie` and `systemd-resolve --status` inside the instance.

That said, _if_ it resolves fine locally, but doesn't when trying to go to `1.1.1.1` directly, it suggests something between the instance and The Internet is blocking this. A firewall or a VPN most likely.

[2020-10-15 10:09] ricab commented on #1770
Hi @MrJamesEllis, thanks getting back to us. So everything is as anticipated regarding this issue and I am glad it's working for you now.

On the menu with no text, yeah that would be a separate problem. Do you observe that consistently, or was it a one-off thing? Did you perhaps get that after the snap refresh, for a previously running GUI? Feel free to open a new bug report.

[2020-10-15 11:36] jonny7 commented on #1800
Sure @Saviq

I will have a corporate VPN. But most of hyper-V seems to be allowed through when i checked in firewall.cpl

[code]

[code]

When I logged in this morning i pinged some web address and it worked fine, tried again to install the the docker repo and it errored as before. I just pinged an address again from inside the instance and it times out.

I can ping docker.download.com from my hos

[2020-10-15 11:48] Saviq commented on #1800
Thanks @jonny7, unfortunately it looks like something is going wrong with the Hyper-V "Default Switch". Can you try issuing `dig download.docker.com @8.8.8.8` to see if resolving with an external server works?

Also `dig download.docker.com @172.17.224.225` could tell us if the Default Switch's DNS is working.

The equivalent outside the instance would be issuing this on PowerShell:
[code]

Thanks

[2020-10-15 12:02] jonny7 commented on #1800
Yes @Saviq

[code]
[code]

Outside the the instance, the first req returns a lot of info - which seems to be correct, will add if you want though
The second returns

[code]

[code]

[2020-10-15 12:13] Saviq commented on #1800
Did you try disabling the VPN?

The PowerShell results show that the Hyper-V DNS server on the Default Switch isn't working. There isn't anything we can do about that, I'm afraid. Something in your setup makes the Default Switch go bad :/

[2020-10-15 12:31] jonny7 commented on #1800
Yeah, after I saw I couldn't reach the DNS I figured. Thanks for your help, i'll try and figure it out :)

[2020-10-15 12:31] #1800 closed

[2020-10-15 22:10] mconner opened #1802 "Multipass mounts do not survive restart of Windows 10"
**Describe the bug**
On Windows 10, after adding a mount and restarting Windows, If I then attempt to list the mounts in the shell, the shell hangs for several minutes, until it times out.
**To Reproduce**
1. `multipass mount C:\dev\gitrepos\dar dar0:/mnt/dardev`
2. Verified I could access the contents of C:\dev\gitrepos\dar
3. Restart Windows 10
4.  `multipass shell dar0`
5. `ls -la /mnt/dardev`

[2020-10-16 16:11] frarito commented on #1121
Any update @konart ? I'm in a similar situation.. tried all alternatives and still can't make it work

[2020-10-16 20:54] brujah opened #1803 "chmod +x not working"
I am trying to run a mud which is started by the following command:
sudo ./startup &

But when I do I get:
sudo: ./startup: command not found

When I do ls -l startup i get:
-rw-rw-rw- 1 ubuntu ubuntu 1528 Oct 16 22:20 startup

When I do chmod +x startup and then ls -l startup i get the same:
-rw-rw-rw- 1 ubuntu ubuntu 1528 Oct 16 22:20 startup

So it does not seem to be able to set the x flag and

[2020-10-18 22:46] jgreat opened #1804 "List cpu count in `multipass info`"
**What are you trying to do?**
List cpu count assigned to a multipass vm.

**What's your proposed solution?**

Add a `cpu_count: <int>` field to the `multipass info` output for an instance.

**Additional context**
That's about it.

[2020-10-19 11:51] ricab commented on #1803
Hi @brujah,

I am afraid I can't reproduce that, neither for files in mounts nor in the instance proper. Perhaps you can elaborate on the situation a bit? Steps to reproduce? What host (or instance) OS are you in?

[2020-10-19 12:27] vizcay commented on #1244
Not only that, in Xubuntu the menu's text is not even displayed and I had to guess how to close it!

I cannot get an screenshot as the PrintScr key doesn't work with the menu open (no idea why).

* Xubuntu 16.04.7 LTS
* multipassd 1.4.0

[2020-10-19 13:57] #1785 closed

[2020-10-20 07:11] Saviq commented on #1244
Hi @vizcay, did you manage to disable it from the command line? That it doesn't show text etc. sounds like a compatibility issue between Xubuntu 16.04 and snaps.

However, Xubuntu 16.04 [isn't supported](https://help.ubuntu.com/community/EOL#Ubuntu_16.04_Xenial_Xerus) for more than a year now, it would be good that you upgrade soon, preferably to 20.04 already if you don't want to have to upgrade

[2020-10-20 17:18] townsend2010 commented on #1781
Qt reads `/etc/os-release` when it exists and uses that.  Of course, this is the Ubuntu Core info.  However, `/etc/lsb-release` within the snap does have actual host OS info.  Sadly, I don't see a way to force Qt to use this :frowning_face: so it looks like we'll need our own solution for the Linux case.

[2020-10-20 18:29] Saviq commented on #1781
I wonder if it's a `snapd` bug, then, and it should actually expose host's `/etc/os-release`…

[2020-10-20 18:32] Saviq commented on #1781
LXD has this:

https://github.com/snapcore/snapd/blob/5145669ea40e4b02f02605f41b456df540ecb5c9/interfaces/builtin/lxd_support.go#L45-L46

[2020-10-20 18:35] townsend2010 commented on #1781
Given that the output of `/etc/os-release` looks like this:
[code]
I would say that's pretty intentional.  That said, I agree that if it's not the actual Ubuntu Core distribution running (and not the core snap), then it should probably have what the host has in there.

Right about LXD, but that still doesn't help with Qt (it reads a hard-coded `/etc/os-release`) which is why I mentioned that we'd

[2020-10-20 18:47] Saviq commented on #1781
Well, that would be true on a Ubuntu Core 18 system, it is not, on a Classic system with the core18 snap, IMO. And then the discrepancy between lsb- and os-release…

[2020-10-20 18:49] townsend2010 commented on #1781
Right, what I was trying to say :smile:

[2020-10-20 19:16] townsend2010 commented on #1781
Looking at the core18 environment and code, `/etc/os-release` is a link to `/usr/lib/os-release` which is set up by https://github.com/snapcore/core18/blob/master/hooks/018-set-os-release.chroot.  The strange thing is that I can't find anywhere in the code where that link is created :thinking:

[2020-10-21 06:51] yingshaoxo commented on #1293
If you are using windows10, you should check a file which called `hosts.ics` under `C:\Windows\System32\drivers\etc`

[code]

It says I could use `http://primary.mshome.net/` to visit my ubuntu instance. Here, for example, I use it to visit the jupyter-notebook inside ubuntu: http://primary.mshome.net:8888/tree

[2020-10-21 06:51] yingshaoxo commented on #567
If you are using windows10, you should check a file which called `hosts.ics` under `C:\Windows\System32\drivers\etc`

[code]

It says I could use `http://primary.mshome.net/` to visit my ubuntu instance. Here, for example, I use it to visit the jupyter-notebook inside ubuntu: http://primary.mshome.net:8888/tree

[2020-10-21 13:58] vrogalsk commented on #1803
I have similar issue on the Windows 10 on mounted partitions only.
![image](https://user-images.githubusercontent.com/47318172/96729969-62f6fd80-13be-11eb-81c4-ce3d3374f67e.png)
![image](https://user-images.githubusercontent.com/47318172/96730177-9cc80400-13be-11eb-9c12-a008cdd90083.png)

[2020-10-21 14:16] townsend2010 opened #1806 "[lxd] Default disk size on launch is undefined"
When using the LXD backend, if the client does not set a disk size on `launch`, the resulting default disk size is undefined and can potentially lead to a wildly large requested disk size.

The reason is that the disk `MemorySize` `optional` is set to `nullopt`, but when using the LXD backend, the `optional` is simply dereferenced without checking if it's actually a `nullopt` or not.  If the resul

[2020-10-21 16:18] ricab commented on #1803
Hi @vrogalsk, you're right, this is an issue on windows because there isn't an executable bit we can map to. However, with a shell script you can use `sh <script>` instead.

Marking as duplicate as this is already tracked in #1252 (which mentions other workarounds as well).

[2020-10-21 16:18] #1803 closed

[2020-10-21 19:00] ricab opened #1808 "Multipass doesn't "release" mac addresses of purged instances"
**Describe the bug**
To avoid repeated mac addresses, Multipass keeps track of the ones that are in use. However, it does not release them when instances are deleted. This will be noticeable once we have bridging.

**To Reproduce**
[code]

[2020-10-21 21:33] frarito commented on #1601
Thanks @Saviq you are right dns is resolved ok; I was wondering if my issue can be related to bootpd not running? when I run “sudo lsof -iUDP:67 -n -P” just output launchd but not bootpd..

[2020-10-22 07:35] yingshaoxo commented on #1059
Windows is a shitty system for this unstable reason. (After you restart, you found that everything you have set up well at ubuntu system, it's gone! What a time-wasting by using Windows!)

[2020-10-22 12:34] vignesh-codes commented on #1577
Im not sure why this did not work the first time when I tried.
I then connected to a different wifi network and tried, it worked fine. There is another option to manually download the image and set the path in the cmd line. You could try that too.

[2020-10-23 11:45] jackjm opened #1810 "multipass for Windows 10 Home with Hyper-V enabled"
I've verified on my Windows 10 Home 20H2, that Hyper-V can be enabled with the following script:

[code]

Hyper-V enabled on Windows 10 Home, verified
https://github.com/MicrosoftDocs/Virtualization-Documentation/issues/915

I tried to install Multipass for Windows on the Hyper-V enabled Windows 10 Home,
but the Hyper-V option is not available.

The Hyper-V option for Windows 10 Home should be ava

[2020-10-23 12:52] daniellenzofficial commented on #1475
Wouldn't it be nice idea to the community to use the edge version?

[2020-10-23 13:05] Saviq commented on #1810
Hi @jackjm, Hyper-V [isn't supported by Microsoft on Home editions](https://docs.microsoft.com/en-us/virtualization/hyper-v-on-windows/quick-start/enable-hyper-v), sorry, but that means we can't support it in Multipass.

[2020-10-23 13:05] #1810 closed

[2020-10-23 13:39] bhechinger commented on #1334
Is there a way to get `multipass shell` to use the alternate user?

[2020-10-23 13:53] Saviq commented on #1334
Hi @bhechinger, no, not at the moment. It would be trivial, though, to create an alias to do `multipass exec <instance> -- sudo -i -u <user>`, though.

[2020-10-23 18:25] jasonmccallister commented on #1778
@townsend2010 this occurs when running `nitro ssh` which is a wrapper around `multipass shell`.

Here is the `uname -r` output:

[code]

[2020-10-23 18:59] bhechinger commented on #1334
Ok, I gave that a shot @Saviq and I'll just wait for multipass to suppose an alternate user name. Not worth the effort. ;)

[2020-10-23 19:06] okneloper commented on #62
Guys, this is a HUGE issue! If resizing the disk is not an option the user should be made aware before the VM is even created, not after he has run out of space.... this is so frustrating! After spending all this time to configure the VM I run out of disk space and find out the only option is ditch the while thing...

The disk space should be made a required setting and there should be a warning t

[2020-10-23 19:09] townsend2010 commented on #62
@okneloper,

I'm not sure which host OS you are using, but I have found that it is possible to resize an instance's virtual disk via `qemu-img` and on next boot, `cloud-init` will automatically grow the partition.  If you are not sure where the instance's virtual disk resides, please let us know which host OS you are using and we can help you out.

[2020-10-23 19:20] okneloper commented on #62
@townsend2010 thanks, I am on windows and was about to try the `Resize-VHD` solution from #29, but if you recommend `qemu-img` I'll go with that.

An advice on the disk location would be very helpful as it seems to be classified information.

[2020-10-23 19:42] townsend2010 commented on #62
Hi @okneloper,

Sure, `Resize-VHD` is the way to do it on Windows.  You can also use Hyper-V Manager, right click on the instance you are interested in, select `Settings...`, then select the `Hard Drive` under `IDE Controller 0`.  From there, you can see the path to the virtual disk.  You can also click `Edit` under the `Virtual hard disk` and that will bring up the `Edit Virtual Hard Disk Wizard`

[2020-10-23 19:48] okneloper commented on #62
Thanks. I've tried `qemu-img` before you posted the above, and it said the disk format doesn't support resizing.

Using Hyper-V seems to have done the trick! I'll continue using the VM and report if there are any issues.

[2020-10-25 15:14] panlinux commented on #1215
Just to be clear, you can only set a path within `/home` or one of the removable media mount points, right?

[2020-10-25 21:26] kstaniek opened #1812 "Ubuntu 18.04 LTS image is broken"
**Describe the bug**

Launching Ubuntu 18.04 image causes an error:

$ multipass launch 18.04
launch failed: /var/root/Library/Caches/multipassd/vault/images/bionic-20201014/ubuntu-18.04-server-cloudimg-amd64-vmlinuz-generic missing

**To Reproduce**
How, and what happened?
1. `multipass launch 18.04`

**Expected behavior**
It is expected to run it properly like other images:

$ multipass launch 1

[2020-10-26 14:56] #1806 closed

[2020-10-26 18:34] jenisys commented on #1437
But can the **UNIX multipass-socket** above not be created with another **group=multipass** (or: multipass_users) instead of **group=admin**?

You only need read/write permission on the group of the multipass-socket, like currently any user in group=admin.
This would allow to go through authentication, meaning a user needs to be assigned to this special multipass user-group before he/she can use t

[2020-10-26 18:52] rcarmo commented on #1437
I would love to see something like this, really.

[2020-10-27 04:48] noomz commented on #1121
@frarito did you try changing `utun1` to something matched your `ifconfig` ? I found that it changed from time to time.

[2020-10-27 08:38] #1775 closed

[2020-10-27 09:59] ricab commented on #1215
Hi @panlinux. Yes, that's indeed the case on Linux with snap confinement.

[2020-10-27 10:28] ricab commented on #1812
Hi @kstaniek,

To confirm, is this something you get repeatedly? Could you please try `multipass launch --disk 2400m --mem 256m 18.04`? I am wondering if you could be running out of disk space or hitting some other condition (like out of memory)? Are you able to launch a third instance of 16.04 or 20.04?

[2020-10-27 20:07] abentley commented on #208
@Saviq It's not just LXD, though.  Most VM management tools support snapshots, e.g. virt-manager, virtualbox.  And it can't be too long until LXD is on Windows via WSL2, eh?

[2020-10-27 21:32] ubulinu opened #1815 "20.10 image available?"
Q: Are there only LTS versions available, or is there going to be a 20.10 image?
(VirtualBox on Win10)

[2020-10-27 21:38] Saviq commented on #1815
Hi @ubulinu, we'll be releasing Multipass 1.5.0 this week, which will include a 20.10 image. Stay tuned!

[2020-10-27 23:28] Saviq commented on #1815
@ubulinu if you want to try, we've Release Candidate up: https://github.com/canonical/multipass/pull/1813#issuecomment-717600227

[2020-10-28 01:58] tengqian opened #1816 "launch failed: Could not generate a new UUID"
**Describe the bug**
I Use VirtualBox model.
launch failed: Could not generate a new UUID: Process failed to start: 系统找不到指定的文件。

**To Reproduce**
Execute `shell multipass launch ` after installation.

**Logs**
Please provide logs from the daemon, see [accessing logs](https://multipass.run/docs/accessing-logs) on where to find them on your platform.
![image](https://user-images.githubusercontent.co

[2020-10-28 01:59] tengqian commented on #1816
![image](https://user-images.githubusercontent.com/25736019/97381548-47cb4700-1904-11eb-832c-0c483066651f.png)

[2020-10-28 06:52] Saviq commented on #1816
Hi @tengqian, where is your VirtualBox installation? When you're in an admin's PowerShell, can you execute `VBoxManage` OK? If not, please try adding your installation path to the system PATH variable.

[2020-10-28 08:23] Saviq commented on #208
Can't comment on the latter, but it's not like we closed this issue. We just have higher priority items to work on, first :)

Snapshots are a complex topic, different hypervisors deal with them differently (or not at all), cloning adds to the complexity even more. We just have to prepare to it well, to maintain good UX.

[2020-10-28 08:26] Saviq commented on #62
I'll actually reopen this, as resizing the block device seems to be enough for at least a good subset of the images we allow running.

[2020-10-28 13:57] gwatts commented on #1311
Thanks for addressing this, @Saviq & @ricab; the update works great and i've safely remapped the hotkey to something less disruptive 🎉  😄

For anyone else stumbling across this ticket, see https://discourse.ubuntu.com/t/multipass-set-command/13734

TLDR: `multipass set client.gui.hotkey="opt+shift+m"` or `multipass set client.gui.hotkey=""` if you don't want the hotkey at all (supported by multipa

[2020-10-28 15:03] townsend2010 opened #1818 "[regression] file based launches are not working"
Due to a recent change, `file`-based launches are now broken on Linux.

[code]

Will work on a fix.

[2020-10-28 15:19] townsend2010 commented on #1818
Actually, the recent change has exposed a latent bug in file-based launches.  We have never saved file-based images to the `prepared_image_records` map, but it should be.

[2020-10-28 18:21] negletios commented on #1336
Here is an approach:

Find your VPN's interface of Tunnelblick. In my case is utun2.

[code]

Find which one you want to allow on your `brigde100`

Let's say is X.X.X.X./32.

Add the following line into `/etc/pf.conf/` (order does matter here. Maybe after nat-anchor):

[code]

Rewrite pf configuration:

[code]

Restart multipass, not the instance.

I hope it works for you too.

[2020-10-29 02:14] arthursalvtr commented on #1802
I am having the same problem as describe from [above](https://github.com/canonical/multipass/issues/1802#issue-722708524)

### Windows Specifications

- Edition: Windows 10 Pro
- Version: 2004
- Build: 19041.572
- Experience: Windows Feature Experience Pack 120.2212.31.0

### Multipass Version

- multipass  1.4.0+win
- multipassd 1.4.0+win

[code]
My attempt to fix this is by restarting the instan

[2020-10-29 02:44] tengqian commented on #1816
Thanks for your help.The System PATH Variable already exists. So it's not what you said
![image](https://user-images.githubusercontent.com/25736019/97519104-9c89c300-19d3-11eb-808e-d2c47bbcf5b9.png)
![image](https://user-images.githubusercontent.com/25736019/97518783-e7570b00-19d2-11eb-86c0-42a3849618a2.png)

[2020-10-29 03:15] #1818 closed

[2020-10-29 09:02] Saviq commented on #1816
Hi @tengqian, that doesn't confirm that's in the _system_ `PATH` (as opposed to the user one). Can you please run `multipass launch -vvvv` to get a bit more detail?

According to Google Translate, the error is "The system can not find the file specified", so it suggests Multipass can't find the VBoxManage executable.

[2020-10-30 01:22] tengqian commented on #1816
Hi @Saviq ,When I run `multipass launch -vvvv`,  The multipass is working.Thanks for your help.
![image](https://user-images.githubusercontent.com/25736019/97649054-4ed39000-1a91-11eb-980b-0631c80088ab.png)
![image](https://user-images.githubusercontent.com/25736019/97649064-53984400-1a91-11eb-8e59-78e2307e8533.png)

[2020-10-30 01:22] #1816 closed

[2020-10-30 06:42] Saviq commented on #1816
Oh? And if you launch without `-vvvv` now? Any chance you rebooted in the mean time and the PATH variable got applied?

[2020-10-30 07:09] tengqian commented on #1816
No need `-vvvv`,It's running.  I Added `VirtualBox installation ` to `USER PATH` and `SYSTEM PATH` then reboot compute and run `multipass launch -vvvv` .
![image](https://user-images.githubusercontent.com/25736019/97670711-ca4d3580-1ac1-11eb-8fd1-4e3e34a98067.png)

[2020-10-30 07:14] tengqian commented on #1816
Thanks again! @Saviq

[2020-10-30 15:37] nmofonseca commented on #933
Hello, Was there any solution for this? using --cloud-init  doesn't seem to work, the resolv conf module according to the documentation doesn't support Ubuntu/Debian:
https://cloudinit.readthedocs.io/en/latest/topics/modules.html#resolv-conf
I am not finding an easy way to do this on the launch only manually after the instances are runing.

[2020-10-30 16:09] nmofonseca opened #1822 "DNS configuration in Multipass instances"
# Configure DNS in multipass instances
Since I am runing on a enterprise network and behind both a proxy and vpn I need to be able to setup my DNS properly.

Being able to change this config using --cloud-init  option which doesn't seem to work.

In [issue 933](https://github.com/canonical/multipass/issues/933) it is mentioned that --cloud-init should be used but no direction was given on how to d

[2020-11-01 17:03] MrSquaare opened #1823 "No internet access in instance"
**Describe the bug**
When an instance tries to fetch an external resource (example: apt update), no progress is noticed (example: "Conntecting to security.ubuntu.com" for several seconds before failing).

Context: Creating a snap package via `snapcraft` command

**To Reproduce**
1. `snapcraft init`
2. Edit `snap/snapcraft.yml` to fetch an external resource
3. `snapcraft`

**Expected behavior**
Fet

[2020-11-01 17:24] MrSquaare commented on #1823
Update: Rebooting seems to fix the problem for me

[2020-11-02 05:06] AdrianDiazCode commented on #1455
The same happens to me, I am using hyper-v

[2020-11-02 10:25] #1823 closed

[2020-11-02 19:54] wmww opened #1825 "Mount fails when using encrypted home directory on host"
Multipass fails to mount from an encrypted home directory

**To Reproduce**
[code]

**Additional info**
 - OS: Ubuntu 20.04
[code]

[2020-11-02 23:02] trevorhardy opened #1826 "Timeout on fresh install of multiples"
**Describe the bug**
`multipass shell` times-out on a newly created (and never successfully launched) instances (both primary and my new instance `tesp`).

**To Reproduce**
How, and what happened?
1. `multipass shell` or `multiples shell tesp`

**Logs**
[multipassd.log](https://github.com/canonical/multipass/files/5478513/multipassd.log)
[primary-hyperkit.log](https://github.com/canonical/multipas

[2020-11-03 06:28] Saviq commented on #1826
Hi @trevorhardy do you have a VPN enabled? Or some firewall software (Little Snitch is known to block Multipass)?

Have a look at our [guide on network issues on macOS](https://multipass.run/docs/troubleshooting-networking-on-macos) to see if it helps.

[2020-11-03 11:55] ricab opened #1827 "Outdated disk sizes in `launch --help`"
**Describe the bug**
The help in launch reports fixed default and minimum disk sizes, but that logic is changing and they depend on the backend now.

**To Reproduce**
[code]
Then, launch an instance with the LXD backend and observe that it has 10G.

**Additional context**
The actual sizes are being worked on in #1824 .

[2020-11-03 15:41] trevorhardy commented on #1826
Yes, I was using Cisco AnyConnect to connect to my company's network. Retesting with the VPN disconnect, `multipass launch` reports no errors but `multipass shell` still fails with the same error (`primary: timed out waiting for response`). Is this expected even when disconnected from the VPN?

[2020-11-04 16:05] fazalmajid commented on #1437
Same here. I always run my Mac and Ubuntu accounts as non-admin non-privileged, that's pretty standard practice in the UNIX world. Very few Mac apps fail to handle this gracefully, and Ubuntu also handles this properly, e.g. in the Ubuntu Software app store.

[2020-11-05 16:37] trevorhardy commented on #1826
I've been working with the IT folks here and though we haven't found a smoking gun, one of them was able to successfully get the software working on his machine. One difference we found was that his home network hands out 192.168.x.x addresses while mine uses 10.0.x.x.

I manually set my local machine IP to 192.169.0.1 (without changing the rest of my home network, putting my computer in a separat

[2020-11-05 18:47] erny commented on #62
On OS X (High Sierra) I tried to resize image with qemu-img (5.1.0) without luck. qemu-img info seems to give the right info, but qemu-img check returns a lot of errors, and trying to fix them and then resize, gives an unusable image.

I found [this gist](https://gist.github.com/stefanfoulis/5bd226b25fa0d4baedc4803fc002829e), so I tried with `/Applications/Docker.app/Contents/MacOS/qcow-tool` beca

[2020-11-05 19:35] tsibley opened #1830 "instance.multipass domain names do not resolve"
**Describe the bug**
Instance names don't resolve on the host as `instance-name.multipass` (but they do within instances).

**To Reproduce**
Launched an instance with `multipass launch example`, verified it was running with `multipass list`, and then ran `host example.multipass` and `ping example.multipass`.

**Expected behavior**
`example.multipass` resolves to the instance IP and ping succeeds.

[2020-11-05 22:17] mconner commented on #1112
I had a workaround that involved moving the vm through hyper-v manager, but I just found that [release 1.5.0](https://github.com/canonical/multipass/releases/tag/v1.5.0) includes support for defining MULTIPASS_STORAGE.  If you look at the pull, it has instructions for use, Here's the [one for windows](https://github.com/canonical/multipass/pull/1789#issuecomment-705403501) .

It seems like this co

[2020-11-06 03:20] jwillikers opened #1831 "fish 🐠 completions"
**What are you trying to do?**
I would like to tab through command suggestions when using Multipass from the fish shell.
For example, after typing "multipass start", hitting tab would switch between stopped instances instead of having to type out the instance name key by key.

**What's your proposed solution?**
Shipping fish shell completions with Multipass seems the ideal solution.
This is how Ba

[2020-11-06 06:56] Saviq commented on #1112
Well, -ish, this issue is about where we put the data by default, we still have to fix that. And when doing that, migrate data from the previous location, which `MULTIPASS_STORAGE` handling, explicitly, doesn't do.

[2020-11-06 08:57] PdrNG opened #1832 "Lost ONE instance after power-lost (windows 8.1 within virtualbox)"
**Describe the bug**
having 4 instance, 3 down, 1 up, working within it,
power went off (building failure)

as I restart computer, multipass list did not list that instance, seems no problem with the other 3

Oracle VM VirtualBox manager loaded with & $env:USERPROFILE\Desktop\PSTools\PsExec.exe -s -i  $env:VBOX_MSI_INSTALL_PATH\VirtualBox.exe shows the four instance, but storage inaccesible

open

[2020-11-06 09:50] michaelgthomas commented on #29
Thanks for this.

[2020-11-06 12:14] ricab commented on #1832
Hi @PdrNG, thanks for reporting, I am sorry you experienced this.

I believe this is another case of #1658. Although the trigger for the failure will differ, the issue in Multipass seems to be the same, namely that the daemon removes the VM if it can't create it upon startup.

I am marking this as duplicate. Please tune-in/comment on the other one.

[2020-11-06 12:14] #1832 closed

[2020-11-06 12:19] Saviq commented on #1832
Duplicate of 1658

[2020-11-06 12:19] Saviq commented on #1832
Duplicate of #1658

[2020-11-06 13:02] PdrNG commented on #1658
yes, seems very much the same #1658 and #1832
thanks for de-duplicate (i did not found this)

BUT !
seriosly !!!
more than 3 months with this issue ??
losing instances without posibility of recovery, dammm

[2020-11-06 13:35] townsend2010 commented on #1658
@PdrNG,

Yes, we've kind of dropped the ball on this...we are a small team trying to implement new features and fix other bugs.  That said, this is really bad behavior, so I'm going to work on it, but it will take some careful thought to make sure we cover all cases and not regress other behaviors.

[2020-11-06 13:52] bartoszhernas commented on #1459
I have the same issue, it says microk8s is running (multipass) but all commands return exit code 1 on macOS

[2020-11-06 15:34] mconner commented on #1112
@Saviq: While the title is "Windows default multipass folder",   what the issue creator, @zd-dalibor, is requesting is the ability to _define_ the location:

_{1} (I assume he meant "do not", or this makes no sense.)_

Since there's been no way -- till now -- to do this, "default" multipass folder in this context isn't relevant. Its just "the" multipass folder.

While settling on a better default

[2020-11-06 18:47] tsibley commented on #1830
@Saviq Oh! Is this not expected to work? (re: your bug → enhancement label switch)

I assumed the `.multipass` domain was intended to work on the host too, but maybe that was never the intent? If not, then this would be a nice enhancement, and it was surprisingly easy (at least with systemd-resolved).

[2020-11-06 19:27] Saviq commented on #1830
@tsibley indeed, not, it's not implemented yet. Sure, it's trivial with `systemd-resolved`, but what about other platforms? What about Linux hosts that don't have systemd-resolved?

We generally dislike adding features that only work on a subset of platforms, and while this would be great to have, we have to consider that it may only be possible on Linux.

Our next release will have bridging, at w

[2020-11-06 21:57] jenisys commented on #1437
WORK-AROUND: Until it is fixed by the multipass team.

* Create a "multipass_users" group (name may very for you) on macOS / Linux
* Add your user to the `multipass_users` group
* Perform `sudo chgrp multipass_users /var/run/multipass_socket=`

NOTES:
* You may need to repeat the last step each after you have powered up your computer (and/or the multipass service was started again that creates the

[2020-11-06 23:57] tsibley commented on #1830
Nod. I didn't mean to suggest adding the feature just for Linux hosts. One of the attractions of Multipass to me is the multi-platform host support and consistency across platforms.

I'd be in support of solutions like `<instance-name>.local` or `<instance-name>.multipass.local`, as those were things I naturally tried a couple days ago during my initial "troubleshooting." The `<instance-name>.<hom

[2020-11-07 09:46] Saviq commented on #1830
Usually your home domain will be searched, so as long as your instance names were unique with any physical hosts, just `<instance-name>` would work, too.

None of the above are exclusive, either :)

[2020-11-07 09:50] tsibley commented on #1830
Ah, both true! :-)

Out of curiosity, I did some digging about if this is supportable on macOS. It appears that domain-specific DNS resolvers have long been possible on that platform by creating files under _/etc/resolver/_. For example, Multipass could put the following under _/etc/resolver/multipass_:

[code]

A few pages with more information:
- https://www.unix.com/man-page/osx/5/resolver/
- h

[2020-11-07 09:54] tsibley commented on #1830
On Linux hosts without systemd-resolved, there are a few other potential solutions as well, like [those documented by Arch Linux](https://wiki.archlinux.org/index.php/Domain_name_resolution#Conditional_forwarding).

[2020-11-07 10:03] tsibley commented on #1830
and because I couldn't resist, on Windows 10 (maybe earlier too?) it looks like there's a PowerShell command for setting domain-specific DNS servers: https://docs.microsoft.com/en-us/powershell/module/dnsclient/add-dnsclientnrptrule?view=win10-ps

[2020-11-07 14:20] Saviq commented on #1830
Cool, thanks a lot for the research @tsibley!

[2020-11-07 21:24] arobert3434 commented on #853
Multipass 1.5.0+mac, just hit this, was really surprised that inter-instance DNS was not offered by this otherwise well-functioning platform.

[2020-11-08 10:34] jsiobj opened #1833 "Empty instance objects created despite VM creation failing (due to missing default switch in this particular case)"
*Original title: Failed to launch instance, no VM created in Hyper-V*

**Describe the bug**
On a fresh install, I am not able to launch any instance
When launching a new instance, I get a timeout
[code]

**To Reproduce**
No instance exists
Trying to create first instance
[code]

Instance seems to be created but in unknown state :
[code]

But VM has not been created in Hyper-V (the one showed here

[2020-11-09 07:25] Saviq commented on #1833
Hi @jsiobj thanks for the detailed report.

Unfortunately this doesn't give us a clue what failed. You mention McAfee, can you see anything in its logs that suggests that's what prevented the VM creation?

We'll have to prepare a more verbose version, stay tuned.

[2020-11-09 10:58] Saviq commented on #1815
This is now released.

[2020-11-09 10:58] #1815 closed

[2020-11-09 12:10] Saviq commented on #1833
Hi @jsiobj could you please export the Event Viewer logs (see [docs on our logging](https://multipass.run/docs/accessing-logs)) and post it all to us? From the logs you showed it looks as if things are happening really slow? What kind of hardware is that?

[2020-11-10 13:17] winkeesail commented on #441
How can I log in as a root user? when I execute multipass shell primary, I logged in as user "ubuntu".

[2020-11-10 13:49] townsend2010 commented on #441
Hey @winkeesail,

To log in directly as `root`, `multipass exec primary -- sudo bash` will do the job.

[2020-11-10 14:05] winkeesail commented on #441
Thanks so much, you help a lot!

[2020-11-11 15:09] jitinl commented on #566
Besides Time machine, it might be a good idea to also exclude the directory from Spotlight indexing, as that at least for me was consuming a lot of CPU when for example installing a package from apt.

[2020-11-11 18:02] jsiobj commented on #1833
Hi @Saviq,

I did not find anything in AV logs which seems related to Multipass.

The hardware is an HP G5 Laptop with a Core i5 and 8GB of RAM. Not the fastest PC... but it should work

Just wanted to let you know that I got Multipass to run without Hyper-V, using VirtualBox. So I guess it is not just a performance problem. But as I understand it, I don't have network access to Multipass instance

[2020-11-11 18:29] jsiobj commented on #1833
Hello again,
Here is an export of the event log.
[eventLog.txt](https://github.com/canonical/multipass/files/5526001/eventLog.txt)

It is not an export from the event viewer (I don't know what data is included in the file...)
I rather generated a CSV from powershell :
[code]
It may be usefull for others.

JS

[2020-11-11 23:31] foobarbecue commented on #118
End of which month?

[2020-11-12 11:07] vendvahk commented on #1341
My apologies to post in closed ticket, but this issue appears to be still present in v1.5.0:

[code]
[code]
[code]
[code]

[2020-11-12 11:56] ricab commented on #1632
Except that we could be hiding important info...

I believe the right thing would be to read PS's stdout and stderr separately (stop using `QProcess::MergedChannels`), then log stderr but return stdout when commands complete successfully (include stderr in exceptions otherwise).

[2020-11-12 12:04] ricab commented on #1341
Hi @vendvahk, we have #1632 to track that actually. In your case, the msg is a bit different, so you may be able to workaround with something like:

[code]

[2020-11-12 12:58] vendvahk commented on #1341
Thank you @ricab for pointing to right direction.
Actually PSReadline is installed, but I found that PS ExecutionPolicy looks to be actual issue.
I had to set it temporarily Unrestricted and then import PSReadline module.
After that multipass launch started to work.
Also it looks that multipass launch command is still working after I chaged PS ExecutionPolicy back to RemoteSigned.

[2020-11-12 13:04] ricab commented on #1341
I see. OK, great to know you overcame that @vendvahk. We'll keep #1632 to implement a proper way to handle such warnings.

[2020-11-12 13:06] ricab commented on #1833
Hi @jsiobj, sorry you are having trouble with this. Looking at your logs, it seems that Multipass never gets to ssh into the instance. Could McAfee (or something else) be blocking access?

What do you see if you go to `Hyper-V manager`? There is an option to see instances' console in there ("connect", I think). Do instances seem to have gone through initialization successfully? Do you see any erro

[2020-11-12 21:07] ginomessmer commented on #1112
I just witnessed this issue and can second this. It is really outrageous. In my case, I store all my VM disks and images on a secondary drive since my C: SSD is being used for other purposes (also it's running low on storage if loads of VM disks are stored there anyway...).

Ultimately, I ended up uninstalling Multipass since its storage behavior doesn't make the cut for me right now.

[2020-11-12 21:24] mconner commented on #1112
@ginomessmer If you note my comment from last week, It looks like they've solved this with MULTIPASS_STORAGE in release 1.5

[2020-11-12 21:27] ginomessmer commented on #1112
Oh, thank you for the heads up @mconner, I did not notice. My bad, will give it a second shot then.

[2020-11-13 00:42] trollcop commented on #1112
The default VM folder should be an option during install, and NOT default
to a protected location a user cannot access. Having some obscure variable
post install and no reasonable way to move the stuff is still not an
acceptable end user solution.

On Fri, Nov 13, 2020, 06:24 mconner <notifications@github.com> wrote:

[2020-11-13 08:27] linux-china commented on #1509
https://gist.github.com/linux-china/3e1a7ce99393382ad8fe575af19c8f07  for bash & zsh,  generated by Picocli.

[2020-11-13 09:54] Hermanverschooten opened #1837 "Toolbar icon malformed - OSX 11.0.1"
**Describe the bug**
I have multiple monitors, the toolbar icon for Mutlipass is squashed on the inactive monitors.
When screen is active:
<img width="54" alt="Schermafbeelding 2020-11-13 om 10 52 48" src="https://user-images.githubusercontent.com/91784/99059147-71d86680-259e-11eb-9d69-18c831e2f1df.png">
When screen is inactive:
<img width="41" alt="Schermafbeelding 2020-11-13 om 10 53 08" src="ht

[2020-11-13 13:25] Matisds commented on #118
This feature would be very welcome now!

[2020-11-13 21:41] NatsumiHB commented on #1112
Just wanted to check out Multipass and found this while trying to find a way on how to change the default folder for new Multipass VMs. Since this is not possible and I don't have much space on my C: drive I might actually have to manually set up VMs.

[2020-11-14 05:06] linux-china commented on #1831
How about using clap-rs to generation completion for  bash, fish, zsh and even PowerShell.   I have a demo for multipass shell completion, and gist here   https://gist.github.com/linux-china/698a0c5af63a06f2656c63b03f895688

[2020-11-14 12:52] srcshelton commented on #1248
Any update on this issue?  It was milestoned for v1.2.0, and we're now on v1.5.0 and it's still a problem 😔

[2020-11-14 15:09] mindfactory-se commented on #1664
My logs
---
[2020-11-14T16:02:19.310] [debug] [primary] process working dir ''
[2020-11-14T16:02:19.310] [info] [primary] process program '/Library/Application Support/com.canonical.multipass/bin/hyperkit'
[2020-11-14T16:02:19.310] [info] [primary] process arguments '-c, 1, -m, 1024M, -u, -A, -H, -U, 386bba5a-5dc4-3ac2-95c9-cf0b9a29b352, -s, 0:0,hostbridge, -s, 2:0,virtio-net, -s, 5,virtio-rnd, -s

[2020-11-14 19:44] jwillikers commented on #1831
@linux-china Thanks for the suggestion! I would totally have used that to create the initial completions if I hadn't already written them by hand.

[2020-11-14 20:43] rnz commented on #1726
Multipass is unusable with this slow downloading from http://cloud-images.ubuntu.com

[2020-11-14 22:16] linux-china commented on #1831
I created a small tool to generate completion for bash, zsh, fish and powershell based on clap-rs.
https://github.com/linux-china/cli-completion    multipass.yaml is almost done, and I can use YAML  to generate completion.

[2020-11-14 22:49] YousefSaber commented on #1726
@Saviq as far as I know Canonical develops both Ubuntu and Multipass you may want to reach out to the correct team and report this issue to them.

[2020-11-15 18:52] jose-neta commented on #1664
0. using Multipass 1.4
1. Update to Mac OS X 11 (Multipass is broken)
2. brew upgrade Multipass (all good now with Multipass 1.5)

thank you so much of Multipass

[2020-11-16 07:32] winkeesail commented on #29
can I resize VM after the instance has been created? I run into a situation that my VM is using up the initial space.

[2020-11-16 07:36] winkeesail commented on #62
I need this feature very badly because I run into a situation that my VM is using up the initial space after I have spent so much time setting up a dev environment in the VM and to ditch the whole thing is a big pain.

[2020-11-16 09:17] colegatron commented on #118
Nov 16. is it released? Multipass without bridging is like Coke but without bubbles.

[2020-11-16 10:15] flying-sausages opened #1839 "[Big Sur] VMs turn to "Starting" state and won't budge"
**Describe the bug**
When I come back to my machine in the morning, my VMs are in a "Starting" state and I cannot get them to shut down, start up, suspend or anything. Deleting and purging works but i'd prefer not to have to wait for my environment to setup every time this happens.

**To Reproduce**
How, and what happened?
1. Start some VMs with multipass
1. Let some time pass while not using them

[2020-11-16 10:44] Saviq commented on #1839
Hi @flying-sausages, when this happens, what do you see in `/Library/Logs/Multipass/<instance>-hyperkit.log`?

Can you comment on when did you leave / get back to the machine?

This suggests the VM crashed (when the host was going to sleep?):
[code]

And then Multipass failed to realize?
[code]

Would you please enable trace logging, as that may give us more of a clue?
[code]

[2020-11-16 10:48] Saviq commented on #1726
Can you guys confirm the speeds you get when downloading a random file from there? It is a known issue, we have recently tripled the bandwidth available there (to 3Gbps), I suppose that may still not be enough from time to time. There's a plan to put it on an even faster link, but I can't give you the timelines.

[2020-11-16 10:48] flying-sausages commented on #1839
Thanks for the fast response! I'm going to wait until this reproduces again and will let you know. I've restarted my instances since so I don't have those old logs.

As for the timing, I've left it when I went to bed, and picked it up in the morning. I'll see if this reproduces again over longe periods of sleep.

[2020-11-16 11:13] ricab commented on #1839
Hi @flying-sausages, does this happen only when powering the machine on? If so, this could be a variation of #1652. Multipass comes up and tries to start the VMs that were previously running, but the OS doesn't seem to be ready yet. We could try a 5s or 10s delay in the daemon when on macOS, but that may always fall short. Otherwise, I don't see an infallible way to handle this. There might be a w

[2020-11-16 16:37] Saviq commented on #62
@winkeesail you commented on two issues, both of which had explanations on how to achieve this in the comments…

[2020-11-16 16:44] Saviq commented on #1664
@mindfactory-se, what's your hardware? Your CPU does not have the required functionality:

[code]

[2020-11-16 16:47] townsend2010 commented on #1664
@mindfactory-se,

It appears you may not be running the latest version of Multipass.
[code]

This should have been fixed in version 1.5. What version are you running?

[2020-11-16 16:54] Saviq commented on #1112
@NatsumiHB if you read up, and in [the 1.5.0 release notes](https://github.com/canonical/multipass/releases/v1.5.0), you can use the `MULTIPASS_STORAGE` variable to change where the VMs go.

[2020-11-16 16:57] Saviq commented on #1509
@linux-china does this allow for dynamic completions? Like introspecting output from a command to produce the available values for completion?

[2020-11-16 16:58] Saviq commented on #1248
Hi @srcshelton, sorry about this, other things took priority… It's not trivial to get an environment to reproduce this…

[2020-11-16 17:07] Saviq commented on #1459
@bartoszhernas would you please [file a new issue](https://github.com/canonical/multipass/issues/new?assignees=&labels=bug&template=bug_report.md) with some more context?

[2020-11-16 17:13] trevorhardy commented on #1826
Any input?

[2020-11-16 17:43] sisyphosloughs commented on #1778
Same here with `5.4.0-53-generic`. The error occures when I open the multipass shell by the `Open shell` command on macOS.
Because this messages interrupts typing, I cannot use my multipass instance any more.

[2020-11-16 17:56] srcshelton commented on #1248
So a strange thing happened - I was trying Multipass again on macOS 11.0.1 (with the same issues as above).

This time after I'd manually created the various symlinks and hit the same problems I rebooted for other reasons... and noticed the Multipass icon in the menu-bar!

There doesn't seem to be a functional GUI other than starting and stopping the service (which occurs in a terminal window) and

[2020-11-16 18:31] NatsumiHB commented on #1112
Thanks for the tip and I appreciate that you folks will make it an option in the installer.

[2020-11-16 19:33] bartoszhernas commented on #1459
In the end, I used VirtualBox and everything works fine now so I don't have more context anymore :(

Weird thing was that it worked fine on my 2015 MacBook Pro 15, BigSur (beta) but did not work on 2016 macMini with Catalina.

When I will be redoing the cluster again without VirtualBox, I will post more context

[2020-11-16 21:55] jsiobj commented on #1833
Hello @ricab,

Actually, it is not a network problem (yet). The VM does not even get created in Hyper-V. Going into Hyper-V manager just shows no Multipass VM. A `get-vm`in powershell won't show any Multipass instance either :
[code]

I have no  virtual switch called "Default Switch" only one call "Default"

[code]

I'll have a look to the bridging tips you linked.

Thanks for your help.
Jean-Séba

[2020-11-17 02:19] winkeesail commented on #62
Are you saying that I should use `qcow-tool resize` to do the trick? I will try it.

[2020-11-17 05:04] winkeesail commented on #62
these tricks make no sense to me, qcow-tool resize does not affect the image size.

[2020-11-17 06:27] Saviq commented on #62
You mean the image file size? It won't. The image files will only grow with use.

[2020-11-17 07:14] winkeesail commented on #62
Unfortunately, this is not the case on my machine. I use `qcow-tool resize --size=$((1024*1024*1280) ubuntu-20.04-server-cloudimg-amd64.img` to increase my image from 10G to 12G. After I execute the command, the image size does not change at all, and I login into the VM instance, trying to do things, and it still keeping warning me that **No space left on device**. Clearly, the VM size has not cha

[2020-11-17 10:50] ricab commented on #1833
Hi @jsiobj,

Thanks for info. Indeed, you had mentioned the VMs weren't listed in Hyper-v. I saw multipass trying to SSH into them (`[immense-rook] Trying SSH on immense-rook.mshome.net:22"`) and thought they might be there, even if for a short while (some `Get-VM` failures in the log are expected and benign, we use them to check whether an instance with the same name exists before creating).

But

[2020-11-17 11:08] seb128 opened #1840 "The transfer command doesn't understand special chars"
Using 1.5.0 (2857) on Ubuntu 20.10

$ multipass launch focal -n lts
Launched: lts
$ echo "txt" > bug
$ multipass transfer bug lts:~/
transfer failed: [sftp push] open failed: 'SFTP server: Failure'

But also

$ multipass exec lts -- ls /home/ubuntu/example
one  dir  example
$ multipass transfer lts:/home/ubuntu/example/* .
transfer failed: [sftp pull] open failed: 'SFTP server: No such file'
$ mul

[2020-11-17 11:13] seb128 opened #1841 "Transfer verbose option doesn't make a difference?"
Using 1.5.0 (2857) on Ubuntu 20.10
$ multipass launch focal -n lts
Launched: lts
$ multipass transfer -h
...
  -v, --verbose  Increase logging verbosity. Repeat the 'v' in the short option
$ echo "txt" > bug
$ multipass transfer -vvv bug lts:
$ multipass transfer -vvv bug lts:
(trying again to see if it tells about overwriting an existing file for example)
$ multipass transfer -vvv bug lts:/home/u

[2020-11-17 11:45] Saviq commented on #1833
Hi @jsiobj, the "Default Switch" (its name is localized, unfortunately) should always be there in a Windows 10 Pro / Enterprise / Workstation with Hyper-V enabled.

Did you create the Default one yourself?

Could you please post the output of this?
[code]

It should look something like this:
[code]

The `ID` is what we match on, and we require this to exist, as that's what provides networking to t

[2020-11-17 12:57] Saviq commented on #1841
Hi @seb128, it's working fine, just we've no additional logging for this case.

[2020-11-17 13:04] seb128 commented on #1841
Alright, I guess the bug could be repurposed in 'please include more details in the verbose log'

Example where there could be more information:
- if the target already exists tell that it's going to be overwritten (or not?)
- describe the action, 'Going to copy real system /tmp/bla to ubuntu instance /tmp/new'
- includes details in the error cases, 'open failed: 'SFTP server: Failure' isn't reall

[2020-11-17 15:13] luis4a0 commented on #1840
Hi @seb128,

Thanks for reporting! This seems to be caused by not escaping some characters, as in https://github.com/canonical/multipass/issues/1495. We'll work soon on this and keep you posted.

[2020-11-17 15:19] luis4a0 commented on #1840
Duplicate of #1495, closing by now.

[2020-11-17 15:19] #1840 closed

[2020-11-17 15:19] seb128 opened #1842 "The image devel alias is confusing"
Using 1.5.0(2857) on Ubuntu 20.10

$ multipass find | grep hirsute
daily:21.04                 devel,hirsute     20201111         Ubuntu 21.04

$ multipass launch devel
launch failed: Unable to find an image matching "devel"

$ multipass launch hirsute
launch failed: Unable to find an image matching "hirsute"

The aliases as listed today are confusing since they are not working, could the find lis

[2020-11-17 15:22] seb128 commented on #1495
Bug #1840 has been flagged as duplicate, there is a similar issue with the transfer command and other special chars (~ for the target directory or dir/*), the title could be made less specific if that's the same issue

[2020-11-17 15:27] luis4a0 commented on #1495
Right, changed the title here, thanks!

[2020-11-17 15:50] townsend2010 commented on #1842
Yes, we've struggled with how best to present this situation. The problem is, if we prepend `daily:` (or some other remote), the string is going to very long or the output will look even more cluttered.

To be fair, `multipass launch -h` does say this:
`If <remote> is omitted, ‘release’ will be used.`
I know it's not ideal, but at least we do document that :wink:

That said, we can make the `help`

[2020-11-17 16:12] seb128 commented on #1842
You could probably special case at least 'devel' and mention in the error that that's one that is coming from the daily remote?

[2020-11-17 16:32] townsend2010 commented on #1842
Really, the problem here is the omission of the remote when launching.  We make an assumption, as stated in the `launch` help, that if `<remote:>` is omitted, then the `release` remote is used.  We could require the remote in all cases and then this would not be an issue.

I'm not sure if making `devel` a special case is the right answer either.  We also have other supported remotes which *could*

[2020-11-17 16:42] seb128 commented on #1842
Having a column for the remote makes it easier to understand instead

[2020-11-17 16:46] townsend2010 commented on #1842
Thanks @seb128, good to have feedback from a user!

@Saviq, @ricab, @luis4a0, any thoughts on my proposal for the `find` output in https://github.com/canonical/multipass/issues/1842#issuecomment-729046226?

[2020-11-17 16:56] luis4a0 commented on #1842
Hey @townsend2010, thanks for taking care of this. I think the output is indeed more clear from a user POV. Perhaps we could specify the default remote in the blank entries of the first column: that will save us complex explanations `help launch` and make it clearer for the user.

[2020-11-17 17:33] townsend2010 commented on #1842
After some internal discussion, here is the latest proposal:
[code]

[2020-11-17 19:35] seb128 commented on #1842
The output described there is clear and quite an improvement, thanks!

[2020-11-17 22:06] angelajfisher commented on #1121
I just want to jump in here for the possible benefit of any future people who were just as frustrated & confused by this issue as I was. What I found that worked for me was deleting the VPN's configs through the terminal!

In my case, I was trying to uninstall NordVPN, so I found its files by entering `defaults read` and then command+F'ing for "nord". Once I found the corresponding files, I simply

[2020-11-18 03:14] cedric-lamalle commented on #1822
This is a little hackish, but works with Ubuntu:

Create a cloud-init file `resolv-conf.yaml`
[code]

Launch the vm:
[code]

Now DNS works in the VM:
[code]

[2020-11-18 09:52] Saviq commented on #1822
@nmofonseca I now added a section in our docs on this: [Using a custom DNS](https://multipass.run/docs/using-a-custom-dns).

Thanks @cedric-lamalle! I had a look whether the [write-files module](https://cloudinit.readthedocs.io/en/latest/topics/modules.html#write-files) could make it less _hacky_, but it seems to run too early and gets overwritten, as far I can tell. I have included your approach

[2020-11-18 09:52] #1822 closed

[2020-11-18 11:03] seb128 commented on #1842
@Saviq that's nicer indeed, guiding the users to the solution is better than improving a documentation that they might not read (or go check out of frustration because the 'obvious' approach isn't working).

One other solution if you don't want to magically fallback to daily would be to hint of the available alternative (similar for example to the command not found suggestions)

[code]

[2020-11-18 12:37] Saviq commented on #62
I'm assuming the missing `)` is a typo here on GitHub. However, the size you gave above was 1280MB, not 12GB (which would be `$(( 12 * 1024 * 1024 * 1024 ))`:

[code]

[2020-11-18 12:43] nmofonseca commented on #1822
Hello @Saviq , thank you so much for that,

[2020-11-18 13:05] winkeesail commented on #62
Thanks, this is helpful, I typed the wrong size. Fortunately, a smaller size has no harm to my image.

[2020-11-18 15:18] Saviq commented on #1842
Yes, I was also considering a "Did you mean `devel:hirsute`?", that will still be an option regardless of implementing the `daily:` fallback.

[2020-11-18 15:38] barrymcgee opened #1844 "[Big Sur] Toolbar icon is squashed when not screen is not focussed"
Multipass icon is squashed on toolbars where the screen is not in focus;

Screen in focus:

<img width="891" alt="Screenshot 2020-11-18 at 14 23 39" src="https://user-images.githubusercontent.com/505570/99551676-0cc4ac80-29b4-11eb-8122-509d112e47f0.png">

Screen not in focus:

<img width="885" alt="Screenshot 2020-11-18 at 14 24 03" src="https://user-images.githubusercontent.com/505570/99551714-16

[2020-11-18 15:39] Saviq commented on #1844
Hey, we have it already in #1837.

[2020-11-18 15:39] Saviq commented on #1844
Duplicate of #1837

[2020-11-18 15:39] #1844 closed

[2020-11-18 19:05] Saviq commented on #1248
There currently isn't any more to the GUI indeed. It's just meant as a shortcut. OTOH it should only open a terminal on `Open Shell`, I don't know of an issue that would make the terminal pop up on Start/Stop…

[2020-11-19 09:38] Saviq commented on #1826
Hi @trevorhardy, your home network should not have any bearing on things.

If you look at the instance logs (see [our docs on Accessing logs](https://multipass.run/docs/accessing-logs)), do you see it boot fine? Do you see it list an IP? Can you reach that IP via `ping` at all?

Apple's `bootpd` gives out IPs in the 192.168.64.0/24 subnet.

Can you confirm again that `launch` works fine, but `shel

[2020-11-19 13:30] hhao99 opened #1845 "launch new install don't support url arguments now"
use multipass launch http://mirrors don't work

[2020-11-19 15:57] Saviq commented on #1845
Duplicate of #1593

[2020-11-19 15:57] #1845 closed

[2020-11-19 18:38] remcoov commented on #1240
Yeah, this would be great. The colored icon really does not fit the Apple style ("...one of these things is not like the others").

[2020-11-20 13:06] ricab opened #1847 "A second `ninja package` fails in macOS"
**Describe the bug**
Trying to recreate a package (after changing code) fails in macOS.

**To Reproduce**
[code]

**Logs**
The last message in InstallOutput.log is:
[code]

**Workaround**
[code]

[2020-11-20 13:09] Saviq commented on #1847
Indeed, the rpath fixup scripts don't deal well with being run multiple times.

[2020-11-20 13:33] ricab commented on #1847
We could copy their targets to an intermediary place when packaging, and have the scripts target them there.

[2020-11-20 15:38] ikiK-CRO commented on #118
Just to give + on this feature and join those who need this, in my case badly. Otherwise multipass is best thing ever, or will be with this option 👍

Thanks for work invested in this.

[2020-11-20 21:31] ja-johns opened #1848 "shell failed: ssh connection failed: 'Timeout connecting to 127.0.0.1'"
VM locked up

$ multipass shell primary
shell failed: ssh connection failed: 'Timeout connecting to 127.0.0.1'
$ multipass info primary
info failed: ssh connection failed: 'Timeout connecting to 127.0.0.1'
$ multipass list
Name                    State             IPv4             Image
primary                 Running           N/A              Ubuntu 20.04 LTS

**Logs:**
[2020-11-20T12:48:41.832]

[2020-11-21 08:00] Saviq commented on #1848
Hi @ja-johns, this sounds like the VM indeed went awry. You can open the VirtualBox app as root (see [our docs on using VBox on macOS](https://multipass.run/docs/using-virtualbox-in-multipass-macos)) and see what's happening when it's booting.

You could also start a new instance and using the VBox app attach the old drive to the new one for inspection or data recovery.

There's a new version of M

[2020-11-21 19:18] k24d commented on #533
I saw an error on macOS 11 Big Sur and disabled firewall to avoid the issue.

[2020-11-22 17:52] jsiobj commented on #1833
Hello @Saviq,

I don't remember creating the switch myself but I tried so many things... it is possible I don't have any other switches. The "Default Switch" Multipass is expecting is not there. I'll try to uninstall and reinstall Hyper-V

[code]
Here are the details of my Windows version (it is an enterprise editon)

[code]

[2020-11-22 18:25] jsiobj commented on #1833
@Saviq , @ricab

Ok, the problem is either Hyper-V (a bug ?) or some security policy on my PC (that's the most probable cause)

- I removed my test VM
- deleted the "Default" switch which is not the "Default Switch" swich
- stopped Hyper-V
- restarted Hyper-V

and now, I can see the "Default Switch" switch in Hyper-V management GUI
![image](https://user-images.githubusercontent.com/2767956/9991142

[2020-11-22 18:35] Saviq commented on #1833
Hi @jsiobj, unfortunately it has to be that, otherwise we won't be able to manage the instance, as we currently rely on network access to the instance. And without the Default Switch we've no way to know it's IP.

[2020-11-22 20:37] katie-knister commented on #938
Hi @Saviq! I'm interested in helping out with this. This is my first time contributing to an open source project. Do you have any tips on starting this task and/or notes on which parts of the code are relevant?

[2020-11-22 20:40] dlbeck commented on #531
@Saviq  I am interested in taking on this issue.  I am new to Multipass (and open source in general) and am wondering if you have advice of how I should get start and where to look in the code. I am also open to contribute to a different issue if you think there is one that is more approachable. Thanks!

[2020-11-22 20:43] Saviq commented on #938
Hi @katie-knister, welcome on the FOSS train, you're in for a ride :)

This is where the disk size gets validated:

https://github.com/canonical/multipass/blob/4f7ae5cac81ff379f5452a34a20a11e434d2089f/src/daemon/daemon.cpp#L317L331

Should be easy to check whether there's enough space, too.

[2020-11-22 20:46] Saviq commented on #531
Hi @dlbeck, welcome to the FOSS train ;)

It should be easy to modify this part of the code to include a note about `--`:

https://github.com/canonical/multipass/blob/4f7ae5cac81ff379f5452a34a20a11e434d2089f/src/client/cli/cmd/exec.cpp#L30L34

[2020-11-22 20:56] katie-knister commented on #938
Thank you so much for your quick and helpful response! I'll be working on this task in the next few days. Excited to get started!

[2020-11-22 22:29] falloutphil opened #1849 "multipass shell exits with 130"
**Describe the bug**

"multipass shell" crashes on or 30 seconds or so after start-up.  The underlying instance appears to be still running after the crash.  Reconnection will briefly work until it crashes again.

**To Reproduce**

[code]

Testing a different image:

[code]

**Expected behavior**
instance to start

**Logs**
No logs journalctl produced at time of exit

**Additional info**
 - OS: Ku

[2020-11-23 17:25] trevorhardy commented on #1826
I'm seeing the following in the log file for the instance making me think it is getting an IP:
[code]

`multipass shell tesp` still failed (`tesp: timed out waiting for response`)

`multipass launch` failed as well:
[code]

[2020-11-23 17:37] townsend2010 commented on #1826
Hi @trevorhardy,

Yes, indeed it looks like the instance is getting an IP address.  This leads me to believe that *something* on your host is blocking access to that subnet.  Outside of Multipass, are you able to ping `192.168.64.7` when the instance is, in theory, up and running?

Given both that the client and service cannot reach the IP/subnet, it really leads to believe there is some firewall/

[2020-11-23 17:42] trevorhardy commented on #1826
How do I know when the instance is up and running? As far as I can tell I've never reached a state where that was the case.

[2020-11-23 17:45] townsend2010 commented on #1826
That cloud-init output indicates that it is running.  The reason Multipass is not able to tell is that it relies on a `ssh` connection to be available and since it cannot reach the instance on the `bootp` network, it can't figure out what the state is.

[2020-11-23 17:49] trevorhardy commented on #1826
OK.

I started `multipass shell` and then immediately in another shell started pinging `192.168.64.7`; multipass failed and I never saw anything from ping but  `Request timeout for icmp_seq xxx`.

[2020-11-23 17:54] townsend2010 commented on #1826
Ok, just to make sure, you confirmed in the logs like you posted above that the instance you just started did indeed get an IP address and it is `192.168.64.7`?

[2020-11-23 17:57] jdossett opened #1850 "Invalid digital signature for latest windows release (1.5.0)"
**Describe the bug**
The latest windows release (1.5.0) has an invalid digital signature

**To Reproduce**
How, and what happened?
1. The digital signature for the file shows as invalid.  The certificate used to sign the latest release expired on 10/15/2020 and the latest release was signed on 10/30/2020, resulting in an invalid digital signature.

[2020-11-23 18:06] trevorhardy commented on #1826
Ahh, good catch. `primary` was assigned `192.168.64.9`; I pinged that just now and it timed out.

And to be super-sure, I redid the test watching the log file to see which IP it got assigned. As soon as I saw the IP, I started pinging it and it timed out as before.

[2020-11-23 18:16] townsend2010 commented on #1826
Ok, then it's pretty much confirmed something, maybe Cisco AnyConnect (even when disconnected), has blocked access from your host (even outside of Multipass) to the `bridge100`/`bootp` network.  Unfortunately, aside from what's in our macOS network troubleshooting guide, we don't have anymore experience with what is happening.  If you do figure out what is going on, please let us know and we can i

[2020-11-23 19:37] dwaite opened #1851 "Add README message indicating that windows and Mac are unbuildable due to closed source components"

[2020-11-24 13:14] tanthdyn opened #1852 "ssh failed to authenticate: 'Access denied for 'publickey'. Authentication that can continue: publickey'"
Hi

I made a change to authorized_keys by adding a new public key with passphrase for ubuntu@local.
Can I recover from this issues ?

multipass version :
multipass  1.4.0+win
multipassd 1.4.0+win

Thanks a lot
Tony

[2020-11-24 14:35] Saviq commented on #1852
Hi @tanthdyn, can you ssh to the instance with your new key?

[2020-11-24 14:36] Saviq commented on #1850
Hi @jdossett, weird that we didn't get that notice neither when signing or when installing (must be because we accepted the certificate before already).

Thanks for letting us know!

[2020-11-24 14:39] Saviq commented on #1849
Hi @falloutphil, when running as root you can successfully use the command?

Can you see anything related in `dmesg`? When you run the command with `gdb`, does that give you any more clues?

[2020-11-24 15:34] falloutphil commented on #1849
Thanks for reply @Saviq - dmesg -HT has proven more illuminating.

I should have added in my original e-mail that I installed using snap:
[code]

dmesg output below  - it looks like perhaps a snap/permissions issue - any ideas?

[code]

[2020-11-24 16:23] Saviq commented on #1849
The `dmesg` denial is OK, shouldn't be a problem.

For `gdb` to function with snaps, you'll need to run this instead:

[code]

You will need to `c`ontinue a handful of times as it's preconfigured to break at some points.

[2020-11-24 16:25] trevorhardy commented on #1826
Working with my IT team here, we found that force quitting `multipassd` (which automatically restarts itself) with Cisco AnyConnect not running (that is, after quitting it), allowed me to get a prompt when running `multipass shell`. If/when it breaks again, I'll try more testing to see if quitting AnyConnect is necessary or if this was just a coincidence.

Thanks for your helping it narrowing down

[2020-11-24 16:25] #1826 closed

[2020-11-24 16:27] yangl1996 commented on #1778
Same here with `5.4.0-54-generic` kernel. Exiting the shell and reattaching using `multipass shell instance-name`.

The outputs are `do_IRQ: 0.39 No irq handler for vector`. It started when I'm compiling something, but I'm not sure how to reproduce it. Happy to test more and try to reproduce.

[2020-11-24 17:42] falloutphil commented on #1849
Thanks @Saviq  - running as you described I get:

[code]

Followed shortly after by:

[code]

Some quick checks:

[code]

[2020-11-25 02:14] LordKubaya opened #1853 "launch failed: Remote "" is unknown or unreachable."
**Describe the bug**
Describe what your problem is.

**To Reproduce**
How, and what happened?
1. `multipass ...`
1.

**Expected behavior**
What did you expect to happen?

**Logs**
Please provide logs from the daemon, see [accessing logs](https://multipass.run/docs/accessing-logs) on where to find them on your platform.

**Additional info**
 - OS: [e.g. macOS 10.15]
- `multipass version`
- `multipa

[2020-11-25 03:52] katie-knister commented on #938
Hi @Saviq , I created PR #1854 to address this issue. It uses the std::filesystem library to check for available space in the user’s directory. Do you think you could take a look and see if it’s on the right track? I am also wondering why the build check fails with including filesystem since it successfully builds locally. I’m also interested in what recommendations you have for testing this. Than

[2020-11-25 09:28] Saviq commented on #1853
Hi @LordKubaya would you be able to provide the daemon logs as requested? `/Library/Logs/Multipass/multipassd.log` would be the most interesting.

[2020-11-25 11:45] anthonydillon opened #1855 "info command does not display CPUs"
**Describe the bug**
If I would like to see how many CPUs an instance is allocated I can't find that information in the `info` command

**To Reproduce**
How, and what happened?
1. Run `multipass info m1 -v` and see:
[code]

**Expected behavior**
I would expect to see the CPUs allocation and if set to the default. Display the default value.

[2020-11-25 13:21] balibebas opened #1856 "launch failed: failed to download from . . . Network timeout"
**Describe the bug**
Launch command is unforgiving for low network connections. The Wi-Fi in my area has been up and down all day. I've had image downloads get to 12% and die only to have to start over when the connection is still alive—just going slow.

**To Reproduce**
How, and what happened?
1. Hop on a slow network
1. `multipass launch`
1. Watch download start.
1. Wait for below error

[code]

[2020-11-25 13:34] xuzhe0205 commented on #1778
Same here. But I control+C to "cancel" this message, and I am able to proceed my work in multipass instance. But still, not sure what's happening here

[2020-11-25 14:39] Saviq commented on #1849
@falloutphil what're the connected interfaces?

[code]

[2020-11-25 14:45] Saviq commented on #1856
Hi @balibebas can you comment on what exactly timed out? The error you pointed out doesn't look like it's coming from Multipass…

[2020-11-25 16:22] flying-sausages opened #1857 "Apple M1 / Hypervisor.framework support"
**What are you trying to do?**
Run Multipass to launch instances on top of Apple Silicon devices

**What's your proposed solution?**
Restrict multipass on AS to use the [Virtualisation API intrdouced in Big Sur ](https://developer.apple.com/documentation/virtualization) only and ensure ARM builds of ubuntu are being installed

**Additional context**
I have 0 experience in any of the underlying tec

[2020-11-25 17:12] Saviq commented on #1857
Hi @flying-sausages, this is definitely something we want to get going, but it will take some time. The API you mention is quite low level, the likes of hyperkit and qemu are what we'd need to implement support for it first. Did you see evidence that the hardware even supports virtualization already? From what we've read the dev kits did not, and I've not seen anyone confirming they have a VM runn

[2020-11-25 17:17] flying-sausages commented on #1857
I've seen a success story here which I think could be helpful https://forums.macrumors.com/threads/ubuntu-linux-virtualized-on-m1-success.2270365/

[2020-11-25 17:20] flying-sausages commented on #1857
Another useful link from the same thread https://github.com/JacopoMangiavacchi/M1-Linux-SSH

[2020-11-25 19:04] falloutphil commented on #1849
@Saviq - see below

[code]

[2020-11-25 19:06] Saviq commented on #1849
Thanks @falloutphil, all that looks fine. Did you get to find out why the denied permission?

[2020-11-25 19:09] falloutphil commented on #1849
No that's still a mystery to me too.  I haven't knowingly changed anything - I installed from snap only a few days ago using the standard incantation and the problems seemed to start shortly (but perhaps not immediately) after first install.

[2020-11-25 20:52] flying-sausages commented on #1857
And another https://github.com/evansm7/vftool

[2020-11-26 01:54] balibebas commented on #1856
The issue is that multipass launch doesn't complete and throws an error on slow internet connections. It failed at the progress indicator `/ — \ | / — \ |`. There was no other debugging information provided when multipass failed. That's all I got. The ask here is to fail more gracefully when the internet connection is slow.

[2020-11-26 05:25] ghost opened #1858 "Improved instructions for macOS installation"
**What are you trying to do?**
Run multipass using the instructions provided on https://multipass.run/docs/installing-on-macos.

Instructions make it look like you'll automatically be using `hyperkit` but do not instruct users to `get` the `local.driver` to verify first. These instructions should be updated to have users check their driver first and switch to hyperkit if desired:

[code]

Otherwis

[2020-11-26 10:39] PdrNG commented on #1658
sure you are doing a great job, do not bad-understanding me, multipass is great, but this behavior is simple unacceptable. Neither I pretend to say you how to do your job, but a simple search for “delete file” and change it to “rename file” is a must that takes few minutes.

[2020-11-26 11:02] ricab commented on #1858
Hi @balibebas, I am not sure I understand what you mean. The default driver *is* hyperkit. There is no way it would be set to virtualbox without the user requesting that. Did you perhaps do that in an earlier install? Or copy-pasted a command by mistake perhaps?

Note: we used to support `MULTIPASS_VM_DRIVER` env var, but that is now ignored and a warning is issued if it's set.

[2020-11-26 13:27] balibebas commented on #1858
Today after I set up the driver did indeed change to VBox through no work off my own. Hence the issue. This occurred on the Big Sur Beta (latest version) without running any `set` command on the driver.

What I can tell you is that the driver didn't change itself until after my first successful launch and that it did happen unattended.

[2020-11-26 15:54] lucj opened #1859 "Cannot launch a node with 1.5 on mac"
Hi,
I've just updated to Multipass 1.5 on mac and the first node fails to start

[code]

[2020-11-26 16:04] balibebas commented on #1858
It could be the presence of `kind` had something to do with the wonk. Regardless, I still feel the docs should be more explicit.

[2020-11-26 16:16] lucj commented on #1859
Same thing when I uninstall with
[code]
and reinstall. It seems it kept things from the previous versions... :(

[2020-11-26 16:39] Saviq commented on #1859
@lucj and nothing else changed between now and when Multipass was working for you?

Could you please run the `launch` command with `-vvv`, or [look in the logs](https://multipass.run/docs/accessing-logs#macos) for anything that might suggest an error?

[2020-11-26 16:46] ricab commented on #1858
The first (non-title) sentence in the docs you linked says:

What could be more explicit there? That default is hardcoded and it's not clear to me what enhancement you are proposing.

[2020-11-26 17:47] balibebas commented on #1858
When the pull quotes come out on such trivial feedback I will do you a favor and bail. You've heard the feedback. Do with it what you will.

[2020-11-26 17:47] #1858 closed

[2020-11-26 17:49] balibebas commented on #1856
I'm wrapping up shop on helping improve this repo. Good luck.

[2020-11-26 17:49] #1856 closed

[2020-11-26 17:58] ricab commented on #118
A few details are still missing from those packages (e.g. early network validation, release of unused mac addresses). They are coming soon, but we have a bunch of stacked PRs that we want to merge first.

[2020-11-26 19:59] ibehren1 commented on #118
[code]

I suspect this is a local VirtualBox error as occurs with/without the --network option, however updating the install of VirtualBox did not resolve.  Curious if this is a known issue or a suggested resolution is available.

MacOS BigSur and VirtualBox Version 6.1.16 r140961

[2020-11-26 20:06] lucj commented on #1859
I use Multipass quite a lot those days and it's working fine (except some error from time to time when deleting VMs).
That time I just installed the new version and got the ```Instance stopped while starting``` message.
Gave a new try with 1.4
[code]

I got the following logs
[code]

[2020-11-27 07:28] Saviq commented on #118
Hi @ibehren1, this indeed doesn't seem related to this feature, or necessarily to Multipass even. If you launch with `-vvv`, can you see more interesting information? Or in the `multipassd.log` (see [our docs on where to find it](https://multipass.run/docs/accessing-logs#macos))?

[2020-11-27 07:29] Saviq commented on #1859
@lucj I believe this is due to Internet Sharing being enabled in the Sharing settings, try disabling that?

[2020-11-27 10:09] flying-sausages opened #1861 "A config setting to prevent automatic mounting onto `primary` interface"
**What are you trying to do?**
I will often try to spin up a primary instance for a quick one-off purpose, while my named instances have designated tasks. This means that my Primary instance does not need to mount the filesystem of the host at all, which slows down the instantiation process. I don't think there are `cloud-init` options to disable this.

**What's your proposed solution?**
It would

[2020-11-27 10:44] lucj commented on #1859
Not sure about the sharing settings :(
I've upgraded to Big Sur and reinstall Multipass.
It's working fine now.

[2020-11-27 13:27] clevcode opened #1862 "Support for adding options to the hypervisor backend"
**What are you trying to do?**
Specifically, I would like to be able to add options to QEMU, so I can use it to enable kernel-debugging using QEMU:s gdb-stub.

More generically, I think that being able to add and/or customize options to the hypervisor backend could be quite useful for other use-cases as well.

**What's your proposed solution?**
To keep it very simple, I would simply suggest adding

[2020-11-27 15:04] Saviq commented on #1862
Hi @clevcode, the problem with this is that with some backends we don't even run the process the VM is, it's the hypervisor that does. So a generic `options` key wouldn't work indeed. We hate to introduce backend-specific options, too, as it's bound to end up in a tutorial or howto that will only work for a certain scenario.

For this, somewhat fringe, use case, did you think of using LXD? You can

[2020-11-27 17:15] cSDes1gn commented on #1853
Same issue for me on macOS Catalina 10.15.7 here are my multipass details:
[code]

and daemon logs:
[code]

[2020-11-28 16:11] danielbisar commented on #1448
I had the same issue trying out snapcraft on Fedora 33 for the first time. I did two things, not sure if the first is necessary:

1. snap connect multipass:libvirt
2. firewall-cmd --zone=trusted --change-interface=mpqemubr0 --permanent
3. sudo systemctl restart firewalld

Now

`> multipass list
WARNING: cgroup v2 is not fully supported yet, proceeding with partial confinement
Name

[2020-11-28 21:13] dlbeck commented on #1741
@ricab Hi, I am running into this issue when trying to launch. I am wondering if you guys found a "quick fix" for the issue. I am trying to develop on Ubuntu 20.04 inside of VirtualBox. Thanks

[2020-11-29 01:25] RyanMorash commented on #1857
The M1 does have virtualization support. There have been a set of patches made to enable Hypervisor.framework (hvf) support to QEMU for aarch64: https://patchwork.kernel.org/project/qemu-devel/list/?series=391797

Also, there are now two different virtualization frameworks on macOS. There continues to be the lower-level [Hypervisor.framework](https://developer.apple.com/documentation/hypervisor) w

[2020-11-29 19:10] dlbeck commented on #531
Hi @Saviq I have created a PR for this issue here: #1863 . It fails the `DNSMasqServer.dnsmasq_fails_and_throws` test which seems unrelated to my task. It looks like @katie-knister is having the same issue in PR #1854 so I'm wondering if the issue could be something else. Thanks!

[2020-11-30 06:11] r-darwish opened #1864 "Support Gen 2 Hyper-V machines"
**What are you trying to do?**
Currently multipass deploys Gen 1 machines when the Hyper-V hypervisor is used

**What's your proposed solution?**
Make a UEFI secure boot enabled image and deploy it as a Gen 2 machine

**Additional context**
https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-server-2012-R2-and-2012/dn282285(v=ws.11)

[2020-11-30 09:48] ricab commented on #1741
Hi @dlbeck, yeah this got fixed in v1.5.0. Are you using an earlier version?

[2020-11-30 10:15] ricab commented on #531
Hi @dlbeck , yeah, we keep finding that the timeout that this test depends on is too short for CI. I don't think it's related to your changes. Thanks for your PR!

[2020-11-30 12:24] ricab commented on #531
So we discussed a bit, and we think that the message should be a bit simpler than in this issue's description:

[code]

[2020-11-30 13:58] Saviq commented on #1857
Yeah thanks @RyanMorash @flying-sausages for references, we're monitoring this space and will jump on it whenever things settle. One notorious source of problems for us is networking (NAT, bridging, DHCP, DNS), which hyperkit (through Hypervisor.framework) mostly solves and we'd love to continue using that. If qemu gains support for all the bits'n'pieces we need, we may well go that route.

[2020-11-30 17:01] davidwinter opened #1865 "New multipass install where no instances can connect to the internet"
**Describe the bug**
I've done a fresh install of multipass, and none of the instances it creates can connect to the internet.

**To Reproduce**
1. `sudo snap install multipass`
2. `multipass launch`
3. `multipass shell chic-marsupial`
4. `ping 8.8.8.8`
5. `ping google.com`

**Expected behavior**
That the ping commands would return some traffic.

**Logs**

[code]

When connecting via shell:

[code

[2020-11-30 17:46] davidlane-iteratec opened #1866 "Network is unreachable when booting new instance"
I have the same problem in the same context as https://github.com/canonical/multipass/issues/1088

I just installed snapcraft on an ubuntu 20.10 which installs multipass 1.5.0 automatically.
After this, networking does not work in the snapcraft VM or in a test VM.

[code]

Here are the iptables:
[code]
I even tried removing the 2 Reject Rules as mentioned in the previous ticket but the problem per

[2020-11-30 18:00] townsend2010 commented on #1865
Hi @davidwinter,

Are you using a proxy or any other special networking setup on your host such as a VPN or a firewall?

[2020-11-30 18:01] townsend2010 commented on #1866
Hi @davidlane-iteratec,

Yes, the aforementioned fix has been released for some time now.  Are you using a proxy or any other special networking setup on your host such as a VPN or a firewall?

[2020-11-30 18:45] davidlane-iteratec commented on #1866
Hi Chris: no I'm directly connected to the internet

[2020-11-30 18:46] davidwinter commented on #1865
I had Mullvad VPN client installed, but not connected. I have removed the .deb package, rebooted, and internet connectivity is now working.

Is there a way for it to work with it installed, but not connected to the VPN?

[2020-11-30 18:57] townsend2010 commented on #1865
Hi @davidwinter,

So it seems it mucks with your iptables.  I venture to guess that once you connect and disconnect, any rules it set are not cleaned up.  I'm not familiar with that VPN client, but there should be a way to exclude the Multipass subnet, which in your case is `10.146.60.x`.  Perhaps setting up some sort of split tunnel may help: https://mullvad.net/en/help/split-tunneling-mullvad-vp

[2020-11-30 19:10] townsend2010 commented on #1866
@davidlane-iteratec,

Hmm, ok.  This is strange.  Your host can see and connect to the Multipass instance, so no problems there.  Even DNS is working properly inside the Multipass instance.  It's when the Multipass instance tries to go outside the host which is problematic.  In my experience, this is caused by *something* set on the host that blocks access from the Multipass subnet, which is `10.5

[2020-11-30 20:01] davidlane-iteratec commented on #1866
[code]

[2020-11-30 20:48] davidwinter commented on #1865
Thanks, @townsend2010 - I've submitted an Issue for Mullvad, as I wouldn't expect to need to configure anything when I'm not connected to the VPN itself. It should respect any prior config I believe:

https://github.com/mullvad/mullvadvpn-app/issues/2320

[2020-11-30 21:18] townsend2010 commented on #1865
Ack, thanks @davidwinter.  I don't see this as an issue with Multipass, so I'm going to close this.  If you disagree or find that we do have some bearing on this, please reopen :smiley:

[2020-11-30 21:18] #1865 closed

[2020-11-30 21:22] davidwinter commented on #1865
@townsend2010 thanks for your help, and agree, the issue lies elsewhere :+1:

[2020-12-01 05:57] madalinignisca commented on #1810
Microsoft's documentation has not been updated everywhere.

For WSL2, Hyper-V is now a full option in Windows 10, since version 2004 and completely stable since 20H2.

With some tricks you can even get the management component, but that is not needed to be used.

You can enable experimental support on Windows Home, by doing checks if Windows 10 version is more recent than 2004.

[2020-12-01 12:30] adeg commented on #1853
I had the same issue with the same messages in the logs. Turned out this was an Internet access issue. I am using LuLu as a personal firewall. Usually, LuLu asks if the Internet should be allowed to a new application, but it seems that LuLu was not able to detect multipassd attempting to connect to the Internet. Adding an allow rule for multipassd solved the problem.

I would recommend adding some

[2020-12-01 14:58] winkee01 opened #1867 "failed to auto mount?"
I mount a local dir `/tmp/config` to multipass's instance. But when I stop the instance and restart it, the mount disconnected, when I try to re-mount it, it will pop out the error message saying:

[code]

to solve this, I just have to execute `multipass unmount primary`.

I was wandering is there a better way to overcome this error? either auto unmount when I stop the instance, or auto re-mount w

[2020-12-01 15:00] Saviq commented on #1867
Hi @winkee01, could you please give a bit more context about your host operating system and Multipass version?

What you're describing sounds like a bug indeed, with the exception that `/tmp` on Linux (under snap confinement) is special - the snap doesn't see the same `/tmp` that you do.

[2020-12-01 15:18] townsend2010 commented on #1867
Hi @winkee01,

By default, it should auto re-mount on instance start.  How are you restarting the instance?  And when the instance has been restarted, when you view the mounted directory from within the instance, there is nothing in the mounted directory until you do the `unmount`/`mount` dance?

[2020-12-01 15:35] winkee01 commented on #1867
Hi, I type `multipass stop primary` and  `multipass start primary` to restart the stopped instance.
After I restarted and shell into the instance, the mount directory is still there. So I have to manually unmount it first before I can mount it again.

[2020-12-01 15:38] townsend2010 commented on #1867
Hi @winkee01,

Ok, thanks.

Does it contain the data in it you expect or is it empty and only unmounting and mounting shows the data you expect?

[2020-12-01 15:39] winkee01 commented on #1867
yes, it preserves files.

[2020-12-01 15:41] townsend2010 commented on #1867
Ok, then it is working as expected and there is no need to manually unmount and mount this unless I'm really misunderstanding your use case.

[2020-12-01 15:52] winkee01 commented on #1867
Well! Interesting, everything suddenly works now!

Initially, this may turn out to be a bug from `podman` I guess. because I use the instance as a podman server. when I start the instance, and I use podman to restart a container in the instance, the container will ready some data from the mounted directory. But it failed after I restart the instance and then restart the container. But now it seems

[2020-12-01 15:55] #1867 closed

[2020-12-01 15:57] winkee01 commented on #1867
You are exactly true, there must be a race because I have tried again many times, and the errors are gone. Many thanks!

[2020-12-01 19:21] pinkisemils commented on #1865
I have failed to reproduce this with the Mullvad VPN client, but I did test to see what we our client leaves around and I couldn't see any extra routes or rules being left around.

[2020-12-02 04:21] dlbeck commented on #531
Thanks, that makes sense @ricab . I have made the changes in the PR when you have a chance to review it.

[2020-12-02 08:02] madalinignisca commented on #1536
HyperV is 100% available on WindowsHome since update version 2004, and with last fixes making it totally stable from 20H2.

I don't understand why the people involved in this project are still talkning about what was on older Windows 10 Home.

Look at Docker for Windows, it even automates the activation of hyperv.

[2020-12-02 08:32] AntonOfTheWoods commented on #1536
@madalinignisca , that's simply not true. https://docs.microsoft.com/en-us/virtualization/hyper-v-on-windows/quick-start/enable-hyper-v

You do realise that Canonical is a company, right? That even if there were some hack to get around Microsoft not wanting people to activate Hyper-V on Win10 Home, they couldn't talk about it, because contrary to you (and me!), they actually do care whether Micros

[2020-12-02 08:55] madalinignisca commented on #1536
That is not a hack. The docs are not updated. Before you keep referencing to old information, would you please look at what Microsoft did with WSL2, collaborated with Docker to get it working on HyperV and also why it ended up adding hyperv to Windows Home with no hacks?

You do not need Hyper-V Role to use Hyper-V in Windows 10 Home. That is the only component missing that tops up with Hyper-V ma

[2020-12-02 09:34] brujah commented on #1252
No update on this?

[2020-12-02 13:01] AntonOfTheWoods commented on #1536
@madalinignisca "100% available" implies you can do things like install Windows or FreeBSD. Can you do that with what is available in Windows home without hacks? You can with normal HyperV. That's what 100% means, at least in English!

[2020-12-02 16:29] Saviq commented on #1536
What WSL2 and docker are using is [Windows Hypervisor Platform](https://docs.microsoft.com/en-us/virtualization/api/), _not_ the Hyper-V feature. "uses Hyper-V architecture" does not mean that complete Hyper-V support is available.

All that said, we are actively looking into using WHP above to support all Windows SKUs. It's not trivial, though, if we want to maintain feature parity.

[2020-12-02 16:46] Saviq commented on #1810
#1536 has some more discussion, FWIW.

[2020-12-03 05:04] madalinignisca commented on #1536
Oh. Now I get it. You've been using the Hyper-V role manager's api to spin instances instead of using Hypervizor Platform api. So multipass is dependent on the manager and not on the lower level platform.

I guess that Virtualbox and VMware used [this](https://docs.microsoft.com/en-us/virtualization/api/) to be able to spin up HyperV based virtual machines on Windows Home also (which actually work

[2020-12-03 06:53] sam-mlcoder commented on #118
Hi team, I am able to install the new multipass and used the multipass launch --network command to launch the ubuntu instance, now I can access the webserver from other devices in the network.
**Note**: Antivirus was blocking as the fix was not signed I think, I have disabled and able to install and launch.
Thanks for the fix 👍

[2020-12-03 09:53] Saviq commented on #1833
My bad, this is indeed fixed.

[2020-12-03 09:53] #1833 closed

[2020-12-03 13:30] andreyfedoseev commented on #1866
I'm having exactly the same issue with multipass 1.5.0 rev. 2907

I'm also directly connected to the internet. I also tried to remove the aforementioned iptables rules to no result.

This was a fresh install of multipass made by snapcraft, I haven't used it before.

`ifconfig -a` is

[code]

[2020-12-03 13:34] townsend2010 commented on #1866
Hi @andreyfedoseev and @davidlane-iteratec,

Now that there is a bit more data, it's curious both of you have docker installed.  I wonder if their networking is somehow blocking our `dnsmasq` from operating properly.

Could either or both of you provide the output of `ps -aef | grep dnsmasq`?  Also, if you are willing and able, try uninstalling or disabling docker and see if it helps.

[2020-12-03 13:54] andreyfedoseev commented on #1866
@townsend2010 thank you for the swift response

I do have docker installed

`ps -aef | grep dnsmasq` output is

[code]

I stopped all running docker containers and removed all docker networks with `docker system prune`. Then I stopped the docker service with `sudo service docker stop`

Unfortunately, that didn't help.

In `ifconfig -a` I see that the `br-...` interfaces created for docker networks

[2020-12-03 14:07] townsend2010 commented on #1866
@andreyfedoseev,

Thanks.  I'll need to think about this some more.  Are you on Ubuntu 20.10 as well?

[2020-12-03 14:09] andreyfedoseev commented on #1866
@townsend2010 Yes, it's Ubuntu 20.10

[2020-12-03 14:18] townsend2010 commented on #1866
@andreyfedoseev,

Ok.  One other thing...did you try rebooting your machine after disabling Docker just to be sure no cruft is left around?

[2020-12-03 14:39] townsend2010 commented on #1866
Ok, I think I have a theory on what is going on.  We include legacy `iptables` in our snap, but that doesn't play nicely with if anything else is using the new `nftables` introduced in 20.10, and I bet Docker is using the new `nftables`.

What we need to do is include legacy `iptables` and `nftables`-compatible `iptables` in our snap and at runtime, detect which tables are being used and then use

[2020-12-03 14:45] andreyfedoseev commented on #1866
@townsend2010

It seems that docker is using the new `nftables` indeed:

[code]

[code]

[2020-12-03 14:47] townsend2010 commented on #1866
Ok, thanks, that pretty much confirms my theory. If`nftables` are being used, then the legacy tables are not used which is why the Multipass instances cannot reach the Internet.

[2020-12-04 09:24] danmac opened #1870 "Disk Size flag is being ignored in Windows 10"
I have multipass 1.5.0 installed on Windows 10. I have installed both from releases and using winget and it seems to affect both versions.

Whenever I try to launch a new VM with the -d flag it gets ignored and all VMs only have 2G of space. All other flags work fine (eg -c and -m).

I originally installed it over 1.4.0 and let it auto uninstall the previous version.

Here is an example shell:

[c

[2020-12-04 09:44] Saviq commented on #1870
Hi @danmac can you please confirm whether you're using Hyper-V or VirtualBox? And in [the logs](https://multipass.run/docs/accessing-logs#windows), do you see any relevant info?

[2020-12-04 10:02] danmac commented on #1870
Using Hyper-V.

I am also using PowerShell 7.1.0 from within Windows Terminal, but I tried it with classic PowerShell and it did the same thing.

I checked event viewer and saw this line:
``
Log Name:      Application
Source:        Multipass
Date:          4/12/2020 8:25:43 PM
Event ID:      1
Task Category: None
Level:         Warning
Keywords:      Classic
User:          N/A
Computer:      dexp

[2020-12-04 10:17] danmac commented on #1870
I just reverted to 1.4.0 and it seems to be doing it as well.

I've only just switched to Hyper-V from using VirtualBox if that's of any use. I also turned on WSL2 and have Docker installed, which is why I switched.

[2020-12-04 11:11] denis-evteev commented on #1853
I also had exactly the same issue with the same log messages. I occasionally use WireGuard VPN connections, but at the time I experienced the issue WireGuard was deactivated and I had no issues with connecting to the mentioned hosts directly via terminal/browser.

Killing the `multipassd` process resolved the issue for me.

The daemon's re-launch was most likely the reason why upgrading to the lat

[2020-12-05 06:25] heagan01 opened #1872 "Multipass for windows: timed out waiting for response"
**Describe the bug**
I can't seem to set up a VM of every ubuntu version, but I can launch the appliances in windows.

**To Reproduce**
How, and what happened?
1. `multipass launch -n my-test-vm --cloud-init cloud-init.yaml`

**Expected behavior**
What did you expect to happen?

**Logs**
[asdf.zip](https://github.com/canonical/multipass/files/5646589/asdf.zip)

**Additional info**
 - OS: Windows 2

[2020-12-05 21:15] nikitalpopov commented on #1121
Actually, you don't have to reinstall the whole system. I removed Checkpoint with this command and everything started to work:
[code]

[2020-12-05 22:17] SlyCooperking commented on #118
Passing the PS >multipass list-networks doesn't seem to provide a ID value needed for the >multipass launch --network <spec> argument. I guessed the argument accepts a string '<instance name>' and it seems to add both my Hyper-V's default switch and the external one I made.

[2020-12-05 23:06] raymondvalentino opened #1873 "Cannot create new multipass VM with specified disk size on Windows 10"
I want to use Multipass to create a VM which will host docker images - so I need to create a VM with an initial disk size of 20GB.  I am using Hyper-V.  When I create the VM, info shows that only 2GB disk is allocated.  Doing some Google searching I found there is a way to increase a Hyper-V vhdx file with the Resize-VHD powershell command.  Using this command, the actual size of the file is not c

[2020-12-06 03:30] raymondvalentino commented on #1873
OK - Weird stuff.  I have fixed the problem.  I had to delete the multipass VM and then remove the Hyper-V features from Windows, reboot, add back the Hyper-V features and then recreate the multipass VM.  As before, multipass ignored my disk size request and gave me 2G.  This time, when I use the Hyper-V console to increase the disk size it works and now I can see the disk space is there.  I can o

[2020-12-06 03:30] #1873 closed

[2020-12-07 09:24] X-777 opened #1874 "mac multipass lanch failed"
multipass launch -c 2 -d 10G -m 2G -n podman file:///Users/l/Downloads/ubuntu-20.04-server-cloudimg-amd64.img
launch failed: http and file based images are not supported

[2020-12-07 10:39] Saviq commented on #1874
Hi @X-777, we only currently support launching `file:///` and `http://` images on Linux, we'll have to improve the documentation on that.

I'll mark this as a duplicate of #1593.

[2020-12-07 10:39] Saviq commented on #1874
Duplicate of #1593

[2020-12-07 10:39] #1874 closed

[2020-12-07 10:50] Saviq commented on #1872
Hi @heagan01, can you post your `cloud-init.yaml`?

That some instances launch fine, but others don't, suggests there may be something in there.

Did you try launching without `--cloud-init`?

[2020-12-07 10:54] heagan01 commented on #1872
Yes, I launched it with --cloud-init this is my cloud-init.yaml

[cloud-init.zip](https://github.com/canonical/multipass/files/5652180/cloud-init.zip)

[2020-12-07 16:24] Saviq commented on #1872
OK yes, your `cloud-init.yaml` is what's causing normal Ubuntu instances to fail. Appliances / Ubuntu Core instances launch fine because they treat users/groups slightly differently.

Just remove this part of your YAML, and you should be good. I just launched an instance with the rest of your YAML fine.
[code]

Please reopen if you find that not working still!

[2020-12-07 16:33] Saviq commented on #1872
@heagan01 FWIW this is the `cloud-init` bug that's the direct cause of your problems:

https://bugs.launchpad.net/cloud-init/+bug/1870310

[2020-12-08 01:22] heagan01 commented on #1872
can't seem to start still this is my cloud-init.yaml
[cloud-init.zip](https://github.com/canonical/multipass/files/5656221/cloud-init.zip)

[2020-12-08 04:42] foobarbecue commented on #118
Just tried it on Windows and it works great! Thanks so much!!!

[2020-12-08 09:24] dingsters commented on #566
Commenting on old issues, hoping it will help new google searches.
I am on Catalina, and above solutions will help. I am also on tight storage, so an external drive is my only way to have multiple Ubuntu using multipass.

The soft link will work, please note, I have initialized 1 instance already when I started looking for the VM files, and google to this page.
I move the folder /var/root/Library/

[2020-12-08 10:06] Saviq commented on #1872
@heagan01 you didn't say if it works _without_ the cloud init file altogether?

[2020-12-08 10:09] heagan01 commented on #1872
I mean i got the same problem tried multipass start my-test-vm and created a new vm altogether multipass launch my-asdf --cloud-init cloud-init.yaml

[2020-12-08 10:35] KHIT93 commented on #1866
I just ran into this issue the other day and can confirm that this also happens with multipass 1.5.0 on Pop_OS 20.10
Once I install docker in a VM, all my VM's loose network upon next host reboot

[2020-12-08 11:30] Saviq commented on #1872
Yes, but did you try *without* the `cloud-init.yaml`? Just `multipass launch -n my-asdf`? Does that work?

[2020-12-08 12:14] heagan01 commented on #1872
Nope, still the same thing

[2020-12-08 19:09] jconlon commented on #118
Working for me on MacOS Big Sur!

[2020-12-09 11:12] uishon commented on #1687
Any chance you can give priority to this one? _(I was hoping it would get into 1.5...)_
It's really annoying so in case it's an easy fix - it'd be nice.
Thanks!

[2020-12-09 11:20] ricab commented on #1872
Hi @heagan01 , does it work if you do not specify a name (just `multipass launch`)?

Windows sometimes [keeps stale IPs](https://multipass.run/docs/troubleshooting-networking-on-windows) in `C:\WINDOWS\System32\drivers\etc\hosts.ics`.

[2020-12-09 16:11] heagan01 commented on #1872
It's the same, i tried multipass launch

[2020-12-10 15:00] Saviq commented on #1872
Hi @heagan01, sorry this isn't working for you. Can you confirm that appliances still launch fine?

In your logs, I can see the image resize operation timing out. What hardware are you running on? This operation should be near instant, but in your case it seems to time out after 30s...

[2020-12-10 18:22] meangrape commented on #208
Adding my two cents for snapshots. I use it in the same method mentioned above--configure a machine; snapshot it; then do testing/demos/whatnot and return to the clean snapshotted version when I'm done.

[2020-12-10 18:53] Chealer opened #1879 "Storage or compatibility is undocumented"
**What are you trying to do?**
I am trying to find whether Multipass virtual machines need Multipass to be used, or if using Multipass can be temporary.

**What's your proposed solution?**
There could be a section about compatibility with other virtualization systems so we can tell for example if a virtual machine created with Multipass can be used on VMware ESXi. Or it would help guess that if th

[2020-12-10 20:52] kronos-cm commented on #683
Hi there, I had a similar problem, what solved it was to follow the steps in the Multipass subsection from the [microk8s documentation](https://microk8s.io/docs/install-alternatives#heading--macos):
To work within the VM environment more easily, you can run a shell:

`multipass shell microk8s-vm`
Then install the MicroK8s snap and configure the network:

`sudo snap install microk8s --classic --cha

[2020-12-10 22:06] yalon commented on #1244
@Saviq here you go:

In the meantime, where can I disable it? It also makes ReportCrash starts working like crazy.

Same experience with Catalina and Big Sur unfortunately.

Thanks!

[2020-12-10 22:35] jamesallen-atx commented on #1725
For anyone still needing a workaround for this, I found a workaround in the WSL repo issues.
https://github.com/microsoft/WSL/issues/4288#issuecomment-656991493

[2020-12-11 10:51] Saviq commented on #1879
Hi @Chealer, FWIW there's ultimately nothing special about the VMs Multipass creates. It just simplifies their bootstrap.

There's currently no easy way to _extract_ the VMs directly with `multipass`, but the images are there, you can take them, they're in standard formats native to the driver in use (mostly qcow2 / VDI / VHDX). The only thing to note is that you'll want to create a custom user, o

[2020-12-11 14:52] Saviq commented on #1244
@yalon are you on case sensitive APFS, by any chance?

[2020-12-11 19:27] yalon commented on #1244
Yes, I am.

On Fri, Dec 11, 2020 at 4:53 PM Michał Sawicz <notifications@github.com>
wrote:

[2020-12-11 21:54] scheung38 opened #1881 "[Question] How to increase memory size after creation? Failed from Kubespray-Ansible"
**Describe the bug**
How to increase memory size after creation? From multipass info --all below it seems already sufficient at 4.7GB and 981.4MB?

I could multipass launch --name -c XX -m XX ubuntu-1 but this would undo all config

**To Reproduce**
How, and what happened?
1. `multipass launch --name ubuntu-lts` (ie. didn't use -c -m flags)
2. ~ /kubespray$ ansible-playbook -b -v -i inventory/prod

[2020-12-12 00:03] scheung38 commented on #1265
Hi is this still the case as I have similar issue, and didnt want to undo all the config I did after launching:

https://github.com/canonical/multipass/issues/1881

[2020-12-12 07:20] Saviq commented on #1244
@yalon your bug is #1248, then.

[2020-12-12 07:23] Saviq commented on #1881
Hi @scheung38, here's a workaround while we work on allowing this on the CLI (#756):

https://github.com/canonical/multipass/issues/1158#issuecomment-548073024

[2020-12-12 07:23] Saviq commented on #1881
Duplicate of #756

[2020-12-12 07:23] #1881 closed

[2020-12-12 13:50] restuwahyu13 opened #1882 "Multipass for windows: Nginx using docker port mapping is not running"
I'm having a little trouble running Nginx on the docker, the Nginx container I built in the docker. when I run it and I open it using a browser with localhost: 8080, it can't work like usual, is there any solution to this problem. thank you

[2020-12-12 14:04] restuwahyu13 commented on #1882
#

[2020-12-12 14:04] #1882 closed

[2020-12-13 02:51] naturaverl commented on #1839
Hello, I believe I have the same or at least similar problem. It occurs after I reboot my host (macOS Mojave 10.14.6).

If the VMs were stopped before rebooting, I can restart them just fine.
But if any VMs were running when the host reboot, they end up "stuck".

`
studio:~ jay$ sw_vers
ProductName:	Mac OS X
ProductVersion:	10.14.6
BuildVersion:	18G6032

studio:~ jay$ multipass version
multipass

[2020-12-13 03:28] AdamTheLang commented on #1505
This is infuriating. Keeping me from using multipass on my server. Is there any inkling of a workaround?

[2020-12-13 11:48] Saviq commented on #1505
@AdamTheLang did you see the comments above? Disabling Internet Sharing in the Sharing settings should make it go away.

[2020-12-13 19:40] AdamTheLang commented on #1505
@Saviq I did in fact see it. It's not an option for me, as I use that server as a gateway machine for its own subnet. Unless you can suggest some other way of configuring a Mac as a router/DHCP server that does not cause this issue?

[2020-12-13 19:44] Saviq commented on #1505
@AdamTheLang the only option would be [using VirtualBox](https://multipass.run/docs/using-virtualbox-in-multipass-macos), then.

This option enabled prevents the use of the default hyperkit backend.

[2020-12-13 23:03] erazemk commented on #1741
Hi, I'm also getting this problem, just installed multipass using snap, version info below:
[code]

[2020-12-14 11:18] ricab commented on #1839
Hi @naturaverl, in the session you pasted, your `stop` command could be succeeding (despite the info message about the ssh failure). Then `restart` would complain if the VM was stopped. You'd need `start` instead.

If that still doesn't work, you could try `multipass delete <vm>` + `multipass recover <vm>`? Hopefully that would force it to stop and provide a workaround. [Unloading and reloading](h

[2020-12-14 11:26] ricab commented on #1741
Hi @erazemk, Multipass no longer reuses earlier dnsmasq processes, so this issue could be the one causing your trouble. Would #1448 be a better match for what you're experiencing?

[2020-12-14 11:58] erazemk commented on #1741
Looks like it might be that yes, thanks :)

[2020-12-14 12:48] flying-sausages commented on #1839
Sorry I haven’t forgotten about this but my MacBook Pro has some hardware issues so until spare parts come through I can’t verify this.

[2020-12-15 03:18] JustForUsing opened #1884 "Use MutiPass as Web development environment"
I wanted to use multipass as a development environment on Windows10, but after a while, an intolerable problem often occurs.
The IP address often needs to be changed. For each network change, the example cannot be accessed by SSH. Using "multipass list" commands, you will see Unknown displayed under IPv4.
For example, if the wired network suddenly breaks down and Windows automatically switches to

[2020-12-15 09:28] ricab commented on #938
Fixed by #1854.

[2020-12-15 09:28] #938 closed

[2020-12-16 02:15] #1884 closed

[2020-12-16 08:32] KHIT93 opened #1887 "Stuck with unresponsive VM if halted"
**Describe the bug**
Unable to interact with a VM is `sudo systemctl restart poweroff.target` is executed by mistake

**To Reproduce**
Create a VM, or use an existing one.
Then execute `sudo systemctl restart poweroff.target`
The connection to the VM is now dropped and stop, suspend, restart, shell actions are no longer working. The only fix currently seems to be deleting, and purging, the VM and

[2020-12-16 08:33] Saviq commented on #1887
Thanks, indeed we should maybe have a `--force` option to `multipass stop` and `multipass restart`, which would not require the VM to be in a good state.

[2020-12-16 10:35] letanloc1998 commented on #1495
I have a same problem

[2020-12-16 16:04] luis4a0 opened #1888 "Improve coverage of Qemu tests"
Some parts of the Qemu backend are not tested. We need to add some infrastructure to test the remaining parts.

[2020-12-17 11:12] #1808 closed

[2020-12-17 15:03] reegnz opened #1890 "terraform provider for multipass"
**What are you trying to do?**
I want to use multipass with terraform:
* launch instances (with or without cloud-init)
* query instance info
* list available instances
* mount a host directory into an instance

**What's your proposed solution?**
Make a terraform provider that implements terraform resources and data sources for multipass.

**Additional context**
If multipass is supposed to be a 'sm

[2020-12-17 15:05] reegnz commented on #1890
FYI a comparable project for a terraform provider is the libvirt provider: https://github.com/dmacvicar/terraform-provider-libvirt

So I can already manage VM-s on linux with that provider, I would like to use multipass though, since it also works on macos and windows.

[2020-12-17 16:02] mfernandes61 commented on #1593
+1 on this. Would be really useful to create training instances from a base plus tools & data for bioinformatics training for Mac & windows learners

[2020-12-18 14:23] reegnz opened #1892 "multipass doesn't work with multipart/mixed cloud-init mime type"
**Describe the bug**
I want to use multipart cloud-init configurations with multipass.

**To Reproduce**

Using [demo.txt](https://github.com/canonical/multipass/files/5716121/demo.txt):

None of the following commands seem to work
[code]
[code]
[code]

**Expected behavior**
What did you expect to happen?
I expect multipass to work with cloud-init userdata that is `multipart/mixed` content type.
I

[2020-12-18 16:42] lrzuniga commented on #1459
Just tried multipass with big sur and multipass 1.5.0 and the bridge from ubuntu instance to macOS is not working.

instance comes up with IP of 192.168.64.3
`2: enp0s2: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc fq_codel state UP group default qlen 1000
    link/ether ca:3b:cc:0e:10:69 brd ff:ff:ff:ff:ff:ff
    inet 192.168.64.3/24 brd 192.168.64.255 scope global dynamic enp0s2
       valid

[2020-12-18 21:03] amirsamary commented on #1812
I am getting the same problem. Using Big Sur. I tried:

[code]

Same results. It seems to download it and it starts initializing it... Then I get:

[code]

This file is really not there. Instead I have:
[code]

I tried:

[code]

[2020-12-20 03:21] richmisat opened #1896 "macOS 11.1 multipass.gui crashes"
Removed and reinstalled _multipass  1.5.0+mac_ , but crash persists.  Gui and tray icon never appear.

Normal operations using multipass commands in terminal seem ok.

[multipass.gui_2020-12-19-190202_rm15.crash.zip](https://github.com/canonical/multipass/files/5720446/multipass.gui_2020-12-19-190202_rm15.crash.zip)

Excerpted from attached...

[2020-12-20 12:14] Saviq commented on #1896
Hi @richmisat, from all that info it sounds like #1248 maybe?

Can you provide the output from running `/Library/Application\ Support/com.canonical.multipass/bin/multipass.gui.app/Contents/MacOS/multipass.gui` directly?

[2020-12-21 05:37] pvandervelde commented on #1548
Has this been fixed yet? I'm running into a similar problem trying to install multipass using the hyper-v provider (with multipass 1.5). It works on my desktop but doesn't work on my laptop. Hyper-V is enabled on both and I used to have microk8s installed on both (which installed multipass 1.2). My windows version is:

Edition	Windows 10 Pro
Version	20H2
Installed on	‎7/‎08/‎2020
OS build	19042.68

[2020-12-21 07:38] pvandervelde commented on #1548
I just tried installing older versions of multipass. 1.21 works, 1.3.0 does not, neither do 1.4.0 and 1.5.0.

[2020-12-22 05:07] herryliq opened #1897 "Support adding host devices to instances"
I want to capture the video from the web usb camera of multipass instance, but I can not
find how to add the video device to multipass instance.

Before use multipass, I had use docker container.
Under the docker container, I can add video device just like: docker run -d /dev/video0:/dev/video0 ........

[2020-12-22 16:57] Saviq commented on #1897
Hi @herryliq, it's unlikely Multipass will have such functionality in the near term. We're trying to constrain the feature set to avoid "feature creep". We also need to ensure all the features are available across all the platforms (operating systems, hypervisors), which would be difficult for this use case.

That said, using the `LXD` backend (`sudo multipass set local.driver=lxd`) you can `launc

[2020-12-22 17:38] richmisat commented on #1896
Thanks @Saviq . Just read through #1248. The common factor is APFS case sensitive file system.  I'll check to see if adding the symlink to QT solves the issue for me too.

[2020-12-23 07:21] Saviq commented on #1896
Duplicate of #1248

[2020-12-23 07:21] #1896 closed

[2020-12-23 18:08] Hamberfim commented on #1293
Has this been implemented yet?

[2020-12-23 19:22] Lasim commented on #833
+1

[2020-12-24 09:14] pvandervelde commented on #1548
@townsend2010 @Saviq See above for possibly more info that might be helpful diagnosing the issue. And let me know if you need anything other information.

[2020-12-24 12:14] Saviq commented on #1293
Hi @Hamberfim, there's a prerelease build available here:

https://github.com/canonical/multipass/issues/118#issuecomment-734426114

[2020-12-24 12:16] Saviq commented on #1548
Hi @pvandervelde can you describe what your exact issue is? What error is printed when you `multipass launch -vvvv` with 1.5.0?

[2020-12-24 13:30] andreyfedoseev commented on #1866
@townsend2010 Sorry to bother you, but is there any progress on this issue? Or is there any workaround for it that we could use now?

[2020-12-24 16:35] letanloc1998 opened #1898 "[FEATURE] Choose disk location and change size of instance + cache apt/apt-get + change method install multipass on ubuntu"
**What are you trying to do?**
Does you add feature
    + Select where disk location to save my instance
    + Change size disk/ram/cpu of instance. I can't change it after create instance => delete if limit ~~
    + Change method install on ubuntu because some reason I can't install via snapd (does any way manual install via source code, apt/apt-get?)
**What's your proposed solution?**

**Additio

[2020-12-24 16:38] letanloc1998 commented on #1898
It's very good if have dynamic ram/disk/cpu
And could you support cache when apt/apt-get install

[2020-12-24 21:07] pvandervelde commented on #1548
@Saviq My issue is that the installer fails to detect Hyper-V but apparently it works when multipass runs. See screenshots:

![image](https://user-images.githubusercontent.com/96201/103105247-76119c80-4691-11eb-8dbc-55a5be00cec4.png)
![image](https://user-images.githubusercontent.com/96201/103105251-7c077d80-4691-11eb-83ed-63dc37a6ae82.png)
![image](https://user-images.githubusercontent.com/96201/

[2020-12-26 05:39] sanathusk opened #1899 "snapcraft command fails with message "Could not find snap/snapcraft.yaml" even when file exists"
-Issue
running the snapcraft command results in following error message:
_Launching a VM.
Could not find snap/snapcraft.yaml. Are you sure you are in the right directory?
To start a new project, use `snapcraft init`_

The snapcraft.yaml exists and has been created using snapcraft init command.
please refer below discussion,Its is the exact issue described in the link below;
https://forum.snapcraft

[2020-12-26 16:17] dineshtobe opened #1900 "Multipass IPV4 unknown instance is in running state"
**Describe the bug**
Describe what your problem is. ipv4 is unknown state .

**To Reproduce**
How, and what happened?
1. `multipass ...`
1.

**Expected behavior**
What did you expect to happen?

**Logs**
Please provide logs from the daemon, see [accessing logs](https://multipass.run/docs/accessing-logs) on where to find them on your platform.

**Additional info**
 - OS: Windows 10 Enterprise

C:\U

[2020-12-26 23:07] Hamberfim commented on #1293
Thanks. My desire is to be able to implement this on a headless Ubuntu server, but as I understand it this is Win/Mac OS specific.

[2020-12-27 09:01] Saviq commented on #1293
We're working on Linux support via LXD now. Stay tuned.

[2020-12-27 17:29] Hamberfim commented on #1293
Awesome...looking forward to it. :D

[2020-12-27 20:26] JayDoubleu commented on #1293
So if the solution is locked to LXD it means it's for Ubuntu support rather than Linux.
Any plans for other solutions that would work on all distributions without the need to install LXD ?

[2020-12-28 03:27] wylswz commented on #833
+10086

[2020-12-28 05:20] dineshtobe commented on #1900
@saviq kindly help

[2020-12-28 12:15] srikantt commented on #1409
Hi @Saviq ### I also have the same error
and tried the steps mentioned in **Troubleshooting networking on windows** documentation. Nothing resulted as expected.

[2020-12-28 12:16] srikantt commented on #1409
Hi @dogbeer12 , were you able to resolve this error ?

[2020-12-28 12:31] srikantt commented on #1409
$ multipass shell host1
Welcome to Ubuntu 20.04.1 LTS (GNU/Linux 5.4.0-54-generic x86_64)

 * Documentation:  https://help.ubuntu.com
 * Management:     https://landscape.canonical.com
 * Support:        https://ubuntu.com/advantage

  System information as of Mon Dec 28 18:00:55 IST 2020

  System load:  0.02              Processes:             113
  Usage of /:   27.6% of 4.67GB   Users logged i

[2020-12-28 16:07] Saviq commented on #1900
Hi @dineshtobe, we're currently on end-of-year holidays until Jan 4th, so I won't be able to dig deeper, but have a look at this:

https://multipass.run/docs/troubleshooting-networking-on-windows

The error you're getting suggests something's gone wrong with the Windows Internet Sharing DHCP / DNS setup. You can also open the instance in Hyper-V to see whether it booted in the first place.

[2020-12-28 16:08] Saviq commented on #1409
@srikantt @dogbeer12 do you guys have VPNs set up? Or some kind of requirements for how your hosts connect to the internet? Required proxies? Firewalls not letting you through?

[2020-12-30 10:47] xinster commented on #62
I ran into the virtual disk size issue today. the default size is up to 5GB but my project requires more. it stopped during the compile :  No space left on device (os error 28). How can I resize the VM disk or how can I set up a larger disk size during the installation?

[2020-12-31 03:40] xuhu55 commented on #1512
Deleting hosts.ics does fix the issue temporarily for me but the issue keeps re-occuring every other time I try to make a new server. Is there a way to prevent hosts.ics from being corrupted?

[2020-12-31 12:40] countingpine commented on #62
Right now, the question of resizing the base disk seems to have an answer of "it depends...", and involves finding the location of the disk image, knowing which tool to use, and how to use it.  And I (myself) am not clear if the correct tool can even be assumed to be present at the moment, or if I have to go away and install something else.

But at least once the base disk is resized, growing the

[2020-12-31 14:46] Saviq commented on #1512
@xuhu55 does it get _corrupted_, or does it include double entries for the same name? If it's the latter, using unique instance names should be enough to avoid the problems.

[2020-12-31 14:47] Saviq commented on #62
@countingpine that's exactly what this feature request is about, and we will make it happen, for sure.

[2020-12-31 20:19] dundee commented on #1610
The problem occurs when you upgrade the kernel and then try to start the VM. Reboot solves it.

[2021-01-01 02:50] xuhu55 commented on #1512
It includes a line with just a number so it's corrupted and not a problem with uniqueness.

[2021-01-02 05:42] heagan01 commented on #1872
Hi @Saviq I tried multipass launch appliance:nextcloud, but it doesn't work now it says timed out waiting for responses, the hardware I'm running on is the asus n43sl laptop, I used the i5-2430m processor, for the log this is the file
[multipass launch -vvvv.txt](https://github.com/canonical/multipass/files/5759806/multipass.launch.-vvvv.txt)

[2021-01-02 11:39] winkee01 opened #1901 "Fail to update instance status after reboot"
I execute `sudo reboot` in the instance, then I check its status, the status is halting on `starting`, even if the instance has actually already started and in **running** state.

version: multipass  1.5.0+mac
os: macOS 10.14.6

[2021-01-02 12:13] winkee01 opened #1902 "Failed to disable ipv6 in ubuntu20.04"
to disable ipv6 completely, we generally do:
[code]
add ipv6.disable-1 to GRUB_CMDLINE_LINUX and GRUB_CMDLINE_LINUX_DEFAULT, like below:

[code]

and then execute

[code]

To check ipv6 is completely disabled, we can execute either of these commands,
- `ip a`
- `netstat -nltp`
- `sudo sysctl -p`
- lsmod | grep ipv6

But in an instance created by multipass, the above method will fail, and ipv6 can

[2021-01-03 09:49] YousefSaber commented on #1358
@Saviq the issue has surfaced again

doesn't work

this time I'm running Ubuntu 20.10
Multipass version
[code]
the stable version doesn't work also

I can't reopen the issue you may want to reopen it.

[code]

[2021-01-04 08:10] Saviq commented on #1872
Hi @heagan01, In Hyper-V manager, do you see the instance at all? It should be named "pro-kookaburra". From the logs you sent it's as if it's actually getting stuck way before creating the instance…

[2021-01-04 08:12] heagan01 commented on #1872
What is the Hyper-V manager? Is that the logo of multipass on the taskbar?

[2021-01-04 08:14] Saviq opened #1903 "[win] installer fails to install Hyper-V"
@Saviq My issue is that the installer fails to detect Hyper-V but apparently it works when multipass runs. See screenshots:

![image](https://user-images.githubusercontent.com/96201/103105247-76119c80-4691-11eb-8dbc-55a5be00cec4.png)
![image](https://user-images.githubusercontent.com/96201/103105251-7c077d80-4691-11eb-83ed-63dc37a6ae82.png)
![image](https://user-images.githubusercontent.com/96201/

[2021-01-04 08:15] Saviq commented on #1903
@pvandervelde hey, thanks for these, now I understand it's failing to realize Hyper-V is installed. Would you please post the screenshot after you "Show details" in the installer window?

[2021-01-04 08:47] pvandervelde commented on #1903
Running the installer again and clicking the `Show details` button results in the following.

![image](https://user-images.githubusercontent.com/96201/103517068-6c303a80-4ed6-11eb-9d85-66a8ef7dd929.png)

Is there a way to get more information? Or will this suffice?

[2021-01-04 08:53] Saviq commented on #1903
@pvandervelde please run these in an admin's PowerShell?

[code]

The former _checks_ for Hyper-V being enabled (which should succeed, but apparently doesn't), the latter two enable the feature. I think that may be what the problem is - we're checking for the one with the `-All` suffix, but only enable the one without it…

[2021-01-04 09:14] pvandervelde commented on #1903
Results

First command

    Get-WindowsOptionalFeature -FeatureName Microsoft-Hyper-V-All -Online

    FeatureName      : Microsoft-Hyper-V-All
    DisplayName      : Hyper-V
    Description      : Provides services and management tools for creating and running virtual machines and their
                    resources.
    RestartRequired  : Possible
    State            : Enabled
    CustomPropert

[2021-01-04 12:02] Saviq commented on #1872
No, it's a Windows program, the main GUI for the [Hyper-V hypervisor](https://docs.microsoft.com/en-us/virtualization/hyper-v-on-windows/quick-start/enable-hyper-v) included in Windows 10. Multipass uses that technology behind the scenes.

[2021-01-04 12:10] ricab commented on #1812
Thanks @amirsamary, that's useful. Not something I could reproduce with Catalina. I'll try again when I get my hands on Big Sur.

[2021-01-04 12:44] ricab commented on #1898
Hi @letanloc1998,

You can use the environment variable `MULTIPASS_STORAGE` to change where Multipass stores things. Instructions for the different platforms in [this comment](https://github.com/canonical/multipass/pull/1789#issuecomment-704991752) and the two below.

There are already long-standing plans (#756) to support changing instance properties like disk/ram/cpus. In the meantime, there are

[2021-01-04 14:14] townsend2010 commented on #1866
Hi @andreyfedoseev,

I will work on coming up with a manual workaround and post it here and on Discourse while working on the full solution.

[2021-01-04 14:21] Saviq commented on #1903
@pvandervelde thanks a lot. Unfortunately all that looks like we expect it to look. We'd need to prepare a more verbose installer for debugging.

Unless @joedborg you can see what's going wrong here?

[2021-01-04 19:52] townsend2010 commented on #1866
Hey all,

Those affected by this, here is a script that will fix the issue:
[code]
**Note that it will need to run at each boot of the instance.**

[2021-01-05 12:44] duwudi commented on #1085
Thanks a lot, I spent a long time trying to debug this and missed this comment the first time I looked in this thread - all working now!

[2021-01-05 14:25] a1git commented on #118
I am on ubuntu 20

multipass  1.5.0
multipassd 1.5.0

multipass launch --network
Unknown option 'network'.

[2021-01-05 14:36] Saviq opened #1904 "Xenial images fail to launch"
Since we introduced bridging on `edge`, xenial images don't work any more:
[code]
Most likely the network config we started providing is incompatible with the old version of cloud-init in those images.

[2021-01-06 07:21] Saviq commented on #118
@a1git only VirtualBox and Hyper-V are implemented so far. We're working on the other platforms now.

[2021-01-07 21:38] usovitsj opened #1907 "state unknown, after restart of the vm with sudo shutdown -r"
**Describe the bug**
I am not able to start the instance anymore. The state gives unknown after the command:
multipass start vm1
start failed: The following errors occurred:
vm1: timed out waiting for response

multipass list
Name                    State             IPv4             Image
vm1                 Unknown           --               Ubuntu 18.04 LTS

I am still able to create new instan

[2021-01-08 08:22] Saviq commented on #1907
Hi @usovitsj, one way to recover is to run the VM manually. When it's in the `Unknown` state, see `ps aux | grep qemu` and find the line for the `qemu-system-x86_64` process and copy it. You'll then need to `multipass stop vm1`, which might return an error. Make sure that the above process is gone with another `ps…` call, and `sudo kill -9` it, if still there.

Remove `-nographic` from the argumen

[2021-01-08 12:21] ricab opened #1908 "[snap] Cannot chance font in terminals launched from the GUI"
**Describe the bug**
When running from a snap, the `xterm` that is launched by the GUI has a very small font in hiDPI screens and changing that font with ctrl+right-click doesn't work. Additionally, the terminal fails to open entirely when there are special font configurations.

**To Reproduce**
1. multipass.gui
1. open a shell from the Multipass GUI
1. try to select a font with ctrl+right-click
1

[2021-01-08 12:26] Saviq opened #1909 "Add a `--force` option to `multipass stop` and `restart`"
When something unexpected happens and we lose the ability to control the VM, it may be necessary to forcefully stop the instance by terminating, and ultimately killing the instance.

Also a `multipass delete --purge` could benefit from this as there's no point in waiting for the instance to gracefully shut down when we're deleting it right after.

[2021-01-08 12:28] ricab commented on #1908
The ultimate fix would probably be #899, but perhaps we could find a workaround in the meantime.

[2021-01-08 12:30] Saviq opened #1910 "RFC: Add a `multipass recover` command to deal with unbootable instances"
Every once in a while an instance becomes unbootable and it becomes difficult to do anything with it.

Multipass could help with that situation and provide a "recovery" mode where the image of a broken instance would be attached to a fresh instance and allow for introspection / data recovery.

Another option could be guidance on how to access the graphical console of a VM, perhaps even opening for

[2021-01-08 12:58] ricab commented on #1910
I like the idea of mounting the image inside a fresh instance for recovery. Hopefully it would be easy to do in all backends.

[2021-01-08 13:26] ricab commented on #1908
We get the following AppArmor denial when trying to open xterm:

[code]

[2021-01-08 15:18] Saviq commented on #1910
Unfortunately we have this already, so we'd need a different command.
[code]

[2021-01-09 15:54] usovitsj commented on #1907
Hi Saviq,

I managed to mount the image. I found the following errors:
corrupted or uncleanly shut down renaming and replacing
and
print_req_error i/o dev fd0, sector 0
after shutdown -r
only
print_req_error i/o dev fd0, sector 0
remained.
After the errors I am able to enter my password for maintenance
which prompts me to:
root@vm1:~#

How do I enter the grub in the qemu?

Probably the error 'prin

[2021-01-09 17:40] letanloc1998 commented on #1898
Thank you

[2021-01-09 17:40] #1898 closed

[2021-01-10 06:16] joseanda opened #1914 "Lost access to multipass ubuntu vm when vpn in"
Hello, I have a multipass ubuntu vm 20.04 running in my macos. The issue is that when I vpn in to my office's network, I lost access to the multipass vm

Can you please assist me with a solution to my issue?

[2021-01-10 10:56] Saviq commented on #1914
Hi @joseanda, unfortunately it's your VPN that needs reconfiguration to allow networking to the instance. Have a look at [our docs on network troubleshooting](https://multipass.run/docs/troubleshooting-networking-on-macos), but there's little that Multipass can do.

If the VPN is essential, you may have better luck with Multipass [using VirtualBox](https://multipass.run/docs/using-virtualbox-in-mu

[2021-01-10 10:56] Saviq commented on #1914
Duplicate of #1121

[2021-01-10 10:56] #1914 closed

[2021-01-10 13:03] paulstelian97 commented on #1551
Because of this I cannot resize my Multipass disk on macOS, and since recreating would take me a full week of downtime I'll ditch it. Completely disappointed because of the default of 5GB which is COMPLETELY inadequate for everything. And for my usecase (running a specific version of the Haskell platform since I cannot find the exact configuration on my macOS host) I cannot use a shared folder eit

[2021-01-10 14:25] usovitsj commented on #1907
Hi Saviq,
Wll I managed to find the issue. It looks like multipass doe not like the swapfile. Removing and disabling this got back the instance!
0. Did apt-get upgrade
and apt-get update
1. I disabled the swap <- Probably this one was the most important step
swapoff -a
and placed # before the line
: /swapfile    none    swap    sw      0 0
in /etc/fstab
2. I deleted the bad journal files
4. then I

[2021-01-10 16:48] Saviq commented on #1551
@paulstelian97 the issue relevant for resizing has manual steps to resize:

https://github.com/canonical/multipass/issues/62#issuecomment-729650082

[2021-01-10 16:57] paulstelian97 commented on #1551
Thanks, you kinda came in too late to save me. I have tried some things which ended up corrupting my Multipass instance and forced me to recreate it. Eh, after like one or two hours of being frustrated I just recreated it, thankfully I didn't _actually_ have much important data in it. Had to increase memory as well (1GB wasn't enough) anyway.

[2021-01-10 17:01] Saviq commented on #1907
Hi @usovitsj, this sounds like the swap file was configured wrong? Did you create the swapfile? When you manually `swapon /swapfile`, does it work or return an error?

This seemed to work fine for me:
[code]

I'm going to close this issue, then.

[2021-01-10 17:01] #1907 closed

[2021-01-10 17:03] Saviq commented on #1551
Heh, trying, it's Sunday here ;)

Glad you got it working, we do have to err on the conservative side for default resources. But yes we'll definitely allow resizing / changing memory / CPU and other properties of instances.

[2021-01-11 17:28] #1687 closed

[2021-01-11 17:29] Saviq commented on #1687
Hi @uishon, this will be part of the next release (1.6.0).

[2021-01-12 02:04] RSully commented on #1778
I am running into this issue. I have just started using Multipass for the first time - a fresh install of the current version on my Mac running 10.15.7. Within minutes of creating a brand new instance of 20.04 and simply running a couple commands (in my case simply apt update / upgrade) these messages began appearing.

[2021-01-12 07:11] uishon commented on #1687
Great. Thanks!

On Mon, 11 Jan 2021, 7:29 pm Michał Sawicz, <notifications@github.com>
wrote:

[2021-01-12 11:44] Saviq commented on #1850
This is fixed, the artifact on the release has been updated.

[2021-01-12 11:44] #1850 closed

[2021-01-12 13:27] schlenki commented on #1778
I have the same issue on OSX, always the same failure message randomly popping up as posted before. other than that, multipass works beautifully for me :)

[2021-01-13 01:09] tpdeliezer opened #1916 "Troubleshooting networking on Windows"
Multipass doesnot connect the internet on windows

[2021-01-13 06:25] lmatusek commented on #1778
I have the same issue, and it is quite new.  The message:

Message from syslogd@primary at Jan 13 07:15:58 ...
 kernel:[   97.526663] do_IRQ: 4.36 No irq handler for vector

Till now it never appeared. Rare, but disturbing on console.

multipass  1.5.0+mac
multipassd 1.5.0+Mac
macOS Big Sur 11.1

[2021-01-13 06:48] Saviq commented on #1916
@tpdeliezer please have a look at [our documentation on the topic](https://multipass.run/docs/troubleshooting-networking-on-windows), and if nothing there helps, file a new issue completing this template:

https://github.com/canonical/multipass/issues/new?labels=bug&template=bug_report.md&title=Troubleshooting%20networking%20on%20Windows

Thanks!

[2021-01-13 06:48] #1916 closed

[2021-01-13 16:09] rogerjbos commented on #1119
Glad this solution worked for everyone else, but it doesn't work for me.  I fail at step 1: copy the 'multipassd' folder from 'windows.old' roaming profile to the new 'windows' folder
My folder C:\Windows.old\Users\bosr\AppData\Roaming doesn't have a folder for multipassd. The only folder in that location is Microsoft.  It is really disappointing to spend a lot of time to build some servers just t

[2021-01-13 16:30] townsend2010 commented on #1119
Hey @rogerjbos,

Ugh, sorry this happened.  `multipassd` runs under the Adminstrator's account, so the instances will not be in your user's file hierarchy.  I've yet to see this issue myself, but perhaps the `multipassd` folder is located in `C:\Windows.old\System32\config\systemprofile\AppData\Roaming\`.  Hopefully that helps.

[2021-01-13 16:42] denisyilmaz commented on #1778
Same issue here with Nitro and Multipass. Multipass deletes local bound vendor folder and after restart it outputs

nitro 1.1.1
multipass 1.5.0+mac
multipassd 1.5.0+Mac
macOS Big Sur 11.1

Message from syslogd@nitro-dev at Jan 13 17:38:48 ...
 kernel:[   99.704253] do_IRQ: 3.37 No irq handler for vector

After "composer install" within `nitro ssh` I'm able to restart, but after few hours the insta

[2021-01-13 16:56] townsend2010 commented on #1778
Hey all,

It seems this issue is cropping up more and more.  I've yet to reproduce on my MacBook, so in order to try to figure out anything common oh what triggers this, I need more data.  Would would be helpful is to know:
1. Mac hardware specs such as what type of Mac, CPU sku, amount of RAM, disk type and size.
2. macOS version (most reports already have this, but it's still helpful if not post

[2021-01-13 17:34] lmatusek commented on #1778
Here is my profile, attached.
[profile.txt](https://github.com/canonical/multipass/files/5810197/profile.txt)

[2021-01-13 18:25] takogata commented on #118
@ricab Is the preliminary version (for Windows) still available somewhere? I get a _403 Access denied_  [using the download links.](https://github.com/canonical/multipass/issues/118#issuecomment-734426114)

[2021-01-13 18:44] Saviq commented on #118
Now available on the 1.6.0 RC tag:

https://github.com/canonical/multipass/releases/tag/v1.6.0-rc

[2021-01-13 19:39] schlenki commented on #1778
Hello,
my specs:
1. MacBook Pro 13" Retina Mid 2018, 2.3 GHz Quad-Core i5-8259U, 16 GB @ 2133 MHz RAM, 512 GB Apple SSD
2. I use macOS Catalina Version 10.15.7
3. I launched as follows (but it also happened w/ other disk or ram launchs in the past) multipass launch -c 4 -m 4G -n test ; creating a Ubuntu 20.04 LTS VM
4. No mounts in VM
5. just ran sudo apt update, nothing else on the VM
6. after su

[2021-01-13 19:49] townsend2010 commented on #1778
Aha, I was able to reproduce!  Looking at `journalctl`, it looks to be an error in the `ata` driver in the instance's kernel.  I'll see if I research this some more and see what is going on.

[2021-01-13 19:59] rogerjbos commented on #1119
Thanks @townsend2010 for the reply.  The multipassd folder was in this folder (with an extra WINDOWS from yours):
C:\Windows.old\WINDOWS\System32\config\systemprofile\AppData\Roaming\multipassd
I already started the re-build, but from my reading I decided to re-install multipass and set the MULTIPASS_STORAGE to my G: drive.  Do you think that will prevent this from happening again?  Thanks again a

[2021-01-13 20:02] townsend2010 commented on #1119
Hey @rogerjbos,

Ok, good to know the correct full path.  Yes, setting `MULTIPASS_STORAGE` *should* avoid this issue in the future.  I hope it all works out for you and good luck!

[2021-01-13 21:29] townsend2010 commented on #1778
Quick update...it's the virtual DVD drive in the instance that is misbehaving on the virtual SATA bus.  Since we are loading the kernel directly, I'm going to experiment with some kernel command line parameters such `noapic`, etc. to see if it helps without any detectable regressions.

[2021-01-14 02:39] letanloc1998 opened #1918 "[Multipass] [Network] [Port forwarding],..."
**Describe the bug**

1. Does Multipass support port forwarding on windows (Hyper-V)?
2. I try to change network in Hyper-V and  `C:\Windows\System32\drivers\etc\hosts.ics` => I can access from other real IP but cmd `multipass info <instance name>` show old IP before => Where Multipass save info instance on windows and how to change it?
3. Error file `C:\Windows\System32\drivers\etc\hosts.ics`. I

[2021-01-14 04:45] herryliq commented on #1897
Thanks for your reply.
I will try with LXD.

[2021-01-14 08:39] schlenki commented on #1778
Thank you for your very much appreciated work in this! :)

[2021-01-14 12:26] Saviq commented on #1918
1. Hi @letanloc1998, #309 is about port forwarding.

2. We're adding bridged networking in the upcoming release, see [the docs](https://multipass.run/docs/additional-networks) for it and you can pick up the release candidate in [the v1.6.0-rc pre-release](https://github.com/canonical/multipass/releases/tag/v1.6.0-rc).

3 . I'm afraid that's Windows's ICS feature going wrong when you use the same n

[2021-01-14 12:26] Saviq commented on #1918
Duplicate of #309

[2021-01-14 12:26] #1918 closed

[2021-01-14 19:44] joshti opened #1919 "[Regression | 1.6 RC] multipass instances do not launch with cloud-init"
**Additional context**
We have thousands of users using Multipass through our program since December 2020. A user tried 1.6.0 for the storage relocation feature but then experienced no instances successfully launching using cloud-init. If you're not using cloud-init on 1.6.0, the instance launches successfully. We presently recommend users install 1.5.0 per our documentation, and this will become

[2021-01-14 19:45] joshti commented on #1919
The version that the user reported the issue on is `1.6.0-dev.259+g9c901b21`.

[2021-01-14 20:08] Saviq commented on #1919
Hi @joshti, thanks for letting us know, we'll look into it.

[2021-01-14 20:41] townsend2010 opened #1920 "[regression][lxd] Deleting a stopped instance returns an error"
The "better error handling" branch that was recently merged introduced a regression where deleting an already stopped instance is now returning an error:
[code]

[2021-01-14 21:25] jdossett commented on #1850
👍 Thanks so much @Saviq

[2021-01-15 10:27] Saviq commented on #1919
Hi @joshti,

So the problem isn't that they don't launch "with cloud-init", but rather with your version of it. To enable bridging (#118) we had to modify how we set up networking in the instances, and that conflicted with how you're setting up the static IP.

#1913, however, makes it so that the change only applies _if_ you use the new feature, and we have it in queue to be added to 1.6.0, so you

[2021-01-15 11:23] Saviq commented on #1778
Hey all, @townsend2010 has a package for you to try:

macOS build available: [multipass-1.7.0-dev.513.pr343+g46704338.mac-Darwin.pkg](https://multipass-ci.s3.amazonaws.com/pr343/multipass-1.7.0-dev.513.pr343%2Bg46704338.mac-Darwin.pkg)

[2021-01-15 14:22] Saviq commented on #1919
I confirmed #1913 (now merged, coming to 1.6.0 RC soon) makes the instance launch with your `cloud-init.yaml`.

[2021-01-15 14:22] #1919 closed

[2021-01-15 18:47] schlenki commented on #1778
Installing this pkg I get the following fault printed on my terminal, trying to do a multipass launch command:

launch failed: cannot connect to the multipass socket
Please ensure multipassd is running and '/var/run/multipass_socket' is accessible

multipass version shows:
multipass  1.7.0-dev.513.pr343+g46704338.mac

[2021-01-16 00:49] #1904 closed

[2021-01-16 02:13] joshti commented on #1919
Thanks Saviq - I've confirmed the same on `1.7.0-dev.310.pr1913+g022dc80e`.

[2021-01-17 02:01] rodmaz commented on #1839
I have had the same problem twice already in my macOS Big Sur

[code]

This sucks as the images get into an corrupted state.

@ricab **No**, `multipass delete <vm>` + `multipass recover <vm>` does not fix it. **Yes**, restarting the daemon does "fix" the image.

[2021-01-17 02:04] flying-sausages commented on #1839
So I got an M1-equipped machine in the meantime, guess I can't come back to you on this one.

[2021-01-17 02:08] flying-sausages commented on #1857
https://gist.github.com/niw/e4313b9c14e968764a52375da41b4278#file-readme-md looks like there's QEMU support through some patches? Lively discussion happening underneath that.

[2021-01-17 02:48] dlwhitehurst opened #1922 "Re-installed Multipass on Windows 10 Pro (1909) after loss of port 50051"
Multipass server daemon quit and then service wouldn't start. Was using multipass with MicroK8S on VM created by VirtualBox. Found a similar issue and switched to 5001 because I couldn't get port range to free up. But 5001 wasn't the official service and I couldn't establish my bridged network and powershell couldn't find the VM "crazy-name" I had created. I uninstalled everything and did the inst

[2021-01-17 03:06] RyanMorash commented on #1857
Docker is moving away from using HyperKit (which they originally created for Docker Desktop) and switching to Virtualization.framework: https://www.docker.com/blog/download-and-try-the-tech-preview-of-docker-desktop-for-m1/

[2021-01-17 14:14] okyanusoz opened #1923 "Support mounting VHD drives"
**What are you trying to do?**
Most of the hypervisors we support (hyperkit, VirtualBox etc.) support mounting VHD drives(I am not talking about directories, I am talking about virtual hard disk files).

It would be great if we had a command like `multipass mountdisk`.

**What's your proposed solution?**
If on hyperkit, add the volume to mount when executing the hyperkit command.

If on Virtualbox

[2021-01-17 15:11] MilanMasek commented on #1593
Just wondering if this will get ever higher priority, if it is complicated to resolve, or if there is some kind of political reasoning behind.
Re-trying time to time. Persists with 1.6.0rc
`PS C:\Users\masmil> date; multipass.exe version; multipass.exe -vvv launch --name ubuntu1910 file://.\software\ubuntu-core-18-amd64.img.xz

Sunday, January 17, 2021 4:07:14 PM
multipass  1.6.0-rc.478+g3114b643.

[2021-01-17 16:44] dlwhitehurst commented on #1922
I'm adding a thought. I began my Multipass experience with Hyper-V on and later found that exposing my VM was a little easier using VirtualBox. I set local.driver to virtualbox. Would anyone know if by default, Multipass would acquire 50051 but if the system user sets local.driver to virtualbox, Multipass would give up the 50051 reservation (all bets off) in the event of restart or daemon (Goodbye

[2021-01-17 19:54] steve-gale commented on #29
as @Saviq said, you can use `qemu-img` to do this.
Here is an example of what I did on a macOS 11.1 host:
first make sure the multipass VM is shut down, then open a local terminal
`brew install qemu` install the qemu CLI tools
`sudo su -` become root
`cd '/var/root/Library/Application Support/multipassd/vault/instances/primary'` move into directory where the virtual disk files are stored
`qemu-img

[2021-01-18 07:50] Saviq commented on #1923
Hi @okyanusoz, could you describe your use case, rather than solution?

As you say, it may not be trivial to use a single image type across all hypervisors, and with Multipass not _owning_ the images, we'd have to deal with all of the errors that may stem from that (image missing, corrupted etc.). So it's not a trivial feature to add properly.

[2021-01-18 07:53] Saviq commented on #1922
Hi @dlwhitehurst can you please see in [accessing logs](https://multipass.run/docs/accessing-logs) for how to collect data from the service failing to start. It's unclear whether it's the port that's actually preventing it from starting.

[2021-01-18 08:09] erny opened #1924 "[hyperkit] instances potentially corrupted on suspend"
**Describe the bug**

After a while after a suspend / wakeup cycle and doing `multipass list; multipass shell`, the machine freezes. Initially, you can see hyperkit consuming having high CPU usage, but after trying to gain access to the VM instance, the system freezes. After reboot, multipass froze again, with no VM started.

**To Reproduce**

Still don't know.

**Expected behavior**

`multipass s

[2021-01-18 08:12] Saviq commented on #1924
Hi @erny, could you verify that, if you stop the instances prior to suspending, you can start them again after resume? I suspect hyperkit doesn't deal well with this and we may need to stop the instances on suspend/start on resume, provided macOS gives us the time to do it properly.

[2021-01-18 08:23] erny commented on #1924
@Saviq : Thanks for your quick response. Ok, I'll do it the next time. It would be nice if we could pause / hibernate the instance to avoid a complete reboot.

'm not sure I the image (40GB, 4 CPU, 6MB RAM) will be usable anymore (no usable output in primary log), but I still get new messages in multipassd.log.

[2021-01-18 08:25] Saviq commented on #1924
Indeed, the image seems to have gotten corrupted and without some manual recovery (I proposed a more friendly solution in #1910), it won't boot:

[code]

[2021-01-18 08:34] erny commented on #1924
@Saviq: I don't know what happened after reboot, but hyperkit got 100% CPU usage for a while. After a new stop/start cycle, the VM came back.

Anyway, is there a way to check the disk image? Thanks again!

[2021-01-18 08:47] Saviq commented on #1924
@erny [`qcow-tool`](https://opam.ocaml.org/packages/qcow-tool/) has `check` and `repair` commands that could help:

[code]

[2021-01-18 09:05] erny commented on #1924
@Saviq: Is the qemu-img tool which comes with multipass in: `/Library/Application Support/com.canonical.multipass/bin/qemu-img` not convenient?

[2021-01-18 09:07] Saviq commented on #1924
@erny `qcow-tool` uses the same underlying QCOW2 library that hyperkit does, so is a safer bet. We've seen incompatibilities between the two tools after it was touched by the hyperkit implementation.

[2021-01-18 09:40] erny commented on #1924
@Saviq: qcow-tool does not show any errors, but it doesn't seem to scan the whole image. I'm afraid that "repair" could make the image unusable, I read a thread about a bug in qemu when accessing sparse files in APFS (https://bugs.launchpad.net/qemu/+bug/1776920#15)

Could there be a 32G max image size limit, although multipass allows us to create bigger disks? (I'll try a dd on a 40GB VM disk)

W

[2021-01-18 10:53] Saviq commented on #1924
VirtualBox may well be a bit more mature, since it's a separate entity managing the VM processes and they've had time to work out some of the issues. We default to hyperkit so as not to have external dependencies, and the default networking is nicer (with VBox you can't access the instance by IP).

I'll repurpose this issue to track the potential suspend/resume issue.

[2021-01-18 11:06] okyanusoz commented on #1923
I sometimes need to mount an ext4 VHD file and I need to use something like libguestfs tools and multipass transfer. It would be better if we supported this.

[2021-01-18 11:46] heagan01 commented on #1872
Hmm weird, i've formatted my hard drive, and fresh install windows, it works now

[2021-01-18 15:58] Saviq opened #1926 "Snapcraft using multipass from latest/edge results in "below requested/default size" error"
Hi,

Building snap using snapcraft with multipass from latest/edge (latest/edge: 1.7.0-dev.328+g8823c927)

results in

[code]

Reverting to latest/stable

[code]

Allows snapcraft to proceed. I spoke to saviq on insternal chat who suspects this is due to the new checks that the requested space is available.

[2021-01-18 16:00] Saviq commented on #1926
Hey, yes, we're now checking that the requested disk space is available, but Snapcraft seems to be going extreme with the 256GB request to be on the safe side. We may need to introduce a `--force` flag or such, that will allow it to proceed.

I think we'll revert in the mean time.

[2021-01-18 16:08] townsend2010 commented on #1926
Hmm, why is Snapcraft requesting a 256**GB** virtual disk?  That seems quite extreme and before we revert, perhaps we should ask the Snapcraft team why it is requesting so much disk space.

[2021-01-18 16:18] Saviq commented on #1926
The reason is that Snapcraft doesn't know what the build process will require for a particular snap. It may be extreme, sure, but it is Multipass that introduces a behaviour change that will result in breaking a huge percentage of Snapcraft workflows.

There may be things to improve on the Snapcraft side, sure (e.g. not request more than available space), but we should also allow benefiting from t

[2021-01-18 16:22] townsend2010 commented on #1926
Ok, sure, I did not realize that Snapcraft has been requesting this disk size since 2018, so ok, we shouldn't release with this and break a bunch folks.  But we are in between a rock and a hard place when trying to guide a user on if they can allocate so much disk space to a VM wrt to the amount disk space available on their host.  We cannot account for sparse disk images in our computation of thi

[2021-01-18 16:42] Saviq commented on #1872
Oh wow, that's a drastic solution if I know one… But glad it helped.

[2021-01-18 16:42] #1872 closed

[2021-01-18 18:22] Saviq opened #1927 "[lxd] drop the JSON log level to `debug`"
Otherwise we're getting this on error:
![image](https://user-images.githubusercontent.com/231077/104951232-6fd9bc00-59c2-11eb-99bb-524b28224f8f.png)

[2021-01-18 19:25] #1920 closed

[2021-01-18 22:40] MattWilcox opened #1929 "Instance stopped while starting. Sudden corrupt (?) multipass instance."
Multipass crashed(?) and no longer able to start.

I'm using Nitro, but [have a problem](https://github.com/craftcms/nitro/issues/229) that seems to actually be a Multipass issue (Nitro uses Multipass to set up a local web development server).

I had a stable working VM, set up (via Nitro) to act as a local development web server. It worked fine for weeks. It suddenly stopped working one day, as I

[2021-01-19 06:55] Saviq commented on #1929
Hi @MattWilcox, please have a look at #1924, hopefully it will help — we just went through this problem with another user.

Indeed, the suspicion is that suspend/resume is not safe with hyperkit at the moment.

[2021-01-19 06:55] Saviq commented on #1929
Duplicate of #1924

[2021-01-19 06:55] #1929 closed

[2021-01-19 08:43] MattWilcox commented on #1924
This may or may not be the issue I'm also having (1929). How would I go about trying to use qcow or any other tool to repair what appears to be a broken instance?

[2021-01-19 10:08] ricab commented on #1926
Can't we at least salvage the check and issue a warning? I know warnings are not shown by default in the CLI (that's something that could deserve separate reconsidering), but it would still be helpful. I have hit the no-disk situation multiple times and it's not easy to diagnose, since it fails in unexpected ways. A warning at launch would be helpful and could be complementary to the background ch

[2021-01-21 09:00] ikalchev opened #1933 "[macos] mounts hitting maxfiles limit on Catalina"
Hi! I recently started using multipass and it has been wonderful. Thanks!

**Describe the bug**
I am using multipass to spawn Ubuntu 20.10 as a build environment for a c++ project. The source code and its dependencies are mounted from the host using `multipass mount src ubuntu:/home/ubuntu/src`. The build would fail with seemingly random "file not found" errors for various header files. The files

[2021-01-21 11:03] Saviq commented on #1933
Hi @ikalchev, thanks for the detailed bug report. We'll have to dig in and will likely need your help to debug. Stay tuned.

[2021-01-21 11:16] ricab commented on #1933
Hi @ikalchev,

Sorry you're experiencing this. We haven't seen this yet, so let me ask a bunch of questions with possible directions for investigation.

OK, so there appears to be a deterministic problem accessing certain files. What happens when you try to read the contents of the files that the serial build fails on? And their parent directories?

What about writing? Some builds need to generate

[2021-01-21 19:49] ikalchev commented on #1933
Hey, thanks for the quick response, I appreciate it :)

Reading the "missing" file immediately after the fail works without a problem. In fact, include files from the same folder are found, i.e. we have:

[code]

Writing works, the previous steps of the build successfully write into the mounted tree.

The only links are between shared libraries for versioning purposes. `ls -ltra` shows the links c

[2021-01-22 02:43] dineshtobe commented on #1900
Hi @Saviq ,

I tried the above in the link. issue still persist.

I created VM in Hyper V it is working fine.

Internet sharing is enabled now

[2021-01-22 15:18] townsend2010 commented on #1778
After some testing, it looks like adding the `noapic` kernel option works around this.  I have not detected any regressions in behavior.  Once our Mac ci is unblocked and builds a test package, I'll post an updated link here.  The previous test package posted here is broken for unrelated reasons.

[2021-01-22 18:49] ricab commented on #1812
I just tried this on Big Sur and I still can't reproduce. @amirsamary and @kstaniek, do you still see the same thing if you try now? There may have been glitches on the remote side serving this.

[2021-01-22 19:34] ricab commented on #1933
Hi @ikalchev, ok, I am afraid I don't have much more to offer at this point, except to acknowledge that it does look like a bug on our side (perhaps some sort of race). Keeping this open to dig into later. Please let us know if you glean any more info.

[2021-01-22 23:09] ikalchev commented on #1933
Hi @ricab I have some new findings that I believe uncovered the issue.

TL;DR - macOS Catalina has a laughable `maxfiles` limit of 256, which is being hit inside the VM during a large compile.

First, I managed to reproduce this without using any build system, so hopefully someone on macOS Catalina can try it. This simple python script simply opens (and never closes) a lot of files from the mounte

[2021-01-23 11:41] Saviq commented on #1933
Hi @ikalchev, great digging! You should be able to add a limit in the instance in `rc.local` or such. The problem is, if two processes inside the instance would access the mount point at the same time, the limit would be hit again… So that's not a reliable fix.

[2021-01-23 14:20] ikalchev commented on #1933
I did manage to increase the limit to +65k. I then rebooted macOS and tried the script in the VM again.

This time, the script did not hit EPERM, but the process hanged. It hanged at the same number of files as before.

I restarted the VM and tried again - same. `ulimit` and launchctl both show the new limit. So the limit is definitely changing the behavior but why the hang?!

Any ideas on how to

[2021-01-23 14:23] ikalchev commented on #1933
@Saviq can you elaborate on setting a limit in `rc.local`? I did increase the limit in macOS following [this](https://gist.github.com/devinrhode2/4cbf7f02a9701510d61f5be0515b8286)

[2021-01-25 02:27] letanloc1998 opened #1934 "[Can't connect instance because ipv6]"
**Describe the bug**
I can't connect my instance via multipass. I access instance via Hyper-V => eth0 using ipv6 (inet => inet6)

![image](https://user-images.githubusercontent.com/26348718/105653924-8666a280-5eef-11eb-8d1f-c1c70f6506f5.png)

**To Reproduce**

**Expected behavior**

**Logs**

**Additional info**
 - OS: Windows

**Additional context**

[2021-01-25 04:58] briantopping opened #1935 "[macos] crash on startup due to "Invalid MAC address""
**Describe the bug**
After installing Multipass 1.6RC1, I see in the logs that it will not start up:
[code]
`ifconfig -a` shows the following:
[code]

The only thing that looks like a bad MAC address is on `bridge0`, which is Thunderbolt Bridge. I try to delete this over successive reboots and it does not delete. I can't tell if this is me trying to use Multipass 1.6 with TBB, whether TBB should w

[2021-01-25 07:57] Saviq commented on #1935
Hi @briantopping, thanks for the detailed report, we'll definitely fix before releasing 1.6.0!

[2021-01-25 09:52] sudip06 opened #1936 "spark worker cannot connect to spark master, trying to reconnect after succesful connection"
**Describe the bug**
I have a setup of 1 master and 1 worker, both on centos 7

**To Reproduce**
How, and what happened?
1. On master, here's the spark-env.sh
[code]
Here's the slaves file (conf/slaves)
[code]
[sudip@localhost sbin]$ hostname
localhost.localdomain
[sudip@localhost sbin]$

[code]
[sudip@localhost sbin]$
[sudip@localhost sbin]$ cat /opt/spark/logs/spark-sudip-org.apache.spark.deploy

[2021-01-25 12:33] Saviq commented on #1936
Hi @sudip06, what does `multipass info --all` say? Where did you get the `10.0.0.*` addresses?

[2021-01-25 13:43] townsend2010 commented on #1778
Hi all,

Here is a test package that is working for me: [multipass-1.7.0-dev.549.pr343+g83f3483e.mac-Darwin.pkg](https://github.com/canonical/multipass-private/suites/1880016263/artifacts/36778648)

Please try it out and report back if it fixing this issue for you.  Thanks!

[2021-01-25 13:53] ricab commented on #1933
Hi @ikalchev, very interesting finds. I managed to reproduce the issue with the python script you posted and we've been discussing. The script fails directly on the host as well, although with a more adequate `errno`. It's a pity that increasing the limit did not help (perhaps apple know their own limitations and have a reason to set it that low?). Do you get the same when running your script on t

[2021-01-25 14:10] ikalchev commented on #1933
@ricab when I increased the limit in macOS, the script did not fail on the host (it managed to open 10000 files before I stopped it). However, the same script just hanged inside the VM when opening the 247th file, so at least at first sight it doesn't seem like macOS is still using the old 256 limit. I will investigate if creating a new VM after the limit has been increased fixes this.

The compil

[2021-01-25 14:15] luis4a0 commented on #1935
Hi @briantopping! Could you please paste the contents of the file `/var/root/Library/Application Support/multipassd/multipassd-vm-instances.json`?. Thanks!

[2021-01-25 15:21] Saviq commented on #1778
Here's a link you'll be able to access:

https://multipass-ci.s3.amazonaws.com/pr343/multipass-1.7.0-dev.549.pr343%2Bg83f3483e.mac-Darwin.pkg

[2021-01-25 15:53] ricab commented on #1933
You mean the effects of the previous limit somehow lingering because of caching? I am not sure exactly what mechanism could be doing that, since you say you rebooted. Do you use any compilation cache inside the instance? A new instance would indeed be a good test.

You can see the options that are passed to sshfs inside the instance. Not much departing from the default:

[code]

[2021-01-25 16:02] townsend2010 opened #1938 "[lxd] Some LXD reply data is cut off"
As seen in #1927, the reply data from LXD is not being fully read, leading to "illegal" JSON.  We need to see if there is more data to be read in the reply before moving on.

[2021-01-25 16:45] ricab commented on #1934
Hi @letanloc1998, did you disable the IPv4 manually? Multipass needs it to connect to the instance.

[2021-01-25 21:07] tasdomas opened #1939 "Apparmor log messages in journalctl"
**Describe the bug**
Running `journalctl -f` shows a lot of log entries like this:
[code]
I only observe this if there is at least one running multipass vm.

**To Reproduce**
1. Run a multipass vm.

**Additional info**
 - OS: ubuntu 20.04
- `multipass version`
[code]
- `multipass info --all`
[code]

**Additional context**
Add any other context about the problem here.

[2021-01-25 21:38] sudip06 commented on #1936
Hi Michael,
thanks for your reply.

It shows nothing on master:
[sudip@localhost sbin]$ multipass info --all

[sudip@localhost sbin]$

And, these are the ip addresses received from dhcp server, master got
10.0.0.6, worker 10.0.0.20.

On Mon, Jan 25, 2021 at 11:33 PM Michał Sawicz <notifications@github.com>
wrote:

[2021-01-26 07:02] Saviq commented on #1936
@sudip06 where are the Multipass instances, then?

[2021-01-26 09:04] sudip06 commented on #1936
well, should there be mandatory multipass instances?cause my worker and
master are on diff machines, not vm's, both are running centos, master on
centos 7, worker on centos 8. I am new to multipass, so don't have
knowledge of it. please let me know some pointers to fix this issue. all I
expect is that I should see the worker information in http:<master
ip>:8080, where I am seeing nothing, then I s

[2021-01-26 11:43] Saviq commented on #1936
@sudip06 this repository is for Multipass only, you want to report to Spark upstream instead.

[2021-01-26 11:43] #1936 closed

[2021-01-26 11:45] Saviq commented on #1939
Hi @tasdomas, these are benign and an effect of Multipass being confined as a snap. Is there a problem you're seeing, or are you simply not enjoying the log messages?

I'll mark this as duplicate, as we have an issue for this already.

[2021-01-26 11:45] Saviq commented on #1939
Duplicate of #1939

[2021-01-26 11:45] #1939 closed

[2021-01-26 16:08] terorie commented on #1584
This still occurs on Ubuntu 21.04 with latest edge multipass.
[code]

[2021-01-26 19:11] #1927 closed

[2021-01-26 19:36] ikalchev opened #1941 "[macOS] multipass does not create bridge100 before "primary" is started"
**Describe the bug**
After a macOS restart, when the first VM you start is NOT "primary", the start fails with:

[code]

As soon as I start primary (and then delete it), everything works. I suspect the failure is because the virtual interface `bridge100` is not created before `primary` is started. I verified the interface is not there by running `ifconfig`.

Another consequence is that if I have a

[2021-01-27 03:52] briantopping commented on #1935
Hi @luis4a0, apologies for the delay. Here you go. Let me know what else I can provide!

[code]

[2021-01-27 11:36] Saviq commented on #1935
Hi @briantopping, thanks for this. That does help us track the issue down. Can you confirm when was the `microk8s-vm` instance created? If you remember, with which version of Multipass?

[2021-01-27 13:11] Saviq commented on #1935
Steps to reproduce:
1. Install 1.5.0 on macOS with hyperkit
2. `multipass launch`
3. `multipass delete -p`
  Observe:
[code]

So far we've been [dealing with these](https://github.com/canonical/multipass/blob/64dbe7931a8393df00b639b8ca99466963fe9148/src/daemon/daemon.cpp#L981-L984) on next start, but MAC validation prevented that. We need to clear any existing "ghosts", and stop saving them in the

[2021-01-27 22:36] klinebch commented on #1459
Just wanted to bump this.
Same issues here, also on BigSur 11.1.  With PaloAlto GlobalConnect VPN.  Tried with full tunnel and split tunneling.

Fastest test is:
`multipass launch -n test
...
multipass exec test -- ping snapcraft.io -c 3

PING snapcraft.io (91.189.91.44) 56(84) bytes of data.

--- snapcraft.io ping statistics ---
3 packets transmitted, 0 received, 100% packet loss, time 2040ms`

[2021-01-27 23:39] briantopping commented on #1935
Yep I definitely had 1.5 installed initially. Thanks for all your hard work!

[2021-01-28 07:18] Soot3 commented on #1577
Are you manually downloading and launching on windows? got this on my system "launch failed: http and file based images are not supported". and it's apparently a standard issue. https://github.com/canonical/multipass/issues/1029

[2021-01-28 16:36] bxtx999 commented on #1593
+1 for this feature

[2021-01-29 12:48] Saviq commented on #1935
Hi @briantopping could you please confirm the fix works for you? The installer can be downloaded from https://github.com/canonical/multipass/pull/1944#issuecomment-769785565.

[2021-01-29 12:54] amongil opened #1947 "[macOS] Can't multipass launch behind CNTLM proxy"
**Describe the bug**
multipass launch fails with message "timed out waiting for response"

**To Reproduce**
While behind a corporate proxy with env variables http_proxy and https_proxy setup pointing to CNTLM:

$ multipass launch --name foo
launch failed: The following errors occurred:
foo: timed out waiting for response

**Expected behavior**
Launches the foo example image.

**Logs**
foo-hyperkit

[2021-01-29 13:25] Saviq commented on #1947
@amongil Multipass runs as a LaunchDaemon via launchd, so its environment is different than your shell's. Do you have the proxy set up system-wide?

We currently only look at the environment variables, maybe there is somewhere else we should be looking on macOS.

In the interim, you could use a similar approach to this: https://github.com/canonical/multipass/pull/1789#issuecomment-705393264 to set

[2021-01-29 18:58] #1926 closed

[2021-01-29 20:07] #1097 closed

[2021-01-29 23:09] alfonmga commented on #1447
Execute this in your terminal and get back to work:

[code]

Give some reactions to this comment if it worked for you too ❤️

[2021-01-30 08:06] ikalchev commented on #1933
I meant the sshfs cache options as described here: http://manpages.ubuntu.com/manpages/groovy/en/man1/sshfs.1.html

[2021-02-01 01:50] letanloc1998 commented on #1934
No, I didn't disable IP4. My instance lost IP4, I access into HyperV to fix this error

[2021-02-01 12:58] ricab commented on #1933
OK, yeah the options we use are the ones in the command line above, so basically all defaults except a three-second directory-cache timeout.

I confirm the hang you mentioned after increasing the limit in macOS. This needs more time, but writing down what I found so far.

The first time I try the script, it hangs after opening the 256th file, while the daemon says

[code]

Which comes out [here](h

[2021-02-01 13:27] ricab commented on #1933
Another data point. *Manual* mounts do not suffer from this. The script hits a 1024 limit inside the instance first:
[code]

[2021-02-01 15:39] ricab commented on #1933
I just retried on a Ubuntu host and got the [same thing](https://github.com/canonical/multipass/issues/1933#issuecomment-770837840), so this new 256 bound is a limitation in our mount approach somewhere, which will require some more investigation.

[2021-02-01 16:02] ricab opened #1950 "Mounts can't handle more than 256 open files"
**Describe the bug**
Trying to open more than 256 files from a Multipass mount fails, leaving the opening process stuck inside the instance and the mount otherwise unusable. Described in detail [here](https://github.com/canonical/multipass/issues/1933#issuecomment-770837840).

**To Reproduce**
How, and what happened?
1. `multipass start` (to get primary with a Home mount)
1. use the script attache

[2021-02-01 16:02] ricab commented on #1950
[open-files.zip](https://github.com/canonical/multipass/files/5904996/open-files.zip)

[2021-02-01 16:44] townsend2010 commented on #1950
After some analysis, the issue is that we use the sftp server API in `libssh` and they have a hardcoded limit of 256 open handles to the sftp server.  In an experiment, that value was increased to 1024 and the issue "hang" issue no longer occurred and the non-obvious `EPERM` error was seen.

Since we have our own `libssh` branch, we can set this limit to a much higher arbitrary value to avoid this

[2021-02-01 16:45] ricab commented on #1933
@ikalchev we're working on a fix for the hang you observe. In the meantime, you could workaround the issue by installing osxfuse (`brew install --cask osxfuse`) on the host and then running sshfs in the instance, like this:
[code]

[2021-02-01 22:50] townsend2010 commented on #1933
To recap, there are 3 cascading issues causing this.

1. macOS has a very low limit of the number (256) of files that can be opened simultaneously, but that can be increased by the user.
2. If the host OS limit is increased to more than 256 and more than 256 files are opened, then the mount "hangs" and cannot be salvaged until a `multipass unmount` is issued.
3. We use `libssh` for SFTP handling a

[2021-02-02 01:51] yorch commented on #118
@Saviq is there any Github issue tracking the progress? I would love to use bridged networking on my Ubuntu box running multipass. Thanks!

[2021-02-02 04:16] SlyCooperking commented on #118
I think they had gotten it working for the most part. I can now host servers with my multi pass instances and ping them from a client.

[2021-02-02 10:15] ricab commented on #1933
Hey @townsend2010, in my observation the mount hangs when hitting the limit in `libssh`. When it hits the OS limit, the opening process gets EPERM errno, while it should ideally get the original `ENFILE` or `EMFILE` from the `sshfs_server`.

So yeah, 2 in here, but the hang itself would go in 3 (though improving error handling here may end up fixing it there as well?).

[2021-02-02 13:48] townsend2010 commented on #1933
Hey @ricab,

Yep, that's `2.` in my list above.

Yes, that would be really great.  However, the SFTP protocol has very small set of errors that can be used with no way of setting more specific errno values.  As a matter of fact, `sshfs` is the one that reports these `EPERM`, etc. errors based on the limited SFTP error set.

[2021-02-02 15:13] ricab commented on #1933
Ah OK, I got confused by 2 being addressed here. I split into two issues to separate the handling of the two limits: (mac)OS and `libssh`.

[2021-02-02 15:31] Saviq commented on #531
Fixed in #1863

[2021-02-02 15:31] #531 closed

[2021-02-02 15:44] yorch commented on #118
@SlyCooperking how did you configure it them? I'm getting: `networks failed: The networks feature is not implemented on this backend.` when trying to run `multipass networks`

[2021-02-02 16:40] Saviq opened #1951 "[virtualbox] useless internal 10.0.2.15 IPs reported for instances"
**Describe the bug**
[code]
The 10.0.2.15 IP is internal to VirtualBox networking, no use outside of the host, and it will

**To Reproduce**
1. `multipass launch --network en0; multipass launch --network en0`

**Expected behavior**
Only usable IPs are displayed.

**Additional info**
 - macOS 10.15
- `multipass version`
[code]
- `multipass info --all`
[code]

[2021-02-02 16:52] ikalchev commented on #1933
Just tried it and it works great! Compile times are more than good enough for what I need. Thanks a lot for the workaround.

For others wanting to apply the workaround - make sure to enable remote login in Settings -> Sharing in macOS.

[2021-02-02 17:11] SlyCooperking commented on #118
@yorch  Perhaps someone else might be able to jump in, I don't remember the error I received before making changes, but Perhaps similar changes will help you.

You will need to create a vEthernet (External Switch) appear in Control Panel\Network and Internet\Network Connections

You may need to create a network bridge between your wifi adapter connection and your vEthernet (External Switch) both s

[2021-02-02 17:24] tmsick commented on #1831
Has there been any progress about this issue?

I created a fish shell completion: https://gist.github.com/tmsick/45184f2b5976d0367f0b561f15f6d4a8
It naively assumes [jq](https://stedolan.github.io/jq/) is on `$PATH` and doesn't cover every subcommand combination.
Still, I'm enjoying smooth completion for most cases:)

[2021-02-02 18:33] townsend2010 opened #1953 "Image filtering for disallowing auto mode --network should be cleaned up"
The image filtering for disallowing `auto` mode `--network` takes liberties with the remote.

For example, in #1952 the `core`/`core16` alias is not really part of a proper remote, yet the output is:
[code]

even though `release` was not specified at launch nor is `core` part of the `release` remote.

[2021-02-03 22:07] JmaJeremy commented on #1448
I'm having this issue on Debian using UFW. Any suggestion what the equivalent rule would be for UFW to work without having to disable it?

[2021-02-04 07:56] waketzheng commented on #1593
polarapfel commented on Mar 6, 2020
I agree with some of the comments here.

The documentation mentions nowhere that http and file based images are not supported on certain platforms. This needs to be updated in the documentation.

https://github.com/canonical/multipass/issues/1029#issuecomment-595675099

[2021-02-05 04:57] yorch commented on #118
@SlyCooperking thanks, unfortunately, I'm using Ubuntu as my host.

[2021-02-05 09:39] #1951 closed

[2021-02-05 11:10] ricab opened #1955 "Multipass fails to launch core18 with libvirt backend, leaks on delete"
**Describe the bug**
When trying to launch core18 instances using the libvirt backend, Multipass can't determine the IP address of the new instance and so fails the launch. The instance is left in an unknown state. At this point:

- a `multipass delete` leaks the instance in libvirt.
- a `multipass stop`:
  * hangs the daemon until timeout (90s), which can only be killed with SIGKILL (it sees othe

[2021-02-05 11:31] ricab commented on #1955
Observing a reboot with `virsh console`, there is indeed some problem booting the machine:

[code]

[2021-02-05 23:14] novicevative commented on #913
Hi
May be this method will be helpful for someone in future. Hence posting
I was running ubuntu 18.4 then decided to run multipass with 20.4 LTS
couldn't login using ssh bcz of key.
I ran command
cd /
tree >tree-slash.txt
once completed
searched the file for id_rsa and traced the path back in reverse order.
So the full path for multipass's id_rsa is
/var/snap/multipass/common/data/multipassd/ssh-k

[2021-02-06 14:33] zeminzhou opened #1957 "Add integration with SSH"
**What are you trying to do?**
A description of what you want to happen.
I want to use VScode SSH to VM, but seemingly I can only use “multipass shell vm-name" to interact with an instance

[2021-02-06 14:39] Saviq commented on #1957
Hi @zeminzhou, you can [use `--cloud-init <file>`](https://multipass.run/docs/launch-command) to populate the authorized keys, like so:

[code]

Then, if using Hyper-V, you can use `<instance-name>.mshome.net` as the host you're trying to connect to. If [using VirtualBox](https://multipass.run/docs/using-virtualbox-in-multipass-windows), you'll need to forward the SSH port from the instance, or [u

[2021-02-06 14:58] zeminzhou commented on #1957
Think your answer

[2021-02-06 16:59] Saviq commented on #118
Hi @yorch, the feature is available on Linux, too, using the LXD backend. Use `sudo multipass set local.driver=lxd` to switch to it, then networks will work. You will need to create the bridge yourself while we're working on making this automatic where possible.

[2021-02-06 20:03] jbergens commented on #1512
I just got this error on my Windows 10 laptop. I can't see any problem in my hosts.ics, it only has one row and that looks correct. I have WSL2 and Docker activated but thought that should be supported.

[2021-02-07 01:57] JmaJeremy commented on #1448
OK I answered my own question, in case any other UFW users are having this issue, the following rule worked for me:
`sudo ufw allow in on mpqemubr0 to any`

[2021-02-07 20:21] yan-foto commented on #1448
@JmaJeremy I also came across the same problem as you and ended with having my snaps built remotely (`snapcraft remote-build`). It's not a solution, not even a work around and to make it worse, it's even super slow **but** it works!

[2021-02-10 10:00] huwshimi opened #1962 "Ran out of host disk space and instances no longer listed"
**Describe the bug**
I had a couple of multipass instances running when I ran out of disk space on my host. When I rebooted I did `multipass list` and got "No instances found".

**Expected behavior**
I would have liked for my instances to reappear.

**Logs**
my multipassd.log has:
[code]

**Additional info**
 - OS: macOS 11.1
-  multipass version: `1.5.0+mac`
- `multipass info --all` returned noth

[2021-02-10 10:02] Saviq commented on #1962
Thanks @huwshimi, indeed we should be more careful writing our databases, keeping a backup and only overwrite existing in an atomic way.

[2021-02-11 15:29] obok commented on #1512
Mine `hosts.ics` was _corrupted_ as in @robogeek and @xuhu55 cases, i.e. it had lines with one or few numbers (space delimited). After manually deleting corrupted lines from `hosts.ics` (no restart) the `multipass` works properly!

Thanks @Saviq for the hint!

An open question is: what corrupts `hosts.ics`?

[2021-02-11 15:31] Saviq commented on #1512
@obok the `ics` part stands for Internet Connection Sharing. The built-in Windows feature, so it's a bug in the DHCP server in Windows as far we can tell.

[2021-02-11 16:30] Saviq commented on #1778
Hi all, has anyone had the chance to try the above package if it fixes the issue for you?

[2021-02-11 17:53] adaholycs opened #1964 "HIGH CPU usage of qemu-system-x86"
**Describe the bug**
Since today the CPU of my VMs each is raging between 100% and 200%

**To Reproduce**
1. multipass launch -c 2 --disk 24G --mem 4G --name relay 18.04
2. I experience on two independent maschines the same behavior

**Expected behavior**
Since the VMs just started and no process is launched on the VM which requires high CPU, I expect very low CPU usage when monitoring the VMs. Th

[2021-02-11 18:02] Saviq commented on #1964
Hi @adaholycs, can you please try if `snap revert` helps with this?

We just released a new version, and somehow it must be causing this issue.

Can you please say what's your host OS?

[2021-02-11 18:08] Saviq commented on #1964
@adaholycs the `Load:` in the output being 1.29 seems related, can you verify if nothing inside the instances is hogging the CPU?

[2021-02-11 18:33] adaholycs commented on #1964
Thanks for the fast reply I will check it!

[2021-02-11 18:35] adaholycs commented on #1964
I see popping up:
landscape-sysin in the top when I monitor the inside the VM.

[2021-02-11 18:40] adaholycs commented on #1964
Yes now my CPU is silent!
I am happy help if you need anything feel free to ask!

[2021-02-11 19:00] adaholycs commented on #1964
How to check this. What do you mean?

[2021-02-11 19:31] Saviq commented on #1964
@adaholycs I think we found what the problem is, do you have the multipass.gui running? You should see the Multipass logo on your system tray. If so, please close it and see if the CPU usage stays down, even after `snap refresh multipass --stable`?

[2021-02-11 19:44] biiiipy commented on #1903
related - https://github.com/ubuntu/microk8s/issues/1674

[2021-02-11 20:18] adaholycs commented on #1964
Hello,

indeed this helps to avoid the high CPU issue. Thank you very much!

Best,
Johann

[2021-02-11 21:12] townsend2010 commented on #1964
Fixed by #1965.

[2021-02-11 21:12] #1964 closed

[2021-02-12 01:56] rachaelacollins opened #1966 "Access Addresses via VPN After macOS 11.2.1 Upgrade"
**Describe the bug**
I am no longer able to access addresses accessible via my VPN in any multipass instance. It looks like Mac v11.2.1 changed the packet filter config and will no longer accept `nat on utun# from bridge100:network to any -> (utun#)` after running `sudo pfctl -f /etc/pf.conf`.

**To Reproduce**
1. Upgrade macOS to 11.2.1
2. Connect to VPN
3. Find utun number: `netstat -nr | grep u

[2021-02-12 02:13] rachaelacollins commented on #1966
Never mind! An instance wasn't running when I tried to load the pf.conf.

[2021-02-12 02:13] #1966 closed

[2021-02-12 08:18] lmatusek commented on #1778
Hi,

I am sorry I haven’t got time to make any check till now. Now I am trying….

Br,

Laszlo

[2021-02-12 08:45] Saviq commented on #1964
@adaholycs would you please try the version from the `candidate` channel?

[code]

Remember please to start the Multipass GUI app and see if the CPU situation is normal. Thanks!

[2021-02-12 09:39] adaholycs commented on #1964
Yes the CPU usage is normal with multipass gui started.

[2021-02-12 10:34] Saviq opened #1968 ""Invalid network options supplied" error devoid of context"
When launching an instance with incorrect `--network` options (e.g. wrong network name), the error is a dry:

[code]

We could do much better here :)

[2021-02-12 15:14] sankar454 opened #1970 "Not able to find the "networks" command in multipass"
I am using below versions of multipass
multipass  1.5.0+win
multipassd 1.5.0+win

Please help me with the below situations.

1. When I execute "multipass --help" I am not able to see the "networks" command in the list of available commands.
2.  When I execute "multipass list" getting output as below
`Name                    State             IPv4             Image`
`novel-mule              Running

[2021-02-12 15:15] Saviq commented on #1970
@sankar454 `networks` is only available since 1.6.1:

https://github.com/canonical/multipass/releases/tag/v1.6.1

It's not yet linked from the main web page because we've a bugfix release incoming.

[2021-02-12 15:15] #1970 closed

[2021-02-12 21:01] lmatusek commented on #1778
Hey,

I have a new one. It does not work at all.

launch failed: The following errors occurred:
primary: timed out waiting for response
Saving session...completed.

[Folyamat befejeződött]

Name                    State             IPv4             Image
primary                 Unknown           --               Ubuntu 20.04 LTS

Br,

Laszlo

[2021-02-13 12:15] dennistanaka commented on #118
Just passing by to say thank you, this feature is great. I even had stopped trying multipass before `1.6` due to the lack of bridge support, but I tested `1.6.1` on Windows 10 + Hyper-V and could access the VM with no problems from another machine in the network. I usually don't use this Windows desktop for development and I wanted to put its resources for use while on and not playing games, and i

[2021-02-13 12:23] ikiK-CRO commented on #118
Does  multipass-1.6.1+mac-Darwin.pkg (that is RC relase?) has support for bridged network without suing VirtualBox? I cant use VirtualBox on some machines as there conflict with some FUSE  (sshfs) features that I use. If not will there be some native OSX solution?

[2021-02-13 15:29] mfyoga opened #1971 "openHAB time out error, what's wrong?"
Following steps in the below URL, I have successfully installed OpenHAB thru Multipass:
https://ubuntu.com/appliance/openhab/vm

Then I run "multipass list" and find the ip address of openhab is: 10.16.247.217

Try accessing openhab from another PC in the same LAN by entering below URL in Firefox:
http://10.16.247.217:9090
-> but get the error after waiting for about maybe 10-15secs:
The connectio

[2021-02-14 03:44] atika commented on #1336
I encountered the same issue while setting up Wireguard VPN (and I was also configuring macOS PF to redirect the traffic to the VM). I ended with the same solution of @negletios for the bridge network of the VM pass through the host VPN:

Edit `/etc/pf.conf` (or create a new one elsewhere and start with a Launchd daemon) :
[code]

Create a script to toggle the rules:
[code]

Start macOS packet fil

[2021-02-14 10:06] andreybratus commented on #1901
Same problem here:
version: multipass  1.6.1+mac
os: macOS 11.2.1

[2021-02-14 23:59] ghost opened #1972 "Cannot launch multipass: The computer needs to be rebooted in order for Hyper-V to be fully available (Hyper-V is fully installed)"
**Describe the bug**
Describe what your problem is.

When I try to launch a vm with multipass I get the error `The computer needs to be rebooted in order for Hyper-V to be fully available`

I have rebooted multiple times and can confirm that Hyper-V is enabled through the enabled features gui as well as I can run an Ubuntu VM through Hyper-V with no problem.

**To Reproduce**
How, and what happene

[2021-02-15 00:13] tylerwolf35 commented on #1972
I have been able to fix this by running the following command: `bcdedit /set hypervisorlaunchtype auto`

[2021-02-15 00:13] #1972 closed

[2021-02-15 08:52] BugHe commented on #1345
I run VirtualBox 6.1.18 on Windows 10 Pro ×64 (20H2).
The virtual machines are USER-specific, hence it is absolutely mandatory to run the command line console as the correct user, otherwise VirtualBox doesn't see any virtual machine.
Because I installed virtual machines from my normal account, I must NOT run the console with administrator privileges. It's probably very analogous on a Linux host.

[2021-02-15 14:33] tylerwolf35 opened #1973 "shell failed: ssh failed to authenticate: 'Access denied for 'publickey'. Authentication that can continue: publickey'"
**Describe the bug**
Describe what your problem is.

When I run `multipass shell $INSTANCE` I get the error `shell failed: ssh failed to authenticate: 'Access denied for 'publickey'. Authentication that can continue: publickey'`.

**To Reproduce**
How, and what happened?
1. `multipass ...`
1. `multipass shell $INSTANCE`
2. `shell failed: ssh failed to authenticate: 'Access denied for 'publickey'.

[2021-02-15 14:43] Saviq commented on #1973
Hi @tylerwolf35 did you do anything to `~/.ssh/` inside the instance? If you launch a new instance, does it result in the same issue?

[2021-02-15 14:46] tylerwolf35 commented on #1973
I did not do anything to `~/.ssh/` in the instance. By that I am assuming that this error refers to the ssh files missing. If I launch a new instance I do not get this error.

[2021-02-15 14:50] tylerwolf35 commented on #1973
I have decided to delete the instance and create a new one, I did not have much on my previous one and did not thing that this was fixable.

[2021-02-15 14:50] #1973 closed

[2021-02-15 16:14] townsend2010 commented on #1778
Hi @lmatusek,

Which test package did you try?  It looks like your error pertains the the first test package posted here and is broken.  If you didn't, please use the test package in https://github.com/canonical/multipass/issues/1778#issuecomment-766891272.  I will remove the first link as to avoid any confusion.